{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipdish API - Menus",
    "version": "v1.0",
    "description": "Flipdish Open API v1.0 \u2014 Menus operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.",
    "contact": {
      "name": "Flipdish Support",
      "email": "help@flipdish.com",
      "url": "https://help.flipdish.com"
    },
    "x-generated-from": "https://api.flipdish.co/swagger/docs/v1.0",
    "x-last-validated": "2026-06-02"
  },
  "servers": [
    {
      "url": "https://api.flipdish.co",
      "description": "Flipdish production API"
    }
  ],
  "security": [
    {
      "oauth2": [
        "api"
      ]
    }
  ],
  "tags": [
    {
      "name": "MenuOptionSetItems",
      "description": "Operations for Menu Option Set Items."
    },
    {
      "name": "MenuOptionSets",
      "description": "Operations for Menu Option Sets."
    },
    {
      "name": "MenuSectionItems",
      "description": "Operations for Menu Section Items."
    },
    {
      "name": "MenuSections",
      "description": "Operations for Menu Sections."
    },
    {
      "name": "MenuZones",
      "description": "Operations for Menu Zones."
    },
    {
      "name": "Menus",
      "description": "Operations for Menus."
    },
    {
      "name": "MenusNutritionInfo",
      "description": "Operations for Menus Nutrition Info."
    },
    {
      "name": "MenusNutritionInfoV2",
      "description": "Operations for Menus Nutrition Info V2."
    }
  ],
  "paths": {
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems": {
      "get": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Get Menu Item Option Set Items",
        "operationId": "GetMenuItemOptionSetItems",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_MenuItemOptionSetItem_"
                },
                "examples": {
                  "GetMenuItemOptionSetItems200Example": {
                    "summary": "Default GetMenuItemOptionSetItems 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItems400Example": {
                    "summary": "Default GetMenuItemOptionSetItems 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItems401Example": {
                    "summary": "Default GetMenuItemOptionSetItems 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItems403Example": {
                    "summary": "Default GetMenuItemOptionSetItems 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItems404Example": {
                    "summary": "Default GetMenuItemOptionSetItems 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItems500Example": {
                    "summary": "Default GetMenuItemOptionSetItems 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Get Menu Item Option Set Items via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Add Menu Item Option Set Item",
        "operationId": "AddMenuItemOptionSetItem",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuItemOptionSetItemBase"
              },
              "examples": {
                "AddMenuItemOptionSetItemRequestExample": {
                  "summary": "Default AddMenuItemOptionSetItem request",
                  "x-microcks-default": true,
                  "value": {
                    "Name": "Example Name",
                    "Price": 12.5,
                    "DepositReturnFee": 12.5,
                    "IsAvailable": true,
                    "DisplayOrder": 1,
                    "CellLayoutType": "Small",
                    "ImageUrl": "https://api.flipdish.co/example",
                    "PublicId": "00000000-0000-0000-0000-000000000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "AddMenuItemOptionSetItem200Example": {
                    "summary": "Default AddMenuItemOptionSetItem 200 response",
                    "x-microcks-default": true,
                    "value": {}
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_MenuItemOptionSetItem_"
                },
                "examples": {
                  "AddMenuItemOptionSetItem201Example": {
                    "summary": "Default AddMenuItemOptionSetItem 201 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "MenuItemOptionSetItemId": 500123,
                        "PublicId": "00000000-0000-0000-0000-000000000000",
                        "Metadata": [],
                        "NextMenuItemOptionSetId": 500123,
                        "CatalogItemId": "500123",
                        "TaxRateName": "Example Name",
                        "TaxRateId": 500123,
                        "TaxValue": 1.0,
                        "Name": "Example Name",
                        "Price": 12.5,
                        "DepositReturnFee": 12.5,
                        "IsAvailable": true,
                        "DisplayOrder": 1,
                        "CellLayoutType": "Small",
                        "ImageUrl": "https://api.flipdish.co/example"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddMenuItemOptionSetItem400Example": {
                    "summary": "Default AddMenuItemOptionSetItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddMenuItemOptionSetItem401Example": {
                    "summary": "Default AddMenuItemOptionSetItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddMenuItemOptionSetItem403Example": {
                    "summary": "Default AddMenuItemOptionSetItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddMenuItemOptionSetItem404Example": {
                    "summary": "Default AddMenuItemOptionSetItem 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddMenuItemOptionSetItem500Example": {
                    "summary": "Default AddMenuItemOptionSetItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Add Menu Item Option Set Item via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}": {
      "get": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Get Menu Item Option Set Item by Id",
        "operationId": "GetMenuItemOptionSetItemById",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuItemOptionSetItemId",
            "in": "path",
            "description": "Option set item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_MenuItemOptionSetItem_"
                },
                "examples": {
                  "GetMenuItemOptionSetItemById200Example": {
                    "summary": "Default GetMenuItemOptionSetItemById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "MenuItemOptionSetItemId": 500123,
                        "PublicId": "00000000-0000-0000-0000-000000000000",
                        "Metadata": [],
                        "NextMenuItemOptionSetId": 500123,
                        "CatalogItemId": "500123",
                        "TaxRateName": "Example Name",
                        "TaxRateId": 500123,
                        "TaxValue": 1.0,
                        "Name": "Example Name",
                        "Price": 12.5,
                        "DepositReturnFee": 12.5,
                        "IsAvailable": true,
                        "DisplayOrder": 1,
                        "CellLayoutType": "Small",
                        "ImageUrl": "https://api.flipdish.co/example"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItemById400Example": {
                    "summary": "Default GetMenuItemOptionSetItemById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItemById401Example": {
                    "summary": "Default GetMenuItemOptionSetItemById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItemById403Example": {
                    "summary": "Default GetMenuItemOptionSetItemById 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItemById404Example": {
                    "summary": "Default GetMenuItemOptionSetItemById 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetItemById500Example": {
                    "summary": "Default GetMenuItemOptionSetItemById 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Get Menu Item Option Set Item by Id via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Update Menu Item Option Set Item",
        "operationId": "UpdateMenuItemOptionSetItem",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuItemOptionSetItemId",
            "in": "path",
            "description": "Option set item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "undoAfter",
            "in": "query",
            "description": "An optional time period, in hours, after which the hide-section operation will be undone.",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 1.0
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuItemOptionSetItemBase"
              },
              "examples": {
                "UpdateMenuItemOptionSetItemRequestExample": {
                  "summary": "Default UpdateMenuItemOptionSetItem request",
                  "x-microcks-default": true,
                  "value": {
                    "Name": "Example Name",
                    "Price": 12.5,
                    "DepositReturnFee": 12.5,
                    "IsAvailable": true,
                    "DisplayOrder": 1,
                    "CellLayoutType": "Small",
                    "ImageUrl": "https://api.flipdish.co/example",
                    "PublicId": "00000000-0000-0000-0000-000000000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSetItem400Example": {
                    "summary": "Default UpdateMenuItemOptionSetItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSetItem401Example": {
                    "summary": "Default UpdateMenuItemOptionSetItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSetItem403Example": {
                    "summary": "Default UpdateMenuItemOptionSetItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSetItem404Example": {
                    "summary": "Default UpdateMenuItemOptionSetItem 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSetItem500Example": {
                    "summary": "Default UpdateMenuItemOptionSetItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Update Menu Item Option Set Item via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "delete": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Remove Menu Item Option Set Item",
        "operationId": "RemoveMenuItemOptionSetItem",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuItemOptionSetItemId",
            "in": "path",
            "description": "Option set item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RemoveMenuItemOptionSetItem400Example": {
                    "summary": "Default RemoveMenuItemOptionSetItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RemoveMenuItemOptionSetItem401Example": {
                    "summary": "Default RemoveMenuItemOptionSetItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RemoveMenuItemOptionSetItem403Example": {
                    "summary": "Default RemoveMenuItemOptionSetItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RemoveMenuItemOptionSetItem404Example": {
                    "summary": "Default RemoveMenuItemOptionSetItem 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RemoveMenuItemOptionSetItem500Example": {
                    "summary": "Default RemoveMenuItemOptionSetItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Remove Menu Item Option Set Item via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}/image": {
      "post": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Upload Option Set Item Image",
        "operationId": "UploadOptionSetItemImage",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuItemOptionSetItemId",
            "in": "path",
            "description": "Option set item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Image": {
                    "description": "Option set item image",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "Image"
                ]
              },
              "examples": {
                "UploadOptionSetItemImageRequestExample": {
                  "summary": "Default UploadOptionSetItemImage request",
                  "x-microcks-default": true,
                  "value": {
                    "Image": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "UploadOptionSetItemImage200Example": {
                    "summary": "Default UploadOptionSetItemImage 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadOptionSetItemImage400Example": {
                    "summary": "Default UploadOptionSetItemImage 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadOptionSetItemImage401Example": {
                    "summary": "Default UploadOptionSetItemImage 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadOptionSetItemImage403Example": {
                    "summary": "Default UploadOptionSetItemImage 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadOptionSetItemImage404Example": {
                    "summary": "Default UploadOptionSetItemImage 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadOptionSetItemImage500Example": {
                    "summary": "Default UploadOptionSetItemImage 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Upload Option Set Item Image via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}/image).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "delete": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Delete Option Set Item Image",
        "operationId": "DeleteOptionSetItemImage",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuItemOptionSetItemId",
            "in": "path",
            "description": "Option set item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteOptionSetItemImage400Example": {
                    "summary": "Default DeleteOptionSetItemImage 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteOptionSetItemImage401Example": {
                    "summary": "Default DeleteOptionSetItemImage 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteOptionSetItemImage403Example": {
                    "summary": "Default DeleteOptionSetItemImage 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteOptionSetItemImage404Example": {
                    "summary": "Default DeleteOptionSetItemImage 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteOptionSetItemImage500Example": {
                    "summary": "Default DeleteOptionSetItemImage 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Delete Option Set Item Image via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}/image).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}/taxrate/{taxRateId}": {
      "post": {
        "tags": [
          "MenuOptionSetItems"
        ],
        "summary": "Flipdish Set Option Set Item Tax",
        "operationId": "SetOptionSetItemTax",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "The menu section id path parameter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "The menu section item id path parameter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "The option set id path parameter.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuItemOptionSetItemId",
            "in": "path",
            "description": "Option set item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "taxRateId",
            "in": "path",
            "description": "Tax Rate to use",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetOptionSetItemTax400Example": {
                    "summary": "Default SetOptionSetItemTax 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetOptionSetItemTax401Example": {
                    "summary": "Default SetOptionSetItemTax 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetOptionSetItemTax403Example": {
                    "summary": "Default SetOptionSetItemTax 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetOptionSetItemTax500Example": {
                    "summary": "Default SetOptionSetItemTax 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Set Option Set Item Tax via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/optionsetitems/{menuItemOptionSetItemId}/taxrate/{taxRateId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets": {
      "get": {
        "tags": [
          "MenuOptionSets"
        ],
        "summary": "Flipdish Get Menu Item Option Sets",
        "operationId": "GetMenuItemOptionSets",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_MenuItemOptionSet_"
                },
                "examples": {
                  "GetMenuItemOptionSets200Example": {
                    "summary": "Default GetMenuItemOptionSets 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSets400Example": {
                    "summary": "Default GetMenuItemOptionSets 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSets401Example": {
                    "summary": "Default GetMenuItemOptionSets 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSets403Example": {
                    "summary": "Default GetMenuItemOptionSets 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSets404Example": {
                    "summary": "Default GetMenuItemOptionSets 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSets500Example": {
                    "summary": "Default GetMenuItemOptionSets 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Get Menu Item Option Sets via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "MenuOptionSets"
        ],
        "summary": "Flipdish Create Menu Item Option Set",
        "operationId": "CreateMenuItemOptionSet",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuItemOptionSetBase"
              },
              "examples": {
                "CreateMenuItemOptionSetRequestExample": {
                  "summary": "Default CreateMenuItemOptionSet request",
                  "x-microcks-default": true,
                  "value": {
                    "Name": "Example Name",
                    "IsMasterOptionSet": true,
                    "DisplayOrder": 1,
                    "MinSelectCount": 3,
                    "MaxSelectCount": 3,
                    "CellLayoutType": "Small",
                    "PublicId": "00000000-0000-0000-0000-000000000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "CreateMenuItemOptionSet200Example": {
                    "summary": "Default CreateMenuItemOptionSet 200 response",
                    "x-microcks-default": true,
                    "value": {}
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_MenuItemOptionSet_"
                },
                "examples": {
                  "CreateMenuItemOptionSet201Example": {
                    "summary": "Default CreateMenuItemOptionSet 201 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "MenuItemOptionSetId": 500123,
                        "ImageName": "Example Name",
                        "ImageUrl": "https://api.flipdish.co/example",
                        "MenuItemOptionSetItems": [],
                        "PublicId": "00000000-0000-0000-0000-000000000000",
                        "CatalogItemId": "500123",
                        "Name": "Example Name",
                        "IsMasterOptionSet": true,
                        "DisplayOrder": 1,
                        "MinSelectCount": 3,
                        "MaxSelectCount": 3,
                        "CellLayoutType": "Small"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateMenuItemOptionSet400Example": {
                    "summary": "Default CreateMenuItemOptionSet 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateMenuItemOptionSet401Example": {
                    "summary": "Default CreateMenuItemOptionSet 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateMenuItemOptionSet403Example": {
                    "summary": "Default CreateMenuItemOptionSet 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateMenuItemOptionSet404Example": {
                    "summary": "Default CreateMenuItemOptionSet 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateMenuItemOptionSet500Example": {
                    "summary": "Default CreateMenuItemOptionSet 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Create Menu Item Option Set via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}": {
      "get": {
        "tags": [
          "MenuOptionSets"
        ],
        "summary": "Flipdish Get Menu Item Option Set by Id",
        "operationId": "GetMenuItemOptionSetById",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Menu item option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_MenuItemOptionSet_"
                },
                "examples": {
                  "GetMenuItemOptionSetById200Example": {
                    "summary": "Default GetMenuItemOptionSetById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "MenuItemOptionSetId": 500123,
                        "ImageName": "Example Name",
                        "ImageUrl": "https://api.flipdish.co/example",
                        "MenuItemOptionSetItems": [],
                        "PublicId": "00000000-0000-0000-0000-000000000000",
                        "CatalogItemId": "500123",
                        "Name": "Example Name",
                        "IsMasterOptionSet": true,
                        "DisplayOrder": 1,
                        "MinSelectCount": 3,
                        "MaxSelectCount": 3,
                        "CellLayoutType": "Small"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetById400Example": {
                    "summary": "Default GetMenuItemOptionSetById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetById401Example": {
                    "summary": "Default GetMenuItemOptionSetById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetById403Example": {
                    "summary": "Default GetMenuItemOptionSetById 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetById404Example": {
                    "summary": "Default GetMenuItemOptionSetById 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetMenuItemOptionSetById500Example": {
                    "summary": "Default GetMenuItemOptionSetById 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Get Menu Item Option Set by Id via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "MenuOptionSets"
        ],
        "summary": "Flipdish Update Menu Item Option Set",
        "operationId": "UpdateMenuItemOptionSet",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuItemOptionSetBase"
              },
              "examples": {
                "UpdateMenuItemOptionSetRequestExample": {
                  "summary": "Default UpdateMenuItemOptionSet request",
                  "x-microcks-default": true,
                  "value": {
                    "Name": "Example Name",
                    "IsMasterOptionSet": true,
                    "DisplayOrder": 1,
                    "MinSelectCount": 3,
                    "MaxSelectCount": 3,
                    "CellLayoutType": "Small",
                    "PublicId": "00000000-0000-0000-0000-000000000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSet400Example": {
                    "summary": "Default UpdateMenuItemOptionSet 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSet401Example": {
                    "summary": "Default UpdateMenuItemOptionSet 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSet403Example": {
                    "summary": "Default UpdateMenuItemOptionSet 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSet404Example": {
                    "summary": "Default UpdateMenuItemOptionSet 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateMenuItemOptionSet500Example": {
                    "summary": "Default UpdateMenuItemOptionSet 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Update Menu Item Option Set via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "delete": {
        "tags": [
          "MenuOptionSets"
        ],
        "summary": "Flipdish Delete Menu Item Option Set",
        "operationId": "DeleteMenuItemOptionSet",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteMenuItemOptionSet400Example": {
                    "summary": "Default DeleteMenuItemOptionSet 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteMenuItemOptionSet401Example": {
                    "summary": "Default DeleteMenuItemOptionSet 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteMenuItemOptionSet403Example": {
                    "summary": "Default DeleteMenuItemOptionSet 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteMenuItemOptionSet404Example": {
                    "summary": "Default DeleteMenuItemOptionSet 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteMenuItemOptionSet500Example": {
                    "summary": "Default DeleteMenuItemOptionSet 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Delete Menu Item Option Set via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitems/{menuSectionItemId}/optionsets/{optionSetId}/image": {
      "post": {
        "tags": [
          "MenuOptionSets"
        ],
        "summary": "Flipdish Upload Option Set Image",
        "operationId": "UploadOptionSetImage",
        "parameters": [
          {
            "name": "menuId",
            "in": "path",
            "description": "Menu identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionId",
            "in": "path",
            "description": "Menu section identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuSectionItemId",
            "in": "path",
            "description": "Menu section item identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "optionSetId",
            "in": "path",
            "description": "Option set identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Image": {
                    "description": "Option set image",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "Image"
                ]
              },
              "examples": {
[...]
