{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipdish API - Platform",
    "version": "v1.0",
    "description": "Flipdish Open API v1.0 \u2014 Platform operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.",
    "contact": {
      "name": "Flipdish Support",
      "email": "help@flipdish.com",
      "url": "https://help.flipdish.com"
    },
    "x-generated-from": "https://api.flipdish.co/swagger/docs/v1.0",
    "x-last-validated": "2026-06-02"
  },
  "servers": [
    {
      "url": "https://api.flipdish.co",
      "description": "Flipdish production API"
    }
  ],
  "security": [
    {
      "oauth2": [
        "api"
      ]
    }
  ],
  "tags": [
    {
      "name": "Apm",
      "description": "Operations for Apm."
    },
    {
      "name": "AuditLogs",
      "description": "Operations for Audit Logs."
    },
    {
      "name": "AuthorizationTokens",
      "description": "Operations for Authorization Tokens."
    },
    {
      "name": "Clients",
      "description": "Operations for Clients."
    },
    {
      "name": "ContentSecurityPolicy",
      "description": "Operations for Content Security Policy."
    },
    {
      "name": "Events",
      "description": "Operations for Events."
    },
    {
      "name": "Features",
      "description": "Operations for Features."
    },
    {
      "name": "Files",
      "description": "Operations for Files."
    },
    {
      "name": "Fpm",
      "description": "Operations for Fpm."
    },
    {
      "name": "Home",
      "description": "Operations for Home."
    },
    {
      "name": "Hydra",
      "description": "Operations for Hydra."
    },
    {
      "name": "Intercom",
      "description": "Operations for Intercom."
    },
    {
      "name": "Lightspeed",
      "description": "Operations for Lightspeed."
    },
    {
      "name": "LookerDashboard",
      "description": "Operations for Looker Dashboard."
    },
    {
      "name": "LookerSingleSignOn",
      "description": "Operations for Looker Single Sign On."
    },
    {
      "name": "OAuthClients",
      "description": "Operations for OAuth Clients."
    },
    {
      "name": "Onboarding",
      "description": "Operations for Onboarding."
    },
    {
      "name": "Search",
      "description": "Operations for Search."
    },
    {
      "name": "SmsProviderCredentials",
      "description": "Operations for Sms Provider Credentials."
    },
    {
      "name": "Stuart",
      "description": "Operations for Stuart."
    },
    {
      "name": "Webhooks",
      "description": "Operations for Webhooks."
    }
  ],
  "paths": {
    "/api/v1.0/{appId}/apm/status": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetApmStatus",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_ApmStatus_"
                },
                "examples": {
                  "GetApmStatus200Example": {
                    "summary": "Default GetApmStatus 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "IsApmEnabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApmStatus400Example": {
                    "summary": "Default GetApmStatus 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApmStatus401Example": {
                    "summary": "Default GetApmStatus 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApmStatus403Example": {
                    "summary": "Default GetApmStatus 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApmStatus500Example": {
                    "summary": "Default GetApmStatus 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Apm Status",
        "description": "Get Apm Status via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/apm/status).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/apm/statistics": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetBasicStatistics",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "description": "The store id query parameter.",
            "example": [
              500123
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_ApmStatistics_"
                },
                "examples": {
                  "GetBasicStatistics200Example": {
                    "summary": "Default GetBasicStatistics 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "EstimatedMinutesSaved": 1,
                        "EstimatedMinutesCouldSaved": 1,
                        "CurrencyData": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetBasicStatistics400Example": {
                    "summary": "Default GetBasicStatistics 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetBasicStatistics401Example": {
                    "summary": "Default GetBasicStatistics 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetBasicStatistics403Example": {
                    "summary": "Default GetBasicStatistics 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetBasicStatistics500Example": {
                    "summary": "Default GetBasicStatistics 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Basic Statistics",
        "description": "Get Basic Statistics via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/apm/statistics).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/apm/statistics/calendar": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetCalendarWeekStatistics",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "description": "The store id query parameter.",
            "example": [
              500123
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_ApmHourlyDataPoint_"
                },
                "examples": {
                  "GetCalendarWeekStatistics200Example": {
                    "summary": "Default GetCalendarWeekStatistics 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCalendarWeekStatistics400Example": {
                    "summary": "Default GetCalendarWeekStatistics 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCalendarWeekStatistics401Example": {
                    "summary": "Default GetCalendarWeekStatistics 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCalendarWeekStatistics403Example": {
                    "summary": "Default GetCalendarWeekStatistics 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCalendarWeekStatistics500Example": {
                    "summary": "Default GetCalendarWeekStatistics 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Calendar Week Statistics",
        "description": "Get Calendar Week Statistics via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/apm/statistics/calendar).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/apm/calls": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetPaginatedCallList",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The page query parameter.",
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The limit query parameter.",
            "example": 1
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "description": "The store id query parameter.",
            "example": [
              500123
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiPaginationResult_PhoneCall_"
                },
                "examples": {
                  "GetPaginatedCallList200Example": {
                    "summary": "Default GetPaginatedCallList 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Page": 1,
                      "Limit": 1,
                      "TotalRecordCount": 12.5,
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPaginatedCallList400Example": {
                    "summary": "Default GetPaginatedCallList 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPaginatedCallList401Example": {
                    "summary": "Default GetPaginatedCallList 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPaginatedCallList403Example": {
                    "summary": "Default GetPaginatedCallList 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPaginatedCallList500Example": {
                    "summary": "Default GetPaginatedCallList 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Paginated Call List",
        "description": "Get Paginated Call List via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/apm/calls).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/apm/statistics/calls/{aggregateDataBy}": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetCallsStatistics",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "aggregateDataBy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Daily",
                "Weekly",
                "Monthly"
              ]
            },
            "description": "The aggregate data by path parameter.",
            "example": "Daily"
          },
          {
            "name": "dataPointLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The data point limit query parameter.",
            "example": 1
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "description": "The store id query parameter.",
            "example": [
              500123
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_ApmDataPoint_"
                },
                "examples": {
                  "GetCallsStatistics200Example": {
                    "summary": "Default GetCallsStatistics 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCallsStatistics400Example": {
                    "summary": "Default GetCallsStatistics 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCallsStatistics401Example": {
                    "summary": "Default GetCallsStatistics 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCallsStatistics403Example": {
                    "summary": "Default GetCallsStatistics 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCallsStatistics500Example": {
                    "summary": "Default GetCallsStatistics 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Calls Statistics",
        "description": "Get Calls Statistics via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/apm/statistics/calls/{aggregateDataBy}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/apm/statistics/orders/{aggregateDataBy}": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetOrderStatistics",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "aggregateDataBy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Daily",
                "Weekly",
                "Monthly"
              ]
            },
            "description": "The aggregate data by path parameter.",
            "example": "Daily"
          },
          {
            "name": "dataPointLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The data point limit query parameter.",
            "example": 1
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "description": "The store id query parameter.",
            "example": [
              500123
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_ApmCurrencyDataPoint_"
                },
                "examples": {
                  "GetOrderStatistics200Example": {
                    "summary": "Default GetOrderStatistics 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderStatistics400Example": {
                    "summary": "Default GetOrderStatistics 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderStatistics401Example": {
                    "summary": "Default GetOrderStatistics 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderStatistics403Example": {
                    "summary": "Default GetOrderStatistics 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderStatistics500Example": {
                    "summary": "Default GetOrderStatistics 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Order Statistics",
        "description": "Get Order Statistics via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/apm/statistics/orders/{aggregateDataBy}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/auditlogs/orders/{orderId}": {
      "post": {
        "tags": [
          "AuditLogs"
        ],
        "operationId": "AddOrderAuditLog",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddOrderAuditLog400Example": {
                    "summary": "Default AddOrderAuditLog 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddOrderAuditLog401Example": {
                    "summary": "Default AddOrderAuditLog 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddOrderAuditLog403Example": {
                    "summary": "Default AddOrderAuditLog 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddOrderAuditLog500Example": {
                    "summary": "Default AddOrderAuditLog 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Add Order Audit Log",
        "description": "Add Order Audit Log via the Flipdish Open API v1.0 (POST /api/v1.0/auditlogs/orders/{orderId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/auditlogs/stores/{storeId}": {
      "post": {
        "tags": [
          "AuditLogs"
        ],
        "operationId": "AddStoreAuditLogEvent",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The store id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddStoreAuditLogEvent400Example": {
                    "summary": "Default AddStoreAuditLogEvent 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddStoreAuditLogEvent401Example": {
                    "summary": "Default AddStoreAuditLogEvent 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddStoreAuditLogEvent403Example": {
                    "summary": "Default AddStoreAuditLogEvent 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "AddStoreAuditLogEvent500Example": {
                    "summary": "Default AddStoreAuditLogEvent 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Add Store Audit Log Event",
        "description": "Add Store Audit Log Event via the Flipdish Open API v1.0 (POST /api/v1.0/auditlogs/stores/{storeId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/authorizationtokens/{oauthAppId}": {
      "get": {
        "tags": [
          "AuthorizationTokens"
        ],
        "operationId": "GetAuthorizationTokens",
        "parameters": [
          {
            "name": "oauthAppId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The oauth app id path parameter.",
            "example": "500123"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The page query parameter.",
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The limit query parameter.",
            "example": 1
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiPaginationResult_OAuthTokenModel_"
                },
                "examples": {
                  "GetAuthorizationTokens200Example": {
                    "summary": "Default GetAuthorizationTokens 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Page": 1,
                      "Limit": 1,
                      "TotalRecordCount": 12.5,
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAuthorizationTokens400Example": {
                    "summary": "Default GetAuthorizationTokens 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAuthorizationTokens401Example": {
                    "summary": "Default GetAuthorizationTokens 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAuthorizationTokens403Example": {
                    "summary": "Default GetAuthorizationTokens 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAuthorizationTokens404Example": {
                    "summary": "Default GetAuthorizationTokens 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAuthorizationTokens500Example": {
                    "summary": "Default GetAuthorizationTokens 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Authorization Tokens",
        "description": "Get Authorization Tokens via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/authorizationtokens/{oauthAppId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/authorizationtokens/{key}": {
      "delete": {
        "tags": [
          "AuthorizationTokens"
        ],
        "operationId": "RevokeToken",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The key path parameter.",
            "example": "string"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RevokeToken400Example": {
                    "summary": "Default RevokeToken 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RevokeToken401Example": {
                    "summary": "Default RevokeToken 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RevokeToken403Example": {
                    "summary": "Default RevokeToken 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RevokeToken404Example": {
                    "summary": "Default RevokeToken 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "RevokeToken500Example": {
                    "summary": "Default RevokeToken 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Revoke Token",
        "description": "Revoke Token via the Flipdish Open API v1.0 (DELETE /api/v1.0/{appId}/authorizationtokens/{key}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/clients/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "GetClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The client id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetClient400Example": {
                    "summary": "Default GetClient 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetClient401Example": {
                    "summary": "Default GetClient 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetClient403Example": {
                    "summary": "Default GetClient 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetClient404Example": {
                    "summary": "Default GetClient 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetClient500Example": {
                    "summary": "Default GetClient 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Client",
        "description": "Get Client via the Flipdish Open API v1.0 (GET /api/v1.0/clients/{clientId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/clients/{clientId}/stripecustomerid": {
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "SetStripeCustomerId",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The client id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetStripeCustomerId400Example": {
                    "summary": "Default SetStripeCustomerId 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetStripeCustomerId401Example": {
                    "summary": "Default SetStripeCustomerId 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetStripeCustomerId403Example": {
                    "summary": "Default SetStripeCustomerId 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetStripeCustomerId404Example": {
                    "summary": "Default SetStripeCustomerId 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetStripeCustomerId500Example": {
                    "summary": "Default SetStripeCustomerId 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Set Stripe Customer Id",
        "description": "Set Stripe Customer Id via the Flipdish Open API v1.0 (POST /api/v1.0/clients/{clientId}/stripecustomerid).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/clients/{clientId}/salesforcecontactid": {
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "SetSalesForceContactId",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The client id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetSalesForceContactId400Example": {
                    "summary": "Default SetSalesForceContactId 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetSalesForceContactId401Example": {
                    "summary": "Default SetSalesForceContactId 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetSalesForceContactId403Example": {
                    "summary": "Default SetSalesForceContactId 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetSalesForceContactId404Example": {
                    "summary": "Default SetSalesForceContactId 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetSalesForceContactId500Example": {
                    "summary": "Default SetSalesForceContactId 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Set Sales Force Contact Id",
        "description": "Set Sales Force Contact Id via the Flipdish Open API v1.0 (POST /api/v1.0/clients/{clientId}/salesforcecontactid).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/csp/report": {
      "post": {
        "tags": [
          "ContentSecurityPolicy"
        ],
        "operationId": "ContentSecurityPolicy_Report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CspReportRequest"
              },
              "examples": {
                "ContentSecurityPolicy_ReportRequestExample": {
                  "summary": "Default ContentSecurityPolicy_Report request",
                  "x-microcks-default": true,
                  "value": {
                    "Csp-report": {
                      "Document-uri": "https://api.flipdish.co/example",
                      "Referrer": "string",
                      "Violated-directive": "string",
                      "Effective-directive": "string",
                      "Original-policy": "string",
                      "Blocked-uri": "https://api.flipdish.co/example",
                      "Status-code": 1
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "ContentSecurityPolicy_Report200Example": {
                    "summary": "Default ContentSecurityPolicy_Report 200 response",
                    "x-microcks-default": true,
                    "value": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ContentSecurityPolicy_Report400Example": {
                    "summary": "Default ContentSecurityPolicy_Report 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ContentSecurityPolicy_Report401Example": {
                    "summary": "Default ContentSecurityPolicy_Report 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ContentSecurityPolicy_Report403Example": {
                    "summary": "Default ContentSecurityPolicy_Report 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ContentSecurityPolicy_Report500Example": {
                    "summary": "Default ContentSecurityPolicy_Report 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Content Security Policy_Report",
        "description": "Content Security Policy_Report via the Flipdish Open API v1.0 (POST /api/v1.0/csp/report).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "GetEventsById",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The event id path parameter.",
            "example": "500123"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchResult"
                },
                "examples": {
                  "GetEventsById200Example": {
                    "summary": "Default GetEventsById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "AppCreatedEvent": [],
                      "AppUpdatedEvent": [],
                      "AnalyticsClientEvent": [],
                      "OrderAcceptedEvent": [],
                      "OrderDispatchedEvent": [],
                      "OrderCustomerTrackingCreatedEvent": [],
                      "OrderDeliveryTrackingStatusUpdatedEvent": [],
                      "OrderBatchPublishedEvent": [],
                      "OrderCreatedEvent": [],
                      "OrderRatingUpdatedEvent": [],
                      "OrderRefundedEvent": [],
                      "OrderRejectedEvent": [],
                      "OrderTipUpdatedEvent": [],
                      "OrderTerminalNotifications": [],
                      "StoreCreatedEvent": [],
                      "StoreDeletedEvent": [],
                      "StoreAddressUpdatedEvent": [],
                      "StoreKioskSettingUpdatedEvent": [],
                      "DeliveryZoneCreatedEvent": [],
                      "DeliveryZoneUpdatedEvent": [],
                      "DeliveryZoneDeletedEvent": [],
                      "StoreOpeningHoursUpdatedEvent": [],
                      "StoreMenuAssignedEvent": [],
                      "StoreBusinessHoursOverrideCreatedEvent": [],
                      "StoreBusinessHoursOverrideDeletedEvent": [],
                      "StoreArchivedEvent": [],
                      "StoreUnarchivedEvent": [],
                      "StorePublishedEvent": [],
                      "StoreUnpublishedEvent": [],
                      "StoreUpdatedEvent": [],
                      "StorePreOrderConfigUpdatedEvent": [],
                      "StoreLogoCreatedEvent": [],
                      "StoreLogoUpdatedEvent": [],
                      "StoreLogoDeletedEvent": [],
                      "MenuCreatedEvent": [],
                      "MenuAsyncCreationCompletedEvent": [],
                      "MenuUpdatedEvent": [],
                      "MenuUploadedEvent": [],
                      "MenuBulkEditEvent": [],
                      "MenuSectionCreatedEvent": [],
                      "MenuSectionUpdatedEvent": [],
                      "MenuSectionDeletedEvent": [],
                      "MenuSectionItemCreatedEvent": [],
                      "MenuSectionItemUpdatedEvent": [],
                      "MenuSectionItemDeletedEvent": [],
                      "MenuItemOptionSetCreatedEvent": [],
                      "MenuItemOptionSetUpdatedEvent": [],
                      "MenuItemOptionSetDeletedEvent": [],
                      "MenuItemOptionSetItemCreatedEvent": [],
                      "MenuItemOptionSetItemUpdatedEvent": [],
                      "MenuItemOptionSetItemDeletedEvent": [],
                      "MenuCheckpointCreatedEvent": [],
                      "StoreGroupCreatedEvent": [],
                      "StoreGroupUpdatedEvent": [],
                      "StoreGroupDeletedEvent": [],
                      "CustomerCreatedEvent": [],
                      "CustomerUpdatedEvent": [],
                      "CustomerConsentUpdatedEvent": [],
                      "WebhookSubscriptionCreatedEvent": [],
                      "WebhookSubscriptionUpdatedEvent": [],
                      "WebhookSubscriptionDeletedEvent": [],
                      "PrinterTurnedOnEvent": [],
                      "PrinterTurnedOffEvent": [],
                      "PrinterAssignedToStoreEvent": [],
                      "PrinterUnassignedFromStoreEvent": [],
                      "PhoneCallStartedEvent": [],
                      "PhoneCallEndedEvent": [],
                      "TelephonyConfigUpdatedEvent": [],
                      "ChannelStoresUpdatedEvent": [],
                      "LoyaltyCampaignCreatedEvent": [],
                      "LoyaltyCampaignDeletedEvent": [],
                      "LoyaltyCampaignUpdatedEvent": [],
                      "RetentionCampaignCreatedEvent": [],
                      "RetentionCampaignDeletedEvent": [],
                      "RetentionCampaignUpdatedEvent": [],
                      "SmsReceivedEvent": [],
                      "UserLoginEvent": [],
                      "UserCreatedEvent": [],
                      "UserUpdatedEvent": [],
                      "UserDeletedEvent": [],
                      "UserCreatedPasswordEvent": [],
                      "UserAnsweredSignupQuestionsEvent": [],
                      "VoucherCreatedEvent": [],
                      "VoucherUpdatedEvent": [],
                      "VoucherDeletedEvent": [],
                      "VoucherAppliedEvent": [],
                      "TeammateInviteSentEvent": [],
                      "TeammateInviteAcceptedEvent": [],
                      "TeammateUpdatedEvent": [],
                      "TeammateDeletedEvent": [],
                      "BankAccountCreatedEvent": [],
                      "BankAccountUpdatedEvent": [],
                      "BankAccountDeletedEvent": [],
                      "BankAccountAssignedEvent": [],
                      "HydraAssignedEvent": [],
                      "HydraRequestResetEvent": [],
                      "HydraStoreAssignedEvent": [],
                      "HydraStoreUnassignedEvent": [],
                      "HydraSettingChangedEvent": [],
                      "HydraUnAssignedEvent": [],
                      "HydraConnectionStatusChangedEvent": [],
                      "KioskBluetoothPairingModeEvent": [],
                      "KioskBluetoothUnpairingModeEvent": [],
                      "KioskBluetoothTerminalUnpairedEvent": [],
                      "KioskTerminalActionStateChangedEvent": [],
                      "KioskBluetoothTerminalUpdatedEvent": [],
                      "KioskBluetoothTerminalInitiateUpdateCheckEvent": [],
                      "KioskBluetoothInstallUpdateInitiateEvent": [],
                      "KioskBluetoothTerminalCancelUpdateEvent": [],
                      "KioskBluetoothTerminalFirmwareVersionStatusEvent": [],
                      "KioskBluetoothTerminalInstallationStatusEvent": [],
                      "PushNotificationScheduledEvent": [],
                      "PushNotificationSentEvent": [],
                      "PushNotificationDeletedEvent": [],
                      "DnsVerifiedEvent": [],
                      "CertificateCreatedEvent": [],
                      "CertificateRenewedEvent": [],
                      "WebsiteVanityUrlUpdatedEvent": [],
                      "WebsiteUpdatedEvent": [],
                      "OrderCapacityUpdatedEvent": [],
                      "ExternalStoreEvent": [],
                      "OrderFulfillmentStatusUpdatedEvent": [],
                      "AppStoreConfigCreatedEvent": [],
                      "AppStoreConfigUpdatedEvent": [],
                      "AppStoreConfigDeletedEvent": [],
                      "AppStoreSubscriptionChangeJobUpdatedEvent": [],
                      "CatalogItemCreatedEvent": [],
                      "CatalogItemUpdatedEvent": [],
                      "CatalogItemArchivedEvent": [],
                      "CatalogGroupCreatedEvent": [],
                      "CatalogGroupUpdatedEvent": [],
                      "CatalogGroupArchivedEvent": [],
                      "StoreTipUpdatedEvent": [],
                      "LocationAreaCreatedEvent": [],
                      "LocationAreaUpdatedEvent": [],
                      "LocationCreatedEvent": [],
                      "LocationDeletedEvent": [],
                      "StoreServiceChargeUpdatedEvent": [],
                      "MobileAppsSubmissionStatusUpdatedEvent": [],
                      "MobileAppsSubmissionUpdatedEvent": [],
                      "StoreFeeConfigUpdatedEvent": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetEventsById400Example": {
                    "summary": "Default GetEventsById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetEventsById401Example": {
                    "summary": "Default GetEventsById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetEventsById403Example": {
                    "summary": "Default GetEventsById 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetEventsById500Example": {
                    "summary": "Default GetEventsById 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Events by Id",
        "description": "Get Events by Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/{eventId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/events/menu/{menuId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "GetMenuEvents",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "menuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The menu id path parameter.",
            "example": 500123
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum elements to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "The index of the page to return, starting by 1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-06-02T12:00:00Z"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-06-02T12:00:00Z"
          },
          {
            "name": "orderId",
            "in": "query",
            "description": "Events that have Order Id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "Events that have Store Id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "storeIdList",
            "in": "query",
            "description": "Events that have Store Id List",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "example": [
              1
            ]
          },
          {
            "name": "storeGroupId",
            "in": "query",
            "description": "Events that have Store Group Id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Events that have User Id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "menuId",
            "in": "query",
            "description": "Events that have Menu Id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Events that have Campaign Id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "userEmail",
            "in": "query",
            "description": "Events that have User Email",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "owner@example.com"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Events that have User Name",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Example Name"
          },
          {
            "name": "voucherCode",
            "in": "query",
            "description": "Events that have voucher code",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "string"
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Events that have event type\\s",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "string"
            ]
          },
          {
            "name": "flipdishEventId",
            "in": "query",
            "description": "Unique Identifier of Event, if this is specified, all other criteria are ignored.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEventSearchPaginationResult"
                },
                "examples": {
                  "GetMenuEvents200Example": {
                    "summary": "Default GetMenuEvents 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "AppCreatedEvent": [],
                        "AppUpdatedEvent": [],
                        "AnalyticsClientEvent": [],
                        "OrderAcceptedEvent": [],
                        "OrderDispatchedEvent": [],
                        "OrderCustomerTrackingCreatedEvent": [],
                        "OrderDeliveryTrackingStatusUpdatedEvent": [],
                        "OrderBatchPublishedEvent": [],
                        "OrderCreatedEvent": [],
                        "OrderRatingUpdatedEvent": [],
                        "OrderRefundedEvent": [],
                        "OrderRejectedEvent": [],
                        "OrderTipUpdatedEvent": [],
                        "OrderTerminalNotifications": [],
                        "StoreCreatedEvent": [],
                        "StoreDeletedEvent": [],
[...]
