{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipdish API - Orders",
    "version": "v1.0",
    "description": "Flipdish Open API v1.0 \u2014 Orders operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.",
    "contact": {
      "name": "Flipdish Support",
      "email": "help@flipdish.com",
      "url": "https://help.flipdish.com"
    },
    "x-generated-from": "https://api.flipdish.co/swagger/docs/v1.0",
    "x-last-validated": "2026-06-02"
  },
  "servers": [
    {
      "url": "https://api.flipdish.co",
      "description": "Flipdish production API"
    }
  ],
  "security": [
    {
      "oauth2": [
        "api"
      ]
    }
  ],
  "tags": [
    {
      "name": "FulfillmentStateConfiguration",
      "description": "Operations for Fulfillment State Configuration."
    },
    {
      "name": "OrderBatches",
      "description": "Operations for Order Batches."
    },
    {
      "name": "OrderBatchingConfiguration",
      "description": "Operations for Order Batching Configuration."
    },
    {
      "name": "Orders",
      "description": "Operations for Orders."
    },
    {
      "name": "Tips",
      "description": "Operations for Tips."
    }
  ],
  "paths": {
    "/api/v1.0/{appId}/fulfillment/configuration/states": {
      "get": {
        "tags": [
          "FulfillmentStateConfiguration"
        ],
        "operationId": "SearchFulfillmentStatesConfigurations",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_FulfillmentStatesConfigurationSummary_"
                },
                "examples": {
                  "SearchFulfillmentStatesConfigurations200Example": {
                    "summary": "Default SearchFulfillmentStatesConfigurations 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SearchFulfillmentStatesConfigurations400Example": {
                    "summary": "Default SearchFulfillmentStatesConfigurations 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SearchFulfillmentStatesConfigurations401Example": {
                    "summary": "Default SearchFulfillmentStatesConfigurations 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SearchFulfillmentStatesConfigurations403Example": {
                    "summary": "Default SearchFulfillmentStatesConfigurations 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SearchFulfillmentStatesConfigurations500Example": {
                    "summary": "Default SearchFulfillmentStatesConfigurations 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Search Fulfillment States Configurations",
        "description": "Search Fulfillment States Configurations via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/fulfillment/configuration/states).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "FulfillmentStateConfiguration"
        ],
        "operationId": "CreateFulfillmentStatesConfig",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFulfillmentStatesConfiguration"
              },
              "examples": {
                "CreateFulfillmentStatesConfigRequestExample": {
                  "summary": "Default CreateFulfillmentStatesConfig request",
                  "x-microcks-default": true,
                  "value": {
                    "StoreIds": [
                      1
                    ],
                    "StoreSelectorType": "None",
                    "States": [],
                    "AutomaticTransitionsEnabled": true,
                    "Name": "Example Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_FulfillmentStatesConfiguration_"
                },
                "examples": {
                  "CreateFulfillmentStatesConfig200Example": {
                    "summary": "Default CreateFulfillmentStatesConfig 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "States": [],
                        "AutomaticTransitionsEnabled": true,
                        "AppId": "500123",
                        "ConfigurationUid": "500123",
                        "StoreSelectorType": "None",
                        "StoreIds": [
                          1
                        ],
                        "Name": "Example Name"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateFulfillmentStatesConfig400Example": {
                    "summary": "Default CreateFulfillmentStatesConfig 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateFulfillmentStatesConfig401Example": {
                    "summary": "Default CreateFulfillmentStatesConfig 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateFulfillmentStatesConfig403Example": {
                    "summary": "Default CreateFulfillmentStatesConfig 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateFulfillmentStatesConfig404Example": {
                    "summary": "Default CreateFulfillmentStatesConfig 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateFulfillmentStatesConfig500Example": {
                    "summary": "Default CreateFulfillmentStatesConfig 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Create Fulfillment States Config",
        "description": "Create Fulfillment States Config via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/fulfillment/configuration/states).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/fulfillment/configuration/states_template": {
      "get": {
        "tags": [
          "FulfillmentStateConfiguration"
        ],
        "operationId": "GetFulfillmentStatesConfigurationTemplate",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentStatesConfiguration"
                },
                "examples": {
                  "GetFulfillmentStatesConfigurationTemplate200Example": {
                    "summary": "Default GetFulfillmentStatesConfigurationTemplate 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "States": [],
                      "AutomaticTransitionsEnabled": true,
                      "AppId": "500123",
                      "ConfigurationUid": "500123",
                      "StoreSelectorType": "None",
                      "StoreIds": [
                        1
                      ],
                      "Name": "Example Name"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfigurationTemplate400Example": {
                    "summary": "Default GetFulfillmentStatesConfigurationTemplate 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfigurationTemplate401Example": {
                    "summary": "Default GetFulfillmentStatesConfigurationTemplate 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfigurationTemplate403Example": {
                    "summary": "Default GetFulfillmentStatesConfigurationTemplate 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfigurationTemplate404Example": {
                    "summary": "Default GetFulfillmentStatesConfigurationTemplate 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfigurationTemplate500Example": {
                    "summary": "Default GetFulfillmentStatesConfigurationTemplate 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Fulfillment States Configuration Template",
        "description": "Get Fulfillment States Configuration Template via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/fulfillment/configuration/states_template).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/fulfillment/configuration/states/{configId}": {
      "get": {
        "tags": [
          "FulfillmentStateConfiguration"
        ],
        "operationId": "GetFulfillmentStatesConfiguration",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The config id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentStatesConfiguration"
                },
                "examples": {
                  "GetFulfillmentStatesConfiguration200Example": {
                    "summary": "Default GetFulfillmentStatesConfiguration 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "States": [],
                      "AutomaticTransitionsEnabled": true,
                      "AppId": "500123",
                      "ConfigurationUid": "500123",
                      "StoreSelectorType": "None",
                      "StoreIds": [
                        1
                      ],
                      "Name": "Example Name"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfiguration400Example": {
                    "summary": "Default GetFulfillmentStatesConfiguration 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfiguration401Example": {
                    "summary": "Default GetFulfillmentStatesConfiguration 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfiguration403Example": {
                    "summary": "Default GetFulfillmentStatesConfiguration 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfiguration404Example": {
                    "summary": "Default GetFulfillmentStatesConfiguration 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatesConfiguration500Example": {
                    "summary": "Default GetFulfillmentStatesConfiguration 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Fulfillment States Configuration",
        "description": "Get Fulfillment States Configuration via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/fulfillment/configuration/states/{configId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "FulfillmentStateConfiguration"
        ],
        "operationId": "UpdateFulfillmentStatesConfig",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The config id path parameter.",
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFulfillmentStatesConfiguration"
              },
              "examples": {
                "UpdateFulfillmentStatesConfigRequestExample": {
                  "summary": "Default UpdateFulfillmentStatesConfig request",
                  "x-microcks-default": true,
                  "value": {
                    "OverwriteSystemTemplate": true,
                    "StoreIds": [
                      1
                    ],
                    "StoreSelectorType": "None",
                    "States": [],
                    "AutomaticTransitionsEnabled": true,
                    "Name": "Example Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentStatesConfig400Example": {
                    "summary": "Default UpdateFulfillmentStatesConfig 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentStatesConfig401Example": {
                    "summary": "Default UpdateFulfillmentStatesConfig 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentStatesConfig403Example": {
                    "summary": "Default UpdateFulfillmentStatesConfig 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentStatesConfig404Example": {
                    "summary": "Default UpdateFulfillmentStatesConfig 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentStatesConfig500Example": {
                    "summary": "Default UpdateFulfillmentStatesConfig 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Update Fulfillment States Config",
        "description": "Update Fulfillment States Config via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/fulfillment/configuration/states/{configId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "delete": {
        "tags": [
          "FulfillmentStateConfiguration"
        ],
        "operationId": "DeleteFulfillmentStatesConfig",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The config id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "DeleteFulfillmentStatesConfig200Example": {
                    "summary": "Default DeleteFulfillmentStatesConfig 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteFulfillmentStatesConfig400Example": {
                    "summary": "Default DeleteFulfillmentStatesConfig 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteFulfillmentStatesConfig401Example": {
                    "summary": "Default DeleteFulfillmentStatesConfig 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteFulfillmentStatesConfig403Example": {
                    "summary": "Default DeleteFulfillmentStatesConfig 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteFulfillmentStatesConfig404Example": {
                    "summary": "Default DeleteFulfillmentStatesConfig 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DeleteFulfillmentStatesConfig500Example": {
                    "summary": "Default DeleteFulfillmentStatesConfig 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Delete Fulfillment States Config",
        "description": "Delete Fulfillment States Config via the Flipdish Open API v1.0 (DELETE /api/v1.0/{appId}/fulfillment/configuration/states/{configId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/order-batches/{orderBatchId}": {
      "get": {
        "tags": [
          "OrderBatches"
        ],
        "operationId": "GetOrderBatch",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "orderBatchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order batch id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_OrderBatch_"
                },
                "examples": {
                  "GetOrderBatch200Example": {
                    "summary": "Default GetOrderBatch 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "OrderIds": [
                          1
                        ],
                        "Id": 500123,
                        "DisplayCode": "string",
                        "CreateTime": "2026-06-02T12:00:00Z",
                        "IsPublished": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderBatch400Example": {
                    "summary": "Default GetOrderBatch 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderBatch401Example": {
                    "summary": "Default GetOrderBatch 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderBatch403Example": {
                    "summary": "Default GetOrderBatch 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderBatch404Example": {
                    "summary": "Default GetOrderBatch 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderBatch500Example": {
                    "summary": "Default GetOrderBatch 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Order Batch",
        "description": "Get Order Batch via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/order-batches/{orderBatchId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/order-batches": {
      "get": {
        "tags": [
          "OrderBatches"
        ],
        "operationId": "GetAllOrderBatches",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "storeIds",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "description": "The store ids query parameter.",
            "example": [
              1
            ]
          },
          {
            "name": "createdFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The created from query parameter.",
            "example": "2026-06-02T12:00:00Z"
          },
          {
            "name": "createdTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The created to query parameter.",
            "example": "2026-06-02T12:00:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_OrderBatch_"
                },
                "examples": {
                  "GetAllOrderBatches200Example": {
                    "summary": "Default GetAllOrderBatches 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAllOrderBatches400Example": {
                    "summary": "Default GetAllOrderBatches 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAllOrderBatches401Example": {
                    "summary": "Default GetAllOrderBatches 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAllOrderBatches403Example": {
                    "summary": "Default GetAllOrderBatches 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAllOrderBatches500Example": {
                    "summary": "Default GetAllOrderBatches 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get All Order Batches",
        "description": "Get All Order Batches via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/order-batches).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/stores/{storeId}/order-batching-configuration": {
      "get": {
        "tags": [
          "OrderBatchingConfiguration"
        ],
        "operationId": "Get",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The store id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_OrderBatchingConfiguration_"
                },
                "examples": {
                  "Get200Example": {
                    "summary": "Default Get 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "BatchIntervalInSeconds": 1,
                        "IsEnabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Get400Example": {
                    "summary": "Default Get 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Get401Example": {
                    "summary": "Default Get 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Get403Example": {
                    "summary": "Default Get 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Get404Example": {
                    "summary": "Default Get 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Get500Example": {
                    "summary": "Default Get 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get",
        "description": "Get via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/order-batching-configuration).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "OrderBatchingConfiguration"
        ],
        "operationId": "Post",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The store id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetOrderBatchingConfiguration"
              },
              "examples": {
                "PostRequestExample": {
                  "summary": "Default Post request",
                  "x-microcks-default": true,
                  "value": {
                    "BatchIntervalInSeconds": 1,
                    "Enabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Post400Example": {
                    "summary": "Default Post 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Post401Example": {
                    "summary": "Default Post 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Post403Example": {
                    "summary": "Default Post 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Post500Example": {
                    "summary": "Default Post 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Post",
        "description": "Post via the Flipdish Open API v1.0 (POST /api/v1.0/stores/{storeId}/order-batching-configuration).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "GetOrderById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_Order_"
                },
                "examples": {
                  "GetOrderById200Example": {
                    "summary": "Default GetOrderById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "Store": {
                          "Id": 500123,
                          "Name": "Example Name",
                          "MenuId": 500123,
                          "MenuPublishId": "00000000-0000-0000-0000-000000000000",
                          "Metadata": {},
                          "Currency": "EUR",
                          "Coordinates": {},
                          "StoreTimezone": "string",
                          "StoreIanaTimezone": "string",
                          "StoreGroupId": 500123,
                          "TaxId": "500123",
                          "PrettyAddress": "string",
                          "CountryCode": "IE",
                          "PropertyId": "500123"
                        },
                        "Customer": {
                          "Id": 500123,
                          "Name": "Example Name",
                          "EmailAddress": "owner@example.com",
                          "PhoneNumberLocalFormat": "2026-06-02T12:00:00Z",
                          "PhoneNumber": "+353000000000",
                          "LanguagePreference": "string"
                        },
                        "Voucher": {
                          "VoucherId": 500123,
                          "Name": "Example Name",
                          "Description": "string",
                          "Code": "string",
                          "Amount": 12.5,
                          "Type": "PercentageDiscount",
                          "SubType": "None"
                        },
                        "Fees": {
                          "FeeAmount": 12.5,
                          "PercentageRate": 1.0,
                          "PerTransactionFee": 12.5
                        },
                        "OrderItems": [],
                        "DeliveryLocation": {
                          "Coordinates": {},
                          "Building": "string",
                          "Street": "string",
                          "Town": "string",
                          "PostCode": "string",
                          "DeliveryInstructions": "string",
                          "PrettyAddressString": "string"
                        },
                        "CustomerLocation": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MaskedPhoneNumber": {
                          "IsEnabled": true,
                          "PhoneNumber": "+353000000000",
                          "Code": "string"
                        },
                        "DropOffLocationId": 500123,
                        "DropOffLocation": "string",
                        "AcceptedFor": "2026-06-02T12:00:00Z",
                        "InFraudZone": true,
                        "UnusualHighValueOrder": true,
                        "RejectedByUserId": 500123,
                        "ChannelOrderId": "500123",
                        "ChannelOrderDisplayId": "500123",
                        "Channel": {
                          "ChannelId": 500123,
                          "TranslationKey": "string",
                          "Source": "Internal",
                          "LogoUri": "https://api.flipdish.co/example",
                          "Available": true,
                          "MaintainedExternally": true
                        },
                        "OrderDropOffLocation": {
                          "OrderId": 500123,
                          "LocationName": "Example Name",
                          "LocationAreaName": "Example Name",
                          "LocationId": 500123,
                          "LocationAreaId": 500123,
                          "ExternalLocationId": "500123"
                        },
                        "FulfillmentStatus": {
                          "StatusId": "500123",
                          "StatusName": "Example Name",
                          "Icon": "string"
                        },
                        "OrderBatchInfo": {
                          "Id": 500123,
                          "DisplayCode": "string",
                          "CreateTime": "2026-06-02T12:00:00Z",
                          "IsPublished": true
                        },
                        "TaxItems": [],
                        "CreatedCampaignVoucherId": 500123,
                        "OrderId": 500123,
                        "LocalOrderId": "500123",
                        "DeliveryType": "Delivery",
                        "PickupLocationType": "TakeOut",
                        "TableServiceCatagory": "Generic",
                        "TipAmount": 12.5,
                        "DeliveryAmount": 12.5,
                        "OrderItemsAmount": 12.5,
                        "ServiceChargeAmount": 12.5,
                        "ServiceChargePercentage": 1.0,
                        "Amount": 12.5,
                        "ProcessingFee": 12.5,
                        "PaymentAccountType": "Card",
                        "PaymentAccountDescription": "string",
                        "OrderState": "Created",
                        "IsPreOrder": true,
                        "PlacedTime": "2026-06-02T12:00:00Z",
                        "RequestedForTime": "2026-06-02T12:00:00Z",
                        "ChefNote": "string",
                        "AppType": "Unknown",
                        "UserRating": 1,
                        "PaymentStatus": "Paid",
                        "RejectionReason": "TooBusy",
                        "RefundedAmount": 12.5,
                        "DeliveryTrackingStatus": "Unassigned",
                        "DriverId": 500123,
                        "TotalTax": 12.5,
                        "OrderTrackingCode": "string",
                        "DeliveryFeeAreaId": 500123,
                        "ReceiptCode": "string",
                        "TotalDepositReturnFeeAmount": 12.5
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderById400Example": {
                    "summary": "Default GetOrderById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderById401Example": {
                    "summary": "Default GetOrderById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderById403Example": {
                    "summary": "Default GetOrderById 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetOrderById500Example": {
                    "summary": "Default GetOrderById 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Order by Id",
        "description": "Get Order by Id via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{id}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/orders/{orderId}/deliveryinfo": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "GetDeliveryInformation",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_OrderDeliveryInformation_"
                },
                "examples": {
                  "GetDeliveryInformation200Example": {
                    "summary": "Default GetDeliveryInformation 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "OrderId": 500123,
                        "ExternalReferenceId": "500123",
                        "TrackUrl": "https://api.flipdish.co/example",
                        "Status": "None",
                        "DeliveryStatusNotes": "Active",
                        "ErrorMessage": "string",
                        "IntegrationCode": "string",
                        "IntegrationName": "Example Name"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetDeliveryInformation400Example": {
                    "summary": "Default GetDeliveryInformation 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetDeliveryInformation401Example": {
                    "summary": "Default GetDeliveryInformation 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetDeliveryInformation403Example": {
                    "summary": "Default GetDeliveryInformation 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Either the order was not found or there is no delivery information associated to it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetDeliveryInformation404Example": {
                    "summary": "Default GetDeliveryInformation 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetDeliveryInformation500Example": {
                    "summary": "Default GetDeliveryInformation 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Delivery Information",
        "description": "Get Delivery Information via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{orderId}/deliveryinfo).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "UpdateDeliveryInformation",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderDeliveryInformationBase"
              },
              "examples": {
                "UpdateDeliveryInformationRequestExample": {
                  "summary": "Default UpdateDeliveryInformation request",
                  "x-microcks-default": true,
                  "value": {
                    "ExternalReferenceId": "500123",
                    "TrackUrl": "https://api.flipdish.co/example",
                    "Status": "None",
                    "DeliveryStatusNotes": "Active",
                    "ErrorMessage": "string",
                    "IntegrationCode": "string",
                    "IntegrationName": "Example Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateDeliveryInformation400Example": {
                    "summary": "Default UpdateDeliveryInformation 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateDeliveryInformation401Example": {
                    "summary": "Default UpdateDeliveryInformation 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateDeliveryInformation403Example": {
                    "summary": "Default UpdateDeliveryInformation 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateDeliveryInformation500Example": {
                    "summary": "Default UpdateDeliveryInformation 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Update Delivery Information",
        "description": "Update Delivery Information via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{orderId}/deliveryinfo).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/orders/{orderId}/fulfillment/state": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "GetFulfillmentState",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_OrderFulfillmentStatus_"
                },
                "examples": {
                  "GetFulfillmentState200Example": {
                    "summary": "Default GetFulfillmentState 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "OrderId": 500123,
                        "StatusId": "500123",
                        "StatusName": "Example Name",
                        "Icon": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentState400Example": {
                    "summary": "Default GetFulfillmentState 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentState401Example": {
                    "summary": "Default GetFulfillmentState 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentState403Example": {
                    "summary": "Default GetFulfillmentState 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Either the order was not found or there is no fulfillment status information associated to it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentState404Example": {
                    "summary": "Default GetFulfillmentState 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentState500Example": {
                    "summary": "Default GetFulfillmentState 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Fulfillment State",
        "description": "Get Fulfillment State via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{orderId}/fulfillment/state).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "UpdateFulfillmentState",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order id path parameter.",
            "example": 500123
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderFulfillmentStatusUpdate"
              },
              "examples": {
                "UpdateFulfillmentStateRequestExample": {
                  "summary": "Default UpdateFulfillmentState request",
                  "x-microcks-default": true,
                  "value": {
                    "StatusId": "500123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentState400Example": {
                    "summary": "Default UpdateFulfillmentState 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentState401Example": {
                    "summary": "Default UpdateFulfillmentState 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentState403Example": {
                    "summary": "Default UpdateFulfillmentState 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateFulfillmentState500Example": {
                    "summary": "Default UpdateFulfillmentState 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Update Fulfillment State",
        "description": "Update Fulfillment State via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{orderId}/fulfillment/state).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/orders/{orderId}/fulfillment/state/details": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "GetFulfillmentStatusWithDetailsAndActions",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The order id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_OrderFulfillmentStatusWithConfigurationActions_"
                },
                "examples": {
                  "GetFulfillmentStatusWithDetailsAndActions200Example": {
                    "summary": "Default GetFulfillmentStatusWithDetailsAndActions 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "DefaultNextStatus": "Active",
                        "NextStatuses": [],
                        "OrderId": 500123,
                        "StatusId": "500123",
                        "StatusName": "Example Name",
                        "Icon": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatusWithDetailsAndActions400Example": {
                    "summary": "Default GetFulfillmentStatusWithDetailsAndActions 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetFulfillmentStatusWithDetailsAndActions401Example": {
                    "summary": "Default GetFulfillmentStatusWithDetailsAndActions 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
[...]
