openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts AppStoreConfigurations API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: AppStoreConfigurations
  description: Operations for App Store Configurations.
paths:
  /api/v1.0/{appId}/appstore/apps:
    get:
      tags:
      - AppStoreConfigurations
      operationId: GetConfiguredApps
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_AppStoreAppSummary_'
              examples:
                GetConfiguredApps200Example:
                  summary: Default GetConfiguredApps 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredApps400Example:
                  summary: Default GetConfiguredApps 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredApps401Example:
                  summary: Default GetConfiguredApps 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredApps403Example:
                  summary: Default GetConfiguredApps 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredApps500Example:
                  summary: Default GetConfiguredApps 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Configured Apps
      description: Get Configured Apps via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/appstore/apps).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/appstore/apps/{appStoreAppId}:
    get:
      tags:
      - AppStoreConfigurations
      operationId: GetConfiguredAppSingleApp
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_AppStoreAppConfigurationSummary_'
              examples:
                GetConfiguredAppSingleApp200Example:
                  summary: Default GetConfiguredAppSingleApp 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredAppSingleApp400Example:
                  summary: Default GetConfiguredAppSingleApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredAppSingleApp401Example:
                  summary: Default GetConfiguredAppSingleApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredAppSingleApp403Example:
                  summary: Default GetConfiguredAppSingleApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredAppSingleApp404Example:
                  summary: Default GetConfiguredAppSingleApp 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetConfiguredAppSingleApp500Example:
                  summary: Default GetConfiguredAppSingleApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Configured App Single App
      description: Get Configured App Single App via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/appstore/apps/{appStoreAppId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/appstore/oauthresponse/{appStoreAppId}/responsecode:
    get:
      tags:
      - AppStoreConfigurations
      operationId: AppStoreConfigurations_AppStoreHandleOauthResponseCode
      parameters:
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                AppStoreConfigurations_AppStoreHandleOauthResponseCode200Example:
                  summary: Default AppStoreConfigurations_AppStoreHandleOauthResponseCode 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppStoreConfigurations_AppStoreHandleOauthResponseCode400Example:
                  summary: Default AppStoreConfigurations_AppStoreHandleOauthResponseCode 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppStoreConfigurations_AppStoreHandleOauthResponseCode401Example:
                  summary: Default AppStoreConfigurations_AppStoreHandleOauthResponseCode 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppStoreConfigurations_AppStoreHandleOauthResponseCode403Example:
                  summary: Default AppStoreConfigurations_AppStoreHandleOauthResponseCode 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppStoreConfigurations_AppStoreHandleOauthResponseCode500Example:
                  summary: Default AppStoreConfigurations_AppStoreHandleOauthResponseCode 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish App Store Configurations_App Store Handle Oauth Response Code
      description: App Store Configurations_App Store Handle Oauth Response Code via the Flipdish Open API v1.0 (GET /api/v1.0/appstore/oauthresponse/{appStoreAppId}/responsecode).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}:
    get:
      tags:
      - AppStoreConfigurations
      operationId: GetAppStoreConfig
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      - name: configId
        in: path
        required: true
        schema:
          type: string
        description: The config id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AppStoreAppConfiguration_'
              examples:
                GetAppStoreConfig200Example:
                  summary: Default GetAppStoreConfig 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Id: '500123'
                      AppId: '500123'
                      AppStoreAppId: '500123'
                      IsEnabled: true
                      StoreIds:
                      - 1
                      Settings: []
                      VerificationStatus: Draft
                      Logo: string
                      OAuthAppId: '500123'
                      Internal: true
                      Details: string
                      ConfigurationType: ExternalLink
                      StoreSelectorType: None
                      FieldGroups: []
                      SetupInstructions: string
                      ExternalSetupLink: https://api.flipdish.co/example
                      TeammateAppAccessLevel: Owner
                      PermissionsType: Teammate
                      Support:
                        PrivacyPolicy: string
                        TermsOfUse: string
                        CompanyWebsite: string
                        LearnMore: string
                        InstallationMessage: string
                        SupportEmail: owner@example.com
                      ExternalFunctionActionUrl: https://api.flipdish.co/example
                      ExternalFunctionSignatureKey: string
                      IsPaid: true
                      Name: Example Name
                      Description: string
                      Categories:
                      - PointOfSale
                      Countries:
                      - GB
                      DeveloperName: Example Name
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppStoreConfig400Example:
                  summary: Default GetAppStoreConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppStoreConfig401Example:
                  summary: Default GetAppStoreConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppStoreConfig403Example:
                  summary: Default GetAppStoreConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppStoreConfig404Example:
                  summary: Default GetAppStoreConfig 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppStoreConfig500Example:
                  summary: Default GetAppStoreConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get App Store Config
      description: Get App Store Config via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - AppStoreConfigurations
      operationId: UpdateAppStoreConfig
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      - name: configId
        in: path
        required: true
        schema:
          type: string
        description: The config id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppStoreAppConfiguration'
            examples:
              UpdateAppStoreConfigRequestExample:
                summary: Default UpdateAppStoreConfig request
                x-microcks-default: true
                value:
                  IsEnabled: true
                  StoreIds:
                  - 1
                  Settings: []
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfig400Example:
                  summary: Default UpdateAppStoreConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfig401Example:
                  summary: Default UpdateAppStoreConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfig403Example:
                  summary: Default UpdateAppStoreConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfig404Example:
                  summary: Default UpdateAppStoreConfig 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfig500Example:
                  summary: Default UpdateAppStoreConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update App Store Config
      description: Update App Store Config via the Flipdish Open API v1.0 (PUT /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - AppStoreConfigurations
      operationId: DeleteAppStoreConfig
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      - name: configId
        in: path
        required: true
        schema:
          type: string
        description: The config id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                DeleteAppStoreConfig200Example:
                  summary: Default DeleteAppStoreConfig 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreConfig400Example:
                  summary: Default DeleteAppStoreConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreConfig401Example:
                  summary: Default DeleteAppStoreConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreConfig403Example:
                  summary: Default DeleteAppStoreConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreConfig404Example:
                  summary: Default DeleteAppStoreConfig 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreConfig500Example:
                  summary: Default DeleteAppStoreConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Delete App Store Config
      description: Delete App Store Config via the Flipdish Open API v1.0 (DELETE /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config:
    post:
      tags:
      - AppStoreConfigurations
      operationId: CreateAppStoreConfig
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AppStoreAppConfiguration_'
              examples:
                CreateAppStoreConfig200Example:
                  summary: Default CreateAppStoreConfig 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Id: '500123'
                      AppId: '500123'
                      AppStoreAppId: '500123'
                      IsEnabled: true
                      StoreIds:
                      - 1
                      Settings: []
                      VerificationStatus: Draft
                      Logo: string
                      OAuthAppId: '500123'
                      Internal: true
                      Details: string
                      ConfigurationType: ExternalLink
                      StoreSelectorType: None
                      FieldGroups: []
                      SetupInstructions: string
                      ExternalSetupLink: https://api.flipdish.co/example
                      TeammateAppAccessLevel: Owner
                      PermissionsType: Teammate
                      Support:
                        PrivacyPolicy: string
                        TermsOfUse: string
                        CompanyWebsite: string
                        LearnMore: string
                        InstallationMessage: string
                        SupportEmail: owner@example.com
                      ExternalFunctionActionUrl: https://api.flipdish.co/example
                      ExternalFunctionSignatureKey: string
                      IsPaid: true
                      Name: Example Name
                      Description: string
                      Categories:
                      - PointOfSale
                      Countries:
                      - GB
                      DeveloperName: Example Name
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreConfig400Example:
                  summary: Default CreateAppStoreConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreConfig401Example:
                  summary: Default CreateAppStoreConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreConfig403Example:
                  summary: Default CreateAppStoreConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreConfig404Example:
                  summary: Default CreateAppStoreConfig 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreConfig500Example:
                  summary: Default CreateAppStoreConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Create App Store Config
      description: Create App Store Config via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}/action:
    post:
      tags:
      - AppStoreConfigurations
      operationId: ExecuteConfigurationAction
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      - name: configId
        in: path
        required: true
        schema:
          type: string
        description: The config id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteConfigurationActionRequest'
            examples:
              ExecuteConfigurationActionRequestExample:
                summary: Default ExecuteConfigurationAction request
                x-microcks-default: true
                value:
                  Key: string
                  Action: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_ExecuteConfigurationActionResult_'
              examples:
                ExecuteConfigurationAction200Example:
                  summary: Default ExecuteConfigurationAction 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      ErrorMessage: string
                      InfoMessage: string
                      RedirectUrl: https://api.flipdish.co/example
                      RedirectTarget: Default
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ExecuteConfigurationAction400Example:
                  summary: Default ExecuteConfigurationAction 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ExecuteConfigurationAction401Example:
                  summary: Default ExecuteConfigurationAction 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ExecuteConfigurationAction403Example:
                  summary: Default ExecuteConfigurationAction 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ExecuteConfigurationAction500Example:
                  summary: Default ExecuteConfigurationAction 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Execute Configuration Action
      description: Execute Configuration Action via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}/action).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}/updatesettings:
    post:
      tags:
      - AppStoreConfigurations
      operationId: UpdateAppStoreConfigSettingValues
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      - name: configId
        in: path
        required: true
        schema:
          type: string
        description: The config id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppStoreAppConfigurationValuesBatch'
            examples:
              UpdateAppStoreConfigSettingValuesRequestExample:
                summary: Default UpdateAppStoreConfigSettingValues request
                x-microcks-default: true
                value:
                  Settings: []
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfigSettingValues400Example:
                  summary: Default UpdateAppStoreConfigSettingValues 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfigSettingValues401Example:
                  summary: Default UpdateAppStoreConfigSettingValues 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfigSettingValues403Example:
                  summary: Default UpdateAppStoreConfigSettingValues 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfigSettingValues404Example:
                  summary: Default UpdateAppStoreConfigSettingValues 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreConfigSettingValues500Example:
                  summary: Default UpdateAppStoreConfigSettingValues 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update App Store Config Setting Values
      description: Update App Store Config Setting Values via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/appstore/apps/{appStoreAppId}/config/{configId}/updatesettings).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppStoreAppConfiguration:
      required:
      - Id
      - AppId
      - AppStoreAppId
      - IsEnabled
      - VerificationStatus
      - OAuthAppId
      - Internal
      - Details
      - ConfigurationType
      - StoreSelectorType
      - PermissionsType
      - Name
      - Description
      - Categories
      - Countries
      type: object
      properties:
        Id:
          type: string
          example: '500123'
        AppId:
          type: string
          example: '500123'
        AppStoreAppId:
          type: string
          example: '500123'
        IsEnabled:
          type: boolean
          example: true
        StoreIds:
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
        Settings:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
          example: []
        VerificationStatus:
          enum:
          - Draft
          - Submitted
          - Verified
          type: string
          example: Draft
        Logo:
          type: string
          example: string
        OAuthAppId:
          type: string
          example: '500123'
        Internal:
          type: boolean
          example: true
        Details:
          type: string
          example: string
        ConfigurationType:
          enum:
          - ExternalLink
          - FlipdishHosted
          type: string
          example: ExternalLink
        StoreSelectorType:
          enum:
          - None
          - Single
          - Multiple
          type: string
          example: None
        FieldGroups:
          type: array
          items:
            $ref: '#/components/schemas/FieldGroup'
          example: []
        SetupInstructions:
          type: string
          example: string
        ExternalSetupLink:
          type: string
          example: https://api.flipdish.co/example
        TeammateAppAccessLevel:
          enum:
          - Owner
          - StoreOwner
          - PropertyOwner
          - ManagedOwner
          - Integrator
          - PropertyManager
          - StoreManager
          - StoreStaff
          - StoreReadOnlyAccess
          - FinanceManger
          type: string
          example: Owner
        PermissionsType:
          enum:
          - Teammate
          type: string
          example: Teammate
        Support:
          $ref: '#/components/schemas/AppStoreAppSupportInfo'
        ExternalFunctionActionUrl:
          type: string
          example: https://api.flipdish.co/example
        ExternalFunctionSignatureKey:
          type: string
          example: string
        IsPaid:
          type: boolean
          example: true
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        Categories:
          type: array
          items:
            enum:
            - PointOfSale
            - DeliveryAndLogistics
            - CRM
            - GiftCard
            - Accounting
            - LoyaltyAndMarketing
            - Other
            type: string
          example:
          - PointOfSale
        Countries:
          type: array
          items:
            enum:
            - GB
            - IE
            - FR
            - ES
            - PT
            - IT
            - DE
            - PL
            - BE
            - LU
            - NL
            - US
            - CA
            - BG
            - MX
            - AU
            - NZ
            type: string
          example:
          - GB
        DeveloperName:
          type: string
          example: Example Name
    RestApiStringResult:
      description: Rest api string result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Data string
          type: string
          example: string
    AppStoreAppSummary:
      required:
      - Id
      - VerificationStatus
      - Internal
      - Name
      - Description
      - Categories
      - Countries
      type: object
      properties:
        Id:
          type: string
          example: '500123'
        VerificationStatus:
          enum:
          - Draft
          - Submitted
          - Verified
          type: string
          example: Draft
        Logo:
          type: string
          example: string
        Internal:
          type: boolean
          example: true
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        IsEnabled:
          type: boolean
          example: true
        Categories:
          type: array
          items:
            enum:
            - PointOfSale
            - DeliveryAndLogistics
            - CRM
            - GiftCard
            - Accounting
            - LoyaltyAndMarketing
            - Other
            type: string
          example:
          - PointOfSale
        Countries:
          type: array
          items:
            enum:
            - GB
            - IE
            - FR
            - ES
            - PT
            - IT
            - DE
            - PL
            - BE
            - LU
            - NL
            - US
            - CA
            - BG
            - MX
            - AU
            - NZ
            type: string
          example:
          - GB
        DeveloperName:
          type: string
          example: Example Name
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    Field:
      required:
      - Name
      - Description
      - Key
      - Position
      - FieldType
      type: object
      properties:
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        Key:
          type: string
          example: string
        Tooltip:
          type: string
          example: string
        Position:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          example: 1
        DefaultValue:
          type: string
          example: string
        ValidValues:
          type: array
          items:
            $ref: '#/components/schemas/ValidValue'
          example: []
        ValidationRegex:
          type: string
          example: string
        FieldType:
          enum:
          - Text
          - TextArea
          - Integer
          - Decimal
          - Date
          - DateTime
          - Time
          - Select
          - Boolean
          - ActionButton
          type: string
          example: Text
        IsFlipdishRestricted:
          type: boolean
          nullable: true
          example: true
    ExecuteConfigurationActionRequest:
      type: object
      properties:
        Key:
          type: string
          example: string
        Action:
          type: string
          example: string
    RestApiResult_AppStoreAppConfiguration_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/AppStoreAppConfiguration'
    ConfiguredStore:
      type: object
      properties:
        StoreId:
          format: int32
          type: integer
          example: 500123
        Name:
          type: string
          example: Example Name
    AppStoreAppConfigurationSummary:
      required:
      - Id
      - AppId
      - IsEnabled
      - Stores
      - ConfigurationType
      - StoreSelectorType
      - Internal
      - AppStoreAppId
      - Name
      - Description
      type: object
      properties:
        Id:
          type: string
          example: '500123'
        AppId:
          type: string
          example: '500123'
        IsEnabled:
          type: boolean
          example: true
        Stores:
          type: array
          items:
            $ref: '#/components/schemas/ConfiguredStore'
          example: []
        ConfigurationType:
          enum:
          - ExternalLink
          - FlipdishHosted
          type: string
          example: ExternalLink
        StoreSelectorType:
          enum:
          - None
          - Single
          - Multiple
          type: string
          example: None
        Internal:
          type: boolean
          example: true
        AppStoreAppId:
          type: string
          example: '500123'
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        Logo:
          type: string
          example: string
        DeveloperName:
          type: string
          example: Example Name
    FieldGroup:
      required:
      - Name
      - Position
      type: object
      properties:
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        Tooltip:
          type: string
          example: string
        Position:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          example: 1
        Fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
          example: []
    Setting:
      type: object
      properties:
        Key:
          type: string
          example: string
        Value:
          type: string
          example: string
    RestApiArrayResult_AppStoreAppConfigurationSummary_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/AppStoreAppConfigurationSummary'
          example: []
    ValidValue:
      required:
      - Code
      - Name
      type: object
      properties:
        Code:
          type: string
          example: string
        Name:
          type: string
          example: Example Name
    UpdateAppStoreAppConfigurationValuesBatch:
      type: object
      properties:
        Settings:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
          example: []
    RestApiResult_ExecuteConfigurationActionResult_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/ExecuteConfigurationActionResult'
    UpdateAppStoreAppConfiguration:
      required:
      - IsEnabled
      type: object
      properties:
        IsEnabled:
          type: boolean
          example: true
        StoreIds:
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
        Settings:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
          example: []
    ExecuteConfigurationActionResult:
      type: object
      properties:
        ErrorMessage:
          type: string
          example: string
        InfoMessage:
          type: string
          example: string
        RedirectUrl:
          type: string
          example: https://api.flipdish.co/example
        RedirectTarget:
          enum:
          - Default
          - NewWindow
          - Popup
          type: string
          nullable: true
          example: Default
    AppStoreAppSupportInfo:
      type: object
      properties:
        PrivacyPolicy:
          type: string
          example: string
        TermsOfUse:
          type: string
          example: string
        CompanyWebsite:
          type: string
          example: string
        LearnMore:
          type: string
          example: string
        InstallationMessage:
          type: string
          example: string
        SupportEmail:
          type: string
          example: owner@example.com
    RestApiArrayResult_AppStoreAppSummary_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/AppStoreAppSummary'
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
