openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Hydra API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Hydra
  description: Operations for Hydra.
paths:
  /api/v1.0/hydra/settings:
    get:
      tags:
      - Hydra
      operationId: GetSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraConfig_'
              examples:
                GetSettings200Example:
                  summary: Default GetSettings 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MinimumVersion: string
                      PaymentOptions:
                      - Online
                      DeviceSettings:
                        Volume: 1
                        FontSize: 1.0
                        Brightness: 1
                      Version: string
                      BuildNumber: string
                      GitSha: string
                      GitBranch: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetSettings400Example:
                  summary: Default GetSettings 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetSettings401Example:
                  summary: Default GetSettings 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetSettings403Example:
                  summary: Default GetSettings 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetSettings404Example:
                  summary: Default GetSettings 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetSettings500Example:
                  summary: Default GetSettings 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Settings
      description: Get Settings via the Flipdish Open API v1.0 (GET /api/v1.0/hydra/settings).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/hydra/ably_token:
    get:
      tags:
      - Hydra
      operationId: GetAblyToken
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAblyToken400Example:
                  summary: Default GetAblyToken 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAblyToken401Example:
                  summary: Default GetAblyToken 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAblyToken403Example:
                  summary: Default GetAblyToken 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAblyToken404Example:
                  summary: Default GetAblyToken 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAblyToken500Example:
                  summary: Default GetAblyToken 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Ably Token
      description: Get Ably Token via the Flipdish Open API v1.0 (GET /api/v1.0/hydra/ably_token).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/hydra/registration:
    get:
      tags:
      - Hydra
      operationId: GetRegistration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraStatus_'
              examples:
                GetRegistration200Example:
                  summary: Default GetRegistration 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppId: '500123'
                      StoreIds:
                      - 1
                      IsRegistered: true
                      PinCode: 1
                      Images:
                      - string
                      UserType: Kiosk
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRegistration400Example:
                  summary: Default GetRegistration 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRegistration401Example:
                  summary: Default GetRegistration 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRegistration403Example:
                  summary: Default GetRegistration 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRegistration404Example:
                  summary: Default GetRegistration 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRegistration500Example:
                  summary: Default GetRegistration 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Registration
      description: Get Registration via the Flipdish Open API v1.0 (GET /api/v1.0/hydra/registration).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/emvterminals:
    get:
      tags:
      - Hydra
      operationId: Hydra_GetEmvsForAppId
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_EmvTerminalWithAssignments_'
              examples:
                Hydra_GetEmvsForAppId200Example:
                  summary: Default Hydra_GetEmvsForAppId 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_GetEmvsForAppId400Example:
                  summary: Default Hydra_GetEmvsForAppId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_GetEmvsForAppId401Example:
                  summary: Default Hydra_GetEmvsForAppId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_GetEmvsForAppId403Example:
                  summary: Default Hydra_GetEmvsForAppId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_GetEmvsForAppId500Example:
                  summary: Default Hydra_GetEmvsForAppId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Hydra_Get Emvs for App Id
      description: Hydra_Get Emvs for App Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/emvterminals).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Hydra
      operationId: Hydra_CreateEmv
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmvTerminal'
            examples:
              Hydra_CreateEmvRequestExample:
                summary: Default Hydra_CreateEmv request
                x-microcks-default: true
                value:
                  EmvTerminalId: 500123
                  TerminalId: '500123'
                  Url: https://api.flipdish.co/example
                  Token: string
                  SoftwareHouseId: '500123'
                  InstallerId: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Hydra_CreateEmv200Example:
                  summary: Default Hydra_CreateEmv 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_CreateEmv400Example:
                  summary: Default Hydra_CreateEmv 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_CreateEmv401Example:
                  summary: Default Hydra_CreateEmv 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_CreateEmv403Example:
                  summary: Default Hydra_CreateEmv 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_CreateEmv500Example:
                  summary: Default Hydra_CreateEmv 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Hydra_Create Emv
      description: Hydra_Create Emv via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/emvterminals).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/emvterminal:
    get:
      tags:
      - Hydra
      operationId: GetEMVTerminalDetails
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PaymentTerminalDetails_'
              examples:
                GetEMVTerminalDetails200Example:
                  summary: Default GetEMVTerminalDetails 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      TerminalId: '500123'
                      Status: Active
                      Currency: EUR
                      Uri: https://api.flipdish.co/example
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEMVTerminalDetails400Example:
                  summary: Default GetEMVTerminalDetails 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEMVTerminalDetails401Example:
                  summary: Default GetEMVTerminalDetails 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEMVTerminalDetails403Example:
                  summary: Default GetEMVTerminalDetails 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEMVTerminalDetails404Example:
                  summary: Default GetEMVTerminalDetails 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEMVTerminalDetails500Example:
                  summary: Default GetEMVTerminalDetails 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get EMV Terminal Details
      description: Get EMV Terminal Details via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/hydra/emvterminal).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/kiosksettings/{deviceId}:
    get:
      tags:
      - Hydra
      operationId: GetKioskSettings
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_KioskSettings_'
              examples:
                GetKioskSettings200Example:
                  summary: Default GetKioskSettings 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      HideLogoFromFrontPage: true
                      TwoColumnMenuLayout: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskSettings400Example:
                  summary: Default GetKioskSettings 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskSettings401Example:
                  summary: Default GetKioskSettings 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskSettings403Example:
                  summary: Default GetKioskSettings 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskSettings500Example:
                  summary: Default GetKioskSettings 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Kiosk Settings
      description: Get Kiosk Settings via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/kiosksettings/{deviceId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Hydra
      operationId: UpdateKioskSettings
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KioskSettings'
            examples:
              UpdateKioskSettingsRequestExample:
                summary: Default UpdateKioskSettings request
                x-microcks-default: true
                value:
                  HideLogoFromFrontPage: true
                  TwoColumnMenuLayout: true
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskSettings400Example:
                  summary: Default UpdateKioskSettings 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskSettings401Example:
                  summary: Default UpdateKioskSettings 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskSettings403Example:
                  summary: Default UpdateKioskSettings 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskSettings500Example:
                  summary: Default UpdateKioskSettings 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Kiosk Settings
      description: Update Kiosk Settings via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/kiosksettings/{deviceId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/kioskcashsettings/{deviceId}:
    get:
      tags:
      - Hydra
      operationId: GetKioskCashPaymentSettings
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_KioskCashPaymentSettings_'
              examples:
                GetKioskCashPaymentSettings200Example:
                  summary: Default GetKioskCashPaymentSettings 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskCashPaymentSettings400Example:
                  summary: Default GetKioskCashPaymentSettings 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskCashPaymentSettings401Example:
                  summary: Default GetKioskCashPaymentSettings 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskCashPaymentSettings403Example:
                  summary: Default GetKioskCashPaymentSettings 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetKioskCashPaymentSettings500Example:
                  summary: Default GetKioskCashPaymentSettings 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Kiosk Cash Payment Settings
      description: Get Kiosk Cash Payment Settings via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/kioskcashsettings/{deviceId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/emvorderstate/{orderId}:
    get:
      tags:
      - Hydra
      operationId: GetEmvOrderState
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PaymentTerminalTransactionDetails_'
              examples:
                GetEmvOrderState200Example:
                  summary: Default GetEmvOrderState 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      CardSchemeName: Example Name
                      DateOfExpiry: '2026-06-02T12:00:00Z'
                      AuthCode: string
                      TransactionResult: string
                      PrimaryAccountNumber: string
                      CardholderVerificationMethod: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEmvOrderState400Example:
                  summary: Default GetEmvOrderState 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEmvOrderState401Example:
                  summary: Default GetEmvOrderState 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEmvOrderState403Example:
                  summary: Default GetEmvOrderState 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEmvOrderState404Example:
                  summary: Default GetEmvOrderState 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEmvOrderState500Example:
                  summary: Default GetEmvOrderState 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Emv Order State
      description: Get Emv Order State via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/hydra/emvorderstate/{orderId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/{deviceType}/{deviceId}:
    get:
      tags:
      - Hydra
      operationId: GetAttachedDevice
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Kiosk
          - Terminal
          - LegacyPrinter
        description: The device type path parameter.
        example: Kiosk
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraDeviceDetails_'
              examples:
                GetAttachedDevice200Example:
                  summary: Default GetAttachedDevice 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      HydraConfigId: 500123
                      DeviceId: '500123'
                      SerialNumber: string
                      DeviceType: Kiosk
                      Status: Online
                      DeviceName: Example Name
                      StoreNames: []
                      LastPollUtc: '2026-06-02T12:00:00Z'
                      Version: string
                      BuildNumber: string
                      GitSha: string
                      GitBranch: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevice400Example:
                  summary: Default GetAttachedDevice 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevice401Example:
                  summary: Default GetAttachedDevice 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevice403Example:
                  summary: Default GetAttachedDevice 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevice404Example:
                  summary: Default GetAttachedDevice 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevice500Example:
                  summary: Default GetAttachedDevice 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Attached Device
      description: Get Attached Device via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/hydra/{deviceType}/{deviceId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/{deviceType}/list:
    get:
      tags:
      - Hydra
      operationId: GetAttachedDevices
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Kiosk
          - Terminal
          - LegacyPrinter
        description: The device type path parameter.
        example: Kiosk
      - name: pageIndex
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page index query parameter.
        example: 1
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page size query parameter.
        example: 1
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The store id query parameter.
        example: 500123
      - name: deviceName
        in: query
        required: false
        schema:
          type: string
        description: The device name query parameter.
        example: Example Name
      - name: deviceSerial
        in: query
        required: false
        schema:
          type: string
        description: The device serial query parameter.
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_HydraDeviceDetails_'
              examples:
                GetAttachedDevices200Example:
                  summary: Default GetAttachedDevices 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevices400Example:
                  summary: Default GetAttachedDevices 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevices401Example:
                  summary: Default GetAttachedDevices 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevices403Example:
                  summary: Default GetAttachedDevices 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevices404Example:
                  summary: Default GetAttachedDevices 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAttachedDevices500Example:
                  summary: Default GetAttachedDevices 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Attached Devices
      description: Get Attached Devices via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/hydra/{deviceType}/list).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/registration:
    post:
      tags:
      - Hydra
      operationId: Register
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HydraRegistrationRequest'
            examples:
              RegisterRequestExample:
                summary: Default Register request
                x-microcks-default: true
                value:
                  StoreIds:
                  - 1
                  DeviceName: Example Name
                  PinCode: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraStatus_'
              examples:
                Register200Example:
                  summary: Default Register 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppId: '500123'
                      StoreIds:
                      - 1
                      IsRegistered: true
                      PinCode: 1
                      Images:
                      - string
                      UserType: Kiosk
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Register400Example:
                  summary: Default Register 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Register401Example:
                  summary: Default Register 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Register403Example:
                  summary: Default Register 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Register404Example:
                  summary: Default Register 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Register500Example:
                  summary: Default Register 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Register
      description: Register via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/hydra/registration).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/cancelemvpayment/{orderId}:
    post:
      tags:
      - Hydra
      operationId: CancelEmvPayment
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CancelEmvPayment400Example:
                  summary: Default CancelEmvPayment 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CancelEmvPayment401Example:
                  summary: Default CancelEmvPayment 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CancelEmvPayment403Example:
                  summary: Default CancelEmvPayment 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CancelEmvPayment404Example:
                  summary: Default CancelEmvPayment 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CancelEmvPayment500Example:
                  summary: Default CancelEmvPayment 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Cancel Emv Payment
      description: Cancel Emv Payment via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/hydra/cancelemvpayment/{orderId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/{deviceId}/attach/{storeId}:
    post:
      tags:
      - Hydra
      operationId: AttachStoreToTerminal
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraStatus_'
              examples:
                AttachStoreToTerminal200Example:
                  summary: Default AttachStoreToTerminal 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppId: '500123'
                      StoreIds:
                      - 1
                      IsRegistered: true
                      PinCode: 1
                      Images:
                      - string
                      UserType: Kiosk
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToTerminal400Example:
                  summary: Default AttachStoreToTerminal 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToTerminal401Example:
                  summary: Default AttachStoreToTerminal 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToTerminal403Example:
                  summary: Default AttachStoreToTerminal 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToTerminal404Example:
                  summary: Default AttachStoreToTerminal 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToTerminal500Example:
                  summary: Default AttachStoreToTerminal 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Attach Store to Terminal
      description: Attach Store to Terminal via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/hydra/{deviceId}/attach/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/{deviceId}/detach/{storeId}:
    post:
      tags:
      - Hydra
      operationId: DetachStoreFromTerminal
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraStatus_'
              examples:
                DetachStoreFromTerminal200Example:
                  summary: Default DetachStoreFromTerminal 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppId: '500123'
                      StoreIds:
                      - 1
                      IsRegistered: true
                      PinCode: 1
                      Images:
                      - string
                      UserType: Kiosk
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DetachStoreFromTerminal400Example:
                  summary: Default DetachStoreFromTerminal 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DetachStoreFromTerminal401Example:
                  summary: Default DetachStoreFromTerminal 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DetachStoreFromTerminal403Example:
                  summary: Default DetachStoreFromTerminal 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DetachStoreFromTerminal404Example:
                  summary: Default DetachStoreFromTerminal 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DetachStoreFromTerminal500Example:
                  summary: Default DetachStoreFromTerminal 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Detach Store from Terminal
      description: Detach Store from Terminal via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/hydra/{deviceId}/detach/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/emvterminal/unassign/{hydraConfigId}:
    post:
      tags:
      - Hydra
      operationId: UnassignEmv
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: hydraConfigId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The hydra config id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnassignEmv400Example:
                  summary: Default UnassignEmv 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnassignEmv401Example:
                  summary: Default UnassignEmv 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnassignEmv403Example:
                  summary: Default UnassignEmv 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnassignEmv500Example:
                  summary: Default UnassignEmv 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Unassign Emv
      description: Unassign Emv via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/hydra/emvterminal/unassign/{hydraConfigId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/AttachStoreToKiosk/{deviceId}/store/{storeId}:
    post:
      tags:
      - Hydra
      operationId: AttachStoreToKiosk
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraStatus_'
              examples:
                AttachStoreToKiosk200Example:
                  summary: Default AttachStoreToKiosk 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppId: '500123'
                      StoreIds:
                      - 1
                      IsRegistered: true
                      PinCode: 1
                      Images:
                      - string
                      UserType: Kiosk
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToKiosk400Example:
                  summary: Default AttachStoreToKiosk 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToKiosk401Example:
                  summary: Default AttachStoreToKiosk 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToKiosk403Example:
                  summary: Default AttachStoreToKiosk 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToKiosk404Example:
                  summary: Default AttachStoreToKiosk 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AttachStoreToKiosk500Example:
                  summary: Default AttachStoreToKiosk 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Attach Store to Kiosk
      description: Attach Store to Kiosk via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/AttachStoreToKiosk/{deviceId}/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/emvterminal/assign/{hydraConfigId}/{emvTerminalId}:
    post:
      tags:
      - Hydra
      operationId: AssignEmv
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: hydraConfigId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The hydra config id path parameter.
        example: 500123
      - name: emvTerminalId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The emv terminal id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignEmv400Example:
                  summary: Default AssignEmv 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignEmv401Example:
                  summary: Default AssignEmv 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignEmv403Example:
                  summary: Default AssignEmv 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignEmv500Example:
                  summary: Default AssignEmv 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Assign Emv
      description: Assign Emv via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/hydra/emvterminal/assign/{hydraConfigId}/{emvTerminalId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/hydra/{deviceId}/login:
    post:
      tags:
      - Hydra
      operationId: LoginWithDeviceId
      parameters:
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      - name: hydraUserType
        in: query
        required: false
        schema:
          type: string
          enum:
          - Kiosk
          - Terminal
          - LegacyPrinter
        description: The hydra user type query parameter.
        example: Kiosk
      - name: serialNumber
        in: query
        required: false
        schema:
          type: string
        description: The serial number query parameter.
        example: string
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                LoginWithDeviceId400Example:
                  summary: Default LoginWithDeviceId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                LoginWithDeviceId401Example:
                  summary: Default LoginWithDeviceId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                LoginWithDeviceId403Example:
                  summary: Default LoginWithDeviceId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                LoginWithDeviceId404Example:
                  summary: Default LoginWithDeviceId 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                LoginWithDeviceId500Example:
                  summary: Default LoginWithDeviceId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Login with Device Id
      description: Login with Device Id via the Flipdish Open API v1.0 (POST /api/v1.0/hydra/{deviceId}/login).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/kioskupdatecashsettings:
    post:
      tags:
      - Hydra
      operationId: UpdateKioskCashVisibilitySettings
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: query
        required: true
        schema:
          type: string
        description: The device id query parameter.
        example: '500123'
      - name: isCashEnabled
        in: query
        required: true
        schema:
          type: boolean
        description: The is cash enabled query parameter.
        example: true
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskCashVisibilitySettings400Example:
                  summary: Default UpdateKioskCashVisibilitySettings 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskCashVisibilitySettings401Example:
                  summary: Default UpdateKioskCashVisibilitySettings 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskCashVisibilitySettings403Example:
                  summary: Default UpdateKioskCashVisibilitySettings 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskCashVisibilitySettings404Example:
                  summary: Default UpdateKioskCashVisibilitySettings 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateKioskCashVisibilitySettings500Example:
                  summary: Default UpdateKioskCashVisibilitySettings 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Kiosk Cash Visibility Settings
      description: Update Kiosk Cash Visibility Settings via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/kioskupdatecashsettings).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/emvterminals/{id}:
    delete:
      tags:
      - Hydra
      operationId: Hydra_DeleteEmv
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Hydra_DeleteEmv200Example:
                  summary: Default Hydra_DeleteEmv 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DeleteEmv400Example:
                  summary: Default Hydra_DeleteEmv 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DeleteEmv401Example:
                  summary: Default Hydra_DeleteEmv 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DeleteEmv403Example:
                  summary: Default Hydra_DeleteEmv 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DeleteEmv500Example:
                  summary: Default Hydra_DeleteEmv 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Hydra_Delete Emv
      description: Hydra_Delete Emv via the Flipdish Open API v1.0 (DELETE /api/v1.0/{appId}/emvterminals/{id}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/hydra/{deviceId}/registration:
    delete:
      tags:
      - Hydra
      operationId: UnAssign
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnAssign400Example:
                  summary: Default UnAssign 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnAssign401Example:
                  summary: Default UnAssign 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnAssign403Example:
                  summary: Default UnAssign 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnAssign404Example:
                  summary: Default UnAssign 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnAssign500Example:
                  summary: Default UnAssign 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Un Assign
      description: Un Assign via the Flipdish Open API v1.0 (DELETE /api/v1.0/{appId}/hydra/{deviceId}/registration).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/DetachStoreFromKiosk/{deviceId}/store/{storeId}:
    delete:
      tags:
      - Hydra
      operationId: Hydra_DetachStoreFromKiosk
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
        description: The device id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HydraStatus_'
              examples:
                Hydra_DetachStoreFromKiosk200Example:
                  summary: Default Hydra_DetachStoreFromKiosk 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppId: '500123'
                      StoreIds:
                      - 1
                      IsRegistered: true
                      PinCode: 1
                      Images:
                      - string
                      UserType: Kiosk
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DetachStoreFromKiosk400Example:
                  summary: Default Hydra_DetachStoreFromKiosk 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DetachStoreFromKiosk401Example:
                  summary: Default Hydra_DetachStoreFromKiosk 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hydra_DetachStoreFromKiosk403Example:
                  summary: Default Hydra_DetachStoreFromKiosk 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
[...]
