openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Onboarding API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Onboarding
  description: Operations for Onboarding.
paths:
  /api/v1.0/clients/{appId}/onboarding/config:
    get:
      tags:
      - Onboarding
      operationId: Onboarding_GetOnboardingConfig
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_GetOnboardingConfig200Example:
                  summary: Default Onboarding_GetOnboardingConfig 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfig400Example:
                  summary: Default Onboarding_GetOnboardingConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfig401Example:
                  summary: Default Onboarding_GetOnboardingConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfig403Example:
                  summary: Default Onboarding_GetOnboardingConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfig500Example:
                  summary: Default Onboarding_GetOnboardingConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Get Onboarding Config
      description: Onboarding_Get Onboarding Config via the Flipdish Open API v1.0 (GET /api/v1.0/clients/{appId}/onboarding/config).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Onboarding
      operationId: Onboarding_UpdateOnboardingConfig
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_UpdateOnboardingConfig200Example:
                  summary: Default Onboarding_UpdateOnboardingConfig 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfig400Example:
                  summary: Default Onboarding_UpdateOnboardingConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfig401Example:
                  summary: Default Onboarding_UpdateOnboardingConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfig403Example:
                  summary: Default Onboarding_UpdateOnboardingConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfig500Example:
                  summary: Default Onboarding_UpdateOnboardingConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Update Onboarding Config
      description: Onboarding_Update Onboarding Config via the Flipdish Open API v1.0 (POST /api/v1.0/clients/{appId}/onboarding/config).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/clients/{appId}/onboarding/configs:
    get:
      tags:
      - Onboarding
      operationId: Onboarding_GetOnboardingConfigs
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_GetOnboardingConfigs200Example:
                  summary: Default Onboarding_GetOnboardingConfigs 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfigs400Example:
                  summary: Default Onboarding_GetOnboardingConfigs 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfigs401Example:
                  summary: Default Onboarding_GetOnboardingConfigs 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfigs403Example:
                  summary: Default Onboarding_GetOnboardingConfigs 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingConfigs500Example:
                  summary: Default Onboarding_GetOnboardingConfigs 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Get Onboarding Configs
      description: Onboarding_Get Onboarding Configs via the Flipdish Open API v1.0 (GET /api/v1.0/clients/{appId}/onboarding/configs).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/clients/{appId}/onboarding/stores/{storeId}:
    get:
      tags:
      - Onboarding
      operationId: Onboarding_GetOnboardingItems
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: milestoneId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The milestone id query parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_GetOnboardingItems200Example:
                  summary: Default Onboarding_GetOnboardingItems 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItems400Example:
                  summary: Default Onboarding_GetOnboardingItems 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItems401Example:
                  summary: Default Onboarding_GetOnboardingItems 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItems403Example:
                  summary: Default Onboarding_GetOnboardingItems 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItems500Example:
                  summary: Default Onboarding_GetOnboardingItems 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Get Onboarding Items
      description: Onboarding_Get Onboarding Items via the Flipdish Open API v1.0 (GET /api/v1.0/clients/{appId}/onboarding/stores/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/clients/{appId}/onboarding/stores:
    get:
      tags:
      - Onboarding
      operationId: Onboarding_GetOnboardingItemsV2
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The store id query parameter.
        example: 500123
      - name: milestoneId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The milestone id query parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_GetOnboardingItemsV2200Example:
                  summary: Default Onboarding_GetOnboardingItemsV2 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItemsV2400Example:
                  summary: Default Onboarding_GetOnboardingItemsV2 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItemsV2401Example:
                  summary: Default Onboarding_GetOnboardingItemsV2 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItemsV2403Example:
                  summary: Default Onboarding_GetOnboardingItemsV2 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_GetOnboardingItemsV2500Example:
                  summary: Default Onboarding_GetOnboardingItemsV2 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Get Onboarding Items V2
      description: Onboarding_Get Onboarding Items V2 via the Flipdish Open API v1.0 (GET /api/v1.0/clients/{appId}/onboarding/stores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/clients/{appId}/onboarding/config/{configId}:
    post:
      tags:
      - Onboarding
      operationId: Onboarding_UpdateOnboardingConfigById
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The config id path parameter.
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_UpdateOnboardingConfigById200Example:
                  summary: Default Onboarding_UpdateOnboardingConfigById 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfigById400Example:
                  summary: Default Onboarding_UpdateOnboardingConfigById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfigById401Example:
                  summary: Default Onboarding_UpdateOnboardingConfigById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfigById403Example:
                  summary: Default Onboarding_UpdateOnboardingConfigById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingConfigById500Example:
                  summary: Default Onboarding_UpdateOnboardingConfigById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Update Onboarding Config by Id
      description: Onboarding_Update Onboarding Config by Id via the Flipdish Open API v1.0 (POST /api/v1.0/clients/{appId}/onboarding/config/{configId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/clients/{appId}/onboarding/stores/{storeId}/items/{onboardingItemId}:
    post:
      tags:
      - Onboarding
      operationId: Onboarding_UpdateOnboardingItem
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: onboardingItemId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The onboarding item id path parameter.
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_UpdateOnboardingItem200Example:
                  summary: Default Onboarding_UpdateOnboardingItem 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItem400Example:
                  summary: Default Onboarding_UpdateOnboardingItem 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItem401Example:
                  summary: Default Onboarding_UpdateOnboardingItem 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItem403Example:
                  summary: Default Onboarding_UpdateOnboardingItem 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItem500Example:
                  summary: Default Onboarding_UpdateOnboardingItem 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Update Onboarding Item
      description: Onboarding_Update Onboarding Item via the Flipdish Open API v1.0 (POST /api/v1.0/clients/{appId}/onboarding/stores/{storeId}/items/{onboardingItemId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/clients/{appId}/onboarding/stores/items/{onboardingItemId}:
    post:
      tags:
      - Onboarding
      operationId: Onboarding_UpdateOnboardingItemV2
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: onboardingItemId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The onboarding item id path parameter.
        example: 500123
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The store id query parameter.
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Onboarding_UpdateOnboardingItemV2200Example:
                  summary: Default Onboarding_UpdateOnboardingItemV2 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItemV2400Example:
                  summary: Default Onboarding_UpdateOnboardingItemV2 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItemV2401Example:
                  summary: Default Onboarding_UpdateOnboardingItemV2 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItemV2403Example:
                  summary: Default Onboarding_UpdateOnboardingItemV2 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Onboarding_UpdateOnboardingItemV2500Example:
                  summary: Default Onboarding_UpdateOnboardingItemV2 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Onboarding_Update Onboarding Item V2
      description: Onboarding_Update Onboarding Item V2 via the Flipdish Open API v1.0 (POST /api/v1.0/clients/{appId}/onboarding/stores/items/{onboardingItemId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
