openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Orders API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Orders
  description: Operations for Orders.
paths:
  /api/v1.0/orders/{id}:
    get:
      tags:
      - Orders
      operationId: GetOrderById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Order_'
              examples:
                GetOrderById200Example:
                  summary: Default GetOrderById 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Store:
                        Id: 500123
                        Name: Example Name
                        MenuId: 500123
                        MenuPublishId: 00000000-0000-0000-0000-000000000000
                        Metadata: {}
                        Currency: EUR
                        Coordinates: {}
                        StoreTimezone: string
                        StoreIanaTimezone: string
                        StoreGroupId: 500123
                        TaxId: '500123'
                        PrettyAddress: string
                        CountryCode: IE
                        PropertyId: '500123'
                      Customer:
                        Id: 500123
                        Name: Example Name
                        EmailAddress: owner@example.com
                        PhoneNumberLocalFormat: '2026-06-02T12:00:00Z'
                        PhoneNumber: '+353000000000'
                        LanguagePreference: string
                      Voucher:
                        VoucherId: 500123
                        Name: Example Name
                        Description: string
                        Code: string
                        Amount: 12.5
                        Type: PercentageDiscount
                        SubType: None
                      Fees:
                        FeeAmount: 12.5
                        PercentageRate: 1.0
                        PerTransactionFee: 12.5
                      OrderItems: []
                      DeliveryLocation:
                        Coordinates: {}
                        Building: string
                        Street: string
                        Town: string
                        PostCode: string
                        DeliveryInstructions: string
                        PrettyAddressString: string
                      CustomerLocation:
                        Latitude: 1.0
                        Longitude: 1.0
                      MaskedPhoneNumber:
                        IsEnabled: true
                        PhoneNumber: '+353000000000'
                        Code: string
                      DropOffLocationId: 500123
                      DropOffLocation: string
                      AcceptedFor: '2026-06-02T12:00:00Z'
                      InFraudZone: true
                      UnusualHighValueOrder: true
                      RejectedByUserId: 500123
                      ChannelOrderId: '500123'
                      ChannelOrderDisplayId: '500123'
                      Channel:
                        ChannelId: 500123
                        TranslationKey: string
                        Source: Internal
                        LogoUri: https://api.flipdish.co/example
                        Available: true
                        MaintainedExternally: true
                      OrderDropOffLocation:
                        OrderId: 500123
                        LocationName: Example Name
                        LocationAreaName: Example Name
                        LocationId: 500123
                        LocationAreaId: 500123
                        ExternalLocationId: '500123'
                      FulfillmentStatus:
                        StatusId: '500123'
                        StatusName: Example Name
                        Icon: string
                      OrderBatchInfo:
                        Id: 500123
                        DisplayCode: string
                        CreateTime: '2026-06-02T12:00:00Z'
                        IsPublished: true
                      TaxItems: []
                      CreatedCampaignVoucherId: 500123
                      OrderId: 500123
                      LocalOrderId: '500123'
                      DeliveryType: Delivery
                      PickupLocationType: TakeOut
                      TableServiceCatagory: Generic
                      TipAmount: 12.5
                      DeliveryAmount: 12.5
                      OrderItemsAmount: 12.5
                      ServiceChargeAmount: 12.5
                      ServiceChargePercentage: 1.0
                      Amount: 12.5
                      ProcessingFee: 12.5
                      PaymentAccountType: Card
                      PaymentAccountDescription: string
                      OrderState: Created
                      IsPreOrder: true
                      PlacedTime: '2026-06-02T12:00:00Z'
                      RequestedForTime: '2026-06-02T12:00:00Z'
                      ChefNote: string
                      AppType: Unknown
                      UserRating: 1
                      PaymentStatus: Paid
                      RejectionReason: TooBusy
                      RefundedAmount: 12.5
                      DeliveryTrackingStatus: Unassigned
                      DriverId: 500123
                      TotalTax: 12.5
                      OrderTrackingCode: string
                      DeliveryFeeAreaId: 500123
                      ReceiptCode: string
                      TotalDepositReturnFeeAmount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderById400Example:
                  summary: Default GetOrderById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderById401Example:
                  summary: Default GetOrderById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderById403Example:
                  summary: Default GetOrderById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderById500Example:
                  summary: Default GetOrderById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Order by Id
      description: Get Order by Id via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{id}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{orderId}/deliveryinfo:
    get:
      tags:
      - Orders
      operationId: GetDeliveryInformation
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OrderDeliveryInformation_'
              examples:
                GetDeliveryInformation200Example:
                  summary: Default GetDeliveryInformation 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OrderId: 500123
                      ExternalReferenceId: '500123'
                      TrackUrl: https://api.flipdish.co/example
                      Status: None
                      DeliveryStatusNotes: Active
                      ErrorMessage: string
                      IntegrationCode: string
                      IntegrationName: Example Name
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetDeliveryInformation400Example:
                  summary: Default GetDeliveryInformation 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetDeliveryInformation401Example:
                  summary: Default GetDeliveryInformation 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetDeliveryInformation403Example:
                  summary: Default GetDeliveryInformation 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Either the order was not found or there is no delivery information associated to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetDeliveryInformation404Example:
                  summary: Default GetDeliveryInformation 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetDeliveryInformation500Example:
                  summary: Default GetDeliveryInformation 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Delivery Information
      description: Get Delivery Information via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{orderId}/deliveryinfo).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Orders
      operationId: UpdateDeliveryInformation
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderDeliveryInformationBase'
            examples:
              UpdateDeliveryInformationRequestExample:
                summary: Default UpdateDeliveryInformation request
                x-microcks-default: true
                value:
                  ExternalReferenceId: '500123'
                  TrackUrl: https://api.flipdish.co/example
                  Status: None
                  DeliveryStatusNotes: Active
                  ErrorMessage: string
                  IntegrationCode: string
                  IntegrationName: Example Name
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateDeliveryInformation400Example:
                  summary: Default UpdateDeliveryInformation 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateDeliveryInformation401Example:
                  summary: Default UpdateDeliveryInformation 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateDeliveryInformation403Example:
                  summary: Default UpdateDeliveryInformation 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateDeliveryInformation500Example:
                  summary: Default UpdateDeliveryInformation 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Delivery Information
      description: Update Delivery Information via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{orderId}/deliveryinfo).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{orderId}/fulfillment/state:
    get:
      tags:
      - Orders
      operationId: GetFulfillmentState
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OrderFulfillmentStatus_'
              examples:
                GetFulfillmentState200Example:
                  summary: Default GetFulfillmentState 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OrderId: 500123
                      StatusId: '500123'
                      StatusName: Example Name
                      Icon: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentState400Example:
                  summary: Default GetFulfillmentState 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentState401Example:
                  summary: Default GetFulfillmentState 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentState403Example:
                  summary: Default GetFulfillmentState 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Either the order was not found or there is no fulfillment status information associated to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentState404Example:
                  summary: Default GetFulfillmentState 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentState500Example:
                  summary: Default GetFulfillmentState 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Fulfillment State
      description: Get Fulfillment State via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{orderId}/fulfillment/state).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Orders
      operationId: UpdateFulfillmentState
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderFulfillmentStatusUpdate'
            examples:
              UpdateFulfillmentStateRequestExample:
                summary: Default UpdateFulfillmentState request
                x-microcks-default: true
                value:
                  StatusId: '500123'
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateFulfillmentState400Example:
                  summary: Default UpdateFulfillmentState 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateFulfillmentState401Example:
                  summary: Default UpdateFulfillmentState 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateFulfillmentState403Example:
                  summary: Default UpdateFulfillmentState 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateFulfillmentState500Example:
                  summary: Default UpdateFulfillmentState 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Fulfillment State
      description: Update Fulfillment State via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{orderId}/fulfillment/state).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{orderId}/fulfillment/state/details:
    get:
      tags:
      - Orders
      operationId: GetFulfillmentStatusWithDetailsAndActions
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OrderFulfillmentStatusWithConfigurationActions_'
              examples:
                GetFulfillmentStatusWithDetailsAndActions200Example:
                  summary: Default GetFulfillmentStatusWithDetailsAndActions 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      DefaultNextStatus: Active
                      NextStatuses: []
                      OrderId: 500123
                      StatusId: '500123'
                      StatusName: Example Name
                      Icon: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentStatusWithDetailsAndActions400Example:
                  summary: Default GetFulfillmentStatusWithDetailsAndActions 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentStatusWithDetailsAndActions401Example:
                  summary: Default GetFulfillmentStatusWithDetailsAndActions 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentStatusWithDetailsAndActions403Example:
                  summary: Default GetFulfillmentStatusWithDetailsAndActions 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Either the order was not found or there is no fulfillment status information associated to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentStatusWithDetailsAndActions404Example:
                  summary: Default GetFulfillmentStatusWithDetailsAndActions 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetFulfillmentStatusWithDetailsAndActions500Example:
                  summary: Default GetFulfillmentStatusWithDetailsAndActions 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Fulfillment Status with Details and Actions
      description: Get Fulfillment Status with Details and Actions via the Flipdish Open API v1.0 (GET /api/v1.0/orders/{orderId}/fulfillment/state/details).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/orders/fulfillmentstatuses:
    get:
      tags:
      - Orders
      operationId: SearchFulfillmentStatuses
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: orderIds
        in: query
        required: true
        schema:
          type: string
        description: The order ids query parameter.
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_OrderFulfillmentStatus_'
              examples:
                SearchFulfillmentStatuses200Example:
                  summary: Default SearchFulfillmentStatuses 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFulfillmentStatuses400Example:
                  summary: Default SearchFulfillmentStatuses 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFulfillmentStatuses401Example:
                  summary: Default SearchFulfillmentStatuses 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFulfillmentStatuses403Example:
                  summary: Default SearchFulfillmentStatuses 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Either the order was not found or there is no fulfillment status information associated to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFulfillmentStatuses404Example:
                  summary: Default SearchFulfillmentStatuses 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFulfillmentStatuses500Example:
                  summary: Default SearchFulfillmentStatuses 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Search Fulfillment Statuses
      description: Search Fulfillment Statuses via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/orders/fulfillmentstatuses).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/orders/ready_to_process:
    get:
      tags:
      - Orders
      operationId: GetReadyToProcess
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The store id query parameter.
        example:
        - 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
              examples:
                GetReadyToProcess200Example:
                  summary: Default GetReadyToProcess 200 response
                  x-microcks-default: true
                  value:
                    Orders: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetReadyToProcess400Example:
                  summary: Default GetReadyToProcess 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetReadyToProcess401Example:
                  summary: Default GetReadyToProcess 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetReadyToProcess403Example:
                  summary: Default GetReadyToProcess 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetReadyToProcess500Example:
                  summary: Default GetReadyToProcess 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Ready to Process
      description: Get Ready to Process via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/orders/ready_to_process).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders:
    get:
      tags:
      - Orders
      operationId: GetOrders
      parameters:
      - name: physicalRestaurantId
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The physical restaurant id query parameter.
        example:
        - 500123
      - name: state
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Created
            - PlacedCanBeCancelled
            - ReadyToProcess
            - AcceptedByRestaurant
            - Dispatched
            - Delivered
            - Cancelled
            - ManualReview
            - RejectedByStore
            - RejectedByFlipdish
            - RejectedAutomatically
            - RejectedAfterBeingAccepted
            - AcceptedAndRefunded
            - PendingPayment
        description: The state query parameter.
        example:
        - Created
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The from query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The to query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_Order_'
              examples:
                GetOrders200Example:
                  summary: Default GetOrders 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrders400Example:
                  summary: Default GetOrders 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrders401Example:
                  summary: Default GetOrders 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrders403Example:
                  summary: Default GetOrders 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrders500Example:
                  summary: Default GetOrders 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Orders
      description: Get Orders via the Flipdish Open API v1.0 (GET /api/v1.0/orders).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/orders/summaries:
    get:
      tags:
      - Orders
      operationId: GetOrdersSummary
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: searchQuery
        in: query
        required: false
        schema:
          type: string
        description: The search query query parameter.
        example: string
      - name: physicalRestaurantId
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The physical restaurant id query parameter.
        example:
        - 500123
      - name: state
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Created
            - PlacedCanBeCancelled
            - ReadyToProcess
            - AcceptedByRestaurant
            - Dispatched
            - Delivered
            - Cancelled
            - ManualReview
            - RejectedByStore
            - RejectedByFlipdish
            - RejectedAutomatically
            - RejectedAfterBeingAccepted
            - AcceptedAndRefunded
            - PendingPayment
        description: The state query parameter.
        example:
        - Created
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      - name: orderByRequestedForTime
        in: query
        required: false
        schema:
          type: boolean
        description: The order by requested for time query parameter.
        example: true
      - name: channels
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Unknown
            - Ios
            - Android
            - Web
            - Kiosk
            - Pos
            - TelephoneCall
            - Sms
            - PwaAndroid
            - PwaIos
            - Google
            - Photon
        description: The channels query parameter.
        example:
        - Unknown
      - name: orderIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The order ids query parameter.
        example:
        - 1
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The from query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The to query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: logSql
        in: query
        required: false
        schema:
          type: boolean
        description: The log sql query parameter.
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_OrderSummary_'
              examples:
                GetOrdersSummary200Example:
                  summary: Default GetOrdersSummary 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummary400Example:
                  summary: Default GetOrdersSummary 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummary401Example:
                  summary: Default GetOrdersSummary 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummary403Example:
                  summary: Default GetOrdersSummary 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummary500Example:
                  summary: Default GetOrdersSummary 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Orders Summary
      description: Get Orders Summary via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/orders/summaries).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/orders/summariesNew:
    get:
      tags:
      - Orders
      operationId: GetOrdersSummaryNew
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: searchQuery
        in: query
        required: false
        schema:
          type: string
        description: The search query query parameter.
        example: string
      - name: physicalRestaurantId
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The physical restaurant id query parameter.
        example:
        - 500123
      - name: state
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Created
            - PlacedCanBeCancelled
            - ReadyToProcess
            - AcceptedByRestaurant
            - Dispatched
            - Delivered
            - Cancelled
            - ManualReview
            - RejectedByStore
            - RejectedByFlipdish
            - RejectedAutomatically
            - RejectedAfterBeingAccepted
            - AcceptedAndRefunded
            - PendingPayment
        description: The state query parameter.
        example:
        - Created
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      - name: orderByRequestedForTime
        in: query
        required: false
        schema:
          type: boolean
        description: The order by requested for time query parameter.
        example: true
      - name: channels
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Unknown
            - Ios
            - Android
            - Web
            - Kiosk
            - Pos
            - TelephoneCall
            - Sms
            - PwaAndroid
            - PwaIos
            - Google
            - Photon
        description: The channels query parameter.
        example:
        - Unknown
      - name: orderIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The order ids query parameter.
        example:
        - 1
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The from query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The to query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: logSql
        in: query
        required: false
        schema:
          type: boolean
        description: The log sql query parameter.
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_OrderSummary_'
              examples:
                GetOrdersSummaryNew200Example:
                  summary: Default GetOrdersSummaryNew 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummaryNew400Example:
                  summary: Default GetOrdersSummaryNew 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummaryNew401Example:
                  summary: Default GetOrdersSummaryNew 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummaryNew403Example:
                  summary: Default GetOrdersSummaryNew 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrdersSummaryNew500Example:
                  summary: Default GetOrdersSummaryNew 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Orders Summary New
      description: Get Orders Summary New via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/orders/summariesNew).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{id}/accept:
    post:
      tags:
      - Orders
      operationId: AcceptOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Accept'
            examples:
              AcceptOrderRequestExample:
                summary: Default AcceptOrder request
                x-microcks-default: true
                value:
                  EstimatedMinutesForDelivery: 45
      responses:
        '200':
          description: The order is successfully accepted.
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AcceptOrder400Example:
                  summary: Default AcceptOrder 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AcceptOrder401Example:
                  summary: Default AcceptOrder 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AcceptOrder403Example:
                  summary: Default AcceptOrder 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Order not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AcceptOrder404Example:
                  summary: Default AcceptOrder 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Order is not in the correct state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AcceptOrder409Example:
                  summary: Default AcceptOrder 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AcceptOrder500Example:
                  summary: Default AcceptOrder 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Accept Order
      description: Accept Order via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{id}/accept).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{id}/refund:
    post:
      tags:
      - Orders
      operationId: RefundOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refund'
            examples:
              RefundOrderRequestExample:
                summary: Default RefundOrder request
                x-microcks-default: true
                value:
                  RefundReason: reason
                  RefundAmount: 20
                  NotifyCustomer: true
      responses:
        '200':
          description: The order is successfully refunded.
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RefundOrder400Example:
                  summary: Default RefundOrder 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RefundOrder401Example:
                  summary: Default RefundOrder 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RefundOrder403Example:
                  summary: Default RefundOrder 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Order not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RefundOrder404Example:
                  summary: Default RefundOrder 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Order is not in the correct state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RefundOrder409Example:
                  summary: Default RefundOrder 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RefundOrder500Example:
                  summary: Default RefundOrder 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Refund Order
      description: Refund Order via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{id}/refund).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{id}/reject:
    post:
      tags:
      - Orders
      operationId: RejectOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reject'
            examples:
              RejectOrderRequestExample:
                summary: Default RejectOrder request
                x-microcks-default: true
                value:
                  RejectReason: 0
                  DoNotNotifyCustomer: false
      responses:
        '200':
          description: The order is successfully rejected.
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RejectOrder400Example:
                  summary: Default RejectOrder 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RejectOrder401Example:
                  summary: Default RejectOrder 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RejectOrder403Example:
                  summary: Default RejectOrder 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Order not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RejectOrder404Example:
                  summary: Default RejectOrder 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Order is not in the correct state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RejectOrder409Example:
                  summary: Default RejectOrder 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RejectOrder500Example:
                  summary: Default RejectOrder 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Reject Order
      description: Reject Order via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{id}/reject).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/orders/{id}/dispatch:
    post:
      tags:
      - Orders
      operationId: DispatchOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The id path parameter.
        example: 500123
      responses:
        '200':
          description: The order is successfully dispatched.
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DispatchOrder400Example:
                  summary: Default DispatchOrder 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DispatchOrder401Example:
                  summary: Default DispatchOrder 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DispatchOrder403Example:
                  summary: Default DispatchOrder 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: Order not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DispatchOrder404Example:
                  summary: Default DispatchOrder 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Order is not in the correct state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DispatchOrder409Example:
                  summary: Default DispatchOrder 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DispatchOrder500Example:
                  summary: Default DispatchOrder 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Dispatch Order
      description: Dispatch Order via the Flipdish Open API v1.0 (POST /api/v1.0/orders/{id}/dispatch).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OrderFulfillmentStatus:
      description: Order Fulfillment Status Information
      type: object
      properties:
        OrderId:
          format: int32
          description: Order Id
          type: integer
          example: 500123
        StatusId:
          description: Fulfillment Status Id
          type: string
          example: '500123'
        StatusName:
          description: Fulfillment Status Name
          type: string
          example: Example Name
        Icon:
          description: Status Icon
          type: string
          example: string
    RestApiResult_Order_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/Order'
    RestApiPaginationResult_Order_:
      description: Rest api pagination result
      required:
      - Page
      - Limit
      - TotalRecordCount
      - Data
      type: object
      properties:
        Page:
          format: int32
          description: Current page index
          type: integer
          example: 1
        Limit:
          format: int32
          description: Current page size
          type: integer
          example: 1
        TotalRecordCount:
          format: int32
          description: Total record count
          type: integer
          example: 12.5
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/Order'
          example: []
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    FulfillentStatusActionItem:
      description: Action item for next fulfillment status selector
      type: object
      properties:
        Id:
          description: Status Id
          type: string
          example: '500123'
        Name:
          description: Status Name
          type: string
          example: Example Name
    FeeSummary:
      description: Fee Summary
      type: object
      properties:
        FeeAmount:
          format: double
          description: Fee amount
          type: number
          example: 12.5
        PercentageRate:
          format: double
          description: Percentage rate
          type: number
          example: 1.0
        PerTransactionFee:
          format: double
          description: Per transaction fee
          type: number
          example: 12.5
    CustomerSummary:
      description: Customer summary
      type: object
      properties:
        Id:
          format: int32
          description: Customer identifier
          type: integer
          example: 500123
        Name:
          description: Customer name
          type: string
          example: Example Name
        EmailAddress:
          description: Customer email address
          type: string
          example: owner@example.com
        PhoneNumberLocalFormat:
          description: Customer local phone number
          type: string
          example: '2026-06-02T12:00:00Z'
        PhoneNumber:
          description: Customer phone number
          type: string
          example: '+353000000000'
        LanguagePreference:
          description: Preferred language of the consumer
          type: string
          example: string
    OrderList:
      description: A list of orders.
      type: object
      properties:
        Orders:
          description: A list of orders.
          type: array
          items:
            $ref: '#/components/schemas/OrderReference'
          example: []
    Refund:
      description: Refund
      required:
      - RefundAmount
      - NotifyCustomer
      type: object
      properties:
        RefundReason:
          description: Refund reason
          type: string
          example: string
        RefundAmount:
          format: double
          description: Refund amount
          minimum: 0
          type: number
          example: 12.5
        NotifyCustomer:
          description: If true, the system sends notification to the customer about the refund
          type: boolean
          example: true
      example:
        RefundReason: reason
        RefundAmount: 20
        NotifyCustomer: true
    RestApiResult_OrderFulfillmentStatusWithConfigurationActions_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OrderFulfillmentStatusWithConfigurationActions'
    OrderFulfillmentStatusUpdate:
      description: OrderFulfillmentStatusUpdate.
      type: object
      properties:
        StatusId:
          description: Fulfillment Status Id
          type: string
          example: '500123'
    Order:
      description: Order
      type: object
      properties:
        Store:
          $ref: '#/components/schemas/StoreSummary'
        Customer:
          $ref: '#/components/schemas/CustomerSummary'
        Voucher:
          $ref: '#/components/schemas/OrderVoucherSummary'
        Fees:
          $ref: '#/components/schemas/FeeSummary'
        OrderItems:
          description: Ordered items
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
          example: []
        DeliveryLocation:
          $ref: '#/components/schemas/DeliveryLocation'
        CustomerLocation:
          $ref: '#/components/schemas/Coordinates'
        MaskedPhoneNumber:
          $ref: '#/components/schemas/MaskedPhoneNumber'
        DropOffLocationId:
          format: int32
          description: Represents table service drop off location
          type: integer
          nullable: true
          example: 500123
        DropOffLocation:
          description: Represents table service drop off location
          type: string
          example: string
        AcceptedFor:
          format: date-time
          description: Time store has accepted the order for
          type: string
          nullable: true
          example: '2026-06-02T12:00:00Z'
        InFraudZone:
          description: Was order made within a fraud zone
          type: boolean
          example: true
        UnusualHighValueOrder:
          description: Is order of unusually high value
          type: boolean
          example: true
        RejectedByUserId:
          format: int32
          description: Id of user who rejected order, if available
          type: integer
          nullable: true
          example: 500123
        ChannelOrderId:
          description: ChannelOrderId from external channel
          type: string
          example: '500123'
        ChannelOrderDisplayId:
          description: ChannelOrderDisplayId from external channel
          type: string
          example: '500123'
        Channel:
          $ref: '#/components/schemas/Channel'
        OrderDropOffLocation:
          $ref: '#/components/schemas/OrderDropOffLocation'
        FulfillmentStatus:
          $ref: '#/components/schemas/OrderFulfillmentStatusBase'
        OrderBatchInfo:
          $ref: '#/components/schemas/OrderBatchSummary'
        TaxItems:
          description: A collection of tax items on the order.
          type: array
          items:
            $ref: '#/components/schemas/TaxItem'
          example: []
        CreatedCampaignVoucherId:
          format: int32
          description: The id of the campaign voucher that was created from this order
          type: integer
          nullable: true
          example: 500123
        OrderId:
          format: int32
          description: Order identifier
          type: integer
          example: 500123
        LocalOrderId:
          description: Local order Id. This is used for displaying a "shorter" order ID for customers (eg. Kiosk orders)
          type: string
          example: '500123'
        DeliveryType:
          description: Delivery type
          enum:
          - Delivery
          - Pickup
          type: string
          example: Delivery
        PickupLocationType:
          description: Pickup location type
          enum:
          - TakeOut
          - TableService
          - DineIn
          type: string
          example: TakeOut
        TableServiceCatagory:
          description: Pickup location type
          enum:
          - Generic
          - Villa
          - House
          - Room
          - Area
          - Table
          - ParkingBay
          - Gate
          - DriveThrough
          - Team
          type: string
          nullable: true
          example: Generic
        TipAmount:
          format: double
          description: Tip amount
          type: number
          example: 12.5
        DeliveryAmount:
          format: double
          description: Delivery amount
          type: number
          example: 12.5
        OrderItemsAmount:
          format: double
          description: Ordered items amount
          type: number
          example: 12.5
        ServiceChargeAmount:
          format: double
          description: Service Charge Amount
          type: number
          example: 12.5
        ServiceChargePercentage:
          format: double
          description: Service Charge Percentage
          type: number
          example: 1.0
        Amount:
          format: double
          description: "This is the sum of the OrderItemsAmount, DeliveryAmount, TipAmount and Voucher.Amount (which is usually negative) and OnlineOrderingFee for cash orders.\r\nIt does not include the OnlineOrderingFee in the case of card orders as this fee is charged by Flipdish directly to the customer."
          type: number
          example: 12.5
        ProcessingFee:
          format: double
          description: This contains the online ordering processing fee. For card payments this is charged directly to the customer and for cash orders it is paid by the customer to the store. It is tax inclusive.
          type: number
          example: 12.5
        PaymentAccountType:
          description: Payment account type
          enum:
          - Card
          - Cash
          - Ideal
          - Bancontact
          - Giropay
          - Eps
          - Emv
          - PayPal
          - PayGreen
          - GoogleWalletToken
          type: string
          example: Card
        PaymentAccountDescription:
          description: Payment account description (like Visa ****2371 or Apple Pay. or Cash)
          type: string
          example: string
        OrderState:
          description: Order state
          enum:
          - Created
          - PlacedCanBeCancelled
          - ReadyToProcess
          - AcceptedByRestaurant
          - Dispatched
          - Delivered
          - Cancelled
          - ManualReview
          - RejectedByStore
          - RejectedByFlipdish
          - RejectedAutomatically
          - RejectedAfterBeingAccepted
          - AcceptedAndRefunded
          - PendingPayment
          type: string
          example: Created
        IsPreOrder:
          description: Is pre-order
          type: boolean
          example: true
        PlacedTime:
          format: date-time
          description: Order placed time
          type: string
          example: '2026-06-02T12:00:00Z'
        RequestedForTime:
          format: date-time
          description: Order requested for
          type: string
          example: '2026-06-02T12:00:00Z'
        ChefNote:
          description: Chef note
          type: string
          example: string
        AppType:
          description: Used app type
          enum:
          - Unknown
          - Ios
          - Android
          - Web
          - Kiosk
          - Pos
          - TelephoneCall
          - Sms
          - PwaAndroid
          - PwaIos
          - Google
          type: string
          example: Unknown
        UserRating:
          format: int32
          description: User rating
          type: integer
          nullable: true
          example: 1
        PaymentStatus:
          description: Status of the payment
          enum:
          - Paid
          - Unpaid
          - Refunded
          - PartiallyRefunded
          - Disputed
          type: string
          example: Paid
        RejectionReason:
          description: Rejection reason. Can have value if the order is rejected.
          enum:
          - TooBusy
          - FoodUnavailable
          - UnableToDeliver
          - UnknownAddress
          - UnknownReason
          - TooSoon
          - TimeUnavailable
          - DontDeliverToArea
          - StoreUncontactable
          type: string
          nullable: true
          example: TooBusy
        RefundedAmount:
          format: double
          description: Amount refunded to customer.
          type: number
          nullable: true
          example: 12.5
        DeliveryTrackingStatus:
          description: Delivery tracking status
          enum:
          - Unassigned
          - Unaccepted
          - Accepted
          - Carrying
          - OnTheWay
          - ArrivedAtLocation
          - Delivered
          - CannotDeliver
          type: string
          nullable: true
          example: Unassigned
        DriverId:
          format: int32
          description: Assigned driver identifier
          type: integer
          nullable: true
          example: 500123
        TotalTax:
          format: double
          description: Total tax applied to order
          type: number
          example: 12.5
        OrderTrackingCode:
          description: Unique, 6 character long alpha numeric code for tracking.
          type: string
          example: string
        DeliveryFeeAreaId:
          format: int32
          description: Delivery area identifier
          type: integer
          nullable: true
          example: 500123
        ReceiptCode:
          description: Code used to view the order's receipt
          type: string
          example: string
        TotalDepositReturnFeeAmount:
          format: double
          description: This contains the total deposit return fee amount for the order.
          type: number
          example: 12.5
    OrderReference:
      description: A reference to an order.
      type: object
      properties:
        OrderId:
          format: int32
          description: The ID of the order.
          type: integer
          example: 500123
    OrderItem:
      description: Order item
      type: object
      properties:
        OrderItemOptions:
          description: Option list
          type: array
          items:
            $ref: '#/components/schemas/OrderItemOption'
          example: []
        Metadata:
          description: Metadata
          type: object
          additionalProperties:
            type: string
        MenuItemPublicId:
          format: uuid
          description: Public id of the Menu Item
          type: string
          example: 00000000-0000-0000-0000-000000000000
        MenuSectionName:
          description: Menu section name
          type: string
          example: Example Name
        MenuSectionDisplayOrder:
          format: int32
          description: Menu section display order
          type: integer
          example: 1
        Name:
          description: Name
          type: string
          example: Example Name
        Description:
          description: Description
          type: string
          example: string
        Price:
          format: double
          description: Price
          type: number
          example: 12.5
        TaxAmount:
          format: double
          description: Tax currency amount
          type: number
          example: 12.5
        PriceIncludingOptionSetItems:
          format: double
          description: Price including option set items
          type: number
          example: 12.5
        MenuItemId:
          format: int32
          description: Menu item identifier
          type: integer
          example: 500123
        MenuItemDisplayOrder:
          format: int32
          description: Menu item display order
          type: integer
          example: 1
        IsAvailable:
          description: Is available
          type: boolean
          example: true
        DepositReturnFee:
          format: double
          description: Deposit return fee
          type: number
          nullable: true
          example: 12.5
    RestApiPaginationResult_OrderSummary_:
      description: Rest api pagination result
      required:
      - Page
      - Limit
      - TotalRecordCount
      - Data
      type: object
      properties:
        Page:
          format: int32
          description: Current page index
          type: integer
          example: 1
        Limit:
          format: int32
          description: Current page size
          type: integer
          example: 1
        TotalRecordCount:
          format: int32
          description: Total record count
          type: integer
          example: 12.5
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/OrderSummary'
          example: []
    RestApiResult_OrderDeliveryInformation_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OrderDeliveryInformation'
    Coordinates:
      description: Coordinates
      type: object
      properties:
        Latitude:
          format: double
          description: Latitude
          type: number
          example: 1.0
        Longitude:
          format: double
          description: Longitude
          type: number
          example: 1.0
    StoreSummary:
      description: Store summary
      type: object
      properties:
        Id:
          format: int32
          description: Store identifier
          type: integer
          example: 500123
        Name:
          description: Store name
          type: string
          example: Example Name
        MenuId:
          format: int32
          description: Stores menu identifier
          type: integer
          example: 500123
        MenuPublishId:
          format: uuid
          description: Stores menu publish GUID
          type: string
          example: 00000000-0000-0000-0000-000000000000
        Metadata:
          description: Store metadata
          type: object
          additionalProperties:
            type: string
        Currency:
          description: Currency which used by the Store
          enum:
          - EUR
          - USD
          - GBP
          - CAD
          - AUD
          - DJF
          - ZAR
          - ETB
          - AED
          - BHD
          - DZD
          - EGP
          - IQD
          - JOD
          - KWD
          - LBP
          - LYD
          - MAD
          - OMR
          - QAR
          - SAR
          - SYP
          - TND
          - YER
          - CLP
          - INR
          - AZN
          - RUB
          - BYN
          - BGN
          - NGN
          - BDT
          - CNY
          - BAM
          - CZK
          - DKK
          - CHF
          - MVR
          - BTN
          - XCD
          - BZD
          - HKD
          - IDR
          - JMD
          - MYR
          - NZD
          - PHP
          - SGD
          - TTD
          - XDR
          - ARS
          - BOB
          - COP
          - CRC
          - CUP
          - DOP
          - GTQ
          - HNL
          - MXN
          - NIO
          - PAB
          - PEN
          - PYG
          - UYU
          - VEF
          - IRR
          - XOF
          - CDF
          - XAF
          - HTG
          - ILS
          - HRK
          - HUF
          - AMD
          - ISK
          - JPY
          - GEL
          - KZT
          - KHR
          - KRW
          - KGS
          - LAK
          - MKD
          - MNT
          - BND
          - MMK
          - NOK
          - NPR
          - PKR
          - PLN
          - AFN
          - BRL
          - MDL
          - RON
          - RWF
          - SEK
          - LKR
          - SOS
          - ALL
          - RSD
          - KES
          - TJS
          - THB
          - ERN
          - TMT
          - BWP
          - TRY
          - UAH
          - UZS
          - VND
          - MOP
          - TWD
          - BMD
          type: string
          example: EUR
        Coordinates:
          $ref: '#/components/schemas/Coordinates'
        StoreTimezone:
          description: Timezone of store
          type: string
          example: string
        StoreIanaTimezone:
          description: IANA Timezone of store
          type: string
          example: string
        StoreGroupId:
          format: int32
          description: Store group id of store
          type: integer
          example: 500123
        TaxId:
          description: VAT number or generic Tax ID of the store
          type: string
          example: '500123'
        PrettyAddress:
          description: Address of the store
          type: string
          example: string
        CountryCode:
          description: Country code of the store address (ISO 3166-1 alpha-2)
          type: string
          example: IE
        PropertyId:
          description: Property identifier
          type: string
          example: '500123'
    OrderVoucherSummary:
      description: Voucher summary
      type: object
      properties:
        VoucherId:
          format: int32
          description: Voucher ID
          type: integer
          example: 500123
        Name:
          description: Voucher name
          type: string
          example: Example Name
        Description:
          description: Voucher description
          type: string
          example: string
        Code:
          description: Voucher code
          type: string
          example: string
        Amount:
          format: double
          description: Voucher amount
          type: number
          example: 12.5
        Type:
          description: Voucher type
          enum:
          - PercentageDiscount
          - LumpDiscount
          - AddItem
          - CreditNote
          - FreeDelivery
          type: string
          example: PercentageDiscount
        SubType:
          description: Voucher sub type
          enum:
          - None
          - SignUp
          - Loyalty
          - Loyalty25
          - Retention
          - SecondaryRetention
          - Custom
          type: string
          example: None
    OrderFulfillmentStatusBase:
      description: Fulfillment Status Information
      type: object
      properties:
        StatusId:
          description: Fulfillment Status Id
          type: string
          example: '500123'
        StatusName:
          description: Fulfillment Status Name
          type: string
          example: Example Name
        Icon:
          description: Status Icon
          type: string
          example: string
    DeliveryLocation:
      description: Delivery location
      type: object
      properties:
        Coordinates:
          $ref: '#/components/schemas/Coordinates'
        Building:
          description: Building
          type: string
[...]
