openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts StoreGroups API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: StoreGroups
  description: Operations for Store Groups.
paths:
  /api/v1.0/storegroups/{storeGroupId}:
    get:
      tags:
      - StoreGroups
      operationId: GetStoreGroup
      parameters:
      - name: storeGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store group id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_StoreGroup_'
              examples:
                GetStoreGroup200Example:
                  summary: Default GetStoreGroup 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      StoreGroupId: 500123
                      GeneralRating: 1.0
                      GeneralRatingCount: 3
                      DeliveryMenuMessage: string
                      PickupMenuMessage: string
                      BrandIds:
                      - string
                      Name: Example Name
                      Currency: EUR
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroup400Example:
                  summary: Default GetStoreGroup 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroup401Example:
                  summary: Default GetStoreGroup 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroup403Example:
                  summary: Default GetStoreGroup 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroup404Example:
                  summary: Default GetStoreGroup 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroup500Example:
                  summary: Default GetStoreGroup 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Group
      description: Get Store Group via the Flipdish Open API v1.0 (GET /api/v1.0/storegroups/{storeGroupId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - StoreGroups
      operationId: UpdateStoreGroup
      parameters:
      - name: storeGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store group id path parameter.
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_StoreGroupBase_'
              examples:
                UpdateStoreGroup200Example:
                  summary: Default UpdateStoreGroup 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Name: Example Name
                      Currency: EUR
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStoreGroup400Example:
                  summary: Default UpdateStoreGroup 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStoreGroup401Example:
                  summary: Default UpdateStoreGroup 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStoreGroup403Example:
                  summary: Default UpdateStoreGroup 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStoreGroup404Example:
                  summary: Default UpdateStoreGroup 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStoreGroup500Example:
                  summary: Default UpdateStoreGroup 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Store Group
      description: Update Store Group via the Flipdish Open API v1.0 (POST /api/v1.0/storegroups/{storeGroupId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - StoreGroups
      operationId: RemoveStoreGroup
      parameters:
      - name: storeGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store group id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RemoveStoreGroup400Example:
                  summary: Default RemoveStoreGroup 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RemoveStoreGroup401Example:
                  summary: Default RemoveStoreGroup 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RemoveStoreGroup403Example:
                  summary: Default RemoveStoreGroup 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RemoveStoreGroup404Example:
                  summary: Default RemoveStoreGroup 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                RemoveStoreGroup500Example:
                  summary: Default RemoveStoreGroup 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Remove Store Group
      description: Remove Store Group via the Flipdish Open API v1.0 (DELETE /api/v1.0/storegroups/{storeGroupId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appNameId}/storegroups:
    get:
      tags:
      - StoreGroups
      operationId: GetStoreGroups
      parameters:
      - name: appNameId
        in: path
        required: true
        schema:
          type: string
        description: The app name id path parameter.
        example: '500123'
      - name: searchQuery
        in: query
        required: false
        schema:
          type: string
        description: The search query query parameter.
        example: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_StoreGroup_'
              examples:
                GetStoreGroups200Example:
                  summary: Default GetStoreGroups 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroups400Example:
                  summary: Default GetStoreGroups 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroups401Example:
                  summary: Default GetStoreGroups 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroups403Example:
                  summary: Default GetStoreGroups 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroups500Example:
                  summary: Default GetStoreGroups 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Groups
      description: Get Store Groups via the Flipdish Open API v1.0 (GET /api/v1.0/{appNameId}/storegroups).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - StoreGroups
      operationId: CreateStoreGroup
      parameters:
      - name: appNameId
        in: path
        required: true
        schema:
          type: string
        description: The app name id path parameter.
        example: '500123'
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_StoreGroup_'
              examples:
                CreateStoreGroup200Example:
                  summary: Default CreateStoreGroup 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      StoreGroupId: 500123
                      GeneralRating: 1.0
                      GeneralRatingCount: 3
                      DeliveryMenuMessage: string
                      PickupMenuMessage: string
                      BrandIds:
                      - string
                      Name: Example Name
                      Currency: EUR
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateStoreGroup400Example:
                  summary: Default CreateStoreGroup 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateStoreGroup401Example:
                  summary: Default CreateStoreGroup 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateStoreGroup403Example:
                  summary: Default CreateStoreGroup 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateStoreGroup500Example:
                  summary: Default CreateStoreGroup 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Create Store Group
      description: Create Store Group via the Flipdish Open API v1.0 (POST /api/v1.0/{appNameId}/storegroups).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appNameId}/storegroups/extended:
    get:
      tags:
      - StoreGroups
      operationId: GetStoreGroupsExtended
      parameters:
      - name: appNameId
        in: path
        required: true
        schema:
          type: string
        description: The app name id path parameter.
        example: '500123'
      - name: searchQuery
        in: query
        required: false
        schema:
          type: string
        description: The search query query parameter.
        example: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      - name: groupingRadius
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The grouping radius query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_StoreGroupExtended_'
              examples:
                GetStoreGroupsExtended200Example:
                  summary: Default GetStoreGroupsExtended 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroupsExtended400Example:
                  summary: Default GetStoreGroupsExtended 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroupsExtended401Example:
                  summary: Default GetStoreGroupsExtended 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroupsExtended403Example:
                  summary: Default GetStoreGroupsExtended 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreGroupsExtended500Example:
                  summary: Default GetStoreGroupsExtended 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Groups Extended
      description: Get Store Groups Extended via the Flipdish Open API v1.0 (GET /api/v1.0/{appNameId}/storegroups/extended).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/storegroups/{storeGroupId}/CustomerMessages:
    post:
      tags:
      - StoreGroups
      operationId: SetCustomerMessages
      parameters:
      - name: storeGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store group id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerMessages'
            examples:
              SetCustomerMessagesRequestExample:
                summary: Default SetCustomerMessages request
                x-microcks-default: true
                value:
                  DeliveryMenuMessage: string
                  PickupMenuMessage: string
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerMessages400Example:
                  summary: Default SetCustomerMessages 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerMessages401Example:
                  summary: Default SetCustomerMessages 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerMessages403Example:
                  summary: Default SetCustomerMessages 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerMessages404Example:
                  summary: Default SetCustomerMessages 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerMessages500Example:
                  summary: Default SetCustomerMessages 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Set Customer Messages
      description: Set Customer Messages via the Flipdish Open API v1.0 (POST /api/v1.0/storegroups/{storeGroupId}/CustomerMessages).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/storegroups/{storeGroupId}/assignStores:
    post:
      tags:
      - StoreGroups
      operationId: AssignStoresToStoreGroup
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeGroupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store group id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                format: int32
                type: integer
            examples:
              AssignStoresToStoreGroupRequestExample:
                summary: Default AssignStoresToStoreGroup request
                x-microcks-default: true
                value:
                - 1
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignStoresToStoreGroup400Example:
                  summary: Default AssignStoresToStoreGroup 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignStoresToStoreGroup401Example:
                  summary: Default AssignStoresToStoreGroup 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignStoresToStoreGroup403Example:
                  summary: Default AssignStoresToStoreGroup 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignStoresToStoreGroup404Example:
                  summary: Default AssignStoresToStoreGroup 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AssignStoresToStoreGroup500Example:
                  summary: Default AssignStoresToStoreGroup 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Assign Stores to Store Group
      description: Assign Stores to Store Group via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/storegroups/{storeGroupId}/assignStores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RestApiResult_StoreGroupBase_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/StoreGroupBase'
    CustomerMessages:
      description: Delivery and pickup menu messages for a customer
      type: object
      properties:
        DeliveryMenuMessage:
          description: Delivery menu message
          type: string
          example: string
        PickupMenuMessage:
          description: Pickup menu message
          type: string
          example: string
    GroupedCoordinates:
      description: Describes coordinates that have a group
      type: object
      properties:
        Latitude:
          format: double
          description: Latitude of this coordinate
          type: number
          example: 1.0
        Longitude:
          format: double
          description: Longitude of this coordinate
          type: number
          example: 1.0
        Count:
          format: int32
          description: Count of members in the group
          type: integer
          example: 3
    StoreHeader:
      description: Represents the most basic store information, used mostly for searches
      type: object
      properties:
        StoreId:
          format: int32
          description: Store identifier
          type: integer
          example: 500123
        Name:
          description: Name
          type: string
          example: Example Name
        Category:
          description: Name
          type: string
          example: string
    StoreGroupBase:
      description: Update Store Group
      type: object
      properties:
        Name:
          description: Store Group Name
          type: string
          example: Example Name
        Currency:
          description: Currency used by the stores in this group
          enum:
          - EUR
          - USD
          - GBP
          - CAD
          - AUD
          - DJF
          - ZAR
          - ETB
          - AED
          - BHD
          - DZD
          - EGP
          - IQD
          - JOD
          - KWD
          - LBP
          - LYD
          - MAD
          - OMR
          - QAR
          - SAR
          - SYP
          - TND
          - YER
          - CLP
          - INR
          - AZN
          - RUB
          - BYN
          - BGN
          - NGN
          - BDT
          - CNY
          - BAM
          - CZK
          - DKK
          - CHF
          - MVR
          - BTN
          - XCD
          - BZD
          - HKD
          - IDR
          - JMD
          - MYR
          - NZD
          - PHP
          - SGD
          - TTD
          - XDR
          - ARS
          - BOB
          - COP
          - CRC
          - CUP
          - DOP
          - GTQ
          - HNL
          - MXN
          - NIO
          - PAB
          - PEN
          - PYG
          - UYU
          - VEF
          - IRR
          - XOF
          - CDF
          - XAF
          - HTG
          - ILS
          - HRK
          - HUF
          - AMD
          - ISK
          - JPY
          - GEL
          - KZT
          - KHR
          - KRW
          - KGS
          - LAK
          - MKD
          - MNT
          - BND
          - MMK
          - NOK
          - NPR
          - PKR
          - PLN
          - AFN
          - BRL
          - MDL
          - RON
          - RWF
          - SEK
          - LKR
          - SOS
          - ALL
          - RSD
          - KES
          - TJS
          - THB
          - ERN
          - TMT
          - BWP
          - TRY
          - UAH
          - UZS
          - VND
          - MOP
          - TWD
          - BMD
          type: string
          example: EUR
    StoreGroupExtended:
      description: Store Group Extended
      type: object
      properties:
        TotalStores:
          format: int32
          description: Total Amount of Stores
          type: integer
          example: 12.5
        GroupedCoordinates:
          description: Grouped store coordinates
          type: array
          items:
            $ref: '#/components/schemas/GroupedCoordinates'
          example: []
        StoreHeaders:
          description: Store Headers associated with Store Group
          type: array
          items:
            $ref: '#/components/schemas/StoreHeader'
          example: []
        StoreGroupId:
          format: int32
          description: Unique Store Group Identifier
          type: integer
          example: 500123
        GeneralRating:
          format: double
          description: Store Group rating
          type: number
          nullable: true
          example: 1.0
        GeneralRatingCount:
          format: int32
          description: Store Group rating count
          type: integer
          example: 3
        DeliveryMenuMessage:
          description: Delivery menu message
          type: string
          example: string
        PickupMenuMessage:
          description: Pickup menu message
          type: string
          example: string
        BrandIds:
          description: List of brand ids (AppIds) that are associated with this store group
          type: array
          items:
            type: string
          example:
          - string
        Name:
          description: Store Group Name
          type: string
          example: Example Name
        Currency:
          description: Currency used by the stores in this group
          enum:
          - EUR
          - USD
          - GBP
          - CAD
          - AUD
          - DJF
          - ZAR
          - ETB
          - AED
          - BHD
          - DZD
          - EGP
          - IQD
          - JOD
          - KWD
          - LBP
          - LYD
          - MAD
          - OMR
          - QAR
          - SAR
          - SYP
          - TND
          - YER
          - CLP
          - INR
          - AZN
          - RUB
          - BYN
          - BGN
          - NGN
          - BDT
          - CNY
          - BAM
          - CZK
          - DKK
          - CHF
          - MVR
          - BTN
          - XCD
          - BZD
          - HKD
          - IDR
          - JMD
          - MYR
          - NZD
          - PHP
          - SGD
          - TTD
          - XDR
          - ARS
          - BOB
          - COP
          - CRC
          - CUP
          - DOP
          - GTQ
          - HNL
          - MXN
          - NIO
          - PAB
          - PEN
          - PYG
          - UYU
          - VEF
          - IRR
          - XOF
          - CDF
          - XAF
          - HTG
          - ILS
          - HRK
          - HUF
          - AMD
          - ISK
          - JPY
          - GEL
          - KZT
          - KHR
          - KRW
          - KGS
          - LAK
          - MKD
          - MNT
          - BND
          - MMK
          - NOK
          - NPR
          - PKR
          - PLN
          - AFN
          - BRL
          - MDL
          - RON
          - RWF
          - SEK
          - LKR
          - SOS
          - ALL
          - RSD
          - KES
          - TJS
          - THB
          - ERN
          - TMT
          - BWP
          - TRY
          - UAH
          - UZS
          - VND
          - MOP
          - TWD
          - BMD
          type: string
          example: EUR
    RestApiPaginationResult_StoreGroupExtended_:
      description: Rest api pagination result
      required:
      - Page
      - Limit
      - TotalRecordCount
      - Data
      type: object
      properties:
        Page:
          format: int32
          description: Current page index
          type: integer
          example: 1
        Limit:
          format: int32
          description: Current page size
          type: integer
          example: 1
        TotalRecordCount:
          format: int32
          description: Total record count
          type: integer
          example: 12.5
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/StoreGroupExtended'
          example: []
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    StoreGroup:
      description: Store Group
      type: object
      properties:
        StoreGroupId:
          format: int32
          description: Unique Store Group Identifier
          type: integer
          example: 500123
        GeneralRating:
          format: double
          description: Store Group rating
          type: number
          nullable: true
          example: 1.0
        GeneralRatingCount:
          format: int32
          description: Store Group rating count
          type: integer
          example: 3
        DeliveryMenuMessage:
          description: Delivery menu message
          type: string
          example: string
        PickupMenuMessage:
          description: Pickup menu message
          type: string
          example: string
        BrandIds:
          description: List of brand ids (AppIds) that are associated with this store group
          type: array
          items:
            type: string
          example:
          - string
        Name:
          description: Store Group Name
          type: string
          example: Example Name
        Currency:
          description: Currency used by the stores in this group
          enum:
          - EUR
          - USD
          - GBP
          - CAD
          - AUD
          - DJF
          - ZAR
          - ETB
          - AED
          - BHD
          - DZD
          - EGP
          - IQD
          - JOD
          - KWD
          - LBP
          - LYD
          - MAD
          - OMR
          - QAR
          - SAR
          - SYP
          - TND
          - YER
          - CLP
          - INR
          - AZN
          - RUB
          - BYN
          - BGN
          - NGN
          - BDT
          - CNY
          - BAM
          - CZK
          - DKK
          - CHF
          - MVR
          - BTN
          - XCD
          - BZD
          - HKD
          - IDR
          - JMD
          - MYR
          - NZD
          - PHP
          - SGD
          - TTD
          - XDR
          - ARS
          - BOB
          - COP
          - CRC
          - CUP
          - DOP
          - GTQ
          - HNL
          - MXN
          - NIO
          - PAB
          - PEN
          - PYG
          - UYU
          - VEF
          - IRR
          - XOF
          - CDF
          - XAF
          - HTG
          - ILS
          - HRK
          - HUF
          - AMD
          - ISK
          - JPY
          - GEL
          - KZT
          - KHR
          - KRW
          - KGS
          - LAK
          - MKD
          - MNT
          - BND
          - MMK
          - NOK
          - NPR
          - PKR
          - PLN
          - AFN
          - BRL
          - MDL
          - RON
          - RWF
          - SEK
          - LKR
          - SOS
          - ALL
          - RSD
          - KES
          - TJS
          - THB
          - ERN
          - TMT
          - BWP
          - TRY
          - UAH
          - UZS
          - VND
          - MOP
          - TWD
          - BMD
          type: string
          example: EUR
    RestApiPaginationResult_StoreGroup_:
      description: Rest api pagination result
      required:
      - Page
      - Limit
      - TotalRecordCount
      - Data
      type: object
      properties:
        Page:
          format: int32
          description: Current page index
          type: integer
          example: 1
        Limit:
          format: int32
          description: Current page size
          type: integer
          example: 1
        TotalRecordCount:
          format: int32
          description: Total record count
          type: integer
          example: 12.5
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/StoreGroup'
          example: []
    RestApiResult_StoreGroup_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/StoreGroup'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
