openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts SmsProviderCredentials API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: SmsProviderCredentials
  description: Operations for Sms Provider Credentials.
paths:
  /api/v1.0/sms-providers/orgs/{orgId}/brands/{brandId}/provider-credentials:
    get:
      tags:
      - SmsProviderCredentials
      operationId: GetBrandSmsProviderCredentials
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        description: The org id path parameter.
        example: '500123'
      - name: brandId
        in: path
        required: true
        schema:
          type: string
        description: The brand id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_SmsProviderCredential_'
              examples:
                GetBrandSmsProviderCredentials200Example:
                  summary: Default GetBrandSmsProviderCredentials 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentials400Example:
                  summary: Default GetBrandSmsProviderCredentials 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentials401Example:
                  summary: Default GetBrandSmsProviderCredentials 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentials403Example:
                  summary: Default GetBrandSmsProviderCredentials 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentials500Example:
                  summary: Default GetBrandSmsProviderCredentials 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Brand Sms Provider Credentials
      description: Get Brand Sms Provider Credentials via the Flipdish Open API v1.0 (GET /api/v1.0/sms-providers/orgs/{orgId}/brands/{brandId}/provider-credentials).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/sms-providers/orgs/{orgId}/brands/{brandId}/provider-credentials/{serviceType}:
    get:
      tags:
      - SmsProviderCredentials
      operationId: GetBrandSmsProviderCredentialByServiceType
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        description: The org id path parameter.
        example: '500123'
      - name: brandId
        in: path
        required: true
        schema:
          type: string
        description: The brand id path parameter.
        example: '500123'
      - name: serviceType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Nexmo
          - Twilio
          - Default
          - MessageBird
        description: The service type path parameter.
        example: Nexmo
      - name: withFallback
        in: query
        required: false
        schema:
          type: boolean
        description: The with fallback query parameter.
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_SmsProviderCredential_'
              examples:
                GetBrandSmsProviderCredentialByServiceType200Example:
                  summary: Default GetBrandSmsProviderCredentialByServiceType 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OrgId: '500123'
                      BrandId: '500123'
                      SmsServiceType: Nexmo
                      SenderId: '500123'
                      Username: Example Name
                      AuthToken: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentialByServiceType400Example:
                  summary: Default GetBrandSmsProviderCredentialByServiceType 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentialByServiceType401Example:
                  summary: Default GetBrandSmsProviderCredentialByServiceType 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentialByServiceType403Example:
                  summary: Default GetBrandSmsProviderCredentialByServiceType 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBrandSmsProviderCredentialByServiceType500Example:
                  summary: Default GetBrandSmsProviderCredentialByServiceType 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Brand Sms Provider Credential by Service Type
      description: Get Brand Sms Provider Credential by Service Type via the Flipdish Open API v1.0 (GET /api/v1.0/sms-providers/orgs/{orgId}/brands/{brandId}/provider-credentials/{serviceType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - SmsProviderCredentials
      operationId: SmsProviderCredentialUpdate
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        description: The org id path parameter.
        example: '500123'
      - name: brandId
        in: path
        required: true
        schema:
          type: string
        description: The brand id path parameter.
        example: '500123'
      - name: serviceType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Nexmo
          - Twilio
          - Default
          - MessageBird
        description: The service type path parameter.
        example: Nexmo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsProviderCredentialUpdateRequest'
            examples:
              SmsProviderCredentialUpdateRequestExample:
                summary: Default SmsProviderCredentialUpdate request
                x-microcks-default: true
                value:
                  SenderId: '500123'
                  Username: Example Name
                  AuthToken: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_SmsProviderCredential_'
              examples:
                SmsProviderCredentialUpdate200Example:
                  summary: Default SmsProviderCredentialUpdate 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OrgId: '500123'
                      BrandId: '500123'
                      SmsServiceType: Nexmo
                      SenderId: '500123'
                      Username: Example Name
                      AuthToken: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialUpdate400Example:
                  summary: Default SmsProviderCredentialUpdate 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialUpdate401Example:
                  summary: Default SmsProviderCredentialUpdate 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialUpdate403Example:
                  summary: Default SmsProviderCredentialUpdate 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialUpdate500Example:
                  summary: Default SmsProviderCredentialUpdate 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Sms Provider Credential Update
      description: Sms Provider Credential Update via the Flipdish Open API v1.0 (POST /api/v1.0/sms-providers/orgs/{orgId}/brands/{brandId}/provider-credentials/{serviceType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - SmsProviderCredentials
      operationId: SmsProviderCredentialDelete
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        description: The org id path parameter.
        example: '500123'
      - name: brandId
        in: path
        required: true
        schema:
          type: string
        description: The brand id path parameter.
        example: '500123'
      - name: serviceType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Nexmo
          - Twilio
          - Default
          - MessageBird
        description: The service type path parameter.
        example: Nexmo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_SmsProviderCredential_'
              examples:
                SmsProviderCredentialDelete200Example:
                  summary: Default SmsProviderCredentialDelete 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OrgId: '500123'
                      BrandId: '500123'
                      SmsServiceType: Nexmo
                      SenderId: '500123'
                      Username: Example Name
                      AuthToken: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialDelete400Example:
                  summary: Default SmsProviderCredentialDelete 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialDelete401Example:
                  summary: Default SmsProviderCredentialDelete 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialDelete403Example:
                  summary: Default SmsProviderCredentialDelete 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialDelete500Example:
                  summary: Default SmsProviderCredentialDelete 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Sms Provider Credential Delete
      description: Sms Provider Credential Delete via the Flipdish Open API v1.0 (DELETE /api/v1.0/sms-providers/orgs/{orgId}/brands/{brandId}/provider-credentials/{serviceType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/sms-providers/bulk-upsert:
    post:
      tags:
      - SmsProviderCredentials
      operationId: SmsProviderCredentialsBulkUpsert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SmsProviderCredential'
            examples:
              SmsProviderCredentialsBulkUpsertRequestExample:
                summary: Default SmsProviderCredentialsBulkUpsert request
                x-microcks-default: true
                value:
                - OrgId: '500123'
                  BrandId: '500123'
                  SmsServiceType: Nexmo
                  SenderId: '500123'
                  Username: Example Name
                  AuthToken: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_SmsProviderCredential_'
              examples:
                SmsProviderCredentialsBulkUpsert200Example:
                  summary: Default SmsProviderCredentialsBulkUpsert 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialsBulkUpsert400Example:
                  summary: Default SmsProviderCredentialsBulkUpsert 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialsBulkUpsert401Example:
                  summary: Default SmsProviderCredentialsBulkUpsert 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialsBulkUpsert403Example:
                  summary: Default SmsProviderCredentialsBulkUpsert 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SmsProviderCredentialsBulkUpsert500Example:
                  summary: Default SmsProviderCredentialsBulkUpsert 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Sms Provider Credentials Bulk Upsert
      description: Sms Provider Credentials Bulk Upsert via the Flipdish Open API v1.0 (POST /api/v1.0/sms-providers/bulk-upsert).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SmsProviderCredential:
      description: SmsProviderCredential.
      type: object
      properties:
        OrgId:
          description: OrgId.
          type: string
          example: '500123'
        BrandId:
          description: BrandId.
          type: string
          example: '500123'
        SmsServiceType:
          description: SmsServiceType.
          enum:
          - Nexmo
          - Twilio
          - Default
          - MessageBird
          type: string
          example: Nexmo
        SenderId:
          description: SenderId.
          type: string
          example: '500123'
        Username:
          description: Username.
          type: string
          example: Example Name
        AuthToken:
          description: AuthToken.
          type: string
          example: string
    RestApiResult_SmsProviderCredential_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/SmsProviderCredential'
    SmsProviderCredentialUpdateRequest:
      description: SmsProviderCredentialUpdateRequest.
      type: object
      properties:
        SenderId:
          description: SenderId.
          type: string
          example: '500123'
        Username:
          description: Username.
          type: string
          example: Example Name
        AuthToken:
          description: AuthToken.
          type: string
          example: string
    RestApiArrayResult_SmsProviderCredential_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/SmsProviderCredential'
          example: []
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
