openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Heartbeat API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Heartbeat
  description: Operations for Heartbeat.
paths:
  /api/v1.0/heartbeat:
    get:
      tags:
      - Heartbeat
      operationId: Ping
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                Ping200Example:
                  summary: Default Ping 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Ping400Example:
                  summary: Default Ping 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Ping401Example:
                  summary: Default Ping 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Ping403Example:
                  summary: Default Ping 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Ping500Example:
                  summary: Default Ping 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Ping
      description: Ping via the Flipdish Open API v1.0 (GET /api/v1.0/heartbeat).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    head:
      tags:
      - Heartbeat
      operationId: HeadPing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
            Data:
              examples:
                response:
                  value: foobar
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
      security:
      - oauth2:
        - api
  /api/v1.0/heartbeat/Hostname:
    get:
      tags:
      - Heartbeat
      operationId: Hostname
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Hostname200Example:
                  summary: Default Hostname 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hostname400Example:
                  summary: Default Hostname 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hostname401Example:
                  summary: Default Hostname 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hostname403Example:
                  summary: Default Hostname 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Hostname500Example:
                  summary: Default Hostname 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Hostname
      description: Hostname via the Flipdish Open API v1.0 (GET /api/v1.0/heartbeat/Hostname).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    head:
      tags:
      - Heartbeat
      operationId: HeadHostname
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiErrorResult'
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiUnauthorizedResult'
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/RestApiForbiddenResult'
      security:
      - oauth2:
        - api
components:
  schemas:
    ValidationErrorResult:
      description: Validation error result
      type: object
      properties:
        FieldName:
          description: Field name
          type: string
          example: Example Name
        Errors:
          description: List of errors relates to field
          type: array
          items:
            type: string
          example:
          - string
    RestApiStringResult:
      description: Rest api string result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Data string
          type: string
          example: string
    RestApiUnauthorizedResult:
      description: Rest api unauthorized result
      required:
      - Message
      type: object
      properties:
        Message:
          description: Message
          type: string
          readOnly: true
          example: string
    RestApiErrorResult:
      description: Rest api error result
      required:
      - Message
      type: object
      properties:
        Message:
          description: Error message
          type: string
          example: string
        ErrorCode:
          format: int32
          description: Error code
          type: integer
          example: 1
        StackTrace:
          description: Stack trace
          type: string
          example: string
        Errors:
          description: List of errors grouped by field name
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorResult'
          example: []
    RestApiForbiddenResult:
      description: Rest Api Forbidden Result
      required:
      - Message
      type: object
      properties:
        Message:
          description: Message
          type: string
          readOnly: true
          example: string
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
