openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts OrderBatches API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: OrderBatches
  description: Operations for Order Batches.
paths:
  /api/v1.0/{appId}/order-batches/{orderBatchId}:
    get:
      tags:
      - OrderBatches
      operationId: GetOrderBatch
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: orderBatchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order batch id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OrderBatch_'
              examples:
                GetOrderBatch200Example:
                  summary: Default GetOrderBatch 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OrderIds:
                      - 1
                      Id: 500123
                      DisplayCode: string
                      CreateTime: '2026-06-02T12:00:00Z'
                      IsPublished: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderBatch400Example:
                  summary: Default GetOrderBatch 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderBatch401Example:
                  summary: Default GetOrderBatch 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderBatch403Example:
                  summary: Default GetOrderBatch 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderBatch404Example:
                  summary: Default GetOrderBatch 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderBatch500Example:
                  summary: Default GetOrderBatch 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Order Batch
      description: Get Order Batch via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/order-batches/{orderBatchId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/order-batches:
    get:
      tags:
      - OrderBatches
      operationId: GetAllOrderBatches
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The store ids query parameter.
        example:
        - 1
      - name: createdFrom
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The created from query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: createdTo
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The created to query parameter.
        example: '2026-06-02T12:00:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_OrderBatch_'
              examples:
                GetAllOrderBatches200Example:
                  summary: Default GetAllOrderBatches 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllOrderBatches400Example:
                  summary: Default GetAllOrderBatches 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllOrderBatches401Example:
                  summary: Default GetAllOrderBatches 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllOrderBatches403Example:
                  summary: Default GetAllOrderBatches 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllOrderBatches500Example:
                  summary: Default GetAllOrderBatches 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get All Order Batches
      description: Get All Order Batches via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/order-batches).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OrderBatch:
      description: Order batch detailed information
      type: object
      properties:
        OrderIds:
          description: Orders' ids on the batch
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
        Id:
          format: int32
          description: Order batch id
          type: integer
          example: 500123
        DisplayCode:
          description: Order batch 6-sign human readable code
          type: string
          example: string
        CreateTime:
          format: date-time
          description: Batch creation date and time
          type: string
          example: '2026-06-02T12:00:00Z'
        IsPublished:
          description: If the batch is already published
          type: boolean
          example: true
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    RestApiResult_OrderBatch_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OrderBatch'
    RestApiArrayResult_OrderBatch_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/OrderBatch'
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
