openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts CrossSell API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: CrossSell
  description: Operations for Cross Sell.
paths:
  /api/v1.0/{appId}/crossSell/menuItems:
    get:
      tags:
      - CrossSell
      operationId: GetCrossSellMenuItems
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: menuId
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: The menu id query parameter.
        example: 500123
      - name: menuItemId
        in: query
        required: true
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The menu item id query parameter.
        example:
        - 500123
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      - name: totalValue
        in: query
        required: true
        schema:
          type: number
          format: double
        description: The total value query parameter.
        example: 12.5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_CrossSellMenuItems_'
              examples:
                GetCrossSellMenuItems200Example:
                  summary: Default GetCrossSellMenuItems 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuItemIds:
                      - 1
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCrossSellMenuItems400Example:
                  summary: Default GetCrossSellMenuItems 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCrossSellMenuItems401Example:
                  summary: Default GetCrossSellMenuItems 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCrossSellMenuItems403Example:
                  summary: Default GetCrossSellMenuItems 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCrossSellMenuItems500Example:
                  summary: Default GetCrossSellMenuItems 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Cross Sell Menu Items
      description: Get Cross Sell Menu Items via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/crossSell/menuItems).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RestApiResult_CrossSellMenuItems_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/CrossSellMenuItems'
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    CrossSellMenuItems:
      description: Menu Items for Cross-Sell
      type: object
      properties:
        MenuItemIds:
          description: Menu Item Id's
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
