openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts MenuSections API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: MenuSections
  description: Operations for Menu Sections.
paths:
  /api/v1.0/menus/{menuId}/sections:
    get:
      tags:
      - MenuSections
      summary: Flipdish Get Menu Sections
      operationId: GetMenuSections
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_MenuSection_'
              examples:
                GetMenuSections200Example:
                  summary: Default GetMenuSections 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSections400Example:
                  summary: Default GetMenuSections 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSections401Example:
                  summary: Default GetMenuSections 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSections403Example:
                  summary: Default GetMenuSections 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSections500Example:
                  summary: Default GetMenuSections 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Sections via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/sections).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - MenuSections
      summary: Flipdish Create Menu Section
      operationId: CreateMenuSection
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuSectionBase'
            examples:
              CreateMenuSectionRequestExample:
                summary: Default CreateMenuSection request
                x-microcks-default: true
                value:
                  Name: Example Name
                  Description: string
                  DisplayOrder: 1
                  IsAvailable: true
                  IsHiddenFromCustomers: true
                  ImageUrl: https://api.flipdish.co/example
                  MenuSectionId: 500123
                  PublicId: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateMenuSection200Example:
                  summary: Default CreateMenuSection 200 response
                  x-microcks-default: true
                  value: {}
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_MenuSection_'
              examples:
                CreateMenuSection201Example:
                  summary: Default CreateMenuSection 201 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuSectionId: 500123
                      MenuItems: []
                      MenuSectionAvailability:
                        AvailableTimes: []
                        AvailabilityMode: DisplayAlways
                      PublicId: 00000000-0000-0000-0000-000000000000
                      ImageName: Example Name
                      Name: Example Name
                      Description: string
                      DisplayOrder: 1
                      IsAvailable: true
                      IsHiddenFromCustomers: true
                      ImageUrl: https://api.flipdish.co/example
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSection400Example:
                  summary: Default CreateMenuSection 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSection401Example:
                  summary: Default CreateMenuSection 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSection403Example:
                  summary: Default CreateMenuSection 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSection500Example:
                  summary: Default CreateMenuSection 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Create Menu Section via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/sections/{menuSectionId}:
    get:
      tags:
      - MenuSections
      summary: Flipdish Get Menu Section by Id
      operationId: GetMenuSectionById
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_MenuSection_'
              examples:
                GetMenuSectionById200Example:
                  summary: Default GetMenuSectionById 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuSectionId: 500123
                      MenuItems: []
                      MenuSectionAvailability:
                        AvailableTimes: []
                        AvailabilityMode: DisplayAlways
                      PublicId: 00000000-0000-0000-0000-000000000000
                      ImageName: Example Name
                      Name: Example Name
                      Description: string
                      DisplayOrder: 1
                      IsAvailable: true
                      IsHiddenFromCustomers: true
                      ImageUrl: https://api.flipdish.co/example
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSectionById400Example:
                  summary: Default GetMenuSectionById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSectionById401Example:
                  summary: Default GetMenuSectionById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSectionById403Example:
                  summary: Default GetMenuSectionById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSectionById404Example:
                  summary: Default GetMenuSectionById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuSectionById500Example:
                  summary: Default GetMenuSectionById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Section by Id via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/sections/{menuSectionId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - MenuSections
      summary: Flipdish Update Menu Section
      operationId: UpdateMenuSection
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: undoAfter
        in: query
        description: An optional time period, in hours, after which the hide-section operation will be undone.
        required: false
        schema:
          type: number
          format: double
        example: 1.0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuSectionBase'
            examples:
              UpdateMenuSectionRequestExample:
                summary: Default UpdateMenuSection request
                x-microcks-default: true
                value:
                  Name: Example Name
                  Description: string
                  DisplayOrder: 1
                  IsAvailable: true
                  IsHiddenFromCustomers: true
                  ImageUrl: https://api.flipdish.co/example
                  MenuSectionId: 500123
                  PublicId: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenuSection400Example:
                  summary: Default UpdateMenuSection 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenuSection401Example:
                  summary: Default UpdateMenuSection 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenuSection403Example:
                  summary: Default UpdateMenuSection 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenuSection404Example:
                  summary: Default UpdateMenuSection 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenuSection500Example:
                  summary: Default UpdateMenuSection 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Update Menu Section via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - MenuSections
      summary: Flipdish Delete Menu Section
      operationId: DeleteMenuSection
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSection400Example:
                  summary: Default DeleteMenuSection 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSection401Example:
                  summary: Default DeleteMenuSection 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSection403Example:
                  summary: Default DeleteMenuSection 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSection404Example:
                  summary: Default DeleteMenuSection 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSection500Example:
                  summary: Default DeleteMenuSection 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Delete Menu Section via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/sections/{menuSectionId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/sections/{menuSectionId}/clone:
    post:
      tags:
      - MenuSections
      summary: Flipdish Clone Menu Section
      operationId: CloneMenuSection
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_MenuSection_'
              examples:
                CloneMenuSection200Example:
                  summary: Default CloneMenuSection 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuSectionId: 500123
                      MenuItems: []
                      MenuSectionAvailability:
                        AvailableTimes: []
                        AvailabilityMode: DisplayAlways
                      PublicId: 00000000-0000-0000-0000-000000000000
                      ImageName: Example Name
                      Name: Example Name
                      Description: string
                      DisplayOrder: 1
                      IsAvailable: true
                      IsHiddenFromCustomers: true
                      ImageUrl: https://api.flipdish.co/example
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CloneMenuSection400Example:
                  summary: Default CloneMenuSection 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CloneMenuSection401Example:
                  summary: Default CloneMenuSection 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CloneMenuSection403Example:
                  summary: Default CloneMenuSection 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CloneMenuSection404Example:
                  summary: Default CloneMenuSection 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CloneMenuSection500Example:
                  summary: Default CloneMenuSection 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Clone Menu Section via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/clone).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/sections/{menuSectionId}/image:
    post:
      tags:
      - MenuSections
      summary: Flipdish Upload Menu Section Image
      operationId: UploadMenuSectionImage
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Image:
                  description: Menu section image
                  type: string
                  format: binary
              required:
              - Image
            examples:
              UploadMenuSectionImageRequestExample:
                summary: Default UploadMenuSectionImage request
                x-microcks-default: true
                value:
                  Image: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                UploadMenuSectionImage200Example:
                  summary: Default UploadMenuSectionImage 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuSectionImage400Example:
                  summary: Default UploadMenuSectionImage 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuSectionImage401Example:
                  summary: Default UploadMenuSectionImage 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuSectionImage403Example:
                  summary: Default UploadMenuSectionImage 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuSectionImage404Example:
                  summary: Default UploadMenuSectionImage 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuSectionImage500Example:
                  summary: Default UploadMenuSectionImage 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Upload Menu Section Image via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/image).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - MenuSections
      summary: Flipdish Delete Menu Section Image
      operationId: DeleteMenuSectionImage
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSectionImage400Example:
                  summary: Default DeleteMenuSectionImage 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSectionImage401Example:
                  summary: Default DeleteMenuSectionImage 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSectionImage403Example:
                  summary: Default DeleteMenuSectionImage 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSectionImage404Example:
                  summary: Default DeleteMenuSectionImage 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuSectionImage500Example:
                  summary: Default DeleteMenuSectionImage 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Delete Menu Section Image via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/sections/{menuSectionId}/image).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/sections/{menuSectionId}/availability:
    post:
      tags:
      - MenuSections
      summary: Flipdish Create Menu Section Availability
      operationId: CreateMenuSectionAvailability
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuSectionAvailabilityBase'
            examples:
              CreateMenuSectionAvailabilityRequestExample:
                summary: Default CreateMenuSectionAvailability request
                x-microcks-default: true
                value:
                  AvailabilityMode: DisplayAlways
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateMenuSectionAvailability200Example:
                  summary: Default CreateMenuSectionAvailability 200 response
                  x-microcks-default: true
                  value: {}
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_MenuSectionAvailability_'
              examples:
                CreateMenuSectionAvailability201Example:
                  summary: Default CreateMenuSectionAvailability 201 response
                  x-microcks-default: true
                  value:
                    Data:
                      AvailableTimes: []
                      AvailabilityMode: DisplayAlways
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSectionAvailability400Example:
                  summary: Default CreateMenuSectionAvailability 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSectionAvailability401Example:
                  summary: Default CreateMenuSectionAvailability 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSectionAvailability403Example:
                  summary: Default CreateMenuSectionAvailability 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuSectionAvailability500Example:
                  summary: Default CreateMenuSectionAvailability 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Create Menu Section Availability via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/availability).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitemdisplayorders:
    post:
      tags:
      - MenuSections
      summary: Flipdish Menu Sections_Set Item Display Orders
      operationId: MenuSections_SetItemDisplayOrders
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuObjectDisplayOrders'
            examples:
              MenuSections_SetItemDisplayOrdersRequestExample:
                summary: Default MenuSections_SetItemDisplayOrders request
                x-microcks-default: true
                value:
                  DisplayOrders: []
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MenuSections_SetItemDisplayOrders400Example:
                  summary: Default MenuSections_SetItemDisplayOrders 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MenuSections_SetItemDisplayOrders401Example:
                  summary: Default MenuSections_SetItemDisplayOrders 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MenuSections_SetItemDisplayOrders403Example:
                  summary: Default MenuSections_SetItemDisplayOrders 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MenuSections_SetItemDisplayOrders500Example:
                  summary: Default MenuSections_SetItemDisplayOrders 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Menu Sections_Set Item Display Orders via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/sectionitemdisplayorders).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/sections/{menuSectionId}/availability/times/{dayOfWeek}:
    post:
      tags:
      - MenuSections
      summary: Flipdish Create Menu Availability for Day
      operationId: CreateMenuAvailabilityForDay
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuSectionId
        in: path
        description: Menu section identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: dayOfWeek
        in: path
        description: Day of the  week
        required: true
        schema:
          type: string
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
        example: Sunday
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursPeriodBase'
            examples:
              CreateMenuAvailabilityForDayRequestExample:
                summary: Default CreateMenuAvailabilityForDay request
                x-microcks-default: true
                value:
                  DayOfWeek: Sunday
                  StartTime: '2026-06-02T12:00:00Z'
                  Period: string
                  StartTimeEarly: string
                  PeriodEarly: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                CreateMenuAvailabilityForDay200Example:
                  summary: Default CreateMenuAvailabilityForDay 200 response
                  x-microcks-default: true
                  value: {}
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_BusinessHoursPeriod_'
              examples:
                CreateMenuAvailabilityForDay201Example:
                  summary: Default CreateMenuAvailabilityForDay 201 response
                  x-microcks-default: true
                  value:
                    Data:
                      Early:
                        StartTime: '2026-06-02T12:00:00Z'
                        Period: string
                        DayOfWeek: Sunday
                      Late:
                        StartTime: '2026-06-02T12:00:00Z'
                        Period: string
                        DayOfWeek: Sunday
                      Ranges: []
                      DayOfWeek: Sunday
                      StartTime: '2026-06-02T12:00:00Z'
                      Period: string
                      StartTimeEarly: string
                      PeriodEarly: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuAvailabilityForDay400Example:
                  summary: Default CreateMenuAvailabilityForDay 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuAvailabilityForDay401Example:
                  summary: Default CreateMenuAvailabilityForDay 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuAvailabilityForDay403Example:
                  summary: Default CreateMenuAvailabilityForDay 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateMenuAvailabilityForDay500Example:
                  summary: Default CreateMenuAvailabilityForDay 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Create Menu Availability for Day via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/sections/{menuSectionId}/availability/times/{dayOfWeek}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MenuSectionItem:
      description: Menu item
      type: object
      properties:
        ActualPrice:
          format: double
          description: Actual price - the minimum price possible when all required option set items prices are included.
          type: number
          example: 12.5
        MenuItemOptionSets:
          description: Menu item option sets
          type: array
          items:
            $ref: '#/components/schemas/MenuItemOptionSet'
          example: []
        DailySpecialHours:
          description: Daily special hours
          type: array
          items:
            $ref: '#/components/schemas/BusinessHoursPeriod'
          example: []
        PublicId:
          format: uuid
          description: Permanent reference to the item.
          type: string
          example: 00000000-0000-0000-0000-000000000000
        TaxRateName:
          description: Tax rate name
          type: string
          example: Example Name
        TaxRateId:
          format: int32
          description: TaxRate
          type: integer
          nullable: true
          example: 500123
        TaxValue:
          format: double
          description: TaxValue - the tax associated with this item, based on TaxRate / TaxType and Currency (currency determines decimal point precision)
          type: number
          example: 1.0
        ExcludeFromVoucherDiscounting:
          description: If true, the item is excluded from voucher discount calculations
          type: boolean
          example: true
        Metadata:
          description: List of metadata
          type: array
          items:
            $ref: '#/components/schemas/CreateMetadata'
          example: []
        CatalogItemId:
          description: Catalog item Id when the Item is associated to a Product
          type: string
          example: '500123'
        Name:
          description: Menu item name (like "Korma")
          maxLength: 4000
          minLength: 0
          type: string
          example: Example Name
        Description:
          description: Description (like "A lovely dish from the east")
          maxLength: 4000
          minLength: 0
          type: string
          example: string
        SpicinessRating:
          description: Spiciness rating
          enum:
          - NotRated
          - Mild
          - Medium
          - Hot
          type: string
          example: NotRated
        Price:
          format: double
          description: Price - this is only used when there is no master option set and should be set to 0 if a master option set exists.
          type: number
          example: 12.5
        DepositReturnFee:
          format: double
          description: An optional fee that can be added to the price of the item.
          type: number
          nullable: true
          example: 12.5
        DisplayOrder:
          format: int32
          description: Display order
          type: integer
          example: 1
        Alcohol:
          description: To be set true if the item or an option of the item contains an alcoholic drink.
          type: boolean
          example: true
        IsAvailable:
          description: True if we accept orders for this item still
          type: boolean
          example: true
        CellLayoutType:
          description: "Small | Medium | Large\r\nAffects the layout of the menu."
          enum:
          - Small
          - Medium
          - Large
          - HiddenImage
          type: string
          example: Small
        DisableVouchers:
          description: If true, then vouchers won't be applied for this item
          type: boolean
          example: true
        ImageName:
          description: Image url
          type: string
          example: Example Name
        ImageUrl:
          description: Image url
          type: string
          example: https://api.flipdish.co/example
        MenuItemId:
          format: int32
          description: Menu Item Id
          type: integer
          example: 500123
    RestApiStringResult:
      description: Rest api string result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Data string
          type: string
          example: string
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    RestApiResult_MenuSection_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/MenuSection'
    RestApiResult_MenuSectionAvailability_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/MenuSectionAvailability'
    MenuItemOptionSetItem:
      description: Menu item option set item
      type: object
      properties:
        MenuItemOptionSetItemId:
          format: int32
          description: Menu item option set item identifier
          type: integer
          example: 500123
        PublicId:
          format: uuid
          description: Permanent reference to the item.
          type: string
          example: 00000000-0000-0000-0000-000000000000
        Metadata:
          description: List of metadata
          type: array
          items:
            $ref: '#/components/schemas/CreateMetadata'
          example: []
        NextMenuItemOptionSetId:
          format: int32
          description: if null, next option set is next. if -1, this is the final option set
          type: integer
          nullable: true
          example: 500123
        CatalogItemId:
          description: Catalog item Id when the OptionSet is associated to a Product
          type: string
          example: '500123'
        TaxRateName:
          description: Tax rate name
          type: string
          example: Example Name
        TaxRateId:
          format: int32
          description: TaxRateId.
          type: integer
          nullable: true
          example: 500123
        TaxValue:
          format: double
          description: TaxValue.
          type: number
          example: 1.0
        Name:
          description: Name
          type: string
          example: Example Name
        Price:
          format: double
          description: Price
          type: number
          example: 12.5
        DepositReturnFee:
          format: double
          description: An optional fee that can be added to the price of the item.
          type: number
          nullable: true
          example: 12.5
        IsAvailable:
          description: Is available
          type: boolean
          example: true
        DisplayOrder:
          format: int32
          description: Display order. Displayed in ascending order.
          type: integer
          example: 1
        CellLayoutType:
          description: "Small | Medium | Large\r\nAffects the layout of the menu."
          enum:
          - Small
          - Medium
          - Large
          - HiddenImage
          type: string
          example: Small
        ImageUrl:
          description: Image url
          type: string
          example: https://api.flipdish.co/example
    MenuSectionBase:
      description: Menu section
      type: object
      properties:
        Name:
          description: Name
          maxLength: 4000
          minLength: 0
          type: string
          example: Example Name
        Description:
          description: Description
          maxLength: 4000
          minLength: 0
          type: string
          example: string
        DisplayOrder:
          format: int32
          description: Display order
          type: integer
          example: 1
        IsAvailable:
          description: Is available
          type: boolean
          example: true
        IsHiddenFromCustomers:
          description: Is hidden from customer. Perhaps when the item is out of stock.
          type: boolean
          example: true
        ImageUrl:
          description: Image url
          type: string
          example: https://api.flipdish.co/example
        MenuSectionId:
          format: int32
          description: Menu Section Id
          type: integer
          example: 500123
        PublicId:
          format: uuid
          description: Permanent reference to the item.
          type: string
          example: 00000000-0000-0000-0000-000000000000
    MenuSection:
      description: Menu section
      type: object
      properties:
        MenuSectionId:
          format: int32
          description: Menu section identifier
          type: integer
          example: 500123
        MenuItems:
          description: Menu items
          type: array
          items:
            $ref: '#/components/schemas/MenuSectionItem'
          example: []
        MenuSectionAvailability:
          $ref: '#/components/schemas/MenuSectionAvailability'
        PublicId:
          format: uuid
          description: Permanent reference to the item.
          type: string
          example: 00000000-0000-0000-0000-000000000000
        ImageName:
          description: Image Name
          type: string
          example: Example Name
        Name:
          description: Name
          maxLength: 4000
          minLength: 0
          type: string
          example: Example Name
        Description:
          description: Description
          maxLength: 4000
          minLength: 0
          type: string
          example: string
        DisplayOrder:
          format: int32
          description: Display order
          type: integer
          example: 1
        IsAvailable:
          description: Is available
          type: boolean
          example: true
        IsHiddenFromCustomers:
          description: Is hidden from customer. Perhaps when the item is out of stock.
          type: boolean
          example: true
        ImageUrl:
          description: Image url
          type: string
          example: https://api.flipdish.co/example
    Range:
      description: "A class that represents a single opening period in a day.\r\nThis starts 'StartTime' after midnight and runs for a 'Period'\r\nafter that, on the given DayOfWeek."
      type: object
      properties:
        StartTime:
          description: Start time
          type: string
          example: '2026-06-02T12:00:00Z'
        Period:
          description: Period
          type: string
          example: string
        DayOfWeek:
          description: Day of week
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          example: Sunday
    BusinessHoursPeriodBase:
      description: Business hours period
      type: object
      properties:
        DayOfWeek:
          description: Day of week
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          example: Sunday
        StartTime:
          description: Start time
          type: string
          example: '2026-06-02T12:00:00Z'
        Period:
          description: Period
          type: string
          example: string
        StartTimeEarly:
          description: Start time early
          type: string
          example: string
        PeriodEarly:
          description: Period early
          type: string
          example: string
    MenuSectionAvailability:
      description: Menu section availability
      type: object
      properties:
        AvailableTimes:
          description: Available times
          type: array
          items:
            $ref: '#/components/schemas/BusinessHoursPeriod'
          example: []
        AvailabilityMode:
          description: Availability mode
          enum:
          - DisplayAlways
          - DisplayBasedOnTimes
          - DisplayAlwaysStartCollapsed
          - DisplayAlwaysStartCollapsedBasedOnTimes
          type: string
          nullable: true
          example: DisplayAlways
    CreateMetadata:
      description: Create metadata
      type: object
      properties:
        StoreId:
          format: int32
          description: Store identifier
          type: integer
          example: 500123
        Key:
          description: Metadata key (Unique identifier)
          maxLength: 128
          minLength: 0
          type: string
          example: string
        Value:
          description: Metadata value
          maxLength: 4000
          minLength: 0
          type: string
          example: string
    MenuItemOptionSet:
      description: Menu item option set
      type: object
      properties:
        MenuItemOptionSetId:
          format: int32
          description: Menu item option set identifier
          type: integer
          example: 500123
        ImageName:
          description: Image Name
          type: string
          example: Example Name
        ImageUrl:
          description: Image url
          type: string
          example: https://api.flipdish.co/example
        MenuItemOptionSetItems:
          description: Option set items
          type: array
          items:
            $ref: '#/components/schemas/MenuItemOptionSetItem'
          example: []
        PublicId:
          format: uuid
          description: Permanent reference to the item.
          type: string
          example: 00000000-0000-0000-0000-000000000000
        CatalogItemId:
          description: Catalog item Id when the OptionSet is associated to a Product
          type: string
          example: '500123'
        Name:
          description: Menu item option set name
          maxLength: 4000
          minLength: 0
          type: string
          example: Example Name
        IsMasterOptionSet:
          description: Is master option set. This can affect the layout of the options in the menu displayed to the customer. Usually it is true if the option could be considerd a standalone item as opposed to an addition ("with ketchup") or modifier ("large").
          type: boolean
          example: true
        DisplayOrder:
          format: int32
          description: Display order. Displayed in ascending order.
          type: integer
          example: 1
        MinSelectCount:
          format: int32
          description: Minimum items must be selected
          type: integer
          example: 3
        MaxSelectCount:
          format: int32
          description: Maximum number of items can be selected
          type: integer
          example: 3
        CellLayoutType:
          description: "Small | Medium | Large\r\nAffects the layout of the menu."
          enum:
          - Small
          - Medium
          - Large
          - HiddenImage
          type: string
          example: Small
    RestApiArrayResult_MenuSection_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/MenuSection'
          example: []
    MenuObjectDisplayOrders:
      description: Collection of Display Orders for a Menu Object (Menu Section / Menu Items / Option Sets etc)
      type: object
      properties:
        DisplayOrders:
          description: List of Objects and their new Display Orders
          type: array
          items:
            $ref: '#/components/schemas/ObjectDisplayOrder'
          example: []
    MenuSectionAvailabilityBase:
      description: Menu section availability
      type: object
      properties:
        AvailabilityMode:
          description: Availability mode
          enum:
          - DisplayAlways
          - DisplayBasedOnTimes
          - DisplayAlwaysStartCollapsed
          - DisplayAlwaysStartCollapsedBasedOnTimes
          type: string
          nullable: true
          example: DisplayAlways
    ObjectDisplayOrder:
      description: ''
      type: object
      properties:
        Id:
          format: int32
          description: ID of object to be ordered
          type: integer
          example: 500123
        DisplayOrder:
          format: int32
          description: New Display order
          type: integer
          example: 1
    BusinessHoursPeriod:
      description: Business hours period
      type: object
      properties:
        Early:
          $ref: '#/components/schemas/Range'
        Late:
          $ref: '#/components/schemas/Range'
        Ranges:
          description: Ranges
          type: array
          items:
            $ref: '#/components/schemas/Range'
          example: []
        DayOfWeek:
          description: Day of week
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          example: Sunday
        StartTime:
          description: Start time
          type: string
          example: '2026-06-02T12:00:00Z'
        Period:
          description: Period
          type: string
          example: string
        StartTimeEarly:
          description: Start time early
          type: string
          example: string
        PeriodEarly:
          description: Period early
          type: string
          example: string
    RestApiResult_BusinessHoursPeriod_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/BusinessHoursPeriod'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
