openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Stores API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Stores
  description: Operations for Stores.
paths:
  /api/v1.0/stores/{storeId}:
    get:
      tags:
      - Stores
      operationId: GetStoreById
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Store_'
              examples:
                GetStoreById200Example:
                  summary: Default GetStoreById 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      StoreId: 500123
                      StoreGroupId: 500123
                      Address:
                        AddressId: 500123
                        Coordinates: {}
                        Line1: string
                        Postcode: string
                        City: string
                        CountryCode: IE
                        DisplayForCustomer: string
                        AddressFields: {}
                        SingleLineDisplay: string
                        TwoLinesDisplay:
                        - string
                      DeliveryZones: []
                      ApmPhoneNumber: '+353000000000'
                      PickupHours: []
                      DeliveryHours: []
                      MenuId: 500123
                      OrderConfirmationMessageOverrideDelivery: string
                      OrderConfirmationMessageOverridePickup: string
                      PrintoutLayoutType: Default
                      StoreNotes: []
                      MicrosoftTimeZone: string
                      IanaTimeZone: string
                      Currency: EUR
                      PreOrderDeliveryEnabled: true
                      PreOrderPickupEnabled: true
                      LogoUrl: https://api.flipdish.co/example
                      FraudPreventionStrategy: string
                      AppIds:
                      - string
                      PropertyId: '500123'
                      PhoneNumber: '+353000000000'
                      AlwaysAppearOpen: true
                      PreOrderEnabled: true
                      TakeOutEnabled: true
                      TableServiceEnabled: true
                      DineInEnabled: true
                      AllowPreOrdersAndTableService: true
                      PickupEnabled: true
                      DeliveryEnabled: true
                      CardOrderDeliveryEnabled: true
                      CashOrdersDeliveryEnabled: true
                      CardOrdersPickupEnabled: true
                      CashOrdersPickupEnabled: true
                      TipsEnabled: true
                      AutomaticallyAcceptOrders: true
                      OpenForDelivery: true
                      OpenForPickup: true
                      MinimumPickupOrderAmount: 12.5
                      RequireCustomerNameForPickup: true
                      GdprCustomerPhoneNumbers: true
                      RequireCustomerNameForDelivery: true
                      AllowChefNotes: true
                      EtaInPickupConfirmationSmsEnabled: true
                      EtaInDeliveryConfirmationSmsEnabled: true
                      IsArchived: true
                      IsPublished: true
                      Name: Example Name
                      EmailAddress: owner@example.com
                      StaffLanguage: string
                      SalesChannelTypes:
                      - Web
                      InheritanceConfigTypes:
                      - CollectionSettings
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreById400Example:
                  summary: Default GetStoreById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreById401Example:
                  summary: Default GetStoreById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreById403Example:
                  summary: Default GetStoreById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreById404Example:
                  summary: Default GetStoreById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreById500Example:
                  summary: Default GetStoreById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store by Id
      description: Get Store by Id via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Stores
      operationId: UpdateStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreBase'
            examples:
              UpdateStoreRequestExample:
                summary: Default UpdateStore request
                x-microcks-default: true
                value:
                  PhoneNumber: '+353000000000'
                  AlwaysAppearOpen: true
                  PreOrderEnabled: true
                  TakeOutEnabled: true
                  TableServiceEnabled: true
                  DineInEnabled: true
                  AllowPreOrdersAndTableService: true
                  PickupEnabled: true
                  DeliveryEnabled: true
                  CardOrderDeliveryEnabled: true
                  CashOrdersDeliveryEnabled: true
                  CardOrdersPickupEnabled: true
                  CashOrdersPickupEnabled: true
                  TipsEnabled: true
                  AutomaticallyAcceptOrders: true
                  OpenForDelivery: true
                  OpenForPickup: true
                  MinimumPickupOrderAmount: 12.5
                  RequireCustomerNameForPickup: true
                  GdprCustomerPhoneNumbers: true
                  RequireCustomerNameForDelivery: true
                  AllowChefNotes: true
                  EtaInPickupConfirmationSmsEnabled: true
                  EtaInDeliveryConfirmationSmsEnabled: true
                  IsArchived: true
                  IsPublished: true
                  Name: Example Name
                  EmailAddress: owner@example.com
                  StaffLanguage: string
                  SalesChannelTypes:
                  - Web
                  InheritanceConfigTypes:
                  - CollectionSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Store_'
              examples:
                UpdateStore200Example:
                  summary: Default UpdateStore 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      StoreId: 500123
                      StoreGroupId: 500123
                      Address:
                        AddressId: 500123
                        Coordinates: {}
                        Line1: string
                        Postcode: string
                        City: string
                        CountryCode: IE
                        DisplayForCustomer: string
                        AddressFields: {}
                        SingleLineDisplay: string
                        TwoLinesDisplay:
                        - string
                      DeliveryZones: []
                      ApmPhoneNumber: '+353000000000'
                      PickupHours: []
                      DeliveryHours: []
                      MenuId: 500123
                      OrderConfirmationMessageOverrideDelivery: string
                      OrderConfirmationMessageOverridePickup: string
                      PrintoutLayoutType: Default
                      StoreNotes: []
                      MicrosoftTimeZone: string
                      IanaTimeZone: string
                      Currency: EUR
                      PreOrderDeliveryEnabled: true
                      PreOrderPickupEnabled: true
                      LogoUrl: https://api.flipdish.co/example
                      FraudPreventionStrategy: string
                      AppIds:
                      - string
                      PropertyId: '500123'
                      PhoneNumber: '+353000000000'
                      AlwaysAppearOpen: true
                      PreOrderEnabled: true
                      TakeOutEnabled: true
                      TableServiceEnabled: true
                      DineInEnabled: true
                      AllowPreOrdersAndTableService: true
                      PickupEnabled: true
                      DeliveryEnabled: true
                      CardOrderDeliveryEnabled: true
                      CashOrdersDeliveryEnabled: true
                      CardOrdersPickupEnabled: true
                      CashOrdersPickupEnabled: true
                      TipsEnabled: true
                      AutomaticallyAcceptOrders: true
                      OpenForDelivery: true
                      OpenForPickup: true
                      MinimumPickupOrderAmount: 12.5
                      RequireCustomerNameForPickup: true
                      GdprCustomerPhoneNumbers: true
                      RequireCustomerNameForDelivery: true
                      AllowChefNotes: true
                      EtaInPickupConfirmationSmsEnabled: true
                      EtaInDeliveryConfirmationSmsEnabled: true
                      IsArchived: true
                      IsPublished: true
                      Name: Example Name
                      EmailAddress: owner@example.com
                      StaffLanguage: string
                      SalesChannelTypes:
                      - Web
                      InheritanceConfigTypes:
                      - CollectionSettings
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStore400Example:
                  summary: Default UpdateStore 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStore401Example:
                  summary: Default UpdateStore 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStore403Example:
                  summary: Default UpdateStore 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStore404Example:
                  summary: Default UpdateStore 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStore409Example:
                  summary: Default UpdateStore 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStore500Example:
                  summary: Default UpdateStore 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Store
      description: Update Store via the Flipdish Open API v1.0 (POST /api/v1.0/stores/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/feeConfig:
    get:
      tags:
      - Stores
      operationId: GetStoreFeeConfig
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFeeConfig'
              examples:
                GetStoreFeeConfig200Example:
                  summary: Default GetStoreFeeConfig 200 response
                  x-microcks-default: true
                  value:
                    FeeConfigId: 500123
                    StoreId: 500123
                    StartTime: '2026-06-02T12:00:00Z'
                    PercentFeeCardOrders: 12.5
                    PercentFeeCashOrders: 12.5
                    PercentFeeCardOrdersWeb: 12.5
                    PercentFeeCashOrdersWeb: 12.5
                    PercentFeeCardOrdersKiosk: 12.5
                    PercentFeeCashOrdersKiosk: 12.5
                    FixedFeeCardOrdersKiosk: 12.5
                    FixedFeeCashOrdersKiosk: 12.5
                    PercentFeeCardOrdersKioskChargedToCustomerIncludingVat: 12.5
                    FixedFeeCardOrdersKioskChargedToCustomerIncludingVat: 12.5
                    PercentFeeCashOrdersKioskChargedToCustomerIncludingVat: 12.5
                    FixedFeeCashOrdersKioskChargedToCustomerIncludingVat: 12.5
                    FixedFeeCardOrders: 12.5
                    FixedFeeCashOrders: 12.5
                    PercentFeeCardOrdersChargedToCustomerIncludingVat: 12.5
                    FixedFeeCardOrdersChargedToCustomerIncludingVat: 12.5
                    PercentFeeCashOrdersChargedToCustomerIncludingVat: 12.5
                    FixedFeeCashOrdersChargedToCustomerIncludingVat: 12.5
                    PercentFeeTips: 12.5
                    PercentFeeTipsCollection: 12.5
                    PercentFeeTipsDelivery: 12.5
                    TaxRatePercent: 1.0
                    PercentFeeCardOrdersLocationService: 12.5
                    PercentFeeCashOrdersLocationService: 12.5
                    FixedFeeCardOrdersLocationService: 12.5
                    FixedFeeCashOrdersLocationService: 12.5
                    PercentFeeCardOrdersLocationServiceChargedToCustomerIncludingVat: 12.5
                    PercentFeeCashOrdersLocationServiceChargedToCustomerIncludingVat: 12.5
                    FixedFeeCardOrdersLocationServiceChargedToCustomerIncludingVat: 12.5
                    FixedFeeCashOrdersLocationServiceChargedToCustomerIncludingVat: 12.5
                    PercentFeeCardOrdersIngest: 12.5
                    PercentFeeCashOrdersIngest: 12.5
                    FixedFeeCardOrdersIngest: 12.5
                    FixedFeeCashOrdersIngest: 12.5
                    PercentFeeDelivery: 12.5
                    FixedFeeDelivery: 12.5
                    PercentFeeCardPosTransaction: 12.5
                    FixedFeeCardPosTransaction: 12.5
                    PercentFeeOrderWithGoogle: 12.5
                    FixedFeeOrderWithGoogle: 12.5
                    ShouldNotAutoIncreaseBefore: '2026-06-02T12:00:00Z'
                    Reason: string
                    PercentFeeCardOrdersPhoneAgent: 12.5
                    PercentFeeCashOrdersPhoneAgent: 12.5
                    FixedFeeCardOrdersPhoneAgent: 12.5
                    FixedFeeCashOrdersPhoneAgent: 12.5
                    PercentFeeCardOrdersPhoneAgentChargedToCustomerIncludingVat: 12.5
                    PercentFeeCashOrdersPhoneAgentChargedToCustomerIncludingVat: 12.5
                    FixedFeeCardOrdersPhoneAgentChargedToCustomerIncludingVat: 12.5
                    FixedFeeCashOrdersPhoneAgentChargedToCustomerIncludingVat: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreFeeConfig400Example:
                  summary: Default GetStoreFeeConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreFeeConfig401Example:
                  summary: Default GetStoreFeeConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreFeeConfig403Example:
                  summary: Default GetStoreFeeConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreFeeConfig404Example:
                  summary: Default GetStoreFeeConfig 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreFeeConfig500Example:
                  summary: Default GetStoreFeeConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Fee Config
      description: Get Store Fee Config via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/feeConfig).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/leadTimes:
    get:
      tags:
      - Stores
      operationId: GetStoreLeadTimes
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OrderLeadTimes_'
              examples:
                GetStoreLeadTimes200Example:
                  summary: Default GetStoreLeadTimes 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      LeadTimeMinutes: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreLeadTimes400Example:
                  summary: Default GetStoreLeadTimes 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreLeadTimes401Example:
                  summary: Default GetStoreLeadTimes 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreLeadTimes403Example:
                  summary: Default GetStoreLeadTimes 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreLeadTimes404Example:
                  summary: Default GetStoreLeadTimes 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreLeadTimes500Example:
                  summary: Default GetStoreLeadTimes 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Lead Times
      description: Get Store Lead Times via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/leadTimes).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Stores
      operationId: SetStoreLeadTimes
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadTime'
            examples:
              SetStoreLeadTimesRequestExample:
                summary: Default SetStoreLeadTimes request
                x-microcks-default: true
                value:
                  DispatchType: string
                  LeadTimeMinutes: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OrderLeadTimes_'
              examples:
                SetStoreLeadTimes200Example:
                  summary: Default SetStoreLeadTimes 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      LeadTimeMinutes: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetStoreLeadTimes400Example:
                  summary: Default SetStoreLeadTimes 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetStoreLeadTimes401Example:
                  summary: Default SetStoreLeadTimes 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetStoreLeadTimes403Example:
                  summary: Default SetStoreLeadTimes 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetStoreLeadTimes404Example:
                  summary: Default SetStoreLeadTimes 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetStoreLeadTimes500Example:
                  summary: Default SetStoreLeadTimes 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Set Store Lead Times
      description: Set Store Lead Times via the Flipdish Open API v1.0 (POST /api/v1.0/stores/{storeId}/leadTimes).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/bankaccount:
    get:
      tags:
      - Stores
      operationId: GetBankAccountForStore
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AssignedBankAccount_'
              examples:
                GetBankAccountForStore200Example:
                  summary: Default GetBankAccountForStore 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Id: 500123
                      BankAccountName: Example Name
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBankAccountForStore400Example:
                  summary: Default GetBankAccountForStore 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBankAccountForStore401Example:
                  summary: Default GetBankAccountForStore 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBankAccountForStore403Example:
                  summary: Default GetBankAccountForStore 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBankAccountForStore500Example:
                  summary: Default GetBankAccountForStore 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Bank Account for Store
      description: Get Bank Account for Store via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/bankaccount).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/servicecharge:
    get:
      tags:
      - Stores
      operationId: GetStoreServiceCharge
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCharge'
              examples:
                GetStoreServiceCharge200Example:
                  summary: Default GetStoreServiceCharge 200 response
                  x-microcks-default: true
                  value:
                    StoreId: 500123
                    PercentageValue: 1.0
                    Enabled: true
                    IsOptional: true
                    DisplayWithProcessingFee: true
                    IncludesVouchers: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreServiceCharge400Example:
                  summary: Default GetStoreServiceCharge 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreServiceCharge401Example:
                  summary: Default GetStoreServiceCharge 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreServiceCharge403Example:
                  summary: Default GetStoreServiceCharge 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreServiceCharge404Example:
                  summary: Default GetStoreServiceCharge 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreServiceCharge500Example:
                  summary: Default GetStoreServiceCharge 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Service Charge
      description: Get Store Service Charge via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/servicecharge).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Stores
      operationId: ConfigureStoreServiceCharge
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCharge'
            examples:
              ConfigureStoreServiceChargeRequestExample:
                summary: Default ConfigureStoreServiceCharge request
                x-microcks-default: true
                value:
                  StoreId: 500123
                  PercentageValue: 1.0
                  Enabled: true
                  IsOptional: true
                  DisplayWithProcessingFee: true
                  IncludesVouchers: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_ServiceCharge_'
              examples:
                ConfigureStoreServiceCharge200Example:
                  summary: Default ConfigureStoreServiceCharge 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      StoreId: 500123
                      PercentageValue: 1.0
                      Enabled: true
                      IsOptional: true
                      DisplayWithProcessingFee: true
                      IncludesVouchers: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ConfigureStoreServiceCharge400Example:
                  summary: Default ConfigureStoreServiceCharge 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ConfigureStoreServiceCharge401Example:
                  summary: Default ConfigureStoreServiceCharge 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ConfigureStoreServiceCharge403Example:
                  summary: Default ConfigureStoreServiceCharge 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ConfigureStoreServiceCharge500Example:
                  summary: Default ConfigureStoreServiceCharge 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Configure Store Service Charge
      description: Configure Store Service Charge via the Flipdish Open API v1.0 (POST /api/v1.0/stores/{storeId}/servicecharge).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/feeConfig/deliveryZones:
    get:
      tags:
      - Stores
      operationId: GetStoreDeliveryFeeConfig
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_StoreDeliveryZoneFeeConfig_'
              examples:
                GetStoreDeliveryFeeConfig200Example:
                  summary: Default GetStoreDeliveryFeeConfig 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreDeliveryFeeConfig400Example:
                  summary: Default GetStoreDeliveryFeeConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreDeliveryFeeConfig401Example:
                  summary: Default GetStoreDeliveryFeeConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreDeliveryFeeConfig403Example:
                  summary: Default GetStoreDeliveryFeeConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreDeliveryFeeConfig500Example:
                  summary: Default GetStoreDeliveryFeeConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Delivery Fee Config
      description: Get Store Delivery Fee Config via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/feeConfig/deliveryZones).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Stores
      operationId: PutStoreDeliveryFeeConfig
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreDeliveryZoneFeeConfigUpdateRequest'
            examples:
              PutStoreDeliveryFeeConfigRequestExample:
                summary: Default PutStoreDeliveryFeeConfig request
                x-microcks-default: true
                value:
                  DeliveryZoneFees: []
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PutStoreDeliveryFeeConfig400Example:
                  summary: Default PutStoreDeliveryFeeConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PutStoreDeliveryFeeConfig401Example:
                  summary: Default PutStoreDeliveryFeeConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PutStoreDeliveryFeeConfig403Example:
                  summary: Default PutStoreDeliveryFeeConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PutStoreDeliveryFeeConfig500Example:
                  summary: Default PutStoreDeliveryFeeConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Put Store Delivery Fee Config
      description: Put Store Delivery Fee Config via the Flipdish Open API v1.0 (PUT /api/v1.0/stores/{storeId}/feeConfig/deliveryZones).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/endofdayreport:
    get:
      tags:
      - Stores
      operationId: GetEndOfDayReport
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The date query parameter.
        example: '2026-06-02T12:00:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_StoreEndOfDayReport_'
              examples:
                GetEndOfDayReport200Example:
                  summary: Default GetEndOfDayReport 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      StoreId: 500123
                      StoreName: Example Name
                      Currency: EUR
                      OrderCount: 3
                      OrderValue: 1.0
                      OrderValueExcludingDeliveryFees: 12.5
                      CollectionOrderCount: 3
                      CollectionCashOrderCount: 3
                      CollectionPaidOnlineOrderCount: 3
                      CollectionOrderValue: 1.0
                      CollectionCashOrderValue: 1.0
                      CollectionPaidOnlineOrderValue: 1.0
                      DeliveryOrderCount: 3
                      DeliveryCashOrderCount: 3
                      DeliveryPaidOnlineOrderCount: 3
                      DeliveryOrderValue: 1.0
                      DeliveryCashOrderValue: 1.0
                      DeliveryPaidOnlineOrderValue: 1.0
                      PaidOnlineOrderCount: 3
                      CashOrderCount: 3
                      PaidOnlineOrderValue: 1.0
                      CashOrderValue: 1.0
                      PaidOnlineOrderValueExcludingDeliveryFees: 12.5
                      CashOrderValueExcludingDeliveryFees: 12.5
                      StartTime: '2026-06-02T12:00:00Z'
                      EndTime: '2026-06-02T12:00:00Z'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEndOfDayReport400Example:
                  summary: Default GetEndOfDayReport 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEndOfDayReport401Example:
                  summary: Default GetEndOfDayReport 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEndOfDayReport403Example:
                  summary: Default GetEndOfDayReport 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEndOfDayReport404Example:
                  summary: Default GetEndOfDayReport 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEndOfDayReport500Example:
                  summary: Default GetEndOfDayReport 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get End of Day Report
      description: Get End of Day Report via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/endofdayreport).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/availability/{deliveryType}:
    get:
      tags:
      - Stores
      operationId: GetBusinessHours
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deliveryType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Delivery
          - Pickup
        description: The delivery type path parameter.
        example: Delivery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_BusinessHoursPeriod_'
              examples:
                GetBusinessHours200Example:
                  summary: Default GetBusinessHours 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHours400Example:
                  summary: Default GetBusinessHours 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHours401Example:
                  summary: Default GetBusinessHours 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHours403Example:
                  summary: Default GetBusinessHours 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHours500Example:
                  summary: Default GetBusinessHours 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Business Hours
      description: Get Business Hours via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/availability/{deliveryType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Stores
      operationId: SetBusinessHours
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deliveryType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Delivery
          - Pickup
        description: The delivery type path parameter.
        example: Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursPeriodBase'
            examples:
              SetBusinessHoursRequestExample:
                summary: Default SetBusinessHours request
                x-microcks-default: true
                value:
                  DayOfWeek: Sunday
                  StartTime: '2026-06-02T12:00:00Z'
                  Period: string
                  StartTimeEarly: string
                  PeriodEarly: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_BusinessHoursPeriod_'
              examples:
                SetBusinessHours200Example:
                  summary: Default SetBusinessHours 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Early:
                        StartTime: '2026-06-02T12:00:00Z'
                        Period: string
                        DayOfWeek: Sunday
                      Late:
                        StartTime: '2026-06-02T12:00:00Z'
                        Period: string
                        DayOfWeek: Sunday
                      Ranges: []
                      DayOfWeek: Sunday
                      StartTime: '2026-06-02T12:00:00Z'
                      Period: string
                      StartTimeEarly: string
                      PeriodEarly: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetBusinessHours400Example:
                  summary: Default SetBusinessHours 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetBusinessHours401Example:
                  summary: Default SetBusinessHours 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetBusinessHours403Example:
                  summary: Default SetBusinessHours 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetBusinessHours500Example:
                  summary: Default SetBusinessHours 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Set Business Hours
      description: Set Business Hours via the Flipdish Open API v1.0 (POST /api/v1.0/stores/{storeId}/availability/{deliveryType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}:
    get:
      tags:
      - Stores
      operationId: GetPreOrderConfig
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deliveryType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Delivery
          - Pickup
        description: The delivery type path parameter.
        example: Delivery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PreOrderConfig_'
              examples:
                GetPreOrderConfig200Example:
                  summary: Default GetPreOrderConfig 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      LeadTimeMinutes: 1
                      IntervalMinutes: 1
                      MaxOrderAheadDays: 1
                      IncludeAsap: true
                      IncludeMoreGranularInitialTime: true
                      CutOffTimePreviousDayBasic: string
                      CutOffTimeCurrentDayBasic: string
                      PreOrderTimeDisplayType: SingleTime
                      AlwaysAppearOpen: true
                      RequireExplicitSelectAlways: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderConfig400Example:
                  summary: Default GetPreOrderConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderConfig401Example:
                  summary: Default GetPreOrderConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderConfig403Example:
                  summary: Default GetPreOrderConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderConfig404Example:
                  summary: Default GetPreOrderConfig 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderConfig500Example:
                  summary: Default GetPreOrderConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Pre Order Config
      description: Get Pre Order Config via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Stores
      operationId: UpdatePreOrderConfig
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deliveryType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Delivery
          - Pickup
        description: The delivery type path parameter.
        example: Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreOrderConfig'
            examples:
              UpdatePreOrderConfigRequestExample:
                summary: Default UpdatePreOrderConfig request
                x-microcks-default: true
                value:
                  LeadTimeMinutes: 1
                  IntervalMinutes: 1
                  MaxOrderAheadDays: 1
                  IncludeAsap: true
                  IncludeMoreGranularInitialTime: true
                  CutOffTimePreviousDayBasic: string
                  CutOffTimeCurrentDayBasic: string
                  PreOrderTimeDisplayType: SingleTime
                  AlwaysAppearOpen: true
                  RequireExplicitSelectAlways: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_RestApiDefaultResponse_'
              examples:
                UpdatePreOrderConfig200Example:
                  summary: Default UpdatePreOrderConfig 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePreOrderConfig400Example:
                  summary: Default UpdatePreOrderConfig 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePreOrderConfig401Example:
                  summary: Default UpdatePreOrderConfig 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePreOrderConfig403Example:
                  summary: Default UpdatePreOrderConfig 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePreOrderConfig500Example:
                  summary: Default UpdatePreOrderConfig 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Pre Order Config
      description: Update Pre Order Config via the Flipdish Open API v1.0 (POST /api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}/preview:
    get:
      tags:
      - Stores
      operationId: GetPreOrderPreview
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: deliveryType
        in: path
        required: true
        schema:
          type: string
          enum:
          - Delivery
          - Pickup
        description: The delivery type path parameter.
        example: Delivery
      - name: preOrderConfig.leadTimeMinutes
        in: query
        description: Lead Time in Minutes
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: preOrderConfig.intervalMinutes
        in: query
        description: Interval in minutes
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: preOrderConfig.maxOrderAheadDays
        in: query
        description: Max Days to order ahead
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: preOrderConfig.includeAsap
        in: query
        description: Show ASAP as option
        required: false
        schema:
          type: boolean
        example: true
      - name: preOrderConfig.includeMoreGranularInitialTime
        in: query
        description: Granual Init' Time
        required: false
        schema:
          type: boolean
        example: true
      - name: preOrderConfig.cutOffTimePreviousDayBasic
        in: query
        description: Cut off time previous day
        required: false
        x-nullable: true
        schema:
          type: string
        example: string
      - name: preOrderConfig.cutOffTimeCurrentDayBasic
        in: query
        description: Cut off time current day
        required: false
        x-nullable: true
        schema:
          type: string
        example: string
      - name: preOrderConfig.preOrderTimeDisplayType
        in: query
        description: Type of time displayed.
        required: false
        schema:
          type: string
          enum:
          - SingleTime
          - StartAndEndTime
          - DayOnly
        example: SingleTime
      - name: preOrderConfig.alwaysAppearOpen
        in: query
        description: Specifies whether a customer can pre-order outside the store opening hours or not.
        required: false
        schema:
          type: boolean
        example: true
      - name: preOrderConfig.requireExplicitSelectAlways
        in: query
        description: Force customer to select collection time.
        required: false
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_PreOrderTime_'
              examples:
                GetPreOrderPreview200Example:
                  summary: Default GetPreOrderPreview 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderPreview400Example:
                  summary: Default GetPreOrderPreview 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderPreview401Example:
                  summary: Default GetPreOrderPreview 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderPreview403Example:
                  summary: Default GetPreOrderPreview 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreOrderPreview500Example:
                  summary: Default GetPreOrderPreview 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Pre Order Preview
      description: Get Pre Order Preview via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}/preview).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/processingfeeconfigs:
    get:
      tags:
      - Stores
      operationId: GetProcessingFeeConfigsByStoreId
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: appNameId
        in: query
        required: false
        schema:
          type: string
        description: The app name id query parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_ProcessingFeeConfig_'
              examples:
                GetProcessingFeeConfigsByStoreId200Example:
                  summary: Default GetProcessingFeeConfigsByStoreId 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetProcessingFeeConfigsByStoreId400Example:
                  summary: Default GetProcessingFeeConfigsByStoreId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetProcessingFeeConfigsByStoreId401Example:
                  summary: Default GetProcessingFeeConfigsByStoreId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetProcessingFeeConfigsByStoreId403Example:
                  summary: Default GetProcessingFeeConfigsByStoreId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetProcessingFeeConfigsByStoreId500Example:
                  summary: Default GetProcessingFeeConfigsByStoreId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Processing Fee Configs by Store Id
      description: Get Processing Fee Configs by Store Id via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/processingfeeconfigs).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/stores/stats:
    get:
      tags:
      - Stores
      operationId: GetStoreNetSales
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: query
        required: true
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The store id query parameter.
        example:
        - 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_StoreStatistics_'
              examples:
                GetStoreNetSales200Example:
                  summary: Default GetStoreNetSales 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreNetSales400Example:
                  summary: Default GetStoreNetSales 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreNetSales401Example:
                  summary: Default GetStoreNetSales 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreNetSales403Example:
                  summary: Default GetStoreNetSales 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreNetSales500Example:
                  summary: Default GetStoreNetSales 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Net Sales
      description: Get Store Net Sales via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/stores/stats).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/stores/{storeId}/businesshoursoverrides:
    get:
      tags:
      - Stores
      operationId: GetBusinessHoursOverrideByStoreId
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The after query parameter.
        example: '2026-06-02T12:00:00Z'
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_BusinessHoursOverride_'
              examples:
                GetBusinessHoursOverrideByStoreId200Example:
                  summary: Default GetBusinessHoursOverrideByStoreId 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHoursOverrideByStoreId400Example:
                  summary: Default GetBusinessHoursOverrideByStoreId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHoursOverrideByStoreId401Example:
                  summary: Default GetBusinessHoursOverrideByStoreId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHoursOverrideByStoreId403Example:
                  summary: Default GetBusinessHoursOverrideByStoreId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHoursOverrideByStoreId404Example:
                  summary: Default GetBusinessHoursOverrideByStoreId 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetBusinessHoursOverrideByStoreId500Example:
                  summary: Default GetBusinessHoursOverrideByStoreId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Business Hours Override by Store Id
      description: Get Business Hours Override by Store Id via the Flipdish Open API v1.0 (GET /api/v1.0/stores/{storeId}/businesshoursoverrides).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Stores
      operationId: CreateBusinessHoursOverrideByStoreId
      parameters:
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessHoursOverrideBase'
            examples:
              CreateBusinessHoursOverrideByStoreIdRequestExample:
                summary: Default CreateBusinessHoursOverrideByStoreId request
                x-microcks-default: true
                value:
                  DeliveryType: Delivery
                  StartTime: '2026-06-02T12:00:00Z'
                  EndTime: '2026-06-02T12:00:00Z'
                  Type: Open
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_BusinessHoursOverride_'
              examples:
                CreateBusinessHoursOverrideByStoreId200Example:
                  summary: Default CreateBusinessHoursOverrideByStoreId 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      BusinessHoursOverrideId: 500123
                      DeliveryType: Delivery
                      StartTime: '2026-06-02T12:00:00Z'
                      EndTime: '2026-06-02T12:00:00Z'
                      Type: Open
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateBusinessHoursOverrideByStoreId400Example:
                  summary: Default CreateBusinessHoursOverrideByStoreId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateBusinessHoursOverrideByStoreId401Example:
                  summary: Default CreateBusinessHoursOverrideByStoreId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateBusinessHoursOverrideByStoreId403Example:
                  summary: Default CreateBusinessHoursOverrideByStoreId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateBusinessHoursOverrideByStoreId404Example:
                  summary: Default CreateBusinessHoursOverrideByStoreId 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
[...]
