openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts RestaurantVouchersPayGreen API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: RestaurantVouchersPayGreen
  description: Operations for Restaurant Vouchers Pay Green.
paths:
  /api/v1.0/{appId}/restaurant-vouchers/paygreen:
    get:
      tags:
      - RestaurantVouchersPayGreen
      operationId: GetPayGreenConfigurations
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_RestaurantVoucherPayGreenConfiguration_'
              examples:
                GetPayGreenConfigurations200Example:
                  summary: Default GetPayGreenConfigurations 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayGreenConfigurations400Example:
                  summary: Default GetPayGreenConfigurations 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayGreenConfigurations401Example:
                  summary: Default GetPayGreenConfigurations 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayGreenConfigurations403Example:
                  summary: Default GetPayGreenConfigurations 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayGreenConfigurations500Example:
                  summary: Default GetPayGreenConfigurations 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Pay Green Configurations
      description: Get Pay Green Configurations via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/restaurant-vouchers/paygreen).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - RestaurantVouchersPayGreen
      operationId: CreatePayGreenConfiguration
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayGreenConfigurationRequest'
            examples:
              CreatePayGreenConfigurationRequestExample:
                summary: Default CreatePayGreenConfiguration request
                x-microcks-default: true
                value:
                  Name: Example Name
                  PayGreenId: '500123'
                  PayGreenPrivateKey: string
                  AssignedStores:
                  - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_RestaurantVoucherPayGreenConfiguration_'
              examples:
                CreatePayGreenConfiguration200Example:
                  summary: Default CreatePayGreenConfiguration 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Name: Example Name
                      PayGreenId: '500123'
                      PayGreenConfigurationId: 500123
                      AssignedStores: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreatePayGreenConfiguration400Example:
                  summary: Default CreatePayGreenConfiguration 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreatePayGreenConfiguration401Example:
                  summary: Default CreatePayGreenConfiguration 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreatePayGreenConfiguration403Example:
                  summary: Default CreatePayGreenConfiguration 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreatePayGreenConfiguration500Example:
                  summary: Default CreatePayGreenConfiguration 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Create Pay Green Configuration
      description: Create Pay Green Configuration via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/restaurant-vouchers/paygreen).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores:
    get:
      tags:
      - RestaurantVouchersPayGreen
      operationId: GetElegibleStores
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_RestaurantVoucherEligibleStore_'
              examples:
                GetElegibleStores200Example:
                  summary: Default GetElegibleStores 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetElegibleStores400Example:
                  summary: Default GetElegibleStores 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetElegibleStores401Example:
                  summary: Default GetElegibleStores 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetElegibleStores403Example:
                  summary: Default GetElegibleStores 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetElegibleStores500Example:
                  summary: Default GetElegibleStores 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Elegible Stores
      description: Get Elegible Stores via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores/{storeId}:
    get:
      tags:
      - RestaurantVouchersPayGreen
      operationId: 'GetStorePayGreenConfiguration '
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_RestaurantVoucherPayGreenStoreConfiguration_'
              examples:
                GetStorePayGreenConfiguration 200Example:
                  summary: Default GetStorePayGreenConfiguration  200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Name: Example Name
                      Active: true
                      PayGreenId: '500123'
                      PayGreenConfigurationId: 500123
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStorePayGreenConfiguration 400Example:
                  summary: Default GetStorePayGreenConfiguration  400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStorePayGreenConfiguration 401Example:
                  summary: Default GetStorePayGreenConfiguration  401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStorePayGreenConfiguration 403Example:
                  summary: Default GetStorePayGreenConfiguration  403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStorePayGreenConfiguration 500Example:
                  summary: Default GetStorePayGreenConfiguration  500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Pay Green Configuration
      description: Get Store Pay Green Configuration via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - RestaurantVouchersPayGreen
      operationId: 'UpdateStorePayGreenConfiguration '
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStorePayGreenConfigurationRequest'
            examples:
              UpdateStorePayGreenConfiguration RequestExample:
                summary: Default UpdateStorePayGreenConfiguration  request
                x-microcks-default: true
                value:
                  Active: true
                  PayGreenConfigurationId: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_RestaurantVoucherPayGreenStoreConfiguration_'
              examples:
                UpdateStorePayGreenConfiguration 200Example:
                  summary: Default UpdateStorePayGreenConfiguration  200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Name: Example Name
                      Active: true
                      PayGreenId: '500123'
                      PayGreenConfigurationId: 500123
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStorePayGreenConfiguration 400Example:
                  summary: Default UpdateStorePayGreenConfiguration  400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStorePayGreenConfiguration 401Example:
                  summary: Default UpdateStorePayGreenConfiguration  401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStorePayGreenConfiguration 403Example:
                  summary: Default UpdateStorePayGreenConfiguration  403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateStorePayGreenConfiguration 500Example:
                  summary: Default UpdateStorePayGreenConfiguration  500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Store Pay Green Configuration
      description: Update Store Pay Green Configuration via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/restaurant-vouchers/paygreen/{paygreenConfigurationId}:
    get:
      tags:
      - RestaurantVouchersPayGreen
      operationId: ListPayGreenConfigurations
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: paygreenConfigurationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The paygreen configuration id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_RestaurantVoucherPayGreenConfiguration_'
              examples:
                ListPayGreenConfigurations200Example:
                  summary: Default ListPayGreenConfigurations 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Name: Example Name
                      PayGreenId: '500123'
                      PayGreenConfigurationId: 500123
                      AssignedStores: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ListPayGreenConfigurations400Example:
                  summary: Default ListPayGreenConfigurations 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ListPayGreenConfigurations401Example:
                  summary: Default ListPayGreenConfigurations 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ListPayGreenConfigurations403Example:
                  summary: Default ListPayGreenConfigurations 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ListPayGreenConfigurations500Example:
                  summary: Default ListPayGreenConfigurations 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish List Pay Green Configurations
      description: List Pay Green Configurations via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/restaurant-vouchers/paygreen/{paygreenConfigurationId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - RestaurantVouchersPayGreen
      operationId: UpdatePayGreenConfiguration
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: paygreenConfigurationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The paygreen configuration id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePayGreenConfigurationRequest'
            examples:
              UpdatePayGreenConfigurationRequestExample:
                summary: Default UpdatePayGreenConfiguration request
                x-microcks-default: true
                value:
                  Name: Example Name
                  AssignedStores:
                  - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_RestaurantVoucherPayGreenConfiguration_'
              examples:
                UpdatePayGreenConfiguration200Example:
                  summary: Default UpdatePayGreenConfiguration 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Name: Example Name
                      PayGreenId: '500123'
                      PayGreenConfigurationId: 500123
                      AssignedStores: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePayGreenConfiguration400Example:
                  summary: Default UpdatePayGreenConfiguration 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePayGreenConfiguration401Example:
                  summary: Default UpdatePayGreenConfiguration 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePayGreenConfiguration403Example:
                  summary: Default UpdatePayGreenConfiguration 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdatePayGreenConfiguration500Example:
                  summary: Default UpdatePayGreenConfiguration 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update Pay Green Configuration
      description: Update Pay Green Configuration via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/restaurant-vouchers/paygreen/{paygreenConfigurationId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - RestaurantVouchersPayGreen
      operationId: DeletePayGreenConfiguration
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: paygreenConfigurationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The paygreen configuration id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                DeletePayGreenConfiguration200Example:
                  summary: Default DeletePayGreenConfiguration 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeletePayGreenConfiguration400Example:
                  summary: Default DeletePayGreenConfiguration 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeletePayGreenConfiguration401Example:
                  summary: Default DeletePayGreenConfiguration 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeletePayGreenConfiguration403Example:
                  summary: Default DeletePayGreenConfiguration 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeletePayGreenConfiguration500Example:
                  summary: Default DeletePayGreenConfiguration 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Delete Pay Green Configuration
      description: Delete Pay Green Configuration via the Flipdish Open API v1.0 (DELETE /api/v1.0/{appId}/restaurant-vouchers/paygreen/{paygreenConfigurationId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores/{storeId}/available-configurations:
    get:
      tags:
      - RestaurantVouchersPayGreen
      operationId: GetStoreAvailablePayGreenConfigurations
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_RestaurantVoucherPayGreenConfigurationSummary_'
              examples:
                GetStoreAvailablePayGreenConfigurations200Example:
                  summary: Default GetStoreAvailablePayGreenConfigurations 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreAvailablePayGreenConfigurations400Example:
                  summary: Default GetStoreAvailablePayGreenConfigurations 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreAvailablePayGreenConfigurations401Example:
                  summary: Default GetStoreAvailablePayGreenConfigurations 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreAvailablePayGreenConfigurations403Example:
                  summary: Default GetStoreAvailablePayGreenConfigurations 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreAvailablePayGreenConfigurations500Example:
                  summary: Default GetStoreAvailablePayGreenConfigurations 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Available Pay Green Configurations
      description: Get Store Available Pay Green Configurations via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/restaurant-vouchers/paygreen/stores/{storeId}/available-configurations).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RestaurantVoucherAssignedStore:
      description: RestaurantVoucherAssignedStore.
      type: object
      properties:
        StoreId:
          format: int32
          description: StoreId.
          type: integer
          example: 500123
        Name:
          description: Name.
          type: string
          example: Example Name
        Active:
          description: Active.
          type: boolean
          example: true
    RestApiArrayResult_RestaurantVoucherPayGreenConfigurationSummary_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/RestaurantVoucherPayGreenConfigurationSummary'
          example: []
    RestApiResult_RestaurantVoucherPayGreenStoreConfiguration_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/RestaurantVoucherPayGreenStoreConfiguration'
    RestaurantVoucherPayGreenStoreConfiguration:
      description: RestaurantVoucherPayGreenStoreConfiguration.
      type: object
      properties:
        Name:
          description: Name.
          type: string
          example: Example Name
        Active:
          description: Active.
          type: boolean
          example: true
        PayGreenId:
          description: PayGreenId.
          type: string
          example: '500123'
        PayGreenConfigurationId:
          format: int32
          description: PayGreenConfigurationId.
          type: integer
          example: 500123
    RestaurantVoucherPayGreenConfigurationSummary:
      description: RestaurantVoucherPayGreenConfigurationSummary.
      type: object
      properties:
        Name:
          description: Name.
          type: string
          example: Example Name
        PayGreenConfigurationId:
          format: int32
          description: PayGreenConfigurationId.
          type: integer
          example: 500123
    RestApiArrayResult_RestaurantVoucherEligibleStore_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/RestaurantVoucherEligibleStore'
          example: []
    RestApiArrayResult_RestaurantVoucherPayGreenConfiguration_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/RestaurantVoucherPayGreenConfiguration'
          example: []
    RestaurantVoucherPayGreenConfiguration:
      description: RestaurantVoucherPayGreenConfiguration.
      type: object
      properties:
        Name:
          description: Name.
          type: string
          example: Example Name
        PayGreenId:
          description: PayGreenId.
          type: string
          example: '500123'
        PayGreenConfigurationId:
          format: int32
          description: PayGreenConfigurationId.
          type: integer
          example: 500123
        AssignedStores:
          description: AssignedStores.
          type: array
          items:
            $ref: '#/components/schemas/RestaurantVoucherAssignedStore'
          example: []
    UpdateStorePayGreenConfigurationRequest:
      description: UpdateStorePayGreenConfigurationRequest.
      type: object
      properties:
        Active:
          description: Active.
          type: boolean
          example: true
        PayGreenConfigurationId:
          format: int32
          description: PayGreenConfigurationId.
          type: integer
          example: 500123
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    UpdatePayGreenConfigurationRequest:
      description: UpdatePayGreenConfigurationRequest.
      type: object
      properties:
        Name:
          description: Name.
          type: string
          example: Example Name
        AssignedStores:
          description: AssignedStores.
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
    RestaurantVoucherEligibleStore:
      description: RestaurantVoucherEligibleStore.
      type: object
      properties:
        StoreId:
          format: int32
          description: StoreId.
          type: integer
          example: 500123
        Name:
          description: Name.
          type: string
          example: Example Name
    CreatePayGreenConfigurationRequest:
      description: CreatePayGreenConfigurationRequest.
      type: object
      properties:
        Name:
          description: Name.
          type: string
          example: Example Name
        PayGreenId:
          description: PayGreenId.
          type: string
          example: '500123'
        PayGreenPrivateKey:
          description: PayGreenPrivateKey.
          type: string
          example: string
        AssignedStores:
          description: AssignedStores.
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
    RestApiResult_RestaurantVoucherPayGreenConfiguration_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/RestaurantVoucherPayGreenConfiguration'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
