openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Users API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Users
  description: Operations for Users.
paths:
  /api/v1.0/users/roles:
    get:
      tags:
      - Users
      operationId: GetRoles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringArrayResult'
              examples:
                GetRoles200Example:
                  summary: Default GetRoles 200 response
                  x-microcks-default: true
                  value:
                    Data:
                    - string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRoles400Example:
                  summary: Default GetRoles 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRoles401Example:
                  summary: Default GetRoles 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRoles403Example:
                  summary: Default GetRoles 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRoles500Example:
                  summary: Default GetRoles 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Roles
      description: Get Roles via the Flipdish Open API v1.0 (GET /api/v1.0/users/roles).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}:
    get:
      tags:
      - Users
      operationId: GetUserById
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_UserInfo_'
              examples:
                GetUserById200Example:
                  summary: Default GetUserById 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      PhoneNumber: '+353000000000'
                      Email: owner@example.com
                      EmailConfirmed: true
                      PreventFromUsingCards: true
                      IsUserPhoneNumberBlocked: true
                      UserWhiteLabels: []
                      UserId: 500123
                      UserName: Example Name
                      CustomerName: Example Name
                      HasLoggedIn: true
                      DisableAppRatingControl: true
                      GloballyOptedOut: true
                      CompletedOrderCount: 3
                      CancelledOrderCount: 3
                      OrderTotalValue: 12.5
                      TsMostRecentOrder: '2026-06-02T12:00:00Z'
                      TsFirstOrder: '2026-06-02T12:00:00Z'
                      IsRestaurantUser: true
                      Installs: []
                      DeliveryLocations: []
                      PaymentAccounts: []
                      LanguageId: '500123'
                      CurrentLanguageName: Example Name
                      Languages: []
                      SalesForceContactId: '500123'
                      StripeCustomerId: '500123'
                      UserMonthlyCommissions: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserById400Example:
                  summary: Default GetUserById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserById401Example:
                  summary: Default GetUserById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserById403Example:
                  summary: Default GetUserById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserById500Example:
                  summary: Default GetUserById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User by Id
      description: Get User by Id via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/roles:
    get:
      tags:
      - Users
      operationId: GetRolesAndUnassignedRoles
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_UserRole_'
              examples:
                GetRolesAndUnassignedRoles200Example:
                  summary: Default GetRolesAndUnassignedRoles 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      RolesUserIn:
                      - string
                      RolesUserNotIn:
                      - string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRolesAndUnassignedRoles400Example:
                  summary: Default GetRolesAndUnassignedRoles 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRolesAndUnassignedRoles401Example:
                  summary: Default GetRolesAndUnassignedRoles 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRolesAndUnassignedRoles403Example:
                  summary: Default GetRolesAndUnassignedRoles 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRolesAndUnassignedRoles500Example:
                  summary: Default GetRolesAndUnassignedRoles 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Roles and Unassigned Roles
      description: Get Roles and Unassigned Roles via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/roles).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/UserNotes:
    get:
      tags:
      - Users
      operationId: GetUserNotes
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_UserNote_'
              examples:
                GetUserNotes200Example:
                  summary: Default GetUserNotes 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserNotes400Example:
                  summary: Default GetUserNotes 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserNotes401Example:
                  summary: Default GetUserNotes 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserNotes403Example:
                  summary: Default GetUserNotes 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserNotes500Example:
                  summary: Default GetUserNotes 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User Notes
      description: Get User Notes via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/UserNotes).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/orders/{orderId}:
    get:
      tags:
      - Users
      operationId: GetUserOrderByIdForAdmin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Order_'
              examples:
                GetUserOrderByIdForAdmin200Example:
                  summary: Default GetUserOrderByIdForAdmin 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Store:
                        Id: 500123
                        Name: Example Name
                        MenuId: 500123
                        MenuPublishId: 00000000-0000-0000-0000-000000000000
                        Metadata: {}
                        Currency: EUR
                        Coordinates: {}
                        StoreTimezone: string
                        StoreIanaTimezone: string
                        StoreGroupId: 500123
                        TaxId: '500123'
                        PrettyAddress: string
                        CountryCode: IE
                        PropertyId: '500123'
                      Customer:
                        Id: 500123
                        Name: Example Name
                        EmailAddress: owner@example.com
                        PhoneNumberLocalFormat: '2026-06-02T12:00:00Z'
                        PhoneNumber: '+353000000000'
                        LanguagePreference: string
                      Voucher:
                        VoucherId: 500123
                        Name: Example Name
                        Description: string
                        Code: string
                        Amount: 12.5
                        Type: PercentageDiscount
                        SubType: None
                      Fees:
                        FeeAmount: 12.5
                        PercentageRate: 1.0
                        PerTransactionFee: 12.5
                      OrderItems: []
                      DeliveryLocation:
                        Coordinates: {}
                        Building: string
                        Street: string
                        Town: string
                        PostCode: string
                        DeliveryInstructions: string
                        PrettyAddressString: string
                      CustomerLocation:
                        Latitude: 1.0
                        Longitude: 1.0
                      MaskedPhoneNumber:
                        IsEnabled: true
                        PhoneNumber: '+353000000000'
                        Code: string
                      DropOffLocationId: 500123
                      DropOffLocation: string
                      AcceptedFor: '2026-06-02T12:00:00Z'
                      InFraudZone: true
                      UnusualHighValueOrder: true
                      RejectedByUserId: 500123
                      ChannelOrderId: '500123'
                      ChannelOrderDisplayId: '500123'
                      Channel:
                        ChannelId: 500123
                        TranslationKey: string
                        Source: Internal
                        LogoUri: https://api.flipdish.co/example
                        Available: true
                        MaintainedExternally: true
                      OrderDropOffLocation:
                        OrderId: 500123
                        LocationName: Example Name
                        LocationAreaName: Example Name
                        LocationId: 500123
                        LocationAreaId: 500123
                        ExternalLocationId: '500123'
                      FulfillmentStatus:
                        StatusId: '500123'
                        StatusName: Example Name
                        Icon: string
                      OrderBatchInfo:
                        Id: 500123
                        DisplayCode: string
                        CreateTime: '2026-06-02T12:00:00Z'
                        IsPublished: true
                      TaxItems: []
                      CreatedCampaignVoucherId: 500123
                      OrderId: 500123
                      LocalOrderId: '500123'
                      DeliveryType: Delivery
                      PickupLocationType: TakeOut
                      TableServiceCatagory: Generic
                      TipAmount: 12.5
                      DeliveryAmount: 12.5
                      OrderItemsAmount: 12.5
                      ServiceChargeAmount: 12.5
                      ServiceChargePercentage: 1.0
                      Amount: 12.5
                      ProcessingFee: 12.5
                      PaymentAccountType: Card
                      PaymentAccountDescription: string
                      OrderState: Created
                      IsPreOrder: true
                      PlacedTime: '2026-06-02T12:00:00Z'
                      RequestedForTime: '2026-06-02T12:00:00Z'
                      ChefNote: string
                      AppType: Unknown
                      UserRating: 1
                      PaymentStatus: Paid
                      RejectionReason: TooBusy
                      RefundedAmount: 12.5
                      DeliveryTrackingStatus: Unassigned
                      DriverId: 500123
                      TotalTax: 12.5
                      OrderTrackingCode: string
                      DeliveryFeeAreaId: 500123
                      ReceiptCode: string
                      TotalDepositReturnFeeAmount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrderByIdForAdmin400Example:
                  summary: Default GetUserOrderByIdForAdmin 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrderByIdForAdmin401Example:
                  summary: Default GetUserOrderByIdForAdmin 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrderByIdForAdmin403Example:
                  summary: Default GetUserOrderByIdForAdmin 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrderByIdForAdmin404Example:
                  summary: Default GetUserOrderByIdForAdmin 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrderByIdForAdmin500Example:
                  summary: Default GetUserOrderByIdForAdmin 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User Order by Id for Admin
      description: Get User Order by Id for Admin via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/orders/{orderId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/RestaurantUserStores:
    get:
      tags:
      - Users
      operationId: GetRestaurantUserStores
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_UserStoreInfo_'
              examples:
                GetRestaurantUserStores200Example:
                  summary: Default GetRestaurantUserStores 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserStores400Example:
                  summary: Default GetRestaurantUserStores 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserStores401Example:
                  summary: Default GetRestaurantUserStores 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserStores403Example:
                  summary: Default GetRestaurantUserStores 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserStores500Example:
                  summary: Default GetRestaurantUserStores 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Restaurant User Stores
      description: Get Restaurant User Stores via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/RestaurantUserStores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/RestaurantUserAccounts:
    get:
      tags:
      - Users
      operationId: GetRestaurantUserAccounts
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_UserFlipdishAccount_'
              examples:
                GetRestaurantUserAccounts200Example:
                  summary: Default GetRestaurantUserAccounts 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserAccounts400Example:
                  summary: Default GetRestaurantUserAccounts 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserAccounts401Example:
                  summary: Default GetRestaurantUserAccounts 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserAccounts403Example:
                  summary: Default GetRestaurantUserAccounts 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetRestaurantUserAccounts500Example:
                  summary: Default GetRestaurantUserAccounts 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Restaurant User Accounts
      description: Get Restaurant User Accounts via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/RestaurantUserAccounts).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/previousordercount/{storeId}:
    get:
      tags:
      - Users
      operationId: GetPreviousOrderCountForStore
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                GetPreviousOrderCountForStore200Example:
                  summary: Default GetPreviousOrderCountForStore 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreviousOrderCountForStore400Example:
                  summary: Default GetPreviousOrderCountForStore 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreviousOrderCountForStore401Example:
                  summary: Default GetPreviousOrderCountForStore 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreviousOrderCountForStore403Example:
                  summary: Default GetPreviousOrderCountForStore 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPreviousOrderCountForStore500Example:
                  summary: Default GetPreviousOrderCountForStore 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Previous Order Count for Store
      description: Get Previous Order Count for Store via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/previousordercount/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/searchFlipdishAccounts:
    get:
      tags:
      - Users
      operationId: SearchFlipdishAccounts
      parameters:
      - name: searchPattern
        in: query
        required: true
        schema:
          type: string
        description: The search pattern query parameter.
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_FlipdishAccountName_'
              examples:
                SearchFlipdishAccounts200Example:
                  summary: Default SearchFlipdishAccounts 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFlipdishAccounts400Example:
                  summary: Default SearchFlipdishAccounts 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFlipdishAccounts401Example:
                  summary: Default SearchFlipdishAccounts 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFlipdishAccounts403Example:
                  summary: Default SearchFlipdishAccounts 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchFlipdishAccounts500Example:
                  summary: Default SearchFlipdishAccounts 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Search Flipdish Accounts
      description: Search Flipdish Accounts via the Flipdish Open API v1.0 (GET /api/v1.0/users/searchFlipdishAccounts).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/deliveryLocations:
    get:
      tags:
      - Users
      operationId: GetUserDeliveryLocationsForAdmin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      - name: whiteLabelId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The white label id query parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_UserDeliveryLocationAdmin_'
              examples:
                GetUserDeliveryLocationsForAdmin200Example:
                  summary: Default GetUserDeliveryLocationsForAdmin 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserDeliveryLocationsForAdmin400Example:
                  summary: Default GetUserDeliveryLocationsForAdmin 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserDeliveryLocationsForAdmin401Example:
                  summary: Default GetUserDeliveryLocationsForAdmin 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserDeliveryLocationsForAdmin403Example:
                  summary: Default GetUserDeliveryLocationsForAdmin 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserDeliveryLocationsForAdmin404Example:
                  summary: Default GetUserDeliveryLocationsForAdmin 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserDeliveryLocationsForAdmin500Example:
                  summary: Default GetUserDeliveryLocationsForAdmin 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User Delivery Locations for Admin
      description: Get User Delivery Locations for Admin via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/deliveryLocations).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Users
      operationId: CreateUserDeliveryLocation
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserDeliveryLocationRequest'
            examples:
              CreateUserDeliveryLocationRequestExample:
                summary: Default CreateUserDeliveryLocation request
                x-microcks-default: true
                value:
                  Building: string
                  Street: string
                  Town: string
                  PostCode: string
                  FullAddressJson: string
                  DeliveryInstructions: string
                  Coordinates:
                    Latitude: 1.0
                    Longitude: 1.0
                  IsDisplayed: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                CreateUserDeliveryLocation200Example:
                  summary: Default CreateUserDeliveryLocation 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateUserDeliveryLocation400Example:
                  summary: Default CreateUserDeliveryLocation 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateUserDeliveryLocation401Example:
                  summary: Default CreateUserDeliveryLocation 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateUserDeliveryLocation403Example:
                  summary: Default CreateUserDeliveryLocation 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateUserDeliveryLocation404Example:
                  summary: Default CreateUserDeliveryLocation 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateUserDeliveryLocation500Example:
                  summary: Default CreateUserDeliveryLocation 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Create User Delivery Location
      description: Create User Delivery Location via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/deliveryLocations).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/orders:
    get:
      tags:
      - Users
      operationId: GetUserOrdersForAdmin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The skip query parameter.
        example: 1
      - name: take
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The take query parameter.
        example: 1
      - name: brandId
        in: query
        required: false
        schema:
          type: string
        description: The brand id query parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_UserOrderSummary_'
              examples:
                GetUserOrdersForAdmin200Example:
                  summary: Default GetUserOrdersForAdmin 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrdersForAdmin400Example:
                  summary: Default GetUserOrdersForAdmin 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrdersForAdmin401Example:
                  summary: Default GetUserOrdersForAdmin 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrdersForAdmin403Example:
                  summary: Default GetUserOrdersForAdmin 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrdersForAdmin404Example:
                  summary: Default GetUserOrdersForAdmin 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserOrdersForAdmin500Example:
                  summary: Default GetUserOrdersForAdmin 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User Orders for Admin
      description: Get User Orders for Admin via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/orders).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/smsConversationItems:
    get:
      tags:
      - Users
      operationId: GetUserSmsConversationItems
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      - name: mostRecentCount
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The most recent count query parameter.
        example: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_UserSmsChatItem_'
              examples:
                GetUserSmsConversationItems200Example:
                  summary: Default GetUserSmsConversationItems 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserSmsConversationItems400Example:
                  summary: Default GetUserSmsConversationItems 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserSmsConversationItems401Example:
                  summary: Default GetUserSmsConversationItems 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserSmsConversationItems403Example:
                  summary: Default GetUserSmsConversationItems 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserSmsConversationItems404Example:
                  summary: Default GetUserSmsConversationItems 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserSmsConversationItems500Example:
                  summary: Default GetUserSmsConversationItems 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User Sms Conversation Items
      description: Get User Sms Conversation Items via the Flipdish Open API v1.0 (GET /api/v1.0/users/{userId}/smsConversationItems).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/search:
    get:
      tags:
      - Users
      operationId: SearchUsers
      parameters:
      - name: searchQuery
        in: query
        required: true
        schema:
          type: string
        description: The search query query parameter.
        example: string
      - name: hasUserLoggedIn
        in: query
        required: false
        schema:
          type: boolean
        description: The has user logged in query parameter.
        example: true
      - name: userDiscriminator
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - ApplicationUsers
          - RestaurantUsers
          - HydraUsers
        description: The user discriminator query parameter.
        example: All
      - name: searchIn
        in: query
        required: false
        schema:
          type: string
          enum:
          - Generic
          - Id
          - Email
          - Phone
          - CustomerName
          - IdOrPhone
          - IdOrCustomerName
        description: The search in query parameter.
        example: Generic
      - name: pageIndex
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page index query parameter.
        example: 1
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page size query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_UserSearch_'
              examples:
                SearchUsers200Example:
                  summary: Default SearchUsers 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchUsers400Example:
                  summary: Default SearchUsers 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchUsers401Example:
                  summary: Default SearchUsers 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchUsers403Example:
                  summary: Default SearchUsers 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchUsers500Example:
                  summary: Default SearchUsers 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Search Users
      description: Search Users via the Flipdish Open API v1.0 (GET /api/v1.0/users/search).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/sms:
    post:
      tags:
      - Users
      operationId: SendUserSms
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendUserSmsRequest'
            examples:
              SendUserSmsRequestExample:
                summary: Default SendUserSms request
                x-microcks-default: true
                value:
                  Message: string
                  WhiteLabelId: 500123
                  FromNumber: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                SendUserSms200Example:
                  summary: Default SendUserSms 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserSms400Example:
                  summary: Default SendUserSms 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserSms401Example:
                  summary: Default SendUserSms 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserSms403Example:
                  summary: Default SendUserSms 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserSms404Example:
                  summary: Default SendUserSms 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserSms500Example:
                  summary: Default SendUserSms 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Send User Sms
      description: Send User Sms via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/sms).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/ResetMfa:
    post:
      tags:
      - Users
      operationId: ResetMfa
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                ResetMfa200Example:
                  summary: Default ResetMfa 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ResetMfa400Example:
                  summary: Default ResetMfa 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ResetMfa401Example:
                  summary: Default ResetMfa 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ResetMfa403Example:
                  summary: Default ResetMfa 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ResetMfa500Example:
                  summary: Default ResetMfa 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Reset Mfa
      description: Reset Mfa via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/ResetMfa).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/AddUserNote:
    post:
      tags:
      - Users
      operationId: AddUserNote
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                AddUserNote200Example:
                  summary: Default AddUserNote 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddUserNote400Example:
                  summary: Default AddUserNote 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddUserNote401Example:
                  summary: Default AddUserNote 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddUserNote403Example:
                  summary: Default AddUserNote 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddUserNote500Example:
                  summary: Default AddUserNote 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Add User Note
      description: Add User Note via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/AddUserNote).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/AnonymizeUser:
    post:
      tags:
      - Users
      operationId: AnonymizeUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                AnonymizeUser200Example:
                  summary: Default AnonymizeUser 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AnonymizeUser400Example:
                  summary: Default AnonymizeUser 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AnonymizeUser401Example:
                  summary: Default AnonymizeUser 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AnonymizeUser403Example:
                  summary: Default AnonymizeUser 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AnonymizeUser500Example:
                  summary: Default AnonymizeUser 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Anonymize User
      description: Anonymize User via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/AnonymizeUser).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/SetCustomerName:
    post:
      tags:
      - Users
      operationId: SetCustomerName
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                SetCustomerName200Example:
                  summary: Default SetCustomerName 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerName400Example:
                  summary: Default SetCustomerName 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerName401Example:
                  summary: Default SetCustomerName 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerName403Example:
                  summary: Default SetCustomerName 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetCustomerName500Example:
                  summary: Default SetCustomerName 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Set Customer Name
      description: Set Customer Name via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/SetCustomerName).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/pushNotifications:
    post:
      tags:
      - Users
      operationId: SendUserPushNotification
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendUserPushNotificationRequest'
            examples:
              SendUserPushNotificationRequestExample:
                summary: Default SendUserPushNotification request
                x-microcks-default: true
                value:
                  WhiteLabelId: 500123
                  Message: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_UserPushNotificationSentResult_'
              examples:
                SendUserPushNotification200Example:
                  summary: Default SendUserPushNotification 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      TokenCount: 3
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserPushNotification400Example:
                  summary: Default SendUserPushNotification 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserPushNotification401Example:
                  summary: Default SendUserPushNotification 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserPushNotification403Example:
                  summary: Default SendUserPushNotification 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserPushNotification404Example:
                  summary: Default SendUserPushNotification 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SendUserPushNotification500Example:
                  summary: Default SendUserPushNotification 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Send User Push Notification
      description: Send User Push Notification via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/pushNotifications).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/BlockUserPhoneNumber:
    post:
      tags:
      - Users
      operationId: BlockUserPhoneNumber
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                BlockUserPhoneNumber200Example:
                  summary: Default BlockUserPhoneNumber 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                BlockUserPhoneNumber400Example:
                  summary: Default BlockUserPhoneNumber 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                BlockUserPhoneNumber401Example:
                  summary: Default BlockUserPhoneNumber 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                BlockUserPhoneNumber403Example:
                  summary: Default BlockUserPhoneNumber 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                BlockUserPhoneNumber500Example:
                  summary: Default BlockUserPhoneNumber 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Block User Phone Number
      description: Block User Phone Number via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/BlockUserPhoneNumber).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/MarkUserAsFraudulent:
    post:
      tags:
      - Users
      operationId: MarkUserAsFraudulent
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                MarkUserAsFraudulent200Example:
                  summary: Default MarkUserAsFraudulent 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsFraudulent400Example:
                  summary: Default MarkUserAsFraudulent 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsFraudulent401Example:
                  summary: Default MarkUserAsFraudulent 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsFraudulent403Example:
                  summary: Default MarkUserAsFraudulent 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsFraudulent500Example:
                  summary: Default MarkUserAsFraudulent 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Mark User as Fraudulent
      description: Mark User as Fraudulent via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/MarkUserAsFraudulent).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/MarkUserAsSuspicious:
    post:
      tags:
      - Users
      operationId: MarkUserAsSuspicious
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                MarkUserAsSuspicious200Example:
                  summary: Default MarkUserAsSuspicious 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsSuspicious400Example:
                  summary: Default MarkUserAsSuspicious 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsSuspicious401Example:
                  summary: Default MarkUserAsSuspicious 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsSuspicious403Example:
                  summary: Default MarkUserAsSuspicious 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                MarkUserAsSuspicious500Example:
                  summary: Default MarkUserAsSuspicious 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Mark User as Suspicious
      description: Mark User as Suspicious via the Flipdish Open API v1.0 (POST /api/v1.0/users/{userId}/MarkUserAsSuspicious).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/users/{userId}/UnblockUserPhoneNumber:
    post:
      tags:
      - Users
      operationId: UnblockUserPhoneNumber
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiDefaultResponse'
              examples:
                UnblockUserPhoneNumber200Example:
                  summary: Default UnblockUserPhoneNumber 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnblockUserPhoneNumber400Example:
                  summary: Default UnblockUserPhoneNumber 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnblockUserPhoneNumber401Example:
                  summary: Default UnblockUserPhoneNumber 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UnblockUserPhoneNumber403Example:
                  summary: Default UnblockUserPhoneNumber 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
[...]
