openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts AppStoreDeveloper API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: AppStoreDeveloper
  description: Operations for App Store Developer.
paths:
  /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/external_product:
    get:
      tags:
      - AppStoreDeveloper
      operationId: GetAppExternalProduct
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppExternalProduct400Example:
                  summary: Default GetAppExternalProduct 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppExternalProduct401Example:
                  summary: Default GetAppExternalProduct 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppExternalProduct403Example:
                  summary: Default GetAppExternalProduct 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppExternalProduct404Example:
                  summary: Default GetAppExternalProduct 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAppExternalProduct500Example:
                  summary: Default GetAppExternalProduct 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get App External Product
      description: Get App External Product via the Flipdish Open API v1.0 (GET /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/external_product).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - AppStoreDeveloper
      operationId: UpdateExternalProduct
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppStoreAppExternalProduct'
            examples:
              UpdateExternalProductRequestExample:
                summary: Default UpdateExternalProduct request
                x-microcks-default: true
                value:
                  ExternalProductId: '500123'
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateExternalProduct400Example:
                  summary: Default UpdateExternalProduct 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateExternalProduct401Example:
                  summary: Default UpdateExternalProduct 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateExternalProduct403Example:
                  summary: Default UpdateExternalProduct 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateExternalProduct404Example:
                  summary: Default UpdateExternalProduct 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateExternalProduct500Example:
                  summary: Default UpdateExternalProduct 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update External Product
      description: Update External Product via the Flipdish Open API v1.0 (PUT /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/external_product).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/external_function_signing_key:
    get:
      tags:
      - AppStoreDeveloper
      operationId: GetExternalFunctionSigningKey
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                GetExternalFunctionSigningKey200Example:
                  summary: Default GetExternalFunctionSigningKey 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetExternalFunctionSigningKey400Example:
                  summary: Default GetExternalFunctionSigningKey 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetExternalFunctionSigningKey401Example:
                  summary: Default GetExternalFunctionSigningKey 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetExternalFunctionSigningKey403Example:
                  summary: Default GetExternalFunctionSigningKey 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetExternalFunctionSigningKey404Example:
                  summary: Default GetExternalFunctionSigningKey 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetExternalFunctionSigningKey500Example:
                  summary: Default GetExternalFunctionSigningKey 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get External Function Signing Key
      description: Get External Function Signing Key via the Flipdish Open API v1.0 (GET /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/external_function_signing_key).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}:
    put:
      tags:
      - AppStoreDeveloper
      operationId: UpdateAppStoreApp
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppStoreApp'
            examples:
              UpdateAppStoreAppRequestExample:
                summary: Default UpdateAppStoreApp request
                x-microcks-default: true
                value:
                  Details: string
                  ConfigurationType: ExternalLink
                  StoreSelectorType: None
                  FieldGroups: []
                  SetupInstructions: string
                  ExternalSetupLink: https://api.flipdish.co/example
                  TeammateAppAccessLevel: Owner
                  PermissionsType: Teammate
                  Support:
                    PrivacyPolicy: string
                    TermsOfUse: string
                    CompanyWebsite: string
                    LearnMore: string
                    InstallationMessage: string
                    SupportEmail: owner@example.com
                  ExternalFunctionActionUrl: https://api.flipdish.co/example
                  ExternalFunctionSignatureKey: string
                  IsPaid: true
                  Name: Example Name
                  Description: string
                  IsEnabled: true
                  Categories:
                  - PointOfSale
                  Countries:
                  - GB
                  DeveloperName: Example Name
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreApp400Example:
                  summary: Default UpdateAppStoreApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreApp401Example:
                  summary: Default UpdateAppStoreApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreApp403Example:
                  summary: Default UpdateAppStoreApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreApp404Example:
                  summary: Default UpdateAppStoreApp 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateAppStoreApp500Example:
                  summary: Default UpdateAppStoreApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Update App Store App
      description: Update App Store App via the Flipdish Open API v1.0 (PUT /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - AppStoreDeveloper
      operationId: DeleteAppStoreApp
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                DeleteAppStoreApp200Example:
                  summary: Default DeleteAppStoreApp 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreApp400Example:
                  summary: Default DeleteAppStoreApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreApp401Example:
                  summary: Default DeleteAppStoreApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreApp403Example:
                  summary: Default DeleteAppStoreApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreApp404Example:
                  summary: Default DeleteAppStoreApp 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteAppStoreApp500Example:
                  summary: Default DeleteAppStoreApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Delete App Store App
      description: Delete App Store App via the Flipdish Open API v1.0 (DELETE /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/verification:
    put:
      tags:
      - AppStoreDeveloper
      operationId: AppVerificationUpdate
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      - name: verificationStatus
        in: query
        required: true
        schema:
          type: string
          enum:
          - Draft
          - Submitted
          - Verified
        description: The verification status query parameter.
        example: Draft
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppVerificationUpdate400Example:
                  summary: Default AppVerificationUpdate 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppVerificationUpdate401Example:
                  summary: Default AppVerificationUpdate 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppVerificationUpdate403Example:
                  summary: Default AppVerificationUpdate 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppVerificationUpdate404Example:
                  summary: Default AppVerificationUpdate 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AppVerificationUpdate500Example:
                  summary: Default AppVerificationUpdate 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish App Verification Update
      description: App Verification Update via the Flipdish Open API v1.0 (PUT /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/verification).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/oauthclients/{oauthAppId}/appstore/apps:
    post:
      tags:
      - AppStoreDeveloper
      operationId: CreateAppStoreApp
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppStoreApp'
            examples:
              CreateAppStoreAppRequestExample:
                summary: Default CreateAppStoreApp request
                x-microcks-default: true
                value:
                  Details: string
                  ConfigurationType: ExternalLink
                  StoreSelectorType: None
                  FieldGroups: []
                  SetupInstructions: string
                  ExternalSetupLink: https://api.flipdish.co/example
                  TeammateAppAccessLevel: Owner
                  PermissionsType: Teammate
                  Support:
                    PrivacyPolicy: string
                    TermsOfUse: string
                    CompanyWebsite: string
                    LearnMore: string
                    InstallationMessage: string
                    SupportEmail: owner@example.com
                  ExternalFunctionActionUrl: https://api.flipdish.co/example
                  ExternalFunctionSignatureKey: string
                  IsPaid: true
                  Name: Example Name
                  Description: string
                  IsEnabled: true
                  Categories:
                  - PointOfSale
                  Countries:
                  - GB
                  DeveloperName: Example Name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AppStoreApp_'
              examples:
                CreateAppStoreApp200Example:
                  summary: Default CreateAppStoreApp 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Id: '500123'
                      VerificationStatus: Draft
                      Logo: string
                      OAuthAppId: '500123'
                      Internal: true
                      Details: string
                      ConfigurationType: ExternalLink
                      StoreSelectorType: None
                      FieldGroups: []
                      SetupInstructions: string
                      ExternalSetupLink: https://api.flipdish.co/example
                      TeammateAppAccessLevel: Owner
                      PermissionsType: Teammate
                      Support:
                        PrivacyPolicy: string
                        TermsOfUse: string
                        CompanyWebsite: string
                        LearnMore: string
                        InstallationMessage: string
                        SupportEmail: owner@example.com
                      ExternalFunctionActionUrl: https://api.flipdish.co/example
                      ExternalFunctionSignatureKey: string
                      IsPaid: true
                      Name: Example Name
                      Description: string
                      IsEnabled: true
                      Categories:
                      - PointOfSale
                      Countries:
                      - GB
                      DeveloperName: Example Name
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreApp400Example:
                  summary: Default CreateAppStoreApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreApp401Example:
                  summary: Default CreateAppStoreApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreApp403Example:
                  summary: Default CreateAppStoreApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateAppStoreApp500Example:
                  summary: Default CreateAppStoreApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Create App Store App
      description: Create App Store App via the Flipdish Open API v1.0 (POST /api/v1.0/oauthclients/{oauthAppId}/appstore/apps).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/logo:
    post:
      tags:
      - AppStoreDeveloper
      operationId: UploadAppStoreAppLogo
      parameters:
      - name: oauthAppId
        in: path
        required: true
        schema:
          type: string
        description: The oauth app id path parameter.
        example: '500123'
      - name: appStoreAppId
        in: path
        required: true
        schema:
          type: string
        description: The app store app id path parameter.
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Image:
                  description: App Store App Logo
                  type: string
                  format: binary
              required:
              - Image
            examples:
              UploadAppStoreAppLogoRequestExample:
                summary: Default UploadAppStoreAppLogo request
                x-microcks-default: true
                value:
                  Image: string
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadAppStoreAppLogo400Example:
                  summary: Default UploadAppStoreAppLogo 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadAppStoreAppLogo401Example:
                  summary: Default UploadAppStoreAppLogo 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadAppStoreAppLogo403Example:
                  summary: Default UploadAppStoreAppLogo 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadAppStoreAppLogo404Example:
                  summary: Default UploadAppStoreAppLogo 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadAppStoreAppLogo500Example:
                  summary: Default UploadAppStoreAppLogo 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Upload App Store App Logo
      description: Upload App Store App Logo via the Flipdish Open API v1.0 (POST /api/v1.0/oauthclients/{oauthAppId}/appstore/apps/{appStoreAppId}/logo).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FieldGroup:
      required:
      - Name
      - Position
      type: object
      properties:
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        Tooltip:
          type: string
          example: string
        Position:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          example: 1
        Fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
          example: []
    AppStoreApp:
      required:
      - Id
      - VerificationStatus
      - OAuthAppId
      - Internal
      - Details
      - ConfigurationType
      - StoreSelectorType
      - PermissionsType
      - Name
      - Description
      - Categories
      - Countries
      type: object
      properties:
        Id:
          type: string
          example: '500123'
        VerificationStatus:
          enum:
          - Draft
          - Submitted
          - Verified
          type: string
          example: Draft
        Logo:
          type: string
          example: string
        OAuthAppId:
          type: string
          example: '500123'
        Internal:
          type: boolean
          example: true
        Details:
          type: string
          example: string
        ConfigurationType:
          enum:
          - ExternalLink
          - FlipdishHosted
          type: string
          example: ExternalLink
        StoreSelectorType:
          enum:
          - None
          - Single
          - Multiple
          type: string
          example: None
        FieldGroups:
          type: array
          items:
            $ref: '#/components/schemas/FieldGroup'
          example: []
        SetupInstructions:
          type: string
          example: string
        ExternalSetupLink:
          type: string
          example: https://api.flipdish.co/example
        TeammateAppAccessLevel:
          enum:
          - Owner
          - StoreOwner
          - PropertyOwner
          - ManagedOwner
          - Integrator
          - PropertyManager
          - StoreManager
          - StoreStaff
          - StoreReadOnlyAccess
          - FinanceManger
          type: string
          example: Owner
        PermissionsType:
          enum:
          - Teammate
          type: string
          example: Teammate
        Support:
          $ref: '#/components/schemas/AppStoreAppSupportInfo'
        ExternalFunctionActionUrl:
          type: string
          example: https://api.flipdish.co/example
        ExternalFunctionSignatureKey:
          type: string
          example: string
        IsPaid:
          type: boolean
          example: true
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        IsEnabled:
          type: boolean
          example: true
        Categories:
          type: array
          items:
            enum:
            - PointOfSale
            - DeliveryAndLogistics
            - CRM
            - GiftCard
            - Accounting
            - LoyaltyAndMarketing
            - Other
            type: string
          example:
          - PointOfSale
        Countries:
          type: array
          items:
            enum:
            - GB
            - IE
            - FR
            - ES
            - PT
            - IT
            - DE
            - PL
            - BE
            - LU
            - NL
            - US
            - CA
            - BG
            - MX
            - AU
            - NZ
            type: string
          example:
          - GB
        DeveloperName:
          type: string
          example: Example Name
    AppStoreAppSupportInfo:
      type: object
      properties:
        PrivacyPolicy:
          type: string
          example: string
        TermsOfUse:
          type: string
          example: string
        CompanyWebsite:
          type: string
          example: string
        LearnMore:
          type: string
          example: string
        InstallationMessage:
          type: string
          example: string
        SupportEmail:
          type: string
          example: owner@example.com
    RestApiStringResult:
      description: Rest api string result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Data string
          type: string
          example: string
    UpdateAppStoreApp:
      required:
      - Details
      - ConfigurationType
      - StoreSelectorType
      - PermissionsType
      - Name
      - Description
      - Categories
      - Countries
      type: object
      properties:
        Details:
          type: string
          example: string
        ConfigurationType:
          enum:
          - ExternalLink
          - FlipdishHosted
          type: string
          example: ExternalLink
        StoreSelectorType:
          enum:
          - None
          - Single
          - Multiple
          type: string
          example: None
        FieldGroups:
          type: array
          items:
            $ref: '#/components/schemas/FieldGroup'
          example: []
        SetupInstructions:
          type: string
          example: string
        ExternalSetupLink:
          type: string
          example: https://api.flipdish.co/example
        TeammateAppAccessLevel:
          enum:
          - Owner
          - StoreOwner
          - PropertyOwner
          - ManagedOwner
          - Integrator
          - PropertyManager
          - StoreManager
          - StoreStaff
          - StoreReadOnlyAccess
          - FinanceManger
          type: string
          example: Owner
        PermissionsType:
          enum:
          - Teammate
          type: string
          example: Teammate
        Support:
          $ref: '#/components/schemas/AppStoreAppSupportInfo'
        ExternalFunctionActionUrl:
          type: string
          example: https://api.flipdish.co/example
        ExternalFunctionSignatureKey:
          type: string
          example: string
        IsPaid:
          type: boolean
          example: true
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        IsEnabled:
          type: boolean
          example: true
        Categories:
          type: array
          items:
            enum:
            - PointOfSale
            - DeliveryAndLogistics
            - CRM
            - GiftCard
            - Accounting
            - LoyaltyAndMarketing
            - Other
            type: string
          example:
          - PointOfSale
        Countries:
          type: array
          items:
            enum:
            - GB
            - IE
            - FR
            - ES
            - PT
            - IT
            - DE
            - PL
            - BE
            - LU
            - NL
            - US
            - CA
            - BG
            - MX
            - AU
            - NZ
            type: string
          example:
          - GB
        DeveloperName:
          type: string
          example: Example Name
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    Field:
      required:
      - Name
      - Description
      - Key
      - Position
      - FieldType
      type: object
      properties:
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        Key:
          type: string
          example: string
        Tooltip:
          type: string
          example: string
        Position:
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
          example: 1
        DefaultValue:
          type: string
          example: string
        ValidValues:
          type: array
          items:
            $ref: '#/components/schemas/ValidValue'
          example: []
        ValidationRegex:
          type: string
          example: string
        FieldType:
          enum:
          - Text
          - TextArea
          - Integer
          - Decimal
          - Date
          - DateTime
          - Time
          - Select
          - Boolean
          - ActionButton
          type: string
          example: Text
        IsFlipdishRestricted:
          type: boolean
          nullable: true
          example: true
    UpdateAppStoreAppExternalProduct:
      type: object
      properties:
        ExternalProductId:
          type: string
          example: '500123'
    CreateAppStoreApp:
      required:
      - Details
      - ConfigurationType
      - StoreSelectorType
      - PermissionsType
      - Name
      - Description
      - Categories
      - Countries
      type: object
      properties:
        Details:
          type: string
          example: string
        ConfigurationType:
          enum:
          - ExternalLink
          - FlipdishHosted
          type: string
          example: ExternalLink
        StoreSelectorType:
          enum:
          - None
          - Single
          - Multiple
          type: string
          example: None
        FieldGroups:
          type: array
          items:
            $ref: '#/components/schemas/FieldGroup'
          example: []
        SetupInstructions:
          type: string
          example: string
        ExternalSetupLink:
          type: string
          example: https://api.flipdish.co/example
        TeammateAppAccessLevel:
          enum:
          - Owner
          - StoreOwner
          - PropertyOwner
          - ManagedOwner
          - Integrator
          - PropertyManager
          - StoreManager
          - StoreStaff
          - StoreReadOnlyAccess
          - FinanceManger
          type: string
          example: Owner
        PermissionsType:
          enum:
          - Teammate
          type: string
          example: Teammate
        Support:
          $ref: '#/components/schemas/AppStoreAppSupportInfo'
        ExternalFunctionActionUrl:
          type: string
          example: https://api.flipdish.co/example
        ExternalFunctionSignatureKey:
          type: string
          example: string
        IsPaid:
          type: boolean
          example: true
        Name:
          type: string
          example: Example Name
        Description:
          type: string
          example: string
        IsEnabled:
          type: boolean
          example: true
        Categories:
          type: array
          items:
            enum:
            - PointOfSale
            - DeliveryAndLogistics
            - CRM
            - GiftCard
            - Accounting
            - LoyaltyAndMarketing
            - Other
            type: string
          example:
          - PointOfSale
        Countries:
          type: array
          items:
            enum:
            - GB
            - IE
            - FR
            - ES
            - PT
            - IT
            - DE
            - PL
            - BE
            - LU
            - NL
            - US
            - CA
            - BG
            - MX
            - AU
            - NZ
            type: string
          example:
          - GB
        DeveloperName:
          type: string
          example: Example Name
    RestApiResult_AppStoreApp_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/AppStoreApp'
    ValidValue:
      required:
      - Code
      - Name
      type: object
      properties:
        Code:
          type: string
          example: string
        Name:
          type: string
          example: Example Name
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
