openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts ContentSecurityPolicy API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: ContentSecurityPolicy
  description: Operations for Content Security Policy.
paths:
  /api/v1.0/csp/report:
    post:
      tags:
      - ContentSecurityPolicy
      operationId: ContentSecurityPolicy_Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CspReportRequest'
            examples:
              ContentSecurityPolicy_ReportRequestExample:
                summary: Default ContentSecurityPolicy_Report request
                x-microcks-default: true
                value:
                  Csp-report:
                    Document-uri: https://api.flipdish.co/example
                    Referrer: string
                    Violated-directive: string
                    Effective-directive: string
                    Original-policy: string
                    Blocked-uri: https://api.flipdish.co/example
                    Status-code: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                ContentSecurityPolicy_Report200Example:
                  summary: Default ContentSecurityPolicy_Report 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ContentSecurityPolicy_Report400Example:
                  summary: Default ContentSecurityPolicy_Report 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ContentSecurityPolicy_Report401Example:
                  summary: Default ContentSecurityPolicy_Report 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ContentSecurityPolicy_Report403Example:
                  summary: Default ContentSecurityPolicy_Report 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                ContentSecurityPolicy_Report500Example:
                  summary: Default ContentSecurityPolicy_Report 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Content Security Policy_Report
      description: Content Security Policy_Report via the Flipdish Open API v1.0 (POST /api/v1.0/csp/report).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    CspReportRequest:
      type: object
      properties:
        Csp-report:
          $ref: '#/components/schemas/CspReport'
    CspReport:
      type: object
      properties:
        Document-uri:
          type: string
          example: https://api.flipdish.co/example
        Referrer:
          type: string
          example: string
        Violated-directive:
          type: string
          example: string
        Effective-directive:
          type: string
          example: string
        Original-policy:
          type: string
          example: string
        Blocked-uri:
          type: string
          example: https://api.flipdish.co/example
        Status-code:
          format: int32
          type: integer
          example: 1
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
