openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts KioskEntitlements API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: KioskEntitlements
  description: Operations for Kiosk Entitlements.
paths:
  /api/v1.0/orgs/{orgId}/kiosk/entitlements:
    get:
      tags:
      - KioskEntitlements
      operationId: QueryKioskEntitlementsByOrgId
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
        description: The org id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_KioskEntitlementsResult_'
              examples:
                QueryKioskEntitlementsByOrgId200Example:
                  summary: Default QueryKioskEntitlementsByOrgId 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      EntitledQuantity: 3
                      UsedQuantity: 3
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                QueryKioskEntitlementsByOrgId400Example:
                  summary: Default QueryKioskEntitlementsByOrgId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                QueryKioskEntitlementsByOrgId401Example:
                  summary: Default QueryKioskEntitlementsByOrgId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                QueryKioskEntitlementsByOrgId403Example:
                  summary: Default QueryKioskEntitlementsByOrgId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                QueryKioskEntitlementsByOrgId500Example:
                  summary: Default QueryKioskEntitlementsByOrgId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Query Kiosk Entitlements by Org Id
      description: Query Kiosk Entitlements by Org Id via the Flipdish Open API v1.0 (GET /api/v1.0/orgs/{orgId}/kiosk/entitlements).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    KioskEntitlementsResult:
      description: Kiosk entitlements and usage
      type: object
      properties:
        EntitledQuantity:
          format: int32
          description: Number of kiosk devices entitled
          type: integer
          example: 3
        UsedQuantity:
          format: int32
          description: The quantity of entitlements that have been used
          type: integer
          example: 3
    RestApiResult_KioskEntitlementsResult_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/KioskEntitlementsResult'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
