openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts PayoutReports API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: PayoutReports
  description: Operations for Payout Reports.
paths:
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/overview:
    get:
      tags:
      - PayoutReports
      operationId: GetPayoutReport3Overview
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PayoutReport3Overview_'
              examples:
                GetPayoutReport3Overview200Example:
                  summary: Default GetPayoutReport3Overview 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      PayoutReport3OverviewHeader:
                        PayoutId: 500123
                        BankAccountId: 500123
                        IsManualPayout: true
                        AccountName: Example Name
                        PayoutStatus: Active
                        CreatedDate: '2026-06-02T12:00:00Z'
                        PeriodStartTime: '2026-06-02T12:00:00Z'
                        PeriodEndTime: '2026-06-02T12:00:00Z'
                        DestinationBank: string
                        DestinationAccount: string
                        Amount: 12.5
                        Currency: EUR
                        BankAccountHasChanged: true
                      PayoutStores: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Overview400Example:
                  summary: Default GetPayoutReport3Overview 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Overview401Example:
                  summary: Default GetPayoutReport3Overview 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Overview403Example:
                  summary: Default GetPayoutReport3Overview 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Overview404Example:
                  summary: Default GetPayoutReport3Overview 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Overview500Example:
                  summary: Default GetPayoutReport3Overview 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Payout Report3 Overview
      description: Get Payout Report3 Overview via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/overview).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/stores:
    get:
      tags:
      - PayoutReports
      operationId: GetPayoutReport3Stores
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: stores
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The stores query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PayoutReport3StorePayouts_'
              examples:
                GetPayoutReport3Stores200Example:
                  summary: Default GetPayoutReport3Stores 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Stores: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Stores400Example:
                  summary: Default GetPayoutReport3Stores 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Stores401Example:
                  summary: Default GetPayoutReport3Stores 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Stores403Example:
                  summary: Default GetPayoutReport3Stores 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Stores404Example:
                  summary: Default GetPayoutReport3Stores 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Stores500Example:
                  summary: Default GetPayoutReport3Stores 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Payout Report3 Stores
      description: Get Payout Report3 Stores via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/stores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/orders:
    get:
      tags:
      - PayoutReports
      operationId: PayoutReport3ExportPayoutOrders
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: stores
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The stores query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_FileCreationResult_'
              examples:
                PayoutReport3ExportPayoutOrders200Example:
                  summary: Default PayoutReport3ExportPayoutOrders 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FileId: '500123'
                      Location: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutOrders400Example:
                  summary: Default PayoutReport3ExportPayoutOrders 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutOrders401Example:
                  summary: Default PayoutReport3ExportPayoutOrders 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutOrders403Example:
                  summary: Default PayoutReport3ExportPayoutOrders 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutOrders404Example:
                  summary: Default PayoutReport3ExportPayoutOrders 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutOrders500Example:
                  summary: Default PayoutReport3ExportPayoutOrders 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Payout Report3 Export Payout Orders
      description: Payout Report3 Export Payout Orders via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/orders).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/stores:
    get:
      tags:
      - PayoutReports
      operationId: PayoutReport3ExportPayoutStores
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: stores
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The stores query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_FileCreationResult_'
              examples:
                PayoutReport3ExportPayoutStores200Example:
                  summary: Default PayoutReport3ExportPayoutStores 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FileId: '500123'
                      Location: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutStores400Example:
                  summary: Default PayoutReport3ExportPayoutStores 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutStores401Example:
                  summary: Default PayoutReport3ExportPayoutStores 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutStores403Example:
                  summary: Default PayoutReport3ExportPayoutStores 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutStores404Example:
                  summary: Default PayoutReport3ExportPayoutStores 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutStores500Example:
                  summary: Default PayoutReport3ExportPayoutStores 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Payout Report3 Export Payout Stores
      description: Payout Report3 Export Payout Stores via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/stores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/details:
    get:
      tags:
      - PayoutReports
      operationId: GetPayoutReport3Details
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: storeIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The store ids query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PayoutReport3Details_'
              examples:
                GetPayoutReport3Details200Example:
                  summary: Default GetPayoutReport3Details 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Amount: 12.5
                      Currency: EUR
                      Summary:
                        Revenue: 1.0
                        RevenueOfWhichCash: 1.0
                        UnpaidRevenue: 1.0
                        RevenueForFeeCalculations: 12.5
                        FlipdishFees: 12.5
                        Adjustments: 1.0
                        ThirdPartyIntegrationFeesAndTips: 12.5
                        Total: 12.5
                      Revenue:
                        GrossSales: {}
                        SalesTax: {}
                        DeliveryCharges: {}
                        OtherCharges: {}
                        Tips: {}
                        TotalRevenue: {}
                        RevenueForFeeCalculations: {}
                        DrsCharges: {}
                      FlipdishFees:
                        WebAndAppCash: 1.0
                        WebAndAppCashRevenueIncludingTips: 1.0
                        WebAndAppCard: 1.0
                        WebAndAppCardRevenueIncludingTips: 1.0
                        KioskCash: 1.0
                        KioskCashRevenue: 1.0
                        KioskCard: 1.0
                        KioskCardRevenue: 1.0
                        QropCash: 1.0
                        QropCashRevenue: 1.0
                        QropCard: 1.0
                        QropCardRevenue: 1.0
                        PosCard: 1.0
                        PosCardRevenue: 1.0
                        PosCardOnFlipdishOrders: 1.0
                        OtherIntegrationFees: 12.5
                        OtherIntegrationFeesExcludingVat: 12.5
                        OtherIntegrationFeesVatAmount: 12.5
                        OtherIntegrationTips: 1.0
                        RefundedFeesOnRefundedSales: 12.5
                        Vat: 1.0
                        RefundedFeesOnPosSales: 12.5
                        Total: 12.5
                        ThirdPartyIntegrationFeesAndTips: 12.5
                        WebAndAppCardOnXOrders: 1
                        WebAndAppCashOnXOrders: 1
                        KioskCardOnXOrders: 1
                        KioskCashOnXOrders: 1
                        QropCardOnXOrders: 1
                        QropCashOnXOrders: 1
                        PosCardOnXOrders: 1
                      Adjustments:
                        OpeningBalanceDate: '2026-06-02T12:00:00Z'
                        ClosingBalanceDate: '2026-06-02T12:00:00Z'
                        OpeningBalance: 1.0
                        RefundsOnCardOrders: 1.0
                        RefundsOnCashOrders: 1.0
                        CashCustomerFees: 12.5
                        Chargebacks: 1.0
                        OtherTransactions: 1.0
                        ClosingBalance: 1.0
                        BalanceRepaid: 500123
                        RefundsOnCardOrdersBracketsAmount: 12.5
                        RefundsOnCardOrdersBracketsOutOfAmount: 12.5
                        RefundsOnCashOrdersBracketsAmount: 12.5
                        RefundsOnCashOrdersBracketsOutOfAmount: 12.5
                        CashCustomerFeesBracketsAmount: 12.5
                        CashCustomerFeesBracketsOutOfAmount: 12.5
                        BalanceChange: 1.0
                        PreviousPayoutId: 500123
                        NextPayoutId: 500123
                        RefundedFeesOnChargebacks: 12.5
                        TotalChargebackCost: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Details400Example:
                  summary: Default GetPayoutReport3Details 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Details401Example:
                  summary: Default GetPayoutReport3Details 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Details403Example:
                  summary: Default GetPayoutReport3Details 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Details404Example:
                  summary: Default GetPayoutReport3Details 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3Details500Example:
                  summary: Default GetPayoutReport3Details 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Payout Report3 Details
      description: Get Payout Report3 Details via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/details).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/possales:
    get:
      tags:
      - PayoutReports
      operationId: PayoutReport3ExportPayoutPosSales
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: stores
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The stores query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_FileCreationResult_'
              examples:
                PayoutReport3ExportPayoutPosSales200Example:
                  summary: Default PayoutReport3ExportPayoutPosSales 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FileId: '500123'
                      Location: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutPosSales400Example:
                  summary: Default PayoutReport3ExportPayoutPosSales 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutPosSales401Example:
                  summary: Default PayoutReport3ExportPayoutPosSales 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutPosSales403Example:
                  summary: Default PayoutReport3ExportPayoutPosSales 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutPosSales404Example:
                  summary: Default PayoutReport3ExportPayoutPosSales 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutPosSales500Example:
                  summary: Default PayoutReport3ExportPayoutPosSales 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Payout Report3 Export Payout Pos Sales
      description: Payout Report3 Export Payout Pos Sales via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/possales).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/chargebacks:
    get:
      tags:
      - PayoutReports
      operationId: PayoutReport3ExportPayoutChargebacks
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: stores
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The stores query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_FileCreationResult_'
              examples:
                PayoutReport3ExportPayoutChargebacks200Example:
                  summary: Default PayoutReport3ExportPayoutChargebacks 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FileId: '500123'
                      Location: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutChargebacks400Example:
                  summary: Default PayoutReport3ExportPayoutChargebacks 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutChargebacks401Example:
                  summary: Default PayoutReport3ExportPayoutChargebacks 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutChargebacks403Example:
                  summary: Default PayoutReport3ExportPayoutChargebacks 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutChargebacks404Example:
                  summary: Default PayoutReport3ExportPayoutChargebacks 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutChargebacks500Example:
                  summary: Default PayoutReport3ExportPayoutChargebacks 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Payout Report3 Export Payout Chargebacks
      description: Payout Report3 Export Payout Chargebacks via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/chargebacks).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/refundedOrders:
    get:
      tags:
      - PayoutReports
      operationId: PayoutReport3ExportPayoutRefundedOrders
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: stores
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The stores query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_FileCreationResult_'
              examples:
                PayoutReport3ExportPayoutRefundedOrders200Example:
                  summary: Default PayoutReport3ExportPayoutRefundedOrders 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FileId: '500123'
                      Location: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutRefundedOrders400Example:
                  summary: Default PayoutReport3ExportPayoutRefundedOrders 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutRefundedOrders401Example:
                  summary: Default PayoutReport3ExportPayoutRefundedOrders 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutRefundedOrders403Example:
                  summary: Default PayoutReport3ExportPayoutRefundedOrders 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutRefundedOrders404Example:
                  summary: Default PayoutReport3ExportPayoutRefundedOrders 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                PayoutReport3ExportPayoutRefundedOrders500Example:
                  summary: Default PayoutReport3ExportPayoutRefundedOrders 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Payout Report3 Export Payout Refunded Orders
      description: Payout Report3 Export Payout Refunded Orders via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/export/refundedOrders).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/refundedOrders:
    get:
      tags:
      - PayoutReports
      operationId: GetPayoutReport3RefundedOrders
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: storeIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The store ids query parameter.
        example:
        - 1
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_PayoutReport3RefundedOrder_'
              examples:
                GetPayoutReport3RefundedOrders200Example:
                  summary: Default GetPayoutReport3RefundedOrders 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3RefundedOrders400Example:
                  summary: Default GetPayoutReport3RefundedOrders 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3RefundedOrders401Example:
                  summary: Default GetPayoutReport3RefundedOrders 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3RefundedOrders403Example:
                  summary: Default GetPayoutReport3RefundedOrders 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3RefundedOrders404Example:
                  summary: Default GetPayoutReport3RefundedOrders 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3RefundedOrders500Example:
                  summary: Default GetPayoutReport3RefundedOrders 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Payout Report3 Refunded Orders
      description: Get Payout Report3 Refunded Orders via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/refundedOrders).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/properties:
    get:
      tags:
      - PayoutReports
      operationId: GetPayoutReport3PropertyDetails
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: bankAccountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The bank account id path parameter.
        example: 500123
      - name: payoutId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The payout id path parameter.
        example: 500123
      - name: propertyIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        description: The property ids query parameter.
        example:
        - string
      - name: storeIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        description: The store ids query parameter.
        example:
        - 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_PayoutReport3PropertyDetails_'
              examples:
                GetPayoutReport3PropertyDetails200Example:
                  summary: Default GetPayoutReport3PropertyDetails 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AvailableProperties: []
                      SelectedPropertyIds:
                      - string
                      MatchedStoreIds:
                      - 1
                      Details:
                        Amount: 12.5
                        Currency: EUR
                        Summary: {}
                        Revenue: {}
                        FlipdishFees: {}
                        Adjustments: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3PropertyDetails400Example:
                  summary: Default GetPayoutReport3PropertyDetails 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3PropertyDetails401Example:
                  summary: Default GetPayoutReport3PropertyDetails 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3PropertyDetails403Example:
                  summary: Default GetPayoutReport3PropertyDetails 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3PropertyDetails404Example:
                  summary: Default GetPayoutReport3PropertyDetails 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetPayoutReport3PropertyDetails500Example:
                  summary: Default GetPayoutReport3PropertyDetails 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Payout Report3 Property Details
      description: Get Payout Report3 Property Details via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/reporting/reports/payouts3/{bankAccountId}/{payoutId}/properties).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RestApiResult_PayoutReport3Details_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/PayoutReport3Details'
    PayoutReport3StorePayout:
      type: object
      properties:
        StoreId:
          format: int32
          type: integer
          example: 500123
        StoreName:
          type: string
          example: Example Name
        SummaryTotalPayout:
          format: double
          type: number
          example: 12.5
        SummaryRevenue:
          format: double
          type: number
          example: 1.0
        SummaryCashRevenue:
          format: double
          type: number
          example: 1.0
        SummaryTotalFlipdishFees:
          format: double
          type: number
          example: 12.5
        SummaryAdjustments:
          format: double
          type: number
          example: 1.0
        Currency:
          type: string
          example: EUR
    PayoutReport3Details:
      type: object
      properties:
        Amount:
          format: double
          type: number
          example: 12.5
        Currency:
          type: string
          example: EUR
        Summary:
          $ref: '#/components/schemas/PayoutReport3DetailsSummary'
        Revenue:
          $ref: '#/components/schemas/PayoutReport3DetailsRevenue'
        FlipdishFees:
          $ref: '#/components/schemas/PayoutReport3DetailsFlipdishFees'
        Adjustments:
          $ref: '#/components/schemas/PayoutReport3DetailsAdjustments'
    PayoutReport3Store:
      type: object
      properties:
        StoreId:
          format: int32
          type: integer
          example: 500123
        StoreName:
          type: string
          example: Example Name
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    PayoutReport3RefundedOrder:
      type: object
      properties:
        OrderId:
          format: int32
          type: integer
          example: 500123
        PlacedAtTime:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        ModifiedAtTime:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        StoreName:
          type: string
          example: Example Name
        Type:
          enum:
          - Cash
          - Card
          type: string
          example: Cash
        RefundedAmount:
          format: double
          type: number
          example: 12.5
        RefundedFees:
          format: double
          type: number
          example: 12.5
        RefundType:
          type: string
          example: string
        CashFeeRefundedToCustomer:
          format: double
          type: number
          example: 12.5
    RestApiResult_FileCreationResult_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/FileCreationResult'
    PayoutReport3DetailsSalesLine:
      type: object
      properties:
        Online:
          format: double
          type: number
          example: 1.0
        Pos:
          format: double
          type: number
          example: 1.0
        Other:
          format: double
          type: number
          example: 1.0
        Total:
          format: double
          type: number
          readOnly: true
          example: 12.5
    PayoutReport3PropertyDetails:
      type: object
      properties:
        AvailableProperties:
          type: array
          items:
            $ref: '#/components/schemas/PayoutReport3PropertyFilterOption'
          example: []
        SelectedPropertyIds:
          type: array
          items:
            type: string
          example:
          - string
        MatchedStoreIds:
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
        Details:
          $ref: '#/components/schemas/PayoutReport3Details'
    PayoutReport3DetailsSummary:
      type: object
      properties:
        Revenue:
          format: double
          type: number
          example: 1.0
        RevenueOfWhichCash:
          format: double
          type: number
          example: 1.0
        UnpaidRevenue:
          format: double
          type: number
          example: 1.0
        RevenueForFeeCalculations:
          format: double
          type: number
          example: 12.5
        FlipdishFees:
          format: double
          type: number
          example: 12.5
        Adjustments:
          format: double
          type: number
          example: 1.0
        ThirdPartyIntegrationFeesAndTips:
          format: double
          type: number
          example: 12.5
        Total:
          format: double
          type: number
          example: 12.5
    RestApiResult_PayoutReport3StorePayouts_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/PayoutReport3StorePayouts'
    PayoutReport3DetailsAdjustments:
      type: object
      properties:
        OpeningBalanceDate:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        ClosingBalanceDate:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        OpeningBalance:
          format: double
          type: number
          example: 1.0
        RefundsOnCardOrders:
          format: double
          type: number
          example: 1.0
        RefundsOnCashOrders:
          format: double
          type: number
          example: 1.0
        CashCustomerFees:
          format: double
          type: number
          example: 12.5
        Chargebacks:
          format: double
          type: number
          example: 1.0
        OtherTransactions:
          format: double
          type: number
          example: 1.0
        ClosingBalance:
          format: double
          type: number
          example: 1.0
        BalanceRepaid:
          format: double
          type: number
          example: 500123
        RefundsOnCardOrdersBracketsAmount:
          format: double
          type: number
          example: 12.5
        RefundsOnCardOrdersBracketsOutOfAmount:
          format: double
          type: number
          example: 12.5
        RefundsOnCashOrdersBracketsAmount:
          format: double
          type: number
          example: 12.5
        RefundsOnCashOrdersBracketsOutOfAmount:
          format: double
          type: number
          example: 12.5
        CashCustomerFeesBracketsAmount:
          format: double
          type: number
          example: 12.5
        CashCustomerFeesBracketsOutOfAmount:
          format: double
          type: number
          example: 12.5
        BalanceChange:
          format: double
          type: number
          example: 1.0
        PreviousPayoutId:
          format: int32
          type: integer
          nullable: true
          example: 500123
        NextPayoutId:
          format: int32
          type: integer
          nullable: true
          example: 500123
        RefundedFeesOnChargebacks:
          format: double
          type: number
          example: 12.5
        TotalChargebackCost:
          format: double
          type: number
          example: 12.5
    PayoutReport3DetailsRevenue:
      type: object
      properties:
        GrossSales:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        SalesTax:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        DeliveryCharges:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        OtherCharges:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        Tips:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        TotalRevenue:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        RevenueForFeeCalculations:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
        DrsCharges:
          $ref: '#/components/schemas/PayoutReport3DetailsSalesLine'
    RestApiPaginationResult_PayoutReport3RefundedOrder_:
      description: Rest api pagination result
      required:
      - Page
      - Limit
      - TotalRecordCount
      - Data
      type: object
      properties:
        Page:
          format: int32
          description: Current page index
          type: integer
          example: 1
        Limit:
          format: int32
          description: Current page size
          type: integer
          example: 1
        TotalRecordCount:
          format: int32
          description: Total record count
          type: integer
          example: 12.5
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/PayoutReport3RefundedOrder'
          example: []
    RestApiResult_PayoutReport3PropertyDetails_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/PayoutReport3PropertyDetails'
    PayoutReport3Overview:
      type: object
      properties:
        PayoutReport3OverviewHeader:
          $ref: '#/components/schemas/PayoutReport3OverviewHeader'
        PayoutStores:
          type: array
          items:
            $ref: '#/components/schemas/PayoutReport3Store'
          example: []
    PayoutReport3DetailsFlipdishFees:
      type: object
      properties:
        WebAndAppCash:
          format: double
          type: number
          example: 1.0
        WebAndAppCashRevenueIncludingTips:
          format: double
          type: number
          example: 1.0
        WebAndAppCard:
          format: double
          type: number
          example: 1.0
        WebAndAppCardRevenueIncludingTips:
          format: double
          type: number
          example: 1.0
        KioskCash:
          format: double
          type: number
          example: 1.0
        KioskCashRevenue:
          format: double
          type: number
          example: 1.0
        KioskCard:
          format: double
          type: number
          example: 1.0
        KioskCardRevenue:
          format: double
          type: number
          example: 1.0
        QropCash:
          format: double
          type: number
          example: 1.0
        QropCashRevenue:
          format: double
          type: number
          example: 1.0
        QropCard:
          format: double
          type: number
          example: 1.0
        QropCardRevenue:
          format: double
          type: number
          example: 1.0
        PosCard:
          format: double
          type: number
          example: 1.0
        PosCardRevenue:
          format: double
          type: number
          example: 1.0
        PosCardOnFlipdishOrders:
          format: double
          type: number
          example: 1.0
        OtherIntegrationFees:
          format: double
          type: number
          example: 12.5
        OtherIntegrationFeesExcludingVat:
          format: double
          type: number
          example: 12.5
        OtherIntegrationFeesVatAmount:
          format: double
          type: number
          example: 12.5
        OtherIntegrationTips:
          format: double
          type: number
          example: 1.0
        RefundedFeesOnRefundedSales:
          format: double
          type: number
          example: 12.5
        Vat:
          format: double
          type: number
          example: 1.0
        RefundedFeesOnPosSales:
          format: double
          type: number
          example: 12.5
        Total:
          format: double
          type: number
          example: 12.5
        ThirdPartyIntegrationFeesAndTips:
          format: double
          type: number
          example: 12.5
        WebAndAppCardOnXOrders:
          format: int32
          type: integer
          example: 1
        WebAndAppCashOnXOrders:
          format: int32
          type: integer
          example: 1
        KioskCardOnXOrders:
          format: int32
          type: integer
          example: 1
        KioskCashOnXOrders:
          format: int32
          type: integer
          example: 1
        QropCardOnXOrders:
          format: int32
          type: integer
          example: 1
        QropCashOnXOrders:
          format: int32
          type: integer
          example: 1
        PosCardOnXOrders:
          format: int32
          type: integer
          example: 1
    PayoutReport3StorePayouts:
      type: object
      properties:
        Stores:
          type: array
          items:
            $ref: '#/components/schemas/PayoutReport3StorePayout'
          example: []
    PayoutReport3OverviewHeader:
      type: object
      properties:
        PayoutId:
          format: int32
          type: integer
          example: 500123
        BankAccountId:
          format: int32
          type: integer
          example: 500123
        IsManualPayout:
          type: boolean
          example: true
        AccountName:
          type: string
          example: Example Name
        PayoutStatus:
          type: string
          example: Active
        CreatedDate:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        PeriodStartTime:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        PeriodEndTime:
          format: date-time
          type: string
          example: '2026-06-02T12:00:00Z'
        DestinationBank:
          type: string
          example: string
        DestinationAccount:
          type: string
          example: string
        Amount:
          format: double
          type: number
          example: 12.5
        Currency:
          type: string
          example: EUR
        BankAccountHasChanged:
          type: boolean
          example: true
    PayoutReport3PropertyFilterOption:
      type: object
      properties:
        PropertyId:
          type: string
          example: '500123'
        PropertyName:
          type: string
          example: Example Name
        StoreIds:
          type: array
          items:
            format: int32
            type: integer
          example:
          - 1
    RestApiResult_PayoutReport3Overview_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/PayoutReport3Overview'
    FileCreationResult:
      description: FileCreationResult.
      type: object
      properties:
        FileId:
          description: FileId.
          type: string
          example: '500123'
        Location:
          description: Location.
          type: string
          example: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
