openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Home API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Home
  description: Operations for Home.
paths:
  /api/v1.0/{appId}/home:
    get:
      tags:
      - Home
      operationId: GetHomeActions
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_HomeAction_'
              examples:
                GetHomeActions200Example:
                  summary: Default GetHomeActions 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeActions400Example:
                  summary: Default GetHomeActions 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeActions401Example:
                  summary: Default GetHomeActions 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeActions403Example:
                  summary: Default GetHomeActions 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeActions404Example:
                  summary: Default GetHomeActions 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeActions500Example:
                  summary: Default GetHomeActions 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Home Actions
      description: Get Home Actions via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/home).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/home/okta-portal:
    get:
      tags:
      - Home
      operationId: GetOktaPortalFeatureFlag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_OktaPortalFeatureFlag_'
              examples:
                GetOktaPortalFeatureFlag200Example:
                  summary: Default GetOktaPortalFeatureFlag 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      OktaPortalEnabled: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOktaPortalFeatureFlag400Example:
                  summary: Default GetOktaPortalFeatureFlag 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOktaPortalFeatureFlag401Example:
                  summary: Default GetOktaPortalFeatureFlag 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOktaPortalFeatureFlag403Example:
                  summary: Default GetOktaPortalFeatureFlag 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOktaPortalFeatureFlag404Example:
                  summary: Default GetOktaPortalFeatureFlag 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOktaPortalFeatureFlag500Example:
                  summary: Default GetOktaPortalFeatureFlag 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Okta Portal Feature Flag
      description: Get Okta Portal Feature Flag via the Flipdish Open API v1.0 (GET /api/v1.0/home/okta-portal).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/home/stats:
    get:
      tags:
      - Home
      operationId: GetHomeStatistics
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_HomeStatistics_'
              examples:
                GetHomeStatistics200Example:
                  summary: Default GetHomeStatistics 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      TotalMoneySaved: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeStatistics400Example:
                  summary: Default GetHomeStatistics 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeStatistics401Example:
                  summary: Default GetHomeStatistics 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeStatistics403Example:
                  summary: Default GetHomeStatistics 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetHomeStatistics500Example:
                  summary: Default GetHomeStatistics 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Home Statistics
      description: Get Home Statistics via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/home/stats).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/home/{homeActionId}:
    post:
      tags:
      - Home
      operationId: CompleteHomeAction
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: homeActionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The home action id path parameter.
        example: 500123
      - name: isDismissed
        in: query
        required: true
        schema:
          type: boolean
        description: The is dismissed query parameter.
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                CompleteHomeAction200Example:
                  summary: Default CompleteHomeAction 200 response
                  x-microcks-default: true
                  value: {}
        '204':
          description: NoContent
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CompleteHomeAction400Example:
                  summary: Default CompleteHomeAction 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CompleteHomeAction401Example:
                  summary: Default CompleteHomeAction 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CompleteHomeAction403Example:
                  summary: Default CompleteHomeAction 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CompleteHomeAction404Example:
                  summary: Default CompleteHomeAction 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CompleteHomeAction500Example:
                  summary: Default CompleteHomeAction 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Complete Home Action
      description: Complete Home Action via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/home/{homeActionId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OktaPortalFeatureFlag:
      description: Okta Portal Feature Flag Value
      type: object
      properties:
        OktaPortalEnabled:
          description: Feature flag backend_portal_enableOktaWebApi value
          type: boolean
          example: true
    CurrencyData:
      description: A single currency data piece, with no date
      type: object
      properties:
        Currency:
          description: Currency
          enum:
          - EUR
          - USD
          - GBP
          - CAD
          - AUD
          - DJF
          - ZAR
          - ETB
          - AED
          - BHD
          - DZD
          - EGP
          - IQD
          - JOD
          - KWD
          - LBP
          - LYD
          - MAD
          - OMR
          - QAR
          - SAR
          - SYP
          - TND
          - YER
          - CLP
          - INR
          - AZN
          - RUB
          - BYN
          - BGN
          - NGN
          - BDT
          - CNY
          - BAM
          - CZK
          - DKK
          - CHF
          - MVR
          - BTN
          - XCD
          - BZD
          - HKD
          - IDR
          - JMD
          - MYR
          - NZD
          - PHP
          - SGD
          - TTD
          - XDR
          - ARS
          - BOB
          - COP
          - CRC
          - CUP
          - DOP
          - GTQ
          - HNL
          - MXN
          - NIO
          - PAB
          - PEN
          - PYG
          - UYU
          - VEF
          - IRR
          - XOF
          - CDF
          - XAF
          - HTG
          - ILS
          - HRK
          - HUF
          - AMD
          - ISK
          - JPY
          - GEL
          - KZT
          - KHR
          - KRW
          - KGS
          - LAK
          - MKD
          - MNT
          - BND
          - MMK
          - NOK
          - NPR
          - PKR
          - PLN
          - AFN
          - BRL
          - MDL
          - RON
          - RWF
          - SEK
          - LKR
          - SOS
          - ALL
          - RSD
          - KES
          - TJS
          - THB
          - ERN
          - TMT
          - BWP
          - TRY
          - UAH
          - UZS
          - VND
          - MOP
          - TWD
          - BMD
          type: string
          example: EUR
        Value:
          format: double
          description: Value
          type: number
          example: 1.0
    RestApiArrayResult_HomeAction_:
      description: Rest api array result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/HomeAction'
          example: []
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    RestApiResult_HomeStatistics_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/HomeStatistics'
    RestApiResult_OktaPortalFeatureFlag_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OktaPortalFeatureFlag'
    HomeAction:
      description: ''
      type: object
      properties:
        HomeActionId:
          format: int32
          description: ''
          type: integer
          example: 500123
        HomeActionType:
          description: Type of Action
          enum:
          - Portal
          - External
          type: string
          example: Portal
        Order:
          format: int32
          description: ''
          type: integer
          example: 1
        TitleKey:
          description: ''
          type: string
          example: string
        ActionKey:
          description: ''
          type: string
          example: string
        DescriptionKey:
          description: ''
          type: string
          example: string
        Action:
          description: ''
          type: string
          example: string
        Dismissible:
          description: ''
          type: boolean
          example: true
    HomeStatistics:
      description: Home statitstics
      type: object
      properties:
        TotalMoneySaved:
          description: Money saved
          type: array
          items:
            $ref: '#/components/schemas/CurrencyData'
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
