openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Menus API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Menus
  description: Operations for Menus.
paths:
  /api/v1.0/{appId}/menus:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menus by App Id
      operationId: GetMenusByAppId
      parameters:
      - name: appId
        in: path
        description: Get Menus for this appId
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_MenuSummary_'
              examples:
                GetMenusByAppId200Example:
                  summary: Default GetMenusByAppId 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusByAppId400Example:
                  summary: Default GetMenusByAppId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusByAppId401Example:
                  summary: Default GetMenusByAppId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusByAppId403Example:
                  summary: Default GetMenusByAppId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusByAppId404Example:
                  summary: Default GetMenusByAppId 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusByAppId409Example:
                  summary: Default GetMenusByAppId 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusByAppId500Example:
                  summary: Default GetMenusByAppId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menus by App Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/menus).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Menus
      summary: Flipdish Create New Menu for App
      description: Create New Menu for App via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/menus).
      operationId: CreateNewMenuForApp
      parameters:
      - name: appId
        in: path
        description: App identifier
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFullMenu'
            examples:
              CreateNewMenuForAppRequestExample:
                summary: Default CreateNewMenuForApp request
                x-microcks-default: true
                value:
                  Name: Example Name
                  ImageUrl: https://api.flipdish.co/example
                  MenuSections: []
                  TaxRates: []
                  DisplaySectionLinks: true
                  MenuSectionBehaviour: ExpandSingle
                  TaxType: IncludedInBasePrice
                  IsIntegrated: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
              examples:
                CreateNewMenuForApp200Example:
                  summary: Default CreateNewMenuForApp 200 response
                  x-microcks-default: true
                  value: 1
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateNewMenuForApp400Example:
                  summary: Default CreateNewMenuForApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateNewMenuForApp401Example:
                  summary: Default CreateNewMenuForApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateNewMenuForApp403Example:
                  summary: Default CreateNewMenuForApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                CreateNewMenuForApp500Example:
                  summary: Default CreateNewMenuForApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      deprecated: true
      security:
      - oauth2:
        - api
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu by Id
      operationId: GetMenuById
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Menu_'
              examples:
                GetMenuById200Example:
                  summary: Default GetMenuById 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuId: 500123
                      ModifiedTime: '2026-06-02T12:00:00Z'
                      VersionNumber: 3
                      ImageName: Example Name
                      ImageUrl: https://api.flipdish.co/example
                      Name: Example Name
                      Locked: true
                      MenuSections: []
                      TaxRates: []
                      AppId: '500123'
                      DisplaySectionLinks: true
                      MenuSectionBehaviour: ExpandSingle
                      TaxType: IncludedInBasePrice
                      IsIntegrated: true
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuById400Example:
                  summary: Default GetMenuById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuById401Example:
                  summary: Default GetMenuById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuById403Example:
                  summary: Default GetMenuById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuById404Example:
                  summary: Default GetMenuById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuById409Example:
                  summary: Default GetMenuById 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuById500Example:
                  summary: Default GetMenuById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu by Id via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Menus
      summary: Flipdish Update Menu
      operationId: UpdateMenu
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuBase'
            examples:
              UpdateMenuRequestExample:
                summary: Default UpdateMenu request
                x-microcks-default: true
                value:
                  DisplaySectionLinks: true
                  MenuSectionBehaviour: ExpandSingle
                  TaxType: IncludedInBasePrice
                  IsIntegrated: true
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenu400Example:
                  summary: Default UpdateMenu 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenu401Example:
                  summary: Default UpdateMenu 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenu403Example:
                  summary: Default UpdateMenu 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenu404Example:
                  summary: Default UpdateMenu 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UpdateMenu500Example:
                  summary: Default UpdateMenu 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Update Menu via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Menus
      summary: Flipdish Delete Menu
      operationId: DeleteMenu
      parameters:
      - name: menuId
        in: path
        description: Menu Identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenu400Example:
                  summary: Default DeleteMenu 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenu401Example:
                  summary: Default DeleteMenu 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenu403Example:
                  summary: Default DeleteMenu 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenu404Example:
                  summary: Default DeleteMenu 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenu500Example:
                  summary: Default DeleteMenu 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Delete Menu via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/tax:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu Tax Details
      operationId: GetMenuTaxDetails
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_MenuTaxDetails_'
              examples:
                GetMenuTaxDetails200Example:
                  summary: Default GetMenuTaxDetails 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuTaxDetails400Example:
                  summary: Default GetMenuTaxDetails 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuTaxDetails401Example:
                  summary: Default GetMenuTaxDetails 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuTaxDetails403Example:
                  summary: Default GetMenuTaxDetails 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuTaxDetails404Example:
                  summary: Default GetMenuTaxDetails 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuTaxDetails500Example:
                  summary: Default GetMenuTaxDetails 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Tax Details via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/tax).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/name:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu Name
      operationId: GetMenuName
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
              examples:
                GetMenuName200Example:
                  summary: Default GetMenuName 200 response
                  x-microcks-default: true
                  value: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuName400Example:
                  summary: Default GetMenuName 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuName401Example:
                  summary: Default GetMenuName 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuName403Example:
                  summary: Default GetMenuName 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuName404Example:
                  summary: Default GetMenuName 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuName500Example:
                  summary: Default GetMenuName 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Name via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/name).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Menus
      summary: Flipdish Set Menu Name
      operationId: SetMenuName
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            examples:
              SetMenuNameRequestExample:
                summary: Default SetMenuName request
                x-microcks-default: true
                value: string
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuName400Example:
                  summary: Default SetMenuName 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuName401Example:
                  summary: Default SetMenuName 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuName403Example:
                  summary: Default SetMenuName 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuName404Example:
                  summary: Default SetMenuName 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuName500Example:
                  summary: Default SetMenuName 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Set Menu Name via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/name).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/stores:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu Store Names
      operationId: GetMenuStoreNames
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_MenuStoreNames_'
              examples:
                GetMenuStoreNames200Example:
                  summary: Default GetMenuStoreNames 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuStoreNames400Example:
                  summary: Default GetMenuStoreNames 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuStoreNames401Example:
                  summary: Default GetMenuStoreNames 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuStoreNames403Example:
                  summary: Default GetMenuStoreNames 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuStoreNames404Example:
                  summary: Default GetMenuStoreNames 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuStoreNames409Example:
                  summary: Default GetMenuStoreNames 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuStoreNames500Example:
                  summary: Default GetMenuStoreNames 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Store Names via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/stores).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/checkpoints:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menus Checkpoints
      operationId: GetMenusCheckpoints
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_MenuCheckpoint_'
              examples:
                GetMenusCheckpoints200Example:
                  summary: Default GetMenusCheckpoints 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusCheckpoints400Example:
                  summary: Default GetMenusCheckpoints 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusCheckpoints401Example:
                  summary: Default GetMenusCheckpoints 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusCheckpoints403Example:
                  summary: Default GetMenusCheckpoints 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenusCheckpoints500Example:
                  summary: Default GetMenusCheckpoints 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menus Checkpoints via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/checkpoints).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/metadata/store/{storeId}:
    get:
      tags:
      - Menus
      summary: Flipdish Get All Menu Metadata by Menu Id and Store Id
      operationId: GetAllMenuMetadataByMenuIdAndStoreId
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_AllMetadataResult_'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId200Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId400Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId401Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId403Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId404Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId409Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetAllMenuMetadataByMenuIdAndStoreId500Example:
                  summary: Default GetAllMenuMetadataByMenuIdAndStoreId 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get All Menu Metadata by Menu Id and Store Id via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/metadata/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/bulkshowhide/list:
    get:
      tags:
      - Menus
      summary: Flipdish Menus_Get Menu Bulk Show Hide
      operationId: Menus_GetMenuBulkShowHide
      parameters:
      - name: menuId
        in: path
        description: Menu id
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: isAvailable
        in: query
        description: Is available flag
        required: true
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_MenuElementListResponse_'
              examples:
                Menus_GetMenuBulkShowHide200Example:
                  summary: Default Menus_GetMenuBulkShowHide 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Menus_GetMenuBulkShowHide400Example:
                  summary: Default Menus_GetMenuBulkShowHide 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Menus_GetMenuBulkShowHide401Example:
                  summary: Default Menus_GetMenuBulkShowHide 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Menus_GetMenuBulkShowHide403Example:
                  summary: Default Menus_GetMenuBulkShowHide 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                Menus_GetMenuBulkShowHide500Example:
                  summary: Default Menus_GetMenuBulkShowHide 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Menus_Get Menu Bulk Show Hide via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/bulkshowhide/list).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/menuitem/{menuItemId}/metadata/store/{storeId}:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu Item Metadata
      operationId: GetMenuItemMetadata
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuItemId
        in: path
        description: Menu item identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiArrayResult_Metadata_'
              examples:
                GetMenuItemMetadata200Example:
                  summary: Default GetMenuItemMetadata 200 response
                  x-microcks-default: true
                  value:
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadata400Example:
                  summary: Default GetMenuItemMetadata 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadata401Example:
                  summary: Default GetMenuItemMetadata 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadata403Example:
                  summary: Default GetMenuItemMetadata 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadata404Example:
                  summary: Default GetMenuItemMetadata 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadata409Example:
                  summary: Default GetMenuItemMetadata 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadata500Example:
                  summary: Default GetMenuItemMetadata 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Item Metadata via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/menuitem/{menuItemId}/metadata/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Menus
      summary: Flipdish Set Menu Item Metadata
      operationId: SetMenuItemMetadata
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuItemId
        in: path
        description: Menu item identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemMetadata400Example:
                  summary: Default SetMenuItemMetadata 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemMetadata401Example:
                  summary: Default SetMenuItemMetadata 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemMetadata403Example:
                  summary: Default SetMenuItemMetadata 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemMetadata404Example:
                  summary: Default SetMenuItemMetadata 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemMetadata409Example:
                  summary: Default SetMenuItemMetadata 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemMetadata500Example:
                  summary: Default SetMenuItemMetadata 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Set Menu Item Metadata via the Flipdish Open API v1.0 (PUT /api/v1.0/menus/{menuId}/menuitem/{menuItemId}/metadata/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/menuitem/{menuItemId}/metadata/{key}/store/{storeId}:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu Item Metadata by Key
      operationId: GetMenuItemMetadataByKey
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuItemId
        in: path
        description: Menu item identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: key
        in: path
        description: Metadata key
        required: true
        schema:
          type: string
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Metadata_'
              examples:
                GetMenuItemMetadataByKey200Example:
                  summary: Default GetMenuItemMetadataByKey 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuEntityId: 500123
                      Key: string
                      Value: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadataByKey400Example:
                  summary: Default GetMenuItemMetadataByKey 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadataByKey401Example:
                  summary: Default GetMenuItemMetadataByKey 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadataByKey403Example:
                  summary: Default GetMenuItemMetadataByKey 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadataByKey404Example:
                  summary: Default GetMenuItemMetadataByKey 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadataByKey409Example:
                  summary: Default GetMenuItemMetadataByKey 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemMetadataByKey500Example:
                  summary: Default GetMenuItemMetadataByKey 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Item Metadata by Key via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/menuitem/{menuItemId}/metadata/{key}/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Menus
      summary: Flipdish Delete Menu Item Metadata
      operationId: DeleteMenuItemMetadata
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuItemId
        in: path
        description: Menu item identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: key
        in: path
        description: Metadata key
        required: true
        schema:
          type: string
        example: string
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuItemMetadata400Example:
                  summary: Default DeleteMenuItemMetadata 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuItemMetadata401Example:
                  summary: Default DeleteMenuItemMetadata 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuItemMetadata403Example:
                  summary: Default DeleteMenuItemMetadata 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuItemMetadata404Example:
                  summary: Default DeleteMenuItemMetadata 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuItemMetadata409Example:
                  summary: Default DeleteMenuItemMetadata 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuItemMetadata500Example:
                  summary: Default DeleteMenuItemMetadata 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Delete Menu Item Metadata via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/menuitem/{menuItemId}/metadata/{key}/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/optionsetitem/{optionSetItemId}/metadata/store/{storeId}:
    get:
      tags:
      - Menus
      summary: Flipdish Get Menu Item Option Set Item Metadata
      operationId: GetMenuItemOptionSetItemMetadata
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: optionSetItemId
        in: path
        description: Menu item option set item identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_Metadata_'
              examples:
                GetMenuItemOptionSetItemMetadata200Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      MenuEntityId: 500123
                      Key: string
                      Value: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemOptionSetItemMetadata400Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemOptionSetItemMetadata401Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemOptionSetItemMetadata403Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemOptionSetItemMetadata404Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemOptionSetItemMetadata409Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuItemOptionSetItemMetadata500Example:
                  summary: Default GetMenuItemOptionSetItemMetadata 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Get Menu Item Option Set Item Metadata via the Flipdish Open API v1.0 (GET /api/v1.0/menus/{menuId}/optionsetitem/{optionSetItemId}/metadata/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Menus
      summary: Flipdish Set Menu Item Option Set Item Metadata
      operationId: SetMenuItemOptionSetItemMetadata
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: path
        description: Store identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: optionSetItemId
        in: path
        description: Menu item option set item identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemOptionSetItemMetadata400Example:
                  summary: Default SetMenuItemOptionSetItemMetadata 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemOptionSetItemMetadata401Example:
                  summary: Default SetMenuItemOptionSetItemMetadata 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemOptionSetItemMetadata403Example:
                  summary: Default SetMenuItemOptionSetItemMetadata 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemOptionSetItemMetadata404Example:
                  summary: Default SetMenuItemOptionSetItemMetadata 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemOptionSetItemMetadata409Example:
                  summary: Default SetMenuItemOptionSetItemMetadata 409 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuItemOptionSetItemMetadata500Example:
                  summary: Default SetMenuItemOptionSetItemMetadata 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Set Menu Item Option Set Item Metadata via the Flipdish Open API v1.0 (PUT /api/v1.0/menus/{menuId}/optionsetitem/{optionSetItemId}/metadata/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/menus/xlsx:
    post:
      tags:
      - Menus
      summary: Flipdish Upload New Menu for App
      operationId: UploadNewMenuForApp
      parameters:
      - name: appId
        in: path
        description: App identifier
        required: true
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Menu:
                  description: Uploaded xlsx menu
                  type: string
                  format: binary
              required:
              - Menu
            examples:
              UploadNewMenuForAppRequestExample:
                summary: Default UploadNewMenuForApp request
                x-microcks-default: true
                value:
                  Menu: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
              examples:
                UploadNewMenuForApp200Example:
                  summary: Default UploadNewMenuForApp 200 response
                  x-microcks-default: true
                  value: 1
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadNewMenuForApp400Example:
                  summary: Default UploadNewMenuForApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadNewMenuForApp401Example:
                  summary: Default UploadNewMenuForApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadNewMenuForApp403Example:
                  summary: Default UploadNewMenuForApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadNewMenuForApp500Example:
                  summary: Default UploadNewMenuForApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Upload New Menu for App via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/menus/xlsx).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/lock:
    post:
      tags:
      - Menus
      summary: Flipdish Set Menu Lock
      operationId: SetMenuLock
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: boolean
            examples:
              SetMenuLockRequestExample:
                summary: Default SetMenuLock request
                x-microcks-default: true
                value: true
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuLock400Example:
                  summary: Default SetMenuLock 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuLock401Example:
                  summary: Default SetMenuLock 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuLock403Example:
                  summary: Default SetMenuLock 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuLock404Example:
                  summary: Default SetMenuLock 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SetMenuLock500Example:
                  summary: Default SetMenuLock 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Set Menu Lock via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/lock).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/image:
    post:
      tags:
      - Menus
      summary: Flipdish Upload Menu Image
      operationId: UploadMenuImage
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Image:
                  description: Menu image
                  type: string
                  format: binary
              required:
              - Image
            examples:
              UploadMenuImageRequestExample:
                summary: Default UploadMenuImage request
                x-microcks-default: true
                value:
                  Image: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                UploadMenuImage200Example:
                  summary: Default UploadMenuImage 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuImage400Example:
                  summary: Default UploadMenuImage 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuImage401Example:
                  summary: Default UploadMenuImage 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuImage403Example:
                  summary: Default UploadMenuImage 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuImage404Example:
                  summary: Default UploadMenuImage 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                UploadMenuImage500Example:
                  summary: Default UploadMenuImage 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Upload Menu Image via the Flipdish Open API v1.0 (POST /api/v1.0/menus/{menuId}/image).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Menus
      summary: Flipdish Delete Menu Image
      operationId: DeleteMenuImage
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuImage400Example:
                  summary: Default DeleteMenuImage 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuImage401Example:
                  summary: Default DeleteMenuImage 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuImage403Example:
                  summary: Default DeleteMenuImage 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuImage404Example:
                  summary: Default DeleteMenuImage 404 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                DeleteMenuImage500Example:
                  summary: Default DeleteMenuImage 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      description: Delete Menu Image via the Flipdish Open API v1.0 (DELETE /api/v1.0/menus/{menuId}/image).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/menus/{menuId}/taxrate:
    post:
      tags:
      - Menus
      summary: Flipdish Menus_Upsert Tax Rate
      operationId: Menus_UpsertTaxRate
      parameters:
      - name: menuId
        in: path
        description: Menu identifier
        required: true
        schema:
          type: integer
          format: int32
        example: 500123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuTaxRate'
            examples:
              Menus_UpsertTaxRateRequestExample:
                summary: Default Menus_UpsertTaxRate request
                x-microcks-default: true
                value:
                  TaxRateId: 500123
                  Name: Example Name
                  Rate: 1.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuTaxRate'
              examples:
                Menus_UpsertTaxRate200Example:
                  summary: Default Menus_UpsertTaxRate 200 response
                  x-microcks-default: true
                  value:
                    TaxRateId: 500123
                    Name: Example Name
[...]
