openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Address API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Address
  description: Operations for Address.
paths:
  /api/v1.0/address/countries:
    get:
      tags:
      - Address
      operationId: GetCountries
      parameters:
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: The language query parameter.
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_CountryFormResponse_'
              examples:
                GetCountries200Example:
                  summary: Default GetCountries 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      Value: string
                      Label: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCountries400Example:
                  summary: Default GetCountries 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCountries401Example:
                  summary: Default GetCountries 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCountries403Example:
                  summary: Default GetCountries 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCountries500Example:
                  summary: Default GetCountries 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Countries
      description: Get Countries via the Flipdish Open API v1.0 (GET /api/v1.0/address/countries).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/app/{appId}/address/form:
    get:
      tags:
      - Address
      operationId: FormByApp
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: The language query parameter.
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AddressFormResponse_'
              examples:
                FormByApp200Example:
                  summary: Default FormByApp 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FormData: []
                      CountryCode: IE
                      Language: string
                      DisplayFormat:
                        OneLine: string
                        TwoLines:
                        - string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByApp400Example:
                  summary: Default FormByApp 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByApp401Example:
                  summary: Default FormByApp 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByApp403Example:
                  summary: Default FormByApp 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByApp500Example:
                  summary: Default FormByApp 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Form by App
      description: Form by App via the Flipdish Open API v1.0 (GET /api/v1.0/app/{appId}/address/form).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/address/country/{countryCode}/form:
    get:
      tags:
      - Address
      operationId: FormByCountry
      parameters:
      - name: countryCode
        in: path
        required: true
        schema:
          type: string
        description: The country code path parameter.
        example: IE
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: The language query parameter.
        example: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AddressFormResponse_'
              examples:
                FormByCountry200Example:
                  summary: Default FormByCountry 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FormData: []
                      CountryCode: IE
                      Language: string
                      DisplayFormat:
                        OneLine: string
                        TwoLines:
                        - string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByCountry400Example:
                  summary: Default FormByCountry 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByCountry401Example:
                  summary: Default FormByCountry 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByCountry403Example:
                  summary: Default FormByCountry 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormByCountry500Example:
                  summary: Default FormByCountry 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Form by Country
      description: Form by Country via the Flipdish Open API v1.0 (GET /api/v1.0/address/country/{countryCode}/form).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/address/templates:
    post:
      tags:
      - Address
      operationId: AddressTemplates
      requestBody:
        required: false
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiStringResult'
              examples:
                AddressTemplates200Example:
                  summary: Default AddressTemplates 200 response
                  x-microcks-default: true
                  value:
                    Data: string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddressTemplates400Example:
                  summary: Default AddressTemplates 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddressTemplates401Example:
                  summary: Default AddressTemplates 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddressTemplates403Example:
                  summary: Default AddressTemplates 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                AddressTemplates500Example:
                  summary: Default AddressTemplates 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Address Templates
      description: Address Templates via the Flipdish Open API v1.0 (POST /api/v1.0/address/templates).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/address/google:
    post:
      tags:
      - Address
      operationId: FormatGoogleAddress
      parameters:
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: The language query parameter.
        example: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAddress'
            examples:
              FormatGoogleAddressRequestExample:
                summary: Default FormatGoogleAddress request
                x-microcks-default: true
                value:
                  Results: []
                  Result:
                    Address_components: []
                    Formatted_address: string
                    Geometry:
                      Location: {}
                      Location_type: string
                      Viewport: {}
                    Place_id: '500123'
                    Types:
                    - string
                  Status: Active
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiResult_AddressFormResponse_'
              examples:
                FormatGoogleAddress200Example:
                  summary: Default FormatGoogleAddress 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      FormData: []
                      CountryCode: IE
                      Language: string
                      DisplayFormat:
                        OneLine: string
                        TwoLines:
                        - string
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormatGoogleAddress400Example:
                  summary: Default FormatGoogleAddress 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormatGoogleAddress401Example:
                  summary: Default FormatGoogleAddress 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormatGoogleAddress403Example:
                  summary: Default FormatGoogleAddress 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                FormatGoogleAddress500Example:
                  summary: Default FormatGoogleAddress 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Format Google Address
      description: Format Google Address via the Flipdish Open API v1.0 (POST /api/v1.0/address/google).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RestApiResult_AddressFormResponse_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/AddressFormResponse'
    GoogleViewport:
      type: object
      properties:
        Northeast:
          $ref: '#/components/schemas/GoogleCoordinates'
        Southwest:
          $ref: '#/components/schemas/GoogleCoordinates'
    AddressFormResponse:
      description: A response of a dyanmic form definition.
      type: object
      properties:
        FormData:
          description: List of field definitions.
          type: array
          items:
            $ref: '#/components/schemas/DynamicFormField'
          example: []
        CountryCode:
          description: ISO two letter code.
          type: string
          example: IE
        Language:
          description: ISO culture code.
          type: string
          example: string
        DisplayFormat:
          $ref: '#/components/schemas/AddressFormDisplayFormat'
    CountryFormResponse:
      description: Country
      type: object
      properties:
        Value:
          description: ISO two letter code.
          type: string
          example: string
        Label:
          description: Label
          type: string
          example: string
    RestApiStringResult:
      description: Rest api string result
      required:
      - Data
      type: object
      properties:
        Data:
          description: Data string
          type: string
          example: string
    DynamicFormFieldOption:
      type: object
      properties:
        Display:
          type: string
          example: string
        Value:
          type: string
          example: string
    GoogleAddress:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAddressResult'
          example: []
        Result:
          $ref: '#/components/schemas/GoogleAddressResult'
        Status:
          type: string
          example: Active
    GoogleCoordinates:
      type: object
      properties:
        Lat:
          format: float
          type: number
          example: 1.0
        Lng:
          format: float
          type: number
          example: 1.0
    RestApiResult_CountryFormResponse_:
      description: Rest api result
      required:
      - Data
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/CountryFormResponse'
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    GoogleAddressResult:
      type: object
      properties:
        Address_components:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAddressComponent'
          example: []
        Formatted_address:
          type: string
          example: string
        Geometry:
          $ref: '#/components/schemas/GoogleGeometry'
        Place_id:
          type: string
          example: '500123'
        Types:
          type: array
          items:
            type: string
          example:
          - string
    GoogleLocation:
      type: object
      properties:
        Lat:
          format: float
          type: number
          example: 1.0
        Lng:
          format: float
          type: number
          example: 1.0
    GoogleAddressComponent:
      type: object
      properties:
        Long_name:
          type: string
          example: Example Name
        Short_name:
          type: string
          example: Example Name
        Types:
          type: array
          items:
            type: string
          example:
          - string
    GoogleGeometry:
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/GoogleLocation'
        Location_type:
          type: string
          example: string
        Viewport:
          $ref: '#/components/schemas/GoogleViewport'
    DynamicFormField:
      type: object
      properties:
        Identifier:
          type: string
          example: string
        Label:
          type: string
          example: string
        Placeholder:
          type: string
          example: string
        Rules:
          $ref: '#/components/schemas/DynamicFormRules'
        Mapping:
          type: object
          additionalProperties:
            type: string
        Modifiers:
          type: array
          items:
            type: string
          example:
          - string
        Value:
          type: object
        Scopes:
          type: string
          example: string
    DynamicFormRule:
      type: object
      properties:
        Value:
          type: object
        Message:
          type: string
          example: string
        Scopes:
          type: string
          example: string
    AddressFormDisplayFormat:
      type: object
      properties:
        OneLine:
          type: string
          example: string
        TwoLines:
          type: array
          items:
            type: string
          example:
          - string
    DynamicFormRules:
      type: object
      properties:
        MaxLength:
          $ref: '#/components/schemas/DynamicFormRule'
        MinLength:
          $ref: '#/components/schemas/DynamicFormRule'
        Required:
          $ref: '#/components/schemas/DynamicFormRule'
        Pattern:
          $ref: '#/components/schemas/DynamicFormRule'
        Predefined:
          type: array
          items:
            $ref: '#/components/schemas/DynamicFormFieldOption'
          example: []
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
