openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Events API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Events
  description: Operations for Events.
paths:
  /api/v1.0/{appId}/events/{eventId}:
    get:
      tags:
      - Events
      operationId: GetEventsById
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The event id path parameter.
        example: '500123'
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSearchResult'
              examples:
                GetEventsById200Example:
                  summary: Default GetEventsById 200 response
                  x-microcks-default: true
                  value:
                    AppCreatedEvent: []
                    AppUpdatedEvent: []
                    AnalyticsClientEvent: []
                    OrderAcceptedEvent: []
                    OrderDispatchedEvent: []
                    OrderCustomerTrackingCreatedEvent: []
                    OrderDeliveryTrackingStatusUpdatedEvent: []
                    OrderBatchPublishedEvent: []
                    OrderCreatedEvent: []
                    OrderRatingUpdatedEvent: []
                    OrderRefundedEvent: []
                    OrderRejectedEvent: []
                    OrderTipUpdatedEvent: []
                    OrderTerminalNotifications: []
                    StoreCreatedEvent: []
                    StoreDeletedEvent: []
                    StoreAddressUpdatedEvent: []
                    StoreKioskSettingUpdatedEvent: []
                    DeliveryZoneCreatedEvent: []
                    DeliveryZoneUpdatedEvent: []
                    DeliveryZoneDeletedEvent: []
                    StoreOpeningHoursUpdatedEvent: []
                    StoreMenuAssignedEvent: []
                    StoreBusinessHoursOverrideCreatedEvent: []
                    StoreBusinessHoursOverrideDeletedEvent: []
                    StoreArchivedEvent: []
                    StoreUnarchivedEvent: []
                    StorePublishedEvent: []
                    StoreUnpublishedEvent: []
                    StoreUpdatedEvent: []
                    StorePreOrderConfigUpdatedEvent: []
                    StoreLogoCreatedEvent: []
                    StoreLogoUpdatedEvent: []
                    StoreLogoDeletedEvent: []
                    MenuCreatedEvent: []
                    MenuAsyncCreationCompletedEvent: []
                    MenuUpdatedEvent: []
                    MenuUploadedEvent: []
                    MenuBulkEditEvent: []
                    MenuSectionCreatedEvent: []
                    MenuSectionUpdatedEvent: []
                    MenuSectionDeletedEvent: []
                    MenuSectionItemCreatedEvent: []
                    MenuSectionItemUpdatedEvent: []
                    MenuSectionItemDeletedEvent: []
                    MenuItemOptionSetCreatedEvent: []
                    MenuItemOptionSetUpdatedEvent: []
                    MenuItemOptionSetDeletedEvent: []
                    MenuItemOptionSetItemCreatedEvent: []
                    MenuItemOptionSetItemUpdatedEvent: []
                    MenuItemOptionSetItemDeletedEvent: []
                    MenuCheckpointCreatedEvent: []
                    StoreGroupCreatedEvent: []
                    StoreGroupUpdatedEvent: []
                    StoreGroupDeletedEvent: []
                    CustomerCreatedEvent: []
                    CustomerUpdatedEvent: []
                    CustomerConsentUpdatedEvent: []
                    WebhookSubscriptionCreatedEvent: []
                    WebhookSubscriptionUpdatedEvent: []
                    WebhookSubscriptionDeletedEvent: []
                    PrinterTurnedOnEvent: []
                    PrinterTurnedOffEvent: []
                    PrinterAssignedToStoreEvent: []
                    PrinterUnassignedFromStoreEvent: []
                    PhoneCallStartedEvent: []
                    PhoneCallEndedEvent: []
                    TelephonyConfigUpdatedEvent: []
                    ChannelStoresUpdatedEvent: []
                    LoyaltyCampaignCreatedEvent: []
                    LoyaltyCampaignDeletedEvent: []
                    LoyaltyCampaignUpdatedEvent: []
                    RetentionCampaignCreatedEvent: []
                    RetentionCampaignDeletedEvent: []
                    RetentionCampaignUpdatedEvent: []
                    SmsReceivedEvent: []
                    UserLoginEvent: []
                    UserCreatedEvent: []
                    UserUpdatedEvent: []
                    UserDeletedEvent: []
                    UserCreatedPasswordEvent: []
                    UserAnsweredSignupQuestionsEvent: []
                    VoucherCreatedEvent: []
                    VoucherUpdatedEvent: []
                    VoucherDeletedEvent: []
                    VoucherAppliedEvent: []
                    TeammateInviteSentEvent: []
                    TeammateInviteAcceptedEvent: []
                    TeammateUpdatedEvent: []
                    TeammateDeletedEvent: []
                    BankAccountCreatedEvent: []
                    BankAccountUpdatedEvent: []
                    BankAccountDeletedEvent: []
                    BankAccountAssignedEvent: []
                    HydraAssignedEvent: []
                    HydraRequestResetEvent: []
                    HydraStoreAssignedEvent: []
                    HydraStoreUnassignedEvent: []
                    HydraSettingChangedEvent: []
                    HydraUnAssignedEvent: []
                    HydraConnectionStatusChangedEvent: []
                    KioskBluetoothPairingModeEvent: []
                    KioskBluetoothUnpairingModeEvent: []
                    KioskBluetoothTerminalUnpairedEvent: []
                    KioskTerminalActionStateChangedEvent: []
                    KioskBluetoothTerminalUpdatedEvent: []
                    KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                    KioskBluetoothInstallUpdateInitiateEvent: []
                    KioskBluetoothTerminalCancelUpdateEvent: []
                    KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                    KioskBluetoothTerminalInstallationStatusEvent: []
                    PushNotificationScheduledEvent: []
                    PushNotificationSentEvent: []
                    PushNotificationDeletedEvent: []
                    DnsVerifiedEvent: []
                    CertificateCreatedEvent: []
                    CertificateRenewedEvent: []
                    WebsiteVanityUrlUpdatedEvent: []
                    WebsiteUpdatedEvent: []
                    OrderCapacityUpdatedEvent: []
                    ExternalStoreEvent: []
                    OrderFulfillmentStatusUpdatedEvent: []
                    AppStoreConfigCreatedEvent: []
                    AppStoreConfigUpdatedEvent: []
                    AppStoreConfigDeletedEvent: []
                    AppStoreSubscriptionChangeJobUpdatedEvent: []
                    CatalogItemCreatedEvent: []
                    CatalogItemUpdatedEvent: []
                    CatalogItemArchivedEvent: []
                    CatalogGroupCreatedEvent: []
                    CatalogGroupUpdatedEvent: []
                    CatalogGroupArchivedEvent: []
                    StoreTipUpdatedEvent: []
                    LocationAreaCreatedEvent: []
                    LocationAreaUpdatedEvent: []
                    LocationCreatedEvent: []
                    LocationDeletedEvent: []
                    StoreServiceChargeUpdatedEvent: []
                    MobileAppsSubmissionStatusUpdatedEvent: []
                    MobileAppsSubmissionUpdatedEvent: []
                    StoreFeeConfigUpdatedEvent: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEventsById400Example:
                  summary: Default GetEventsById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEventsById401Example:
                  summary: Default GetEventsById 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEventsById403Example:
                  summary: Default GetEventsById 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetEventsById500Example:
                  summary: Default GetEventsById 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Events by Id
      description: Get Events by Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/{eventId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/menu/{menuId}:
    get:
      tags:
      - Events
      operationId: GetMenuEvents
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: menuId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The menu id path parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: page
        in: query
        description: The index of the page to return, starting by 1
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: start
        in: query
        description: Start date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: end
        in: query
        description: End date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: orderId
        in: query
        description: Events that have Order Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: query
        description: Events that have Store Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeIdList
        in: query
        description: Events that have Store Id List
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: storeGroupId
        in: query
        description: Events that have Store Group Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userId
        in: query
        description: Events that have User Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuId
        in: query
        description: Events that have Menu Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: campaignId
        in: query
        description: Events that have Campaign Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userEmail
        in: query
        description: Events that have User Email
        required: false
        schema:
          type: string
        example: owner@example.com
      - name: userName
        in: query
        description: Events that have User Name
        required: false
        schema:
          type: string
        example: Example Name
      - name: voucherCode
        in: query
        description: Events that have voucher code
        required: false
        schema:
          type: string
        example: string
      - name: eventType
        in: query
        description: Events that have event type\s
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: flipdishEventId
        in: query
        description: Unique Identifier of Event, if this is specified, all other criteria are ignored.
        required: false
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiEventSearchPaginationResult'
              examples:
                GetMenuEvents200Example:
                  summary: Default GetMenuEvents 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppCreatedEvent: []
                      AppUpdatedEvent: []
                      AnalyticsClientEvent: []
                      OrderAcceptedEvent: []
                      OrderDispatchedEvent: []
                      OrderCustomerTrackingCreatedEvent: []
                      OrderDeliveryTrackingStatusUpdatedEvent: []
                      OrderBatchPublishedEvent: []
                      OrderCreatedEvent: []
                      OrderRatingUpdatedEvent: []
                      OrderRefundedEvent: []
                      OrderRejectedEvent: []
                      OrderTipUpdatedEvent: []
                      OrderTerminalNotifications: []
                      StoreCreatedEvent: []
                      StoreDeletedEvent: []
                      StoreAddressUpdatedEvent: []
                      StoreKioskSettingUpdatedEvent: []
                      DeliveryZoneCreatedEvent: []
                      DeliveryZoneUpdatedEvent: []
                      DeliveryZoneDeletedEvent: []
                      StoreOpeningHoursUpdatedEvent: []
                      StoreMenuAssignedEvent: []
                      StoreBusinessHoursOverrideCreatedEvent: []
                      StoreBusinessHoursOverrideDeletedEvent: []
                      StoreArchivedEvent: []
                      StoreUnarchivedEvent: []
                      StorePublishedEvent: []
                      StoreUnpublishedEvent: []
                      StoreUpdatedEvent: []
                      StorePreOrderConfigUpdatedEvent: []
                      StoreLogoCreatedEvent: []
                      StoreLogoUpdatedEvent: []
                      StoreLogoDeletedEvent: []
                      MenuCreatedEvent: []
                      MenuAsyncCreationCompletedEvent: []
                      MenuUpdatedEvent: []
                      MenuUploadedEvent: []
                      MenuBulkEditEvent: []
                      MenuSectionCreatedEvent: []
                      MenuSectionUpdatedEvent: []
                      MenuSectionDeletedEvent: []
                      MenuSectionItemCreatedEvent: []
                      MenuSectionItemUpdatedEvent: []
                      MenuSectionItemDeletedEvent: []
                      MenuItemOptionSetCreatedEvent: []
                      MenuItemOptionSetUpdatedEvent: []
                      MenuItemOptionSetDeletedEvent: []
                      MenuItemOptionSetItemCreatedEvent: []
                      MenuItemOptionSetItemUpdatedEvent: []
                      MenuItemOptionSetItemDeletedEvent: []
                      MenuCheckpointCreatedEvent: []
                      StoreGroupCreatedEvent: []
                      StoreGroupUpdatedEvent: []
                      StoreGroupDeletedEvent: []
                      CustomerCreatedEvent: []
                      CustomerUpdatedEvent: []
                      CustomerConsentUpdatedEvent: []
                      WebhookSubscriptionCreatedEvent: []
                      WebhookSubscriptionUpdatedEvent: []
                      WebhookSubscriptionDeletedEvent: []
                      PrinterTurnedOnEvent: []
                      PrinterTurnedOffEvent: []
                      PrinterAssignedToStoreEvent: []
                      PrinterUnassignedFromStoreEvent: []
                      PhoneCallStartedEvent: []
                      PhoneCallEndedEvent: []
                      TelephonyConfigUpdatedEvent: []
                      ChannelStoresUpdatedEvent: []
                      LoyaltyCampaignCreatedEvent: []
                      LoyaltyCampaignDeletedEvent: []
                      LoyaltyCampaignUpdatedEvent: []
                      RetentionCampaignCreatedEvent: []
                      RetentionCampaignDeletedEvent: []
                      RetentionCampaignUpdatedEvent: []
                      SmsReceivedEvent: []
                      UserLoginEvent: []
                      UserCreatedEvent: []
                      UserUpdatedEvent: []
                      UserDeletedEvent: []
                      UserCreatedPasswordEvent: []
                      UserAnsweredSignupQuestionsEvent: []
                      VoucherCreatedEvent: []
                      VoucherUpdatedEvent: []
                      VoucherDeletedEvent: []
                      VoucherAppliedEvent: []
                      TeammateInviteSentEvent: []
                      TeammateInviteAcceptedEvent: []
                      TeammateUpdatedEvent: []
                      TeammateDeletedEvent: []
                      BankAccountCreatedEvent: []
                      BankAccountUpdatedEvent: []
                      BankAccountDeletedEvent: []
                      BankAccountAssignedEvent: []
                      HydraAssignedEvent: []
                      HydraRequestResetEvent: []
                      HydraStoreAssignedEvent: []
                      HydraStoreUnassignedEvent: []
                      HydraSettingChangedEvent: []
                      HydraUnAssignedEvent: []
                      HydraConnectionStatusChangedEvent: []
                      KioskBluetoothPairingModeEvent: []
                      KioskBluetoothUnpairingModeEvent: []
                      KioskBluetoothTerminalUnpairedEvent: []
                      KioskTerminalActionStateChangedEvent: []
                      KioskBluetoothTerminalUpdatedEvent: []
                      KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                      KioskBluetoothInstallUpdateInitiateEvent: []
                      KioskBluetoothTerminalCancelUpdateEvent: []
                      KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                      KioskBluetoothTerminalInstallationStatusEvent: []
                      PushNotificationScheduledEvent: []
                      PushNotificationSentEvent: []
                      PushNotificationDeletedEvent: []
                      DnsVerifiedEvent: []
                      CertificateCreatedEvent: []
                      CertificateRenewedEvent: []
                      WebsiteVanityUrlUpdatedEvent: []
                      WebsiteUpdatedEvent: []
                      OrderCapacityUpdatedEvent: []
                      ExternalStoreEvent: []
                      OrderFulfillmentStatusUpdatedEvent: []
                      AppStoreConfigCreatedEvent: []
                      AppStoreConfigUpdatedEvent: []
                      AppStoreConfigDeletedEvent: []
                      AppStoreSubscriptionChangeJobUpdatedEvent: []
                      CatalogItemCreatedEvent: []
                      CatalogItemUpdatedEvent: []
                      CatalogItemArchivedEvent: []
                      CatalogGroupCreatedEvent: []
                      CatalogGroupUpdatedEvent: []
                      CatalogGroupArchivedEvent: []
                      StoreTipUpdatedEvent: []
                      LocationAreaCreatedEvent: []
                      LocationAreaUpdatedEvent: []
                      LocationCreatedEvent: []
                      LocationDeletedEvent: []
                      StoreServiceChargeUpdatedEvent: []
                      MobileAppsSubmissionStatusUpdatedEvent: []
                      MobileAppsSubmissionUpdatedEvent: []
                      StoreFeeConfigUpdatedEvent: []
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuEvents400Example:
                  summary: Default GetMenuEvents 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuEvents401Example:
                  summary: Default GetMenuEvents 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuEvents403Example:
                  summary: Default GetMenuEvents 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetMenuEvents500Example:
                  summary: Default GetMenuEvents 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Menu Events
      description: Get Menu Events via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/menu/{menuId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/user/{userId}:
    get:
      tags:
      - Events
      operationId: GetUserEvents
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The user id path parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: page
        in: query
        description: The index of the page to return, starting by 1
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: start
        in: query
        description: Start date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: end
        in: query
        description: End date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: orderId
        in: query
        description: Events that have Order Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: query
        description: Events that have Store Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeIdList
        in: query
        description: Events that have Store Id List
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: storeGroupId
        in: query
        description: Events that have Store Group Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userId
        in: query
        description: Events that have User Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuId
        in: query
        description: Events that have Menu Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: campaignId
        in: query
        description: Events that have Campaign Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userEmail
        in: query
        description: Events that have User Email
        required: false
        schema:
          type: string
        example: owner@example.com
      - name: userName
        in: query
        description: Events that have User Name
        required: false
        schema:
          type: string
        example: Example Name
      - name: voucherCode
        in: query
        description: Events that have voucher code
        required: false
        schema:
          type: string
        example: string
      - name: eventType
        in: query
        description: Events that have event type\s
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: flipdishEventId
        in: query
        description: Unique Identifier of Event, if this is specified, all other criteria are ignored.
        required: false
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiEventSearchPaginationResult'
              examples:
                GetUserEvents200Example:
                  summary: Default GetUserEvents 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppCreatedEvent: []
                      AppUpdatedEvent: []
                      AnalyticsClientEvent: []
                      OrderAcceptedEvent: []
                      OrderDispatchedEvent: []
                      OrderCustomerTrackingCreatedEvent: []
                      OrderDeliveryTrackingStatusUpdatedEvent: []
                      OrderBatchPublishedEvent: []
                      OrderCreatedEvent: []
                      OrderRatingUpdatedEvent: []
                      OrderRefundedEvent: []
                      OrderRejectedEvent: []
                      OrderTipUpdatedEvent: []
                      OrderTerminalNotifications: []
                      StoreCreatedEvent: []
                      StoreDeletedEvent: []
                      StoreAddressUpdatedEvent: []
                      StoreKioskSettingUpdatedEvent: []
                      DeliveryZoneCreatedEvent: []
                      DeliveryZoneUpdatedEvent: []
                      DeliveryZoneDeletedEvent: []
                      StoreOpeningHoursUpdatedEvent: []
                      StoreMenuAssignedEvent: []
                      StoreBusinessHoursOverrideCreatedEvent: []
                      StoreBusinessHoursOverrideDeletedEvent: []
                      StoreArchivedEvent: []
                      StoreUnarchivedEvent: []
                      StorePublishedEvent: []
                      StoreUnpublishedEvent: []
                      StoreUpdatedEvent: []
                      StorePreOrderConfigUpdatedEvent: []
                      StoreLogoCreatedEvent: []
                      StoreLogoUpdatedEvent: []
                      StoreLogoDeletedEvent: []
                      MenuCreatedEvent: []
                      MenuAsyncCreationCompletedEvent: []
                      MenuUpdatedEvent: []
                      MenuUploadedEvent: []
                      MenuBulkEditEvent: []
                      MenuSectionCreatedEvent: []
                      MenuSectionUpdatedEvent: []
                      MenuSectionDeletedEvent: []
                      MenuSectionItemCreatedEvent: []
                      MenuSectionItemUpdatedEvent: []
                      MenuSectionItemDeletedEvent: []
                      MenuItemOptionSetCreatedEvent: []
                      MenuItemOptionSetUpdatedEvent: []
                      MenuItemOptionSetDeletedEvent: []
                      MenuItemOptionSetItemCreatedEvent: []
                      MenuItemOptionSetItemUpdatedEvent: []
                      MenuItemOptionSetItemDeletedEvent: []
                      MenuCheckpointCreatedEvent: []
                      StoreGroupCreatedEvent: []
                      StoreGroupUpdatedEvent: []
                      StoreGroupDeletedEvent: []
                      CustomerCreatedEvent: []
                      CustomerUpdatedEvent: []
                      CustomerConsentUpdatedEvent: []
                      WebhookSubscriptionCreatedEvent: []
                      WebhookSubscriptionUpdatedEvent: []
                      WebhookSubscriptionDeletedEvent: []
                      PrinterTurnedOnEvent: []
                      PrinterTurnedOffEvent: []
                      PrinterAssignedToStoreEvent: []
                      PrinterUnassignedFromStoreEvent: []
                      PhoneCallStartedEvent: []
                      PhoneCallEndedEvent: []
                      TelephonyConfigUpdatedEvent: []
                      ChannelStoresUpdatedEvent: []
                      LoyaltyCampaignCreatedEvent: []
                      LoyaltyCampaignDeletedEvent: []
                      LoyaltyCampaignUpdatedEvent: []
                      RetentionCampaignCreatedEvent: []
                      RetentionCampaignDeletedEvent: []
                      RetentionCampaignUpdatedEvent: []
                      SmsReceivedEvent: []
                      UserLoginEvent: []
                      UserCreatedEvent: []
                      UserUpdatedEvent: []
                      UserDeletedEvent: []
                      UserCreatedPasswordEvent: []
                      UserAnsweredSignupQuestionsEvent: []
                      VoucherCreatedEvent: []
                      VoucherUpdatedEvent: []
                      VoucherDeletedEvent: []
                      VoucherAppliedEvent: []
                      TeammateInviteSentEvent: []
                      TeammateInviteAcceptedEvent: []
                      TeammateUpdatedEvent: []
                      TeammateDeletedEvent: []
                      BankAccountCreatedEvent: []
                      BankAccountUpdatedEvent: []
                      BankAccountDeletedEvent: []
                      BankAccountAssignedEvent: []
                      HydraAssignedEvent: []
                      HydraRequestResetEvent: []
                      HydraStoreAssignedEvent: []
                      HydraStoreUnassignedEvent: []
                      HydraSettingChangedEvent: []
                      HydraUnAssignedEvent: []
                      HydraConnectionStatusChangedEvent: []
                      KioskBluetoothPairingModeEvent: []
                      KioskBluetoothUnpairingModeEvent: []
                      KioskBluetoothTerminalUnpairedEvent: []
                      KioskTerminalActionStateChangedEvent: []
                      KioskBluetoothTerminalUpdatedEvent: []
                      KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                      KioskBluetoothInstallUpdateInitiateEvent: []
                      KioskBluetoothTerminalCancelUpdateEvent: []
                      KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                      KioskBluetoothTerminalInstallationStatusEvent: []
                      PushNotificationScheduledEvent: []
                      PushNotificationSentEvent: []
                      PushNotificationDeletedEvent: []
                      DnsVerifiedEvent: []
                      CertificateCreatedEvent: []
                      CertificateRenewedEvent: []
                      WebsiteVanityUrlUpdatedEvent: []
                      WebsiteUpdatedEvent: []
                      OrderCapacityUpdatedEvent: []
                      ExternalStoreEvent: []
                      OrderFulfillmentStatusUpdatedEvent: []
                      AppStoreConfigCreatedEvent: []
                      AppStoreConfigUpdatedEvent: []
                      AppStoreConfigDeletedEvent: []
                      AppStoreSubscriptionChangeJobUpdatedEvent: []
                      CatalogItemCreatedEvent: []
                      CatalogItemUpdatedEvent: []
                      CatalogItemArchivedEvent: []
                      CatalogGroupCreatedEvent: []
                      CatalogGroupUpdatedEvent: []
                      CatalogGroupArchivedEvent: []
                      StoreTipUpdatedEvent: []
                      LocationAreaCreatedEvent: []
                      LocationAreaUpdatedEvent: []
                      LocationCreatedEvent: []
                      LocationDeletedEvent: []
                      StoreServiceChargeUpdatedEvent: []
                      MobileAppsSubmissionStatusUpdatedEvent: []
                      MobileAppsSubmissionUpdatedEvent: []
                      StoreFeeConfigUpdatedEvent: []
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserEvents400Example:
                  summary: Default GetUserEvents 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserEvents401Example:
                  summary: Default GetUserEvents 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserEvents403Example:
                  summary: Default GetUserEvents 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetUserEvents500Example:
                  summary: Default GetUserEvents 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get User Events
      description: Get User Events via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/user/{userId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/order/{orderId}:
    get:
      tags:
      - Events
      operationId: GetOrderEvents
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The order id path parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: page
        in: query
        description: The index of the page to return, starting by 1
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: start
        in: query
        description: Start date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: end
        in: query
        description: End date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: orderId
        in: query
        description: Events that have Order Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: query
        description: Events that have Store Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeIdList
        in: query
        description: Events that have Store Id List
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: storeGroupId
        in: query
        description: Events that have Store Group Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userId
        in: query
        description: Events that have User Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuId
        in: query
        description: Events that have Menu Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: campaignId
        in: query
        description: Events that have Campaign Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userEmail
        in: query
        description: Events that have User Email
        required: false
        schema:
          type: string
        example: owner@example.com
      - name: userName
        in: query
        description: Events that have User Name
        required: false
        schema:
          type: string
        example: Example Name
      - name: voucherCode
        in: query
        description: Events that have voucher code
        required: false
        schema:
          type: string
        example: string
      - name: eventType
        in: query
        description: Events that have event type\s
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: flipdishEventId
        in: query
        description: Unique Identifier of Event, if this is specified, all other criteria are ignored.
        required: false
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiEventSearchPaginationResult'
              examples:
                GetOrderEvents200Example:
                  summary: Default GetOrderEvents 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppCreatedEvent: []
                      AppUpdatedEvent: []
                      AnalyticsClientEvent: []
                      OrderAcceptedEvent: []
                      OrderDispatchedEvent: []
                      OrderCustomerTrackingCreatedEvent: []
                      OrderDeliveryTrackingStatusUpdatedEvent: []
                      OrderBatchPublishedEvent: []
                      OrderCreatedEvent: []
                      OrderRatingUpdatedEvent: []
                      OrderRefundedEvent: []
                      OrderRejectedEvent: []
                      OrderTipUpdatedEvent: []
                      OrderTerminalNotifications: []
                      StoreCreatedEvent: []
                      StoreDeletedEvent: []
                      StoreAddressUpdatedEvent: []
                      StoreKioskSettingUpdatedEvent: []
                      DeliveryZoneCreatedEvent: []
                      DeliveryZoneUpdatedEvent: []
                      DeliveryZoneDeletedEvent: []
                      StoreOpeningHoursUpdatedEvent: []
                      StoreMenuAssignedEvent: []
                      StoreBusinessHoursOverrideCreatedEvent: []
                      StoreBusinessHoursOverrideDeletedEvent: []
                      StoreArchivedEvent: []
                      StoreUnarchivedEvent: []
                      StorePublishedEvent: []
                      StoreUnpublishedEvent: []
                      StoreUpdatedEvent: []
                      StorePreOrderConfigUpdatedEvent: []
                      StoreLogoCreatedEvent: []
                      StoreLogoUpdatedEvent: []
                      StoreLogoDeletedEvent: []
                      MenuCreatedEvent: []
                      MenuAsyncCreationCompletedEvent: []
                      MenuUpdatedEvent: []
                      MenuUploadedEvent: []
                      MenuBulkEditEvent: []
                      MenuSectionCreatedEvent: []
                      MenuSectionUpdatedEvent: []
                      MenuSectionDeletedEvent: []
                      MenuSectionItemCreatedEvent: []
                      MenuSectionItemUpdatedEvent: []
                      MenuSectionItemDeletedEvent: []
                      MenuItemOptionSetCreatedEvent: []
                      MenuItemOptionSetUpdatedEvent: []
                      MenuItemOptionSetDeletedEvent: []
                      MenuItemOptionSetItemCreatedEvent: []
                      MenuItemOptionSetItemUpdatedEvent: []
                      MenuItemOptionSetItemDeletedEvent: []
                      MenuCheckpointCreatedEvent: []
                      StoreGroupCreatedEvent: []
                      StoreGroupUpdatedEvent: []
                      StoreGroupDeletedEvent: []
                      CustomerCreatedEvent: []
                      CustomerUpdatedEvent: []
                      CustomerConsentUpdatedEvent: []
                      WebhookSubscriptionCreatedEvent: []
                      WebhookSubscriptionUpdatedEvent: []
                      WebhookSubscriptionDeletedEvent: []
                      PrinterTurnedOnEvent: []
                      PrinterTurnedOffEvent: []
                      PrinterAssignedToStoreEvent: []
                      PrinterUnassignedFromStoreEvent: []
                      PhoneCallStartedEvent: []
                      PhoneCallEndedEvent: []
                      TelephonyConfigUpdatedEvent: []
                      ChannelStoresUpdatedEvent: []
                      LoyaltyCampaignCreatedEvent: []
                      LoyaltyCampaignDeletedEvent: []
                      LoyaltyCampaignUpdatedEvent: []
                      RetentionCampaignCreatedEvent: []
                      RetentionCampaignDeletedEvent: []
                      RetentionCampaignUpdatedEvent: []
                      SmsReceivedEvent: []
                      UserLoginEvent: []
                      UserCreatedEvent: []
                      UserUpdatedEvent: []
                      UserDeletedEvent: []
                      UserCreatedPasswordEvent: []
                      UserAnsweredSignupQuestionsEvent: []
                      VoucherCreatedEvent: []
                      VoucherUpdatedEvent: []
                      VoucherDeletedEvent: []
                      VoucherAppliedEvent: []
                      TeammateInviteSentEvent: []
                      TeammateInviteAcceptedEvent: []
                      TeammateUpdatedEvent: []
                      TeammateDeletedEvent: []
                      BankAccountCreatedEvent: []
                      BankAccountUpdatedEvent: []
                      BankAccountDeletedEvent: []
                      BankAccountAssignedEvent: []
                      HydraAssignedEvent: []
                      HydraRequestResetEvent: []
                      HydraStoreAssignedEvent: []
                      HydraStoreUnassignedEvent: []
                      HydraSettingChangedEvent: []
                      HydraUnAssignedEvent: []
                      HydraConnectionStatusChangedEvent: []
                      KioskBluetoothPairingModeEvent: []
                      KioskBluetoothUnpairingModeEvent: []
                      KioskBluetoothTerminalUnpairedEvent: []
                      KioskTerminalActionStateChangedEvent: []
                      KioskBluetoothTerminalUpdatedEvent: []
                      KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                      KioskBluetoothInstallUpdateInitiateEvent: []
                      KioskBluetoothTerminalCancelUpdateEvent: []
                      KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                      KioskBluetoothTerminalInstallationStatusEvent: []
                      PushNotificationScheduledEvent: []
                      PushNotificationSentEvent: []
                      PushNotificationDeletedEvent: []
                      DnsVerifiedEvent: []
                      CertificateCreatedEvent: []
                      CertificateRenewedEvent: []
                      WebsiteVanityUrlUpdatedEvent: []
                      WebsiteUpdatedEvent: []
                      OrderCapacityUpdatedEvent: []
                      ExternalStoreEvent: []
                      OrderFulfillmentStatusUpdatedEvent: []
                      AppStoreConfigCreatedEvent: []
                      AppStoreConfigUpdatedEvent: []
                      AppStoreConfigDeletedEvent: []
                      AppStoreSubscriptionChangeJobUpdatedEvent: []
                      CatalogItemCreatedEvent: []
                      CatalogItemUpdatedEvent: []
                      CatalogItemArchivedEvent: []
                      CatalogGroupCreatedEvent: []
                      CatalogGroupUpdatedEvent: []
                      CatalogGroupArchivedEvent: []
                      StoreTipUpdatedEvent: []
                      LocationAreaCreatedEvent: []
                      LocationAreaUpdatedEvent: []
                      LocationCreatedEvent: []
                      LocationDeletedEvent: []
                      StoreServiceChargeUpdatedEvent: []
                      MobileAppsSubmissionStatusUpdatedEvent: []
                      MobileAppsSubmissionUpdatedEvent: []
                      StoreFeeConfigUpdatedEvent: []
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderEvents400Example:
                  summary: Default GetOrderEvents 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderEvents401Example:
                  summary: Default GetOrderEvents 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderEvents403Example:
                  summary: Default GetOrderEvents 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetOrderEvents500Example:
                  summary: Default GetOrderEvents 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Order Events
      description: Get Order Events via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/order/{orderId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/store/{storeId}:
    get:
      tags:
      - Events
      operationId: GetStoreEvents
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: storeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The store id path parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: page
        in: query
        description: The index of the page to return, starting by 1
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: start
        in: query
        description: Start date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: end
        in: query
        description: End date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: orderId
        in: query
        description: Events that have Order Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: query
        description: Events that have Store Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeIdList
        in: query
        description: Events that have Store Id List
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: storeGroupId
        in: query
        description: Events that have Store Group Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userId
        in: query
        description: Events that have User Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuId
        in: query
        description: Events that have Menu Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: campaignId
        in: query
        description: Events that have Campaign Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userEmail
        in: query
        description: Events that have User Email
        required: false
        schema:
          type: string
        example: owner@example.com
      - name: userName
        in: query
        description: Events that have User Name
        required: false
        schema:
          type: string
        example: Example Name
      - name: voucherCode
        in: query
        description: Events that have voucher code
        required: false
        schema:
          type: string
        example: string
      - name: eventType
        in: query
        description: Events that have event type\s
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: flipdishEventId
        in: query
        description: Unique Identifier of Event, if this is specified, all other criteria are ignored.
        required: false
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiEventSearchPaginationResult'
              examples:
                GetStoreEvents200Example:
                  summary: Default GetStoreEvents 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppCreatedEvent: []
                      AppUpdatedEvent: []
                      AnalyticsClientEvent: []
                      OrderAcceptedEvent: []
                      OrderDispatchedEvent: []
                      OrderCustomerTrackingCreatedEvent: []
                      OrderDeliveryTrackingStatusUpdatedEvent: []
                      OrderBatchPublishedEvent: []
                      OrderCreatedEvent: []
                      OrderRatingUpdatedEvent: []
                      OrderRefundedEvent: []
                      OrderRejectedEvent: []
                      OrderTipUpdatedEvent: []
                      OrderTerminalNotifications: []
                      StoreCreatedEvent: []
                      StoreDeletedEvent: []
                      StoreAddressUpdatedEvent: []
                      StoreKioskSettingUpdatedEvent: []
                      DeliveryZoneCreatedEvent: []
                      DeliveryZoneUpdatedEvent: []
                      DeliveryZoneDeletedEvent: []
                      StoreOpeningHoursUpdatedEvent: []
                      StoreMenuAssignedEvent: []
                      StoreBusinessHoursOverrideCreatedEvent: []
                      StoreBusinessHoursOverrideDeletedEvent: []
                      StoreArchivedEvent: []
                      StoreUnarchivedEvent: []
                      StorePublishedEvent: []
                      StoreUnpublishedEvent: []
                      StoreUpdatedEvent: []
                      StorePreOrderConfigUpdatedEvent: []
                      StoreLogoCreatedEvent: []
                      StoreLogoUpdatedEvent: []
                      StoreLogoDeletedEvent: []
                      MenuCreatedEvent: []
                      MenuAsyncCreationCompletedEvent: []
                      MenuUpdatedEvent: []
                      MenuUploadedEvent: []
                      MenuBulkEditEvent: []
                      MenuSectionCreatedEvent: []
                      MenuSectionUpdatedEvent: []
                      MenuSectionDeletedEvent: []
                      MenuSectionItemCreatedEvent: []
                      MenuSectionItemUpdatedEvent: []
                      MenuSectionItemDeletedEvent: []
                      MenuItemOptionSetCreatedEvent: []
                      MenuItemOptionSetUpdatedEvent: []
                      MenuItemOptionSetDeletedEvent: []
                      MenuItemOptionSetItemCreatedEvent: []
                      MenuItemOptionSetItemUpdatedEvent: []
                      MenuItemOptionSetItemDeletedEvent: []
                      MenuCheckpointCreatedEvent: []
                      StoreGroupCreatedEvent: []
                      StoreGroupUpdatedEvent: []
                      StoreGroupDeletedEvent: []
                      CustomerCreatedEvent: []
                      CustomerUpdatedEvent: []
                      CustomerConsentUpdatedEvent: []
                      WebhookSubscriptionCreatedEvent: []
                      WebhookSubscriptionUpdatedEvent: []
                      WebhookSubscriptionDeletedEvent: []
                      PrinterTurnedOnEvent: []
                      PrinterTurnedOffEvent: []
                      PrinterAssignedToStoreEvent: []
                      PrinterUnassignedFromStoreEvent: []
                      PhoneCallStartedEvent: []
                      PhoneCallEndedEvent: []
                      TelephonyConfigUpdatedEvent: []
                      ChannelStoresUpdatedEvent: []
                      LoyaltyCampaignCreatedEvent: []
                      LoyaltyCampaignDeletedEvent: []
                      LoyaltyCampaignUpdatedEvent: []
                      RetentionCampaignCreatedEvent: []
                      RetentionCampaignDeletedEvent: []
                      RetentionCampaignUpdatedEvent: []
                      SmsReceivedEvent: []
                      UserLoginEvent: []
                      UserCreatedEvent: []
                      UserUpdatedEvent: []
                      UserDeletedEvent: []
                      UserCreatedPasswordEvent: []
                      UserAnsweredSignupQuestionsEvent: []
                      VoucherCreatedEvent: []
                      VoucherUpdatedEvent: []
                      VoucherDeletedEvent: []
                      VoucherAppliedEvent: []
                      TeammateInviteSentEvent: []
                      TeammateInviteAcceptedEvent: []
                      TeammateUpdatedEvent: []
                      TeammateDeletedEvent: []
                      BankAccountCreatedEvent: []
                      BankAccountUpdatedEvent: []
                      BankAccountDeletedEvent: []
                      BankAccountAssignedEvent: []
                      HydraAssignedEvent: []
                      HydraRequestResetEvent: []
                      HydraStoreAssignedEvent: []
                      HydraStoreUnassignedEvent: []
                      HydraSettingChangedEvent: []
                      HydraUnAssignedEvent: []
                      HydraConnectionStatusChangedEvent: []
                      KioskBluetoothPairingModeEvent: []
                      KioskBluetoothUnpairingModeEvent: []
                      KioskBluetoothTerminalUnpairedEvent: []
                      KioskTerminalActionStateChangedEvent: []
                      KioskBluetoothTerminalUpdatedEvent: []
                      KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                      KioskBluetoothInstallUpdateInitiateEvent: []
                      KioskBluetoothTerminalCancelUpdateEvent: []
                      KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                      KioskBluetoothTerminalInstallationStatusEvent: []
                      PushNotificationScheduledEvent: []
                      PushNotificationSentEvent: []
                      PushNotificationDeletedEvent: []
                      DnsVerifiedEvent: []
                      CertificateCreatedEvent: []
                      CertificateRenewedEvent: []
                      WebsiteVanityUrlUpdatedEvent: []
                      WebsiteUpdatedEvent: []
                      OrderCapacityUpdatedEvent: []
                      ExternalStoreEvent: []
                      OrderFulfillmentStatusUpdatedEvent: []
                      AppStoreConfigCreatedEvent: []
                      AppStoreConfigUpdatedEvent: []
                      AppStoreConfigDeletedEvent: []
                      AppStoreSubscriptionChangeJobUpdatedEvent: []
                      CatalogItemCreatedEvent: []
                      CatalogItemUpdatedEvent: []
                      CatalogItemArchivedEvent: []
                      CatalogGroupCreatedEvent: []
                      CatalogGroupUpdatedEvent: []
                      CatalogGroupArchivedEvent: []
                      StoreTipUpdatedEvent: []
                      LocationAreaCreatedEvent: []
                      LocationAreaUpdatedEvent: []
                      LocationCreatedEvent: []
                      LocationDeletedEvent: []
                      StoreServiceChargeUpdatedEvent: []
                      MobileAppsSubmissionStatusUpdatedEvent: []
                      MobileAppsSubmissionUpdatedEvent: []
                      StoreFeeConfigUpdatedEvent: []
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreEvents400Example:
                  summary: Default GetStoreEvents 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreEvents401Example:
                  summary: Default GetStoreEvents 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreEvents403Example:
                  summary: Default GetStoreEvents 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetStoreEvents500Example:
                  summary: Default GetStoreEvents 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Store Events
      description: Get Store Events via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/store/{storeId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/customer/{customerId}:
    get:
      tags:
      - Events
      operationId: GetCustomerEvents
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: customerId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The customer id path parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: page
        in: query
        description: The index of the page to return, starting by 1
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: start
        in: query
        description: Start date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: end
        in: query
        description: End date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: orderId
        in: query
        description: Events that have Order Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: query
        description: Events that have Store Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeIdList
        in: query
        description: Events that have Store Id List
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: storeGroupId
        in: query
        description: Events that have Store Group Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userId
        in: query
        description: Events that have User Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuId
        in: query
        description: Events that have Menu Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: campaignId
        in: query
        description: Events that have Campaign Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userEmail
        in: query
        description: Events that have User Email
        required: false
        schema:
          type: string
        example: owner@example.com
      - name: userName
        in: query
        description: Events that have User Name
        required: false
        schema:
          type: string
        example: Example Name
      - name: voucherCode
        in: query
        description: Events that have voucher code
        required: false
        schema:
          type: string
        example: string
      - name: eventType
        in: query
        description: Events that have event type\s
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: flipdishEventId
        in: query
        description: Unique Identifier of Event, if this is specified, all other criteria are ignored.
        required: false
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiEventSearchPaginationResult'
              examples:
                GetCustomerEvents200Example:
                  summary: Default GetCustomerEvents 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppCreatedEvent: []
                      AppUpdatedEvent: []
                      AnalyticsClientEvent: []
                      OrderAcceptedEvent: []
                      OrderDispatchedEvent: []
                      OrderCustomerTrackingCreatedEvent: []
                      OrderDeliveryTrackingStatusUpdatedEvent: []
                      OrderBatchPublishedEvent: []
                      OrderCreatedEvent: []
                      OrderRatingUpdatedEvent: []
                      OrderRefundedEvent: []
                      OrderRejectedEvent: []
                      OrderTipUpdatedEvent: []
                      OrderTerminalNotifications: []
                      StoreCreatedEvent: []
                      StoreDeletedEvent: []
                      StoreAddressUpdatedEvent: []
                      StoreKioskSettingUpdatedEvent: []
                      DeliveryZoneCreatedEvent: []
                      DeliveryZoneUpdatedEvent: []
                      DeliveryZoneDeletedEvent: []
                      StoreOpeningHoursUpdatedEvent: []
                      StoreMenuAssignedEvent: []
                      StoreBusinessHoursOverrideCreatedEvent: []
                      StoreBusinessHoursOverrideDeletedEvent: []
                      StoreArchivedEvent: []
                      StoreUnarchivedEvent: []
                      StorePublishedEvent: []
                      StoreUnpublishedEvent: []
                      StoreUpdatedEvent: []
                      StorePreOrderConfigUpdatedEvent: []
                      StoreLogoCreatedEvent: []
                      StoreLogoUpdatedEvent: []
                      StoreLogoDeletedEvent: []
                      MenuCreatedEvent: []
                      MenuAsyncCreationCompletedEvent: []
                      MenuUpdatedEvent: []
                      MenuUploadedEvent: []
                      MenuBulkEditEvent: []
                      MenuSectionCreatedEvent: []
                      MenuSectionUpdatedEvent: []
                      MenuSectionDeletedEvent: []
                      MenuSectionItemCreatedEvent: []
                      MenuSectionItemUpdatedEvent: []
                      MenuSectionItemDeletedEvent: []
                      MenuItemOptionSetCreatedEvent: []
                      MenuItemOptionSetUpdatedEvent: []
                      MenuItemOptionSetDeletedEvent: []
                      MenuItemOptionSetItemCreatedEvent: []
                      MenuItemOptionSetItemUpdatedEvent: []
                      MenuItemOptionSetItemDeletedEvent: []
                      MenuCheckpointCreatedEvent: []
                      StoreGroupCreatedEvent: []
                      StoreGroupUpdatedEvent: []
                      StoreGroupDeletedEvent: []
                      CustomerCreatedEvent: []
                      CustomerUpdatedEvent: []
                      CustomerConsentUpdatedEvent: []
                      WebhookSubscriptionCreatedEvent: []
                      WebhookSubscriptionUpdatedEvent: []
                      WebhookSubscriptionDeletedEvent: []
                      PrinterTurnedOnEvent: []
                      PrinterTurnedOffEvent: []
                      PrinterAssignedToStoreEvent: []
                      PrinterUnassignedFromStoreEvent: []
                      PhoneCallStartedEvent: []
                      PhoneCallEndedEvent: []
                      TelephonyConfigUpdatedEvent: []
                      ChannelStoresUpdatedEvent: []
                      LoyaltyCampaignCreatedEvent: []
                      LoyaltyCampaignDeletedEvent: []
                      LoyaltyCampaignUpdatedEvent: []
                      RetentionCampaignCreatedEvent: []
                      RetentionCampaignDeletedEvent: []
                      RetentionCampaignUpdatedEvent: []
                      SmsReceivedEvent: []
                      UserLoginEvent: []
                      UserCreatedEvent: []
                      UserUpdatedEvent: []
                      UserDeletedEvent: []
                      UserCreatedPasswordEvent: []
                      UserAnsweredSignupQuestionsEvent: []
                      VoucherCreatedEvent: []
                      VoucherUpdatedEvent: []
                      VoucherDeletedEvent: []
                      VoucherAppliedEvent: []
                      TeammateInviteSentEvent: []
                      TeammateInviteAcceptedEvent: []
                      TeammateUpdatedEvent: []
                      TeammateDeletedEvent: []
                      BankAccountCreatedEvent: []
                      BankAccountUpdatedEvent: []
                      BankAccountDeletedEvent: []
                      BankAccountAssignedEvent: []
                      HydraAssignedEvent: []
                      HydraRequestResetEvent: []
                      HydraStoreAssignedEvent: []
                      HydraStoreUnassignedEvent: []
                      HydraSettingChangedEvent: []
                      HydraUnAssignedEvent: []
                      HydraConnectionStatusChangedEvent: []
                      KioskBluetoothPairingModeEvent: []
                      KioskBluetoothUnpairingModeEvent: []
                      KioskBluetoothTerminalUnpairedEvent: []
                      KioskTerminalActionStateChangedEvent: []
                      KioskBluetoothTerminalUpdatedEvent: []
                      KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                      KioskBluetoothInstallUpdateInitiateEvent: []
                      KioskBluetoothTerminalCancelUpdateEvent: []
                      KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                      KioskBluetoothTerminalInstallationStatusEvent: []
                      PushNotificationScheduledEvent: []
                      PushNotificationSentEvent: []
                      PushNotificationDeletedEvent: []
                      DnsVerifiedEvent: []
                      CertificateCreatedEvent: []
                      CertificateRenewedEvent: []
                      WebsiteVanityUrlUpdatedEvent: []
                      WebsiteUpdatedEvent: []
                      OrderCapacityUpdatedEvent: []
                      ExternalStoreEvent: []
                      OrderFulfillmentStatusUpdatedEvent: []
                      AppStoreConfigCreatedEvent: []
                      AppStoreConfigUpdatedEvent: []
                      AppStoreConfigDeletedEvent: []
                      AppStoreSubscriptionChangeJobUpdatedEvent: []
                      CatalogItemCreatedEvent: []
                      CatalogItemUpdatedEvent: []
                      CatalogItemArchivedEvent: []
                      CatalogGroupCreatedEvent: []
                      CatalogGroupUpdatedEvent: []
                      CatalogGroupArchivedEvent: []
                      StoreTipUpdatedEvent: []
                      LocationAreaCreatedEvent: []
                      LocationAreaUpdatedEvent: []
                      LocationCreatedEvent: []
                      LocationDeletedEvent: []
                      StoreServiceChargeUpdatedEvent: []
                      MobileAppsSubmissionStatusUpdatedEvent: []
                      MobileAppsSubmissionUpdatedEvent: []
                      StoreFeeConfigUpdatedEvent: []
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCustomerEvents400Example:
                  summary: Default GetCustomerEvents 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCustomerEvents401Example:
                  summary: Default GetCustomerEvents 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCustomerEvents403Example:
                  summary: Default GetCustomerEvents 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetCustomerEvents500Example:
                  summary: Default GetCustomerEvents 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get Customer Events
      description: Get Customer Events via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/customer/{customerId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/whitelabel/{whitelabelId}:
    get:
      tags:
      - Events
      operationId: GetWhiteLabelEvents
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: whitelabelId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The whitelabel id path parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: page
        in: query
        description: The index of the page to return, starting by 1
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: start
        in: query
        description: Start date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: end
        in: query
        description: End date
        required: false
        x-nullable: true
        schema:
          type: string
          format: date-time
        example: '2026-06-02T12:00:00Z'
      - name: orderId
        in: query
        description: Events that have Order Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeId
        in: query
        description: Events that have Store Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: storeIdList
        in: query
        description: Events that have Store Id List
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
        example:
        - 1
      - name: storeGroupId
        in: query
        description: Events that have Store Group Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userId
        in: query
        description: Events that have User Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: menuId
        in: query
        description: Events that have Menu Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: campaignId
        in: query
        description: Events that have Campaign Id
        required: false
        x-nullable: true
        schema:
          type: integer
          format: int32
        example: 500123
      - name: userEmail
        in: query
        description: Events that have User Email
        required: false
        schema:
          type: string
        example: owner@example.com
      - name: userName
        in: query
        description: Events that have User Name
        required: false
        schema:
          type: string
        example: Example Name
      - name: voucherCode
        in: query
        description: Events that have voucher code
        required: false
        schema:
          type: string
        example: string
      - name: eventType
        in: query
        description: Events that have event type\s
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: flipdishEventId
        in: query
        description: Unique Identifier of Event, if this is specified, all other criteria are ignored.
        required: false
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiEventSearchPaginationResult'
              examples:
                GetWhiteLabelEvents200Example:
                  summary: Default GetWhiteLabelEvents 200 response
                  x-microcks-default: true
                  value:
                    Data:
                      AppCreatedEvent: []
                      AppUpdatedEvent: []
                      AnalyticsClientEvent: []
                      OrderAcceptedEvent: []
                      OrderDispatchedEvent: []
                      OrderCustomerTrackingCreatedEvent: []
                      OrderDeliveryTrackingStatusUpdatedEvent: []
                      OrderBatchPublishedEvent: []
                      OrderCreatedEvent: []
                      OrderRatingUpdatedEvent: []
                      OrderRefundedEvent: []
                      OrderRejectedEvent: []
                      OrderTipUpdatedEvent: []
                      OrderTerminalNotifications: []
                      StoreCreatedEvent: []
                      StoreDeletedEvent: []
                      StoreAddressUpdatedEvent: []
                      StoreKioskSettingUpdatedEvent: []
                      DeliveryZoneCreatedEvent: []
                      DeliveryZoneUpdatedEvent: []
                      DeliveryZoneDeletedEvent: []
                      StoreOpeningHoursUpdatedEvent: []
                      StoreMenuAssignedEvent: []
                      StoreBusinessHoursOverrideCreatedEvent: []
                      StoreBusinessHoursOverrideDeletedEvent: []
                      StoreArchivedEvent: []
                      StoreUnarchivedEvent: []
                      StorePublishedEvent: []
                      StoreUnpublishedEvent: []
                      StoreUpdatedEvent: []
                      StorePreOrderConfigUpdatedEvent: []
                      StoreLogoCreatedEvent: []
                      StoreLogoUpdatedEvent: []
                      StoreLogoDeletedEvent: []
                      MenuCreatedEvent: []
                      MenuAsyncCreationCompletedEvent: []
                      MenuUpdatedEvent: []
                      MenuUploadedEvent: []
                      MenuBulkEditEvent: []
                      MenuSectionCreatedEvent: []
                      MenuSectionUpdatedEvent: []
                      MenuSectionDeletedEvent: []
                      MenuSectionItemCreatedEvent: []
                      MenuSectionItemUpdatedEvent: []
                      MenuSectionItemDeletedEvent: []
                      MenuItemOptionSetCreatedEvent: []
                      MenuItemOptionSetUpdatedEvent: []
                      MenuItemOptionSetDeletedEvent: []
                      MenuItemOptionSetItemCreatedEvent: []
                      MenuItemOptionSetItemUpdatedEvent: []
                      MenuItemOptionSetItemDeletedEvent: []
                      MenuCheckpointCreatedEvent: []
                      StoreGroupCreatedEvent: []
                      StoreGroupUpdatedEvent: []
                      StoreGroupDeletedEvent: []
                      CustomerCreatedEvent: []
                      CustomerUpdatedEvent: []
                      CustomerConsentUpdatedEvent: []
                      WebhookSubscriptionCreatedEvent: []
                      WebhookSubscriptionUpdatedEvent: []
                      WebhookSubscriptionDeletedEvent: []
                      PrinterTurnedOnEvent: []
                      PrinterTurnedOffEvent: []
                      PrinterAssignedToStoreEvent: []
                      PrinterUnassignedFromStoreEvent: []
                      PhoneCallStartedEvent: []
                      PhoneCallEndedEvent: []
                      TelephonyConfigUpdatedEvent: []
                      ChannelStoresUpdatedEvent: []
                      LoyaltyCampaignCreatedEvent: []
                      LoyaltyCampaignDeletedEvent: []
                      LoyaltyCampaignUpdatedEvent: []
                      RetentionCampaignCreatedEvent: []
                      RetentionCampaignDeletedEvent: []
                      RetentionCampaignUpdatedEvent: []
                      SmsReceivedEvent: []
                      UserLoginEvent: []
                      UserCreatedEvent: []
                      UserUpdatedEvent: []
                      UserDeletedEvent: []
                      UserCreatedPasswordEvent: []
                      UserAnsweredSignupQuestionsEvent: []
                      VoucherCreatedEvent: []
                      VoucherUpdatedEvent: []
                      VoucherDeletedEvent: []
                      VoucherAppliedEvent: []
                      TeammateInviteSentEvent: []
                      TeammateInviteAcceptedEvent: []
                      TeammateUpdatedEvent: []
                      TeammateDeletedEvent: []
                      BankAccountCreatedEvent: []
                      BankAccountUpdatedEvent: []
                      BankAccountDeletedEvent: []
                      BankAccountAssignedEvent: []
                      HydraAssignedEvent: []
                      HydraRequestResetEvent: []
                      HydraStoreAssignedEvent: []
                      HydraStoreUnassignedEvent: []
                      HydraSettingChangedEvent: []
                      HydraUnAssignedEvent: []
                      HydraConnectionStatusChangedEvent: []
                      KioskBluetoothPairingModeEvent: []
                      KioskBluetoothUnpairingModeEvent: []
                      KioskBluetoothTerminalUnpairedEvent: []
                      KioskTerminalActionStateChangedEvent: []
                      KioskBluetoothTerminalUpdatedEvent: []
                      KioskBluetoothTerminalInitiateUpdateCheckEvent: []
                      KioskBluetoothInstallUpdateInitiateEvent: []
                      KioskBluetoothTerminalCancelUpdateEvent: []
                      KioskBluetoothTerminalFirmwareVersionStatusEvent: []
                      KioskBluetoothTerminalInstallationStatusEvent: []
                      PushNotificationScheduledEvent: []
                      PushNotificationSentEvent: []
                      PushNotificationDeletedEvent: []
                      DnsVerifiedEvent: []
                      CertificateCreatedEvent: []
                      CertificateRenewedEvent: []
                      WebsiteVanityUrlUpdatedEvent: []
                      WebsiteUpdatedEvent: []
                      OrderCapacityUpdatedEvent: []
                      ExternalStoreEvent: []
                      OrderFulfillmentStatusUpdatedEvent: []
                      AppStoreConfigCreatedEvent: []
                      AppStoreConfigUpdatedEvent: []
                      AppStoreConfigDeletedEvent: []
                      AppStoreSubscriptionChangeJobUpdatedEvent: []
                      CatalogItemCreatedEvent: []
                      CatalogItemUpdatedEvent: []
                      CatalogItemArchivedEvent: []
                      CatalogGroupCreatedEvent: []
                      CatalogGroupUpdatedEvent: []
                      CatalogGroupArchivedEvent: []
                      StoreTipUpdatedEvent: []
                      LocationAreaCreatedEvent: []
                      LocationAreaUpdatedEvent: []
                      LocationCreatedEvent: []
                      LocationDeletedEvent: []
                      StoreServiceChargeUpdatedEvent: []
                      MobileAppsSubmissionStatusUpdatedEvent: []
                      MobileAppsSubmissionUpdatedEvent: []
                      StoreFeeConfigUpdatedEvent: []
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetWhiteLabelEvents400Example:
                  summary: Default GetWhiteLabelEvents 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetWhiteLabelEvents401Example:
                  summary: Default GetWhiteLabelEvents 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetWhiteLabelEvents403Example:
                  summary: Default GetWhiteLabelEvents 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                GetWhiteLabelEvents500Example:
                  summary: Default GetWhiteLabelEvents 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Get White Label Events
      description: Get White Label Events via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/events/whitelabel/{whitelabelId}).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1.0/{appId}/events/order:
    get:
      tags:
      - Events
      operationId: GetOrderEventsByCustomer
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
        description: The app id path parameter.
        example: '500123'
      - name: customerId
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: The customer id query parameter.
        example: 500123
      - name: limit
        in: query
        description: The maximum elements to return
        required: false
        schema:
[...]
