{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipdish API - Apps",
    "version": "v1.0",
    "description": "Flipdish Open API v1.0 \u2014 Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.",
    "contact": {
      "name": "Flipdish Support",
      "email": "help@flipdish.com",
      "url": "https://help.flipdish.com"
    },
    "x-generated-from": "https://api.flipdish.co/swagger/docs/v1.0",
    "x-last-validated": "2026-06-02"
  },
  "servers": [
    {
      "url": "https://api.flipdish.co",
      "description": "Flipdish production API"
    }
  ],
  "security": [
    {
      "oauth2": [
        "api"
      ]
    }
  ],
  "tags": [
    {
      "name": "AppStore",
      "description": "Operations for App Store."
    },
    {
      "name": "AppStoreConfigurations",
      "description": "Operations for App Store Configurations."
    },
    {
      "name": "AppStoreDeveloper",
      "description": "Operations for App Store Developer."
    },
    {
      "name": "AppStoreEntitlements",
      "description": "Operations for App Store Entitlements."
    },
    {
      "name": "Apps",
      "description": "Operations for Apps."
    },
    {
      "name": "Channels",
      "description": "Operations for Channels."
    },
    {
      "name": "FirebaseApps",
      "description": "Operations for Firebase Apps."
    },
    {
      "name": "MobileApps",
      "description": "Operations for Mobile Apps."
    },
    {
      "name": "Website",
      "description": "Operations for Website."
    },
    {
      "name": "WhiteLabelBuilds",
      "description": "Operations for White Label Builds."
    },
    {
      "name": "WhiteLabelConfig",
      "description": "Operations for White Label Config."
    }
  ],
  "paths": {
    "/api/v1.0/apps/{appId}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetApp",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_App_"
                },
                "examples": {
                  "GetApp200Example": {
                    "summary": "Default GetApp 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "AppId": "500123",
                        "HasIosApp": true,
                        "IosAppStoreUrl": "https://api.flipdish.co/example",
                        "HasAndroidApp": true,
                        "AndroidPlayStoreUrl": "https://api.flipdish.co/example",
                        "DisplayDeliveryRestaurantScreen": true,
                        "LogoImageUrl": "https://api.flipdish.co/example",
                        "Languages": [],
                        "AvailableAppLanguages": [],
                        "AppAccessLevel": "None",
                        "AppResourceSet": [
                          "ViewApp"
                        ],
                        "Features": [
                          "string"
                        ],
                        "MapCenter": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MapNorthEast": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MapSouthWest": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "GoogleMapsApiKeyWeb": "string",
                        "OrgId": "500123",
                        "SmsRestaurantName": "Example Name",
                        "WebToAppRedirect": "NoRedirect",
                        "Name": "Example Name",
                        "HostName": "Example Name",
                        "MainColor": "string",
                        "KioskPrimaryColour": "string",
                        "ApplicationCategory": "Restaurant",
                        "IsPanaceaEnabled": true,
                        "PanaceaVanityUrl": "https://api.flipdish.co/example",
                        "CookieConsentPromptEnabled": true,
                        "CountryId": "500123"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApp400Example": {
                    "summary": "Default GetApp 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApp401Example": {
                    "summary": "Default GetApp 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApp403Example": {
                    "summary": "Default GetApp 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApp404Example": {
                    "summary": "Default GetApp 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApp500Example": {
                    "summary": "Default GetApp 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get App",
        "description": "Get App via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{appId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/name": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetAppName",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "GetAppName200Example": {
                    "summary": "Default GetAppName 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppName400Example": {
                    "summary": "Default GetAppName 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppName401Example": {
                    "summary": "Default GetAppName 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppName403Example": {
                    "summary": "Default GetAppName 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppName404Example": {
                    "summary": "Default GetAppName 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppName500Example": {
                    "summary": "Default GetAppName 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get App Name",
        "description": "Get App Name via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{appId}/name).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/supportedcountries": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetSupportedCountries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_SupportedCountry_"
                },
                "examples": {
                  "GetSupportedCountries200Example": {
                    "summary": "Default GetSupportedCountries 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetSupportedCountries400Example": {
                    "summary": "Default GetSupportedCountries 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetSupportedCountries401Example": {
                    "summary": "Default GetSupportedCountries 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetSupportedCountries403Example": {
                    "summary": "Default GetSupportedCountries 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetSupportedCountries500Example": {
                    "summary": "Default GetSupportedCountries 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Supported Countries",
        "description": "Get Supported Countries via the Flipdish Open API v1.0 (GET /api/v1.0/apps/supportedcountries).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/compliance": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetCompliance",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_AppCompliance_"
                },
                "examples": {
                  "GetCompliance200Example": {
                    "summary": "Default GetCompliance 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "AppId": "500123",
                        "ComplianceType": "Default",
                        "AllowDisablingOfGdpr": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCompliance400Example": {
                    "summary": "Default GetCompliance 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCompliance401Example": {
                    "summary": "Default GetCompliance 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCompliance403Example": {
                    "summary": "Default GetCompliance 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCompliance500Example": {
                    "summary": "Default GetCompliance 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Compliance",
        "description": "Get Compliance via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{appId}/compliance).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetCompliance",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "complianceType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Default",
                "GdprCompliance"
              ]
            },
            "description": "The compliance type query parameter.",
            "example": "Default"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_AppCompliance_"
                },
                "examples": {
                  "SetCompliance200Example": {
                    "summary": "Default SetCompliance 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "AppId": "500123",
                        "ComplianceType": "Default",
                        "AllowDisablingOfGdpr": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetCompliance400Example": {
                    "summary": "Default SetCompliance 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetCompliance401Example": {
                    "summary": "Default SetCompliance 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetCompliance403Example": {
                    "summary": "Default SetCompliance 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetCompliance500Example": {
                    "summary": "Default SetCompliance 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Set Compliance",
        "description": "Set Compliance via the Flipdish Open API v1.0 (POST /api/v1.0/apps/{appId}/compliance).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/panacea/url": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetPanaceaVanityUrl",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "GetPanaceaVanityUrl200Example": {
                    "summary": "Default GetPanaceaVanityUrl 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPanaceaVanityUrl400Example": {
                    "summary": "Default GetPanaceaVanityUrl 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPanaceaVanityUrl401Example": {
                    "summary": "Default GetPanaceaVanityUrl 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPanaceaVanityUrl403Example": {
                    "summary": "Default GetPanaceaVanityUrl 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPanaceaVanityUrl404Example": {
                    "summary": "Default GetPanaceaVanityUrl 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPanaceaVanityUrl500Example": {
                    "summary": "Default GetPanaceaVanityUrl 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Panacea Vanity Url",
        "description": "Get Panacea Vanity Url via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{appId}/panacea/url).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetPanaceaVanityUrl",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "vanityUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The vanity url query parameter.",
            "example": "https://api.flipdish.co/example"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "SetPanaceaVanityUrl200Example": {
                    "summary": "Default SetPanaceaVanityUrl 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetPanaceaVanityUrl400Example": {
                    "summary": "Default SetPanaceaVanityUrl 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetPanaceaVanityUrl401Example": {
                    "summary": "Default SetPanaceaVanityUrl 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetPanaceaVanityUrl403Example": {
                    "summary": "Default SetPanaceaVanityUrl 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetPanaceaVanityUrl404Example": {
                    "summary": "Default SetPanaceaVanityUrl 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetPanaceaVanityUrl500Example": {
                    "summary": "Default SetPanaceaVanityUrl 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Set Panacea Vanity Url",
        "description": "Set Panacea Vanity Url via the Flipdish Open API v1.0 (POST /api/v1.0/apps/{appId}/panacea/url).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{whitelabelId}/lookup": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "LookupByWhitelabelId",
        "parameters": [
          {
            "name": "whitelabelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The whitelabel id path parameter.",
            "example": 500123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppLookup"
                },
                "examples": {
                  "LookupByWhitelabelId200Example": {
                    "summary": "Default LookupByWhitelabelId 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "AppId": "500123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "LookupByWhitelabelId400Example": {
                    "summary": "Default LookupByWhitelabelId 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "LookupByWhitelabelId401Example": {
                    "summary": "Default LookupByWhitelabelId 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "LookupByWhitelabelId403Example": {
                    "summary": "Default LookupByWhitelabelId 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "LookupByWhitelabelId404Example": {
                    "summary": "Default LookupByWhitelabelId 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "LookupByWhitelabelId500Example": {
                    "summary": "Default LookupByWhitelabelId 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Lookup by Whitelabel Id",
        "description": "Lookup by Whitelabel Id via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{whitelabelId}/lookup).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/hostnamestatus": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetAppHostnameStatus",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_DnsRecordInformation_"
                },
                "examples": {
                  "GetAppHostnameStatus200Example": {
                    "summary": "Default GetAppHostnameStatus 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "IsCNameReady": true,
                        "IsAReady": true,
                        "IsApiCNameReady": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppHostnameStatus400Example": {
                    "summary": "Default GetAppHostnameStatus 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppHostnameStatus401Example": {
                    "summary": "Default GetAppHostnameStatus 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppHostnameStatus403Example": {
                    "summary": "Default GetAppHostnameStatus 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Either the App Config was not found or there is no hostname associated to it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppHostnameStatus404Example": {
                    "summary": "Default GetAppHostnameStatus 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetAppHostnameStatus500Example": {
                    "summary": "Default GetAppHostnameStatus 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get App Hostname Status",
        "description": "Get App Hostname Status via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{appId}/hostnamestatus).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetApps",
        "parameters": [
          {
            "name": "nameFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The name filter query parameter.",
            "example": "Example Name"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The page query parameter.",
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The limit query parameter.",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiPaginationResult_App_"
                },
                "examples": {
                  "GetApps200Example": {
                    "summary": "Default GetApps 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Page": 1,
                      "Limit": 1,
                      "TotalRecordCount": 12.5,
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApps400Example": {
                    "summary": "Default GetApps 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApps401Example": {
                    "summary": "Default GetApps 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApps403Example": {
                    "summary": "Default GetApps 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetApps500Example": {
                    "summary": "Default GetApps 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Get Apps",
        "description": "Get Apps via the Flipdish Open API v1.0 (GET /api/v1.0/apps).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "CreateApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppParameters"
              },
              "examples": {
                "CreateAppRequestExample": {
                  "summary": "Default CreateApp request",
                  "x-microcks-default": true,
                  "value": {
                    "Name": "Example Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "CreateApp200Example": {
                    "summary": "Default CreateApp 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateApp400Example": {
                    "summary": "Default CreateApp 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateApp401Example": {
                    "summary": "Default CreateApp 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateApp403Example": {
                    "summary": "Default CreateApp 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateApp500Example": {
                    "summary": "Default CreateApp 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Create App",
        "description": "Create App via the Flipdish Open API v1.0 (POST /api/v1.0/apps).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/panacea/url/available": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "IsPanaceaVanityUrlAvailable",
        "parameters": [
          {
            "name": "vanityUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The vanity url query parameter.",
            "example": "https://api.flipdish.co/example"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiStringResult"
                },
                "examples": {
                  "IsPanaceaVanityUrlAvailable200Example": {
                    "summary": "Default IsPanaceaVanityUrlAvailable 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "IsPanaceaVanityUrlAvailable400Example": {
                    "summary": "Default IsPanaceaVanityUrlAvailable 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "IsPanaceaVanityUrlAvailable401Example": {
                    "summary": "Default IsPanaceaVanityUrlAvailable 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "IsPanaceaVanityUrlAvailable403Example": {
                    "summary": "Default IsPanaceaVanityUrlAvailable 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "IsPanaceaVanityUrlAvailable404Example": {
                    "summary": "Default IsPanaceaVanityUrlAvailable 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "IsPanaceaVanityUrlAvailable500Example": {
                    "summary": "Default IsPanaceaVanityUrlAvailable 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Is Panacea Vanity Url Available",
        "description": "Is Panacea Vanity Url Available via the Flipdish Open API v1.0 (GET /api/v1.0/apps/{appId}/panacea/url/available).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/logo": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "UploadAppLogo",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadAppLogo400Example": {
                    "summary": "Default UploadAppLogo 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadAppLogo401Example": {
                    "summary": "Default UploadAppLogo 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadAppLogo403Example": {
                    "summary": "Default UploadAppLogo 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadAppLogo404Example": {
                    "summary": "Default UploadAppLogo 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadAppLogo500Example": {
                    "summary": "Default UploadAppLogo 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Upload App Logo",
        "description": "Upload App Logo via the Flipdish Open API v1.0 (POST /api/v1.0/apps/{appId}/logo).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/config": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppConfig",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConfigUpdateModel"
              },
              "examples": {
                "SetAppConfigRequestExample": {
                  "summary": "Default SetAppConfig request",
                  "x-microcks-default": true,
                  "value": {
                    "Name": "Example Name",
                    "HostName": "Example Name",
                    "MainColor": "string",
                    "KioskPrimaryColour": "string",
                    "ApplicationCategory": "Restaurant",
                    "IsPanaceaEnabled": true,
                    "PanaceaVanityUrl": "https://api.flipdish.co/example",
                    "CookieConsentPromptEnabled": true,
                    "LogoImageUrl": "https://api.flipdish.co/example",
                    "CountryId": "500123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_App_"
                },
                "examples": {
                  "SetAppConfig200Example": {
                    "summary": "Default SetAppConfig 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "AppId": "500123",
                        "HasIosApp": true,
                        "IosAppStoreUrl": "https://api.flipdish.co/example",
                        "HasAndroidApp": true,
                        "AndroidPlayStoreUrl": "https://api.flipdish.co/example",
                        "DisplayDeliveryRestaurantScreen": true,
                        "LogoImageUrl": "https://api.flipdish.co/example",
                        "Languages": [],
                        "AvailableAppLanguages": [],
                        "AppAccessLevel": "None",
                        "AppResourceSet": [
                          "ViewApp"
                        ],
                        "Features": [
                          "string"
                        ],
                        "MapCenter": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MapNorthEast": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MapSouthWest": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "GoogleMapsApiKeyWeb": "string",
                        "OrgId": "500123",
                        "SmsRestaurantName": "Example Name",
                        "WebToAppRedirect": "NoRedirect",
                        "Name": "Example Name",
                        "HostName": "Example Name",
                        "MainColor": "string",
                        "KioskPrimaryColour": "string",
                        "ApplicationCategory": "Restaurant",
                        "IsPanaceaEnabled": true,
                        "PanaceaVanityUrl": "https://api.flipdish.co/example",
                        "CookieConsentPromptEnabled": true,
                        "CountryId": "500123"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppConfig400Example": {
                    "summary": "Default SetAppConfig 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppConfig401Example": {
                    "summary": "Default SetAppConfig 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppConfig403Example": {
                    "summary": "Default SetAppConfig 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppConfig404Example": {
                    "summary": "Default SetAppConfig 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppConfig500Example": {
                    "summary": "Default SetAppConfig 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Set App Config",
        "description": "Set App Config via the Flipdish Open API v1.0 (POST /api/v1.0/apps/{appId}/config).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/appstorename": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppStoreName",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppStoreName400Example": {
                    "summary": "Default SetAppStoreName 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppStoreName401Example": {
                    "summary": "Default SetAppStoreName 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppStoreName403Example": {
                    "summary": "Default SetAppStoreName 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppStoreName404Example": {
                    "summary": "Default SetAppStoreName 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppStoreName500Example": {
                    "summary": "Default SetAppStoreName 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Set App Store Name",
        "description": "Set App Store Name via the Flipdish Open API v1.0 (POST /api/v1.0/apps/{appId}/appstorename).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/orgId/{orgId}": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "Apps_SetPropertyId",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id path parameter.",
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Apps_SetPropertyId200Example": {
                    "summary": "Default Apps_SetPropertyId 200 response",
                    "x-microcks-default": true,
                    "value": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Apps_SetPropertyId400Example": {
                    "summary": "Default Apps_SetPropertyId 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Apps_SetPropertyId401Example": {
                    "summary": "Default Apps_SetPropertyId 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Apps_SetPropertyId403Example": {
                    "summary": "Default Apps_SetPropertyId 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "Apps_SetPropertyId500Example": {
                    "summary": "Default Apps_SetPropertyId 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "summary": "Flipdish Apps_Set Property Id",
        "description": "Apps_Set Property Id via the Flipdish Open API v1.0 (POST /api/v1.0/apps/{appId}/orgId/{orgId}).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/apps/{appId}/config/languages": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppLanguages",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The app id path parameter.",
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Language"
                }
              },
              "examples": {
                "SetAppLanguagesRequestExample": {
                  "summary": "Default SetAppLanguages request",
                  "x-microcks-default": true,
                  "value": [
                    {
                      "LanguageId": "500123",
                      "DisplayOrder": 1,
                      "Name": "Example Name",
                      "Enabled": true
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_App_"
                },
                "examples": {
                  "SetAppLanguages200Example": {
                    "summary": "Default SetAppLanguages 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "AppId": "500123",
                        "HasIosApp": true,
                        "IosAppStoreUrl": "https://api.flipdish.co/example",
                        "HasAndroidApp": true,
                        "AndroidPlayStoreUrl": "https://api.flipdish.co/example",
                        "DisplayDeliveryRestaurantScreen": true,
                        "LogoImageUrl": "https://api.flipdish.co/example",
                        "Languages": [],
                        "AvailableAppLanguages": [],
                        "AppAccessLevel": "None",
                        "AppResourceSet": [
                          "ViewApp"
                        ],
                        "Features": [
                          "string"
                        ],
                        "MapCenter": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MapNorthEast": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "MapSouthWest": {
                          "Latitude": 1.0,
                          "Longitude": 1.0
                        },
                        "GoogleMapsApiKeyWeb": "string",
                        "OrgId": "500123",
                        "SmsRestaurantName": "Example Name",
                        "WebToAppRedirect": "NoRedirect",
                        "Name": "Example Name",
                        "HostName": "Example Name",
                        "MainColor": "string",
                        "KioskPrimaryColour": "string",
                        "ApplicationCategory": "Restaurant",
                        "IsPanaceaEnabled": true,
                        "PanaceaVanityUrl": "https://api.flipdish.co/example",
                        "CookieConsentPromptEnabled": true,
                        "CountryId": "500123"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppLanguages400Example": {
                    "summary": "Default SetAppLanguages 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "SetAppLanguages401Example": {
                    "summary": "Default SetAppLanguages 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
[...]
