openapi: 3.0.3
info:
  title: Flipdish API - Apps Accounts Search API
  version: v1.0
  description: Flipdish Open API v1.0 — Apps operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.
  contact:
    name: Flipdish Support
    email: help@flipdish.com
    url: https://help.flipdish.com
  x-generated-from: https://api.flipdish.co/swagger/docs/v1.0
  x-last-validated: '2026-06-02'
servers:
- url: https://api.flipdish.co
  description: Flipdish production API
security:
- oauth2:
  - api
tags:
- name: Search
  description: Operations for Search.
paths:
  /api/v1.0/search/restaurants:
    get:
      tags:
      - Search
      operationId: SearchRestaurants
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: The query query parameter.
        example: string
      - name: countryId
        in: query
        required: true
        schema:
          type: string
        description: The country id query parameter.
        example: '500123'
      - name: includeArchivedStores
        in: query
        required: false
        schema:
          type: string
          enum:
          - NonArchivedOnly
          - ArchivedOnly
          - Both
        description: The include archived stores query parameter.
        example: NonArchivedOnly
      - name: searchType
        in: query
        required: false
        schema:
          type: string
          enum:
          - WhiteLabelConfigInfo
          - WhiteLabelConfigVirtualRestaurantInfo
          - WhiteLabelConfigPhysicalRestaurantInfo
          - WhiteLabelConfigPhysicalRestaurantAddressInfo
        description: The search type query parameter.
        example: WhiteLabelConfigInfo
      - name: publishedStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - AllStores
          - Published
          - Unpublished
        description: The published status query parameter.
        example: AllStores
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The page query parameter.
        example: 1
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: The limit query parameter.
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiPaginationResult_Restaurant_'
              examples:
                SearchRestaurants200Example:
                  summary: Default SearchRestaurants 200 response
                  x-microcks-default: true
                  value:
                    Page: 1
                    Limit: 1
                    TotalRecordCount: 12.5
                    Data: []
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchRestaurants400Example:
                  summary: Default SearchRestaurants 400 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '401':
          description: Authentication has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchRestaurants401Example:
                  summary: Default SearchRestaurants 401 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '403':
          description: Successful authentication, but authorization has been denied for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchRestaurants403Example:
                  summary: Default SearchRestaurants 403 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlipdishError'
              examples:
                SearchRestaurants500Example:
                  summary: Default SearchRestaurants 500 response
                  x-microcks-default: true
                  value:
                    error:
                      errorMessage: Invalid or missing parameters.
                      errorCode: BadRequest
                      details: Validation failed for field 'storeId'.
      security:
      - oauth2:
        - api
      summary: Flipdish Search Restaurants
      description: Search Restaurants via the Flipdish Open API v1.0 (GET /api/v1.0/search/restaurants).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RestApiPaginationResult_Restaurant_:
      description: Rest api pagination result
      required:
      - Page
      - Limit
      - TotalRecordCount
      - Data
      type: object
      properties:
        Page:
          format: int32
          description: Current page index
          type: integer
          example: 1
        Limit:
          format: int32
          description: Current page size
          type: integer
          example: 1
        TotalRecordCount:
          format: int32
          description: Total record count
          type: integer
          example: 12.5
        Data:
          description: Generic data object.
          type: array
          items:
            $ref: '#/components/schemas/Restaurant'
          example: []
    WhiteLabelConfig:
      description: White label configuration details
      type: object
      properties:
        WhiteLabelId:
          format: int32
          description: White label identifier
          type: integer
          example: 500123
        WhiteLabelName:
          description: White label name
          type: string
          example: Example Name
        CountryId:
          description: Country identifier
          type: string
          example: '500123'
        AppNameId:
          description: App id
          type: string
          example: '500123'
        Website:
          description: Website URL
          type: string
          example: string
        PanaceaVanityUrl:
          description: Panacea vanity URL
          type: string
          example: https://api.flipdish.co/example
    FlipdishError:
      type: object
      description: Standard Flipdish API error response. Errors are returned as a JSON object with a human-readable message and a programmatic error code (see https://developers.flipdish.com/docs/error-handling).
      properties:
        error:
          type: object
          description: Error detail object.
          properties:
            errorMessage:
              type: string
              description: Descriptive explanation of the issue.
              example: Invalid or missing parameters.
            errorCode:
              type: string
              description: Unique identifier for programmatic error handling.
              example: BadRequest
            details:
              type: string
              description: Additional context returned in non-production environments.
              example: Validation failed for field 'storeId'.
    Restaurant:
      description: Restaurant search result
      type: object
      properties:
        WhiteLabelConfigs:
          description: Collection of white label configurations
          type: array
          items:
            $ref: '#/components/schemas/WhiteLabelConfig'
          example: []
        VirtualRestaurantId:
          format: int32
          description: Virtual restaurant identifier
          type: integer
          example: 500123
        VirtualRestaurantName:
          description: Virtual restaurant name
          type: string
          example: Example Name
        VirtualRestaurantUrl:
          description: Virtual restaurant URL
          type: string
          example: https://api.flipdish.co/example
        PhysicalRestaurantId:
          format: int32
          description: Physical restaurant identifier
          type: integer
          example: 500123
        PhysicalRestaurantName:
          description: Physical restaurant name
          type: string
          example: Example Name
        PhysicalRestaurantAddress:
          description: Physical restaurant address
          type: string
          example: string
        MenuId:
          format: int32
          description: Menu identifier
          type: integer
          example: 500123
        IsArchived:
          description: Indicates if the restaurant is archived
          type: boolean
          example: true
        IsPublished:
          description: Indicates if the restaurant is published
          type: boolean
          example: true
        FlipdishStripeCustomConnectedAccounts:
          description: List of Flipdish Stripe custom connected account identifiers
          type: array
          items:
            format: int32
            type: integer
          example:
          - 3
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Implicit grant for first-party portal apps; client credentials grant for server-to-server App Store apps (exchange Client ID + Secret Key for a bearer access token).
      flows:
        implicit:
          authorizationUrl: https://api.flipdish.co/identity/connect/authorize
          scopes:
            api: Access to the Flipdish API
        clientCredentials:
          tokenUrl: https://api.flipdish.co/identity/connect/token
          scopes:
            api: Access to the Flipdish API
