{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipdish API - Catalog",
    "version": "v1.0",
    "description": "Flipdish Open API v1.0 \u2014 Catalog operations. Flipdish is an online ordering and branded-app platform for restaurants and takeaways. This specification was derived from the official Flipdish Swagger document and grouped by resource domain.",
    "contact": {
      "name": "Flipdish Support",
      "email": "help@flipdish.com",
      "url": "https://help.flipdish.com"
    },
    "x-generated-from": "https://api.flipdish.co/swagger/docs/v1.0",
    "x-last-validated": "2026-06-02"
  },
  "servers": [
    {
      "url": "https://api.flipdish.co",
      "description": "Flipdish production API"
    }
  ],
  "security": [
    {
      "oauth2": [
        "api"
      ]
    }
  ],
  "tags": [
    {
      "name": "CatalogChanges",
      "description": "Operations for Catalog Changes."
    },
    {
      "name": "CatalogGroups",
      "description": "Operations for Catalog Groups."
    },
    {
      "name": "CatalogImages",
      "description": "Operations for Catalog Images."
    },
    {
      "name": "CatalogItems",
      "description": "Operations for Catalog Items."
    },
    {
      "name": "CatalogProducts",
      "description": "Operations for Catalog Products."
    },
    {
      "name": "MetafieldDefinitions",
      "description": "Operations for Metafield Definitions."
    }
  ],
  "paths": {
    "/api/v1.0/{appId}/menus/catalog-changes/summaries": {
      "get": {
        "tags": [
          "CatalogChanges"
        ],
        "summary": "Flipdish Get Pending Menu Changes Summaries",
        "operationId": "GetPendingMenuChangesSummaries",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiArrayResult_PendingMenuChangesSummaries_"
                },
                "examples": {
                  "GetPendingMenuChangesSummaries200Example": {
                    "summary": "Default GetPendingMenuChangesSummaries 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChangesSummaries400Example": {
                    "summary": "Default GetPendingMenuChangesSummaries 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChangesSummaries401Example": {
                    "summary": "Default GetPendingMenuChangesSummaries 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChangesSummaries403Example": {
                    "summary": "Default GetPendingMenuChangesSummaries 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChangesSummaries500Example": {
                    "summary": "Default GetPendingMenuChangesSummaries 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "description": "Get Pending Menu Changes Summaries via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/menus/catalog-changes/summaries).",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/menus/catalog-changes": {
      "get": {
        "tags": [
          "CatalogChanges"
        ],
        "summary": "Flipdish Get Pending Menu Changes",
        "description": "Get Pending Menu Changes via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/menus/catalog-changes).",
        "operationId": "GetPendingMenuChanges",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "menuId",
            "in": "query",
            "description": "The menu id query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 500123
          },
          {
            "name": "catalogItemId",
            "in": "query",
            "description": "The catalog item id query parameter.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiPaginationResult_PendingMenuChanges_"
                },
                "examples": {
                  "GetPendingMenuChanges200Example": {
                    "summary": "Default GetPendingMenuChanges 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Page": 1,
                      "Limit": 1,
                      "TotalRecordCount": 12.5,
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChanges400Example": {
                    "summary": "Default GetPendingMenuChanges 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChanges401Example": {
                    "summary": "Default GetPendingMenuChanges 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChanges403Example": {
                    "summary": "Default GetPendingMenuChanges 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetPendingMenuChanges500Example": {
                    "summary": "Default GetPendingMenuChanges 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/menus/catalog-changes/publish": {
      "post": {
        "tags": [
          "CatalogChanges"
        ],
        "summary": "Flipdish Publish Pending Menu Changes",
        "description": "Publish Pending Menu Changes via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/menus/catalog-changes/publish).",
        "operationId": "PublishPendingMenuChanges",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishMenuChanges"
              },
              "examples": {
                "PublishPendingMenuChangesRequestExample": {
                  "summary": "Default PublishPendingMenuChanges request",
                  "x-microcks-default": true,
                  "value": {
                    "CatalogItemId": "500123",
                    "MenuIds": [
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "PublishPendingMenuChanges400Example": {
                    "summary": "Default PublishPendingMenuChanges 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "PublishPendingMenuChanges401Example": {
                    "summary": "Default PublishPendingMenuChanges 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "PublishPendingMenuChanges403Example": {
                    "summary": "Default PublishPendingMenuChanges 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "PublishPendingMenuChanges404Example": {
                    "summary": "Default PublishPendingMenuChanges 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "PublishPendingMenuChanges500Example": {
                    "summary": "Default PublishPendingMenuChanges 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/groups/{catalogItemId}": {
      "get": {
        "tags": [
          "CatalogGroups"
        ],
        "summary": "Flipdish Get Group by Id",
        "description": "Get Group by Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/catalog/groups/{catalogItemId}).",
        "operationId": "GetGroupById",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                },
                "examples": {
                  "GetGroupById200Example": {
                    "summary": "Default GetGroupById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "CatalogGroupId": "500123",
                      "CatalogItemId": "500123",
                      "IsArchived": true,
                      "MinSelectCount": 3,
                      "MaxSelectCount": 3,
                      "Products": [],
                      "Metafields": [],
                      "GroupType": "ModifierGroup",
                      "Sku": "string",
                      "Name": "Example Name",
                      "AutogenerateDisplayText": true,
                      "ImageFileName": "Example Name"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroupById400Example": {
                    "summary": "Default GetGroupById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroupById401Example": {
                    "summary": "Default GetGroupById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroupById403Example": {
                    "summary": "Default GetGroupById 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroupById500Example": {
                    "summary": "Default GetGroupById 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "CatalogGroups"
        ],
        "summary": "Flipdish Update Group",
        "description": "Update Group via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/groups/{catalogItemId}).",
        "operationId": "UpdateGroup",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroup"
              },
              "examples": {
                "UpdateGroupRequestExample": {
                  "summary": "Default UpdateGroup request",
                  "x-microcks-default": true,
                  "value": {
                    "Sku": "string",
                    "Name": "Example Name",
                    "AutogenerateDisplayText": true,
                    "ImageFileName": "Example Name",
                    "MinSelectCount": 3,
                    "MaxSelectCount": 3,
                    "Products": [],
                    "Metafields": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateGroup400Example": {
                    "summary": "Default UpdateGroup 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateGroup401Example": {
                    "summary": "Default UpdateGroup 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateGroup403Example": {
                    "summary": "Default UpdateGroup 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateGroup404Example": {
                    "summary": "Default UpdateGroup 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateGroup500Example": {
                    "summary": "Default UpdateGroup 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/groups": {
      "get": {
        "tags": [
          "CatalogGroups"
        ],
        "summary": "Flipdish Get Groups",
        "description": "Get Groups via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/catalog/groups).",
        "operationId": "GetGroups",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "groupTypes",
            "in": "query",
            "description": "The group types query parameter.",
            "required": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ModifierGroup"
                ]
              }
            },
            "example": [
              "ModifierGroup"
            ]
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "The search term query parameter.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiPaginationResult_Group_"
                },
                "examples": {
                  "GetGroups200Example": {
                    "summary": "Default GetGroups 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Page": 1,
                      "Limit": 1,
                      "TotalRecordCount": 12.5,
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroups400Example": {
                    "summary": "Default GetGroups 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroups401Example": {
                    "summary": "Default GetGroups 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroups403Example": {
                    "summary": "Default GetGroups 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetGroups500Example": {
                    "summary": "Default GetGroups 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "CatalogGroups"
        ],
        "summary": "Flipdish Create Group",
        "description": "Create Group via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/groups).",
        "operationId": "CreateGroup",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroup"
              },
              "examples": {
                "CreateGroupRequestExample": {
                  "summary": "Default CreateGroup request",
                  "x-microcks-default": true,
                  "value": {
                    "MinSelectCount": 3,
                    "MaxSelectCount": 3,
                    "Products": [],
                    "Metafields": [],
                    "GroupType": "ModifierGroup",
                    "Sku": "string",
                    "Name": "Example Name",
                    "AutogenerateDisplayText": true,
                    "ImageFileName": "Example Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_Group_"
                },
                "examples": {
                  "CreateGroup200Example": {
                    "summary": "Default CreateGroup 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "CatalogGroupId": "500123",
                        "CatalogItemId": "500123",
                        "IsArchived": true,
                        "MinSelectCount": 3,
                        "MaxSelectCount": 3,
                        "Products": [],
                        "Metafields": [],
                        "GroupType": "ModifierGroup",
                        "Sku": "string",
                        "Name": "Example Name",
                        "AutogenerateDisplayText": true,
                        "ImageFileName": "Example Name"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateGroup400Example": {
                    "summary": "Default CreateGroup 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateGroup401Example": {
                    "summary": "Default CreateGroup 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateGroup403Example": {
                    "summary": "Default CreateGroup 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateGroup500Example": {
                    "summary": "Default CreateGroup 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/groups/{catalogItemId}/archive": {
      "post": {
        "tags": [
          "CatalogGroups"
        ],
        "summary": "Flipdish Archive Group",
        "description": "Archive Group via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/groups/{catalogItemId}/archive).",
        "operationId": "ArchiveGroup",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveGroup400Example": {
                    "summary": "Default ArchiveGroup 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveGroup401Example": {
                    "summary": "Default ArchiveGroup 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveGroup403Example": {
                    "summary": "Default ArchiveGroup 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveGroup404Example": {
                    "summary": "Default ArchiveGroup 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveGroup500Example": {
                    "summary": "Default ArchiveGroup 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/groups/{catalogItemId}/duplicate": {
      "post": {
        "tags": [
          "CatalogGroups"
        ],
        "summary": "Flipdish Duplicate Group",
        "description": "Duplicate Group via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/groups/{catalogItemId}/duplicate).",
        "operationId": "DuplicateGroup",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateGroup400Example": {
                    "summary": "Default DuplicateGroup 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateGroup401Example": {
                    "summary": "Default DuplicateGroup 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateGroup403Example": {
                    "summary": "Default DuplicateGroup 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateGroup404Example": {
                    "summary": "Default DuplicateGroup 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateGroup500Example": {
                    "summary": "Default DuplicateGroup 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/images": {
      "post": {
        "tags": [
          "CatalogImages"
        ],
        "summary": "Flipdish Upload Catalog Image",
        "description": "Upload Catalog Image via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/images).",
        "operationId": "UploadCatalogImage",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Image": {
                    "description": "Catalog image",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "Image"
                ]
              },
              "examples": {
                "UploadCatalogImageRequestExample": {
                  "summary": "Default UploadCatalogImage request",
                  "x-microcks-default": true,
                  "value": {
                    "Image": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogImage"
                },
                "examples": {
                  "UploadCatalogImage200Example": {
                    "summary": "Default UploadCatalogImage 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "ImageUri": "https://api.flipdish.co/example"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadCatalogImage400Example": {
                    "summary": "Default UploadCatalogImage 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadCatalogImage401Example": {
                    "summary": "Default UploadCatalogImage 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadCatalogImage403Example": {
                    "summary": "Default UploadCatalogImage 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UploadCatalogImage500Example": {
                    "summary": "Default UploadCatalogImage 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/items/{catalogItemId}": {
      "get": {
        "tags": [
          "CatalogItems"
        ],
        "summary": "Flipdish Get Catalog Item by Id",
        "description": "Get Catalog Item by Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/catalog/items/{catalogItemId}).",
        "operationId": "GetCatalogItemById",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                },
                "examples": {
                  "GetCatalogItemById200Example": {
                    "summary": "Default GetCatalogItemById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "CatalogItemId": "500123",
                      "IsArchived": true,
                      "Groups": [],
                      "Metafields": [],
                      "ItemType": "Product",
                      "Sku": "string",
                      "Name": "Example Name",
                      "Description": "string",
                      "Price": 12.5,
                      "ImageFileName": "Example Name",
                      "Alcohol": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCatalogItemById400Example": {
                    "summary": "Default GetCatalogItemById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCatalogItemById401Example": {
                    "summary": "Default GetCatalogItemById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCatalogItemById403Example": {
                    "summary": "Default GetCatalogItemById 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetCatalogItemById500Example": {
                    "summary": "Default GetCatalogItemById 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "CatalogItems"
        ],
        "summary": "Flipdish Update Catalog Item",
        "description": "Update Catalog Item via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/items/{catalogItemId}).",
        "operationId": "UpdateCatalogItem",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCatalogItem"
              },
              "examples": {
                "UpdateCatalogItemRequestExample": {
                  "summary": "Default UpdateCatalogItem request",
                  "x-microcks-default": true,
                  "value": {
                    "Sku": "string",
                    "Name": "Example Name",
                    "Description": "string",
                    "Price": 12.5,
                    "ImageFileName": "Example Name",
                    "Alcohol": true,
                    "Groups": [],
                    "Metafields": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateCatalogItem400Example": {
                    "summary": "Default UpdateCatalogItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateCatalogItem401Example": {
                    "summary": "Default UpdateCatalogItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateCatalogItem403Example": {
                    "summary": "Default UpdateCatalogItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateCatalogItem404Example": {
                    "summary": "Default UpdateCatalogItem 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "UpdateCatalogItem500Example": {
                    "summary": "Default UpdateCatalogItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/items": {
      "get": {
        "tags": [
          "CatalogItems"
        ],
        "summary": "Flipdish Get Items",
        "description": "Get Items via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/catalog/items).",
        "operationId": "GetItems",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "itemTypes",
            "in": "query",
            "description": "The item types query parameter.",
            "required": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Product",
                  "Modifier"
                ]
              }
            },
            "example": [
              "Product"
            ]
          },
          {
            "name": "searchTerm",
            "in": "query",
            "description": "The search term query parameter.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit query parameter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiPaginationResult_CatalogItem_"
                },
                "examples": {
                  "GetItems200Example": {
                    "summary": "Default GetItems 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Page": 1,
                      "Limit": 1,
                      "TotalRecordCount": 12.5,
                      "Data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetItems400Example": {
                    "summary": "Default GetItems 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetItems401Example": {
                    "summary": "Default GetItems 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetItems403Example": {
                    "summary": "Default GetItems 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetItems500Example": {
                    "summary": "Default GetItems 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "CatalogItems"
        ],
        "summary": "Flipdish Create Catalog Item",
        "description": "Create Catalog Item via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/items).",
        "operationId": "CreateCatalogItem",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCatalogItem"
              },
              "examples": {
                "CreateCatalogItemRequestExample": {
                  "summary": "Default CreateCatalogItem request",
                  "x-microcks-default": true,
                  "value": {
                    "Groups": [],
                    "Metafields": [],
                    "ItemType": "Product",
                    "Sku": "string",
                    "Name": "Example Name",
                    "Description": "string",
                    "Price": 12.5,
                    "ImageFileName": "Example Name",
                    "Alcohol": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiResult_CatalogItem_"
                },
                "examples": {
                  "CreateCatalogItem200Example": {
                    "summary": "Default CreateCatalogItem 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "Data": {
                        "CatalogItemId": "500123",
                        "IsArchived": true,
                        "Groups": [],
                        "Metafields": [],
                        "ItemType": "Product",
                        "Sku": "string",
                        "Name": "Example Name",
                        "Description": "string",
                        "Price": 12.5,
                        "ImageFileName": "Example Name",
                        "Alcohol": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateCatalogItem400Example": {
                    "summary": "Default CreateCatalogItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateCatalogItem401Example": {
                    "summary": "Default CreateCatalogItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateCatalogItem403Example": {
                    "summary": "Default CreateCatalogItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "CreateCatalogItem500Example": {
                    "summary": "Default CreateCatalogItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/items/{catalogItemId}/archive": {
      "post": {
        "tags": [
          "CatalogItems"
        ],
        "summary": "Flipdish Archive Catalog Item",
        "description": "Archive Catalog Item via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/items/{catalogItemId}/archive).",
        "operationId": "ArchiveCatalogItem",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveCatalogItem400Example": {
                    "summary": "Default ArchiveCatalogItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveCatalogItem401Example": {
                    "summary": "Default ArchiveCatalogItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveCatalogItem403Example": {
                    "summary": "Default ArchiveCatalogItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveCatalogItem404Example": {
                    "summary": "Default ArchiveCatalogItem 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "ArchiveCatalogItem500Example": {
                    "summary": "Default ArchiveCatalogItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/items/{catalogItemId}/duplicate": {
      "post": {
        "tags": [
          "CatalogItems"
        ],
        "summary": "Flipdish Duplicate Catalog Item",
        "description": "Duplicate Catalog Item via the Flipdish Open API v1.0 (POST /api/v1.0/{appId}/catalog/items/{catalogItemId}/duplicate).",
        "operationId": "DuplicateCatalogItem",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateCatalogItem400Example": {
                    "summary": "Default DuplicateCatalogItem 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateCatalogItem401Example": {
                    "summary": "Default DuplicateCatalogItem 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateCatalogItem403Example": {
                    "summary": "Default DuplicateCatalogItem 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateCatalogItem404Example": {
                    "summary": "Default DuplicateCatalogItem 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "DuplicateCatalogItem500Example": {
                    "summary": "Default DuplicateCatalogItem 500 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ],
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1.0/{appId}/catalog/products/{catalogItemId}": {
      "get": {
        "tags": [
          "CatalogProducts"
        ],
        "summary": "Flipdish Get Product by Id",
        "description": "Get Product by Id via the Flipdish Open API v1.0 (GET /api/v1.0/{appId}/catalog/products/{catalogItemId}).",
        "operationId": "GetProductById",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          },
          {
            "name": "catalogItemId",
            "in": "path",
            "description": "The catalog item id path parameter.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "500123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                },
                "examples": {
                  "GetProductById200Example": {
                    "summary": "Default GetProductById 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "CatalogItemId": "500123",
                      "IsArchived": true,
                      "Groups": [],
                      "Metafields": [],
                      "ProductType": "Product",
                      "Sku": "string",
                      "Name": "Example Name",
                      "Description": "string",
                      "Price": 12.5,
                      "ImageFileName": "Example Name",
                      "Alcohol": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetProductById400Example": {
                    "summary": "Default GetProductById 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetProductById401Example": {
                    "summary": "Default GetProductById 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "errorMessage": "Invalid or missing parameters.",
                        "errorCode": "BadRequest",
                        "details": "Validation failed for field 'storeId'."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlipdishError"
                },
                "examples": {
                  "GetProductById403Example": {
                    "summary": "Default GetProductById 403 response",
                    "x-microcks-default": true,
                    "value": {
[...]
